<!--<app-toolbar></app-toolbar>-->
<!--<div id="wrapper-content">-->
    <!--<app-sidebar></app-sidebar>-->
    <!--<main role="main">-->
        <!--<router-outlet></router-outlet>-->
    <!--</main>-->
<!--</div>-->
<app-header></app-header>
<div class="main-content">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>