@import 'variables'
@import 'rupture'

.input-select-wrap__input 
	padding-left 42px 
	&.focused
		width 100%
		padding-left 42px !important
		+below(660px)
			padding-left 20px !important
			background-image none !important
		+below(500px)
			padding-left 10px !important
	+below(660px)
		padding-left 20px
	+below(500px)
		padding-right: 26px;
		background-position: calc(100% - 10px) 50%;
		padding-left 10px
input
	padding-left 42px
	+below(660px)
		padding-left 20px 
	+below(500px)
		padding-left 10px