<div class="form-group__block flex align-items-center"><span class="form-group__placeholder">Prefijo</span>
  <div class="input-number-wrap" [class.open]="onShow">
    <div class="input-select-wrap input-select-wrap--phone" >
      <input
              class="input-select-wrap__input input input--select"
              [ngbTypeahead]="searchCodes"
              [resultFormatter]="resultFormatter"
              [editable]="false"
              [inputFormatter]="inputFormatter"
              (selectItem)="onSelectCountry($event.item)"
              [value]="this.code"
              #codeInput
              (blur)="onTouched(); onShow = false;"
              (focus)="onShow = true"
              [class.focused]="onShow"
      >
    </div>
  </div>
</div>
<div class="form-group__block flex align-items-center"><span class="form-group__placeholder">Teléfono móvil</span>
  <input type="number" class="re" [(ngModel)]="number" (ngModelChange)="updateValue()" (blur)="onTouched();onShow = false;" (focus)="onShow = true">
</div>
