<div *ngIf="isLoading" class="loading-small"></div>
<div *ngIf="!isLoading" class="container mb-3">
  <div class="flex filter-row">
    <input placeholder="search name..." (input)="searchSubject.next($event.target.value)" >
    <select [(ngModel)]="type" (ngModelChange)="applyFilter()">
      <option value="" selected>all types</option>
      <option *ngFor="let type of types" [value]="type">{{ type }}</option>
    </select>
    <select [(ngModel)]="status" (ngModelChange)="applyFilter()">
      <option value="" selected>all statuses</option>
      <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
    </select>
    <button class="btn btn-primary" (click)="openNewReportDialog()">+ New</button>
  </div>
  <ngx-datatable
          class="bootstrap"
          [loadingIndicator]="isLoading"
          [rows]="rows"
          [columns]="columns"
          [columnMode]="'force'"
          [limit]="10"
          [rowHeight]="'auto'"
          [footerHeight]="40"
          [selectionType]="'single'"
          [selectCheck]="checkSelectable"
          (select)="showReport($event.selected)"
  >
  </ngx-datatable>
</div>
<ng-template #linkTemplate let-row="row" let-value="value" >
  <a *ngIf="row.csv" [href]="row.csv" (click)="docRequested = true;">CSV</a>
  <a *ngIf="row.xls" [href]="row.xls" (click)="docRequested = true;">XLS</a>
</ng-template>
<ng-template #actionTemplate let-row="row" let-value="value" >
  <button  [disabled]="inDelete.includes(row.id)" (click)="delete($event, row.id)">Delete</button>
</ng-template>
