.filter-row
  input, select
    padding 5px
    margin-right 10px
    min-width 150px

  .btn
    padding 0px!important
    margin-left auto

/deep/.datatable-body-row
  cursor pointer
  &:hover
    background-color  #a7cda0!important