@import 'variables'

.item
  width 265px
  height 352px
  background-size cover!important
  position relative
  border-radius 2px
  margin-right 20px
  &.wide
    width 360px
    height 316px
  &__overlay
    position absolute
    width 100%
    height 100%
    background linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0) 40.48%)
    z-index 0
  &__caption
    top 28px
    position relative
    font-size 20px
    text-transform uppercase
    color #fff
    font-family font-family-md
    padding 28px 34px
    z-index 3
.item:hover .content
  opacity 1
.content
  position absolute
  width 100%
  height 100%
  display flex
  flex-direction column
  justify-content flex-end
  background rgba(118, 54, 255, 0.9)
  z-index 2
  top 0
  left 0
  padding 0 20px 38px 35px
  opacity 0
  border-radius 2px
  transition opacity 0.4s
  &__travelers
    font-size 14px
    line-height 20px
    color #fff
    font-family 'Roboto', sans-serif
    padding-bottom 13px
  &__score
    font-size 18px
    line-height 20px
    color #fff
    font-family 'Roboto', sans-serif
    margin-left 12px
    margin-right 10px
  &__reviews
    font-size 12px
    line-height 17px
    color rgba(255, 255, 255, 0.5)
    font-family font-family-reg
@media screen and (max-height:700px)
  .destination
    margin-top -200px

.icon-star-destination
  fill rgba(255, 255, 255, 0.3)
  width 12px
  height 12px
  margin-right 2px
.icon-star-destination--active
  fill #fff