<div class="slider__item" [class.wide]="isWide" [ngStyle]="{'background': 'url(' +  (destination.avatar_small ? destination.avatar_small : 'assets/images/no-img-small.png') + ')' }">
  <a class="slider__title">{{ destination.name }}</a>
  <a class="slider__img">
    <div class="slider__content">
      <div class="slider__bottom-content">
        <div class="slider__travelers">
          {{ destination.travelers }} Clientes ya lo han descubierto
        </div>
        <div class="slider__bottom flex align-items-center">
          <div class="slider__star flex align-items-center">
            <ngb-rating [rate]="destination.rate / 2" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
            <ng-template #t let-fill="fill">
              <svg class="icon icon-star-destination" [class.icon-star-destination--active]="fill === 100" >
                <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
              </svg>
            </ng-template>
          </div>
          <div class="slider__score">
            {{ destination.rate | number:'0.1'}}
          </div>
          <div class="slider__reviews">
            {{ destination.reviews }} opiniones
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
