<div class="main-content">
    <section class="hero">
        <div class="container">
            <h1 class="h1">Encuentra tu destino</h1>
            <app-search-input [destinations]="mainDestinationList | async" ></app-search-input>
        </div>
    </section>
    <section class="destination">
        <app-destination-carousel [destinations]="mainDestinationList | async"></app-destination-carousel>
    </section>
    <section class="testimonials" style="display:none">
        <app-testimonials></app-testimonials>
    </section>
    <section class="banner" style="display:none">
        <app-banner></app-banner>
    </section>
    <section class="features section section--features">
        <app-featured-activities></app-featured-activities>
    </section>
</div>
<app-calendar-slider></app-calendar-slider>
