@import 'variables'
@import 'rupture'


.hero
  background url(../../assets/images/bg-hero.jpg)
  background-size cover
  color white
  height 100vh
  min-height 400px
  display flex
  align-items center
  text-align center
  justify-content center
  .container
    margin-left 0
    margin-right 0
  +below(769px)
    height 744px
    padding 170px 12px 0 10px
    align-items flex-start
  +below(658px)
    height 463px
    padding-top 80px
  .h1
    text-transform uppercase
    text-shadow: 0 4px 15px rgba(0,0,0,.2);
    +below(1060px)
      font-size 36px
    +below(700px)
      font-size 24px
      line-height 34px

  .h3
    font-family font-family-reg
    margin-top 15px
    +below(1030px)
      padding-top 3px
      padding-bottom 30px
    +below(600px)
      display none
.destination
  margin-top -295px
  +below(1030px)
    margin-top -194px
  +below(769px)
    margin-top -202px
  +below(658px)
    margin-top -159px
    
@media screen and (max-height:800px)
  .destination
    margin-top -205px
@media screen and (max-height:767px)
  .destination
    margin-top -159px

.section--features
  background #fff url('../../assets/images/activities_bg.jpg')
  background-size cover
  background-position 50% 500px
  background-repeat no-repeat
  padding-top 106px
  padding-bottom 120px
  +below(1030px)
    padding-top 78px
    padding-bottom 146px
  +below(769px)
    padding-bottom 106px
    padding-top 66px
  +below(767px)
    padding-top 71px
    padding-bottom 98px
  +below(430px)
    padding-top 34px
    padding-bottom 120px
.testimonials
  display flex
  justify-content center
  text-align center
  padding-top 90px
  padding-bottom 89px
  +below(1030px)
    padding-top 83px
    padding-bottom 56px
  +below(500px)
    padding-top 88px
    padding-bottom 77px
.banner
  background-image url("../../assets/images/banner-bg.jpg")
  background-size cover
  background-position 50% 50%
  height 676px

.h1
  text-transform uppercase

.h3
  font-family font-family-reg
  margin-top 15px
/deep/.btn-wrap
  margin-bottom 30px