<app-overlay-spinner *ngIf="isLoading"></app-overlay-spinner>
<div class="header-fixed-pt">
  <section class="thank-you section section--thank-you section--grey">
    <div class="container">
      <div class="sidebar-wrap flex">
        <div *ngIf="!auth.isAuthenticated()" class="sidebar">
          <div class="sidebar__item">
            <div class="create-account">
              <div class="create-account__title">Crea tu cuenta de usuario Civitours</div>
              <div class="create-account__desc">
                Crea tu cuenta y realiza tus reservas con mayor facilidad. Desde tu cuenta, podrás y cancelar tus reservaciones.
              </div>
              <div class="form-checkout">
                <form action="#" method="POST">
                  <div class="form-checkout__item flex flex-column">
                    <label>contraseña</label>
                    <input type="text">
                    <div class="form-checkout__caption">Debe contener más de 8 caracteres</div>
                  </div>
                  <div class="btn btn--green btn--dark-hover btn--full lt-06">Regístrate en Civitours</div>
                </form>
              </div>
              <div class="or">o</div>
              <div class="flex align-items-center justify-content-between">
                <a class="facebook-btn" href="#">
                  <svg class="icon icon-fb-btn" viewBox="0 0 8 14">
                    <path d="M7.284.003L5.47 0C3.429 0 2.11 1.352 2.11 3.445v1.589H.285A.285.285 0 0 0 0 5.32V7.62c0 .158.128.286.285.286h1.826v5.807c0 .158.128.286.285.286h2.382a.285.285 0 0 0 .285-.286V7.907h2.135a.285.285 0 0 0 .285-.286l.001-2.301a.286.286 0 0 0-.286-.286H5.063V3.687c0-.647.155-.975.998-.975h1.223a.285.285 0 0 0 .285-.286V.288a.286.286 0 0 0-.285-.285z"></path>
                  </svg><span class="lt-06">Facebook</span>
                </a>
                <a class="google-btn" href="#">
                  <svg class="icon icon-google-btn" viewBox="0 0 15 14">
                    <g><path d="M7.047 2.381c.762 0 1.62.19 2.286.571l1.905-1.523A6.762 6.762 0 0 0 7.048 0C4.38 0 2.094 1.429.856 3.619l1.905 1.524c.762-1.714 2.38-2.762 4.285-2.762zM7.524 5.905V8.19h3.619c.095 0 .19.096.286.096 0 .19 0 .285-.096.38-.285.858-.857 1.62-1.619 2.191l1.905 1.524c1.143-.952 2-2.381 2.286-3.81.095-.476.19-.952.19-1.428 0-.381 0-.762-.095-1.048H7.524v-.19zM2.381 7.048c0-.477.095-.858.19-1.334L.667 4.095C.19 5.048 0 6 0 7.048 0 8.095.19 9.143.667 10L2.57 8.476c-.095-.476-.19-.952-.19-1.428zM7.047 11.714c-.952 0-1.904-.285-2.666-.857-.667-.476-1.238-1.143-1.524-1.81L.952 10.572C2.19 12.761 4.476 14 7.047 14c1.429 0 2.953-.476 4.096-1.333l-1.905-1.62c-.762.477-1.429.667-2.19.667z"></path></g>
                  </svg><span class="lt-06">Google</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="orderInfo" class="sidebar-wrap__content">
          <div class="continue-shopping">
            <div class="continue-shopping__icon-wrap">
              <svg class="icon icon-success-thank" viewBox="0 0 54 54">
                <circle cx="27" cy="27" r="26" stroke="#27AE60" stroke-width="2"></circle><path d="M19 27l6 6 10-12" stroke="#27AE60" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>
            <h1 class="continue-shopping__title">Muchas gracias por reservar con Civitours</h1>
            <div class="continue-shopping__desc">
              Muchas gracias por reservar con Civitours. Recibirás un correo con los detalles de tu reserve. Si tu correo es incorrecto, <a href="#">haz click aquí para modificarlo</a>
            </div>
            <div class="continue-shopping__desc last">
              Si en unos minutos no recibes tu corre de confirmación, revisa tu bandeja de correos no deseados
            </div>
            <a class="btn btn--reverse" routerLink="/destinations">añadir más actividades</a>
          </div>
          <div *ngFor="let info of orderInfo">
            <div class="content-image" id="hide-1020">
              <div class="content-image__header-picture" [ngStyle]="{'background': 'url(' +  info.avatar + ')'}"></div>
              <h2 class="content-image__title">{{ info.activity_name}}</h2>
              <div class="content-image__desc">
                <div class="content-image__desc-row">
                  <div class="content-image__desc-item">número de reservación</div>
                  <div class="content-image__desc-item">{{ info.code }}</div>
                </div>
                <div class="content-image__desc-row">
                  <div class="content-image__desc-item">Modalidad</div>
                  <div class="content-image__desc-item">{{ info.activity_type_name }}</div>
                </div>
                <div class="content-image__desc-row">
                  <div class="content-image__desc-item">Fecha</div>
                  <div class="content-image__desc-item">{{ info.date | date:'EEEE, MMMM d, y'}}</div>
                </div>
                <div class="content-image__desc-row">
                  <div class="content-image__desc-item">Hora</div>
                  <div class="content-image__desc-item">{{ info.time }}</div>
                </div>
                <div class="content-image__desc-row">
                  <div class="content-image__desc-item">Duración</div>
                  <div class="content-image__desc-item">{{ formatHelper.formatDuration(info.duration) }}</div>
                </div>
                <div class="content-image__desc-row">
                  <div class="content-image__desc-item">Idioma</div>
                  <div class="content-image__desc-item">{{ info.language }}</div>
                </div>
                <div *ngFor="let price of info.prices" class="content-image__desc-row">
                  <div class="content-image__desc-item">{{ price.amount + ' ' + price.name}}</div>
                  <div class="content-image__desc-item">{{ price.price | currency:'EUR':'symbol':'1.2-2' }}</div>
                </div>
                <div class="content-image__desc-row">
                  <div class="content-image__desc-title">
                    <div class="content-image__desc-item content-image__desc-caption">Detalle del cliente</div>
                    <div class="content-image__desc-item">{{ info.name + ' ' + info.surname }}</div>
                    <div class="content-image__desc-item">{{ info.email }}</div>
                    <div class="content-image__desc-item">{{ info.phone }}</div>
                  </div>
                </div>
                <div class="content-image__desc-row">
                  <div class="content-image__desc-title">
                    <div class="content-image__desc-item content-image__desc-caption">Información del proveedor</div>
                    <div class="content-image__desc-item">Sandemans New Europe Nueva York</div>
                    <div class="content-image__desc-item">camila@sandemansnewyork.com</div>
                    <div class="content-image__desc-item">(+1) 347 8535 713</div>
                  </div>
                </div>
                <div class="content-image__desc-row">
                  <div class="content-image__desc-title">
                    <div class="content-image__desc-item content-image__desc-caption">Punto de Encuentro</div>
                    <div class="content-image__desc-item">{{ info.meeting_point_text }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="map-wrapper" id="hide-1020">
              <agm-map
                      #map
                      [zoom]="15"
                      [latitude]="parseFloat(info.meeting_point_latitude.toString())"
                      [longitude]="parseFloat(info.meeting_point_longitude.toString())"
              >
                <agm-marker [latitude]="parseFloat(info.meeting_point_latitude.toString())" [longitude]="parseFloat(info.meeting_point_longitude.toString())">
                  <agm-info-window>Punto de Encuentro</agm-info-window>
                </agm-marker>
              </agm-map>
            </div>
            <div class="print-ticket" id="hide-1020">
              <h2 class="print-ticket__title">Imprime tu voucher o presentalo en tu móvil o tablet</h2>
              <div class="print-ticket__desc">Ingresa al siguiente enlace para observer tu voucher. Deberás presentarlo el día de la actividad:</div>
              <div class="flex align-items-center">
                <div class="btn btn--dark-hover">ver mi comprobante</div>
                <div class="btn btn--reverse btn--dark-hover">gestionar tu reserva</div>
              </div>
            </div>
          </div>
          <div *ngIf="!auth.isAuthenticated()" class="create-account create-account create-account--mobile" id="visible-b-1020">
            <div class="create-account__title">Crea tu cuenta Civitours</div>
            <div class="create-account__desc">
              Crea tu cuenta y facilita el proceso de reserve. Desde tu cuenta podras modificar tus reservas.
            </div>
            <div class="form-checkout">
              <form action="#" method="POST">
                <div class="form-checkout__wrap">
                  <div class="form-checkout__item flex flex-column">
                    <label>contraseña</label>
                    <input type="text">
                    <div class="form-checkout__caption">Debe contener más de 8 caracteres
                    </div>
                  </div>
                  <div class="btn btn--green btn--dark-hover btn--full lt-06">Regístrate en Civitours</div>
                </div>
              </form>
            </div>
            <div class="or">o</div>
            <div class="flex align-items-center justify-content-between">
              <a class="facebook-btn" href="#">
                <svg class="icon icon-fb-btn" viewBox="0 0 8 14">
                  <path d="M7.284.003L5.47 0C3.429 0 2.11 1.352 2.11 3.445v1.589H.285A.285.285 0 0 0 0 5.32V7.62c0 .158.128.286.285.286h1.826v5.807c0 .158.128.286.285.286h2.382a.285.285 0 0 0 .285-.286V7.907h2.135a.285.285 0 0 0 .285-.286l.001-2.301a.286.286 0 0 0-.286-.286H5.063V3.687c0-.647.155-.975.998-.975h1.223a.285.285 0 0 0 .285-.286V.288a.286.286 0 0 0-.285-.285z"></path>
                </svg><span class="lt-06">Facebook</span>
              </a>
              <a class="google-btn" href="#">
                <svg class="icon icon-google-btn" viewBox="0 0 15 14">
                  <g><path d="M7.047 2.381c.762 0 1.62.19 2.286.571l1.905-1.523A6.762 6.762 0 0 0 7.048 0C4.38 0 2.094 1.429.856 3.619l1.905 1.524c.762-1.714 2.38-2.762 4.285-2.762zM7.524 5.905V8.19h3.619c.095 0 .19.096.286.096 0 .19 0 .285-.096.38-.285.858-.857 1.62-1.619 2.191l1.905 1.524c1.143-.952 2-2.381 2.286-3.81.095-.476.19-.952.19-1.428 0-.381 0-.762-.095-1.048H7.524v-.19zM2.381 7.048c0-.477.095-.858.19-1.334L.667 4.095C.19 5.048 0 6 0 7.048 0 8.095.19 9.143.667 10L2.57 8.476c-.095-.476-.19-.952-.19-1.428zM7.047 11.714c-.952 0-1.904-.285-2.666-.857-.667-.476-1.238-1.143-1.524-1.81L.952 10.572C2.19 12.761 4.476 14 7.047 14c1.429 0 2.953-.476 4.096-1.333l-1.905-1.62c-.762.477-1.429.667-2.19.667z"></path></g>
                </svg><span class="lt-06">Google</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>