@import 'rupture'
@import 'variables'

.spinner
  width: 100%;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  height: 100%;
  .loading
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border-top: 5px solid #53777A;
    border-bottom: 5px solid #C02942;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -80px;
    animation: loading 1.2s linear infinite;
    -webkit-animation: loading 1.2s linear infinite;

@keyframes loading
  0%
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  100%
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);

agm-map
  width 100%
  height 100%

.thank-you
  .facebook-btn, .google-btn
    span
      font-size 11px
      font-family "Roboto"
  .map-wrapper
    height 338px
  .create-account
    box-sizing: border-box;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    padding: 39px 40px 41px 40px;
    background-color #fff
    .create-account__title
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.05em;
      padding-right: 70px;
      margin-bottom: 19px;
      color #000
    .create-account__desc
      font-family: 'roboto';
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.05em;
      margin-bottom: 18px;
      color #000
      padding-right 10px
    .form-checkout__caption
      font-family: 'roboto';
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.05em;
      color: rgba(0,0,0,0.4);
      margin-top: 3px;
      margin-bottom: 17px;
    .form-checkout
      .btn
        text-transform initial
        max-height 48px
      .form-checkout__item
        width 100%
    .or
      font-family: 'roboto';
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 2px;
      color: #3A2A51;
      opacity: 0.5;
      margin-top: 18px;
      margin-bottom: 16px;
      text-align: center;
      position: relative;
      &:before
        content: "";
        width: 45%;
        height: 1px;
        background: #D0D4D9;
        display: block;
        /* vertical-align: middle; */
        position: absolute;
        top: 50%;
        margin-top: -1px;
        right: 0;
      &:after
        content: "";
        width: 45%;
        height: 1px;
        background: #D0D4D9;
        display: block;
        /* vertical-align: middle; */
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 0;
  .continue-shopping
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    background: #fff;
    box-sizing: border-box;
    position: relative;
    padding-top: 50px;
    /* padding-left: 86px; */
    /* padding-right: 86px; */
    padding-left: 77px;
    padding-right: 78px;
    text-align: center;
    padding-bottom: 36px;
    width 100%
    .btn
      width 236px
      font-weight: 500;
      letter-spacing: .1em;
      font-size: 14px;
      margin 0 auto
      border 2px solid blue
      padding-top 16px
      padding-bottom 16px
    .continue-shopping__icon-wrap
      width 54px
      height 54px
      position:  absolute;
      top:  -27px;
      left:  50%;
      margin-left: -27px;
      .icon
        fill #fff
        stroke #27AE60
        height 100%
        width 100%
    .continue-shopping__title
      font-family: 'Roboto';
      font-size: 24px;
      line-height: 31px;
      letter-spacing: 0.05em;
      font-weight: bold;
      /* padding-left: 87px; */
      text-align: center;
      margin-bottom: 24px;
    .continue-shopping__desc
      font-family: 'roboto';
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-align: center;
      &.last
        margin-top: 18px;
        /* padding: 0 117px; */
        max-width: 356px;
        margin: 0 auto;
        margin-top: 18px;
        margin-bottom: 17px;
    +below(1020px)
      order 1
  +below(1020px)
    .container
      padding-left 0
      padding-right 0
    .create-account.create-account--mobile
      background transparent
      padding-top 38px
      margin-bottom 32px
      box-shadow none
      .create-account__desc
        margin-bottom 10px
      .form-checkout__wrap
        display flex
        align-items flex-start
        justify-content space-between
        .form-checkout__item
          width 49%
          label
            margin-bottom 3px
          input
            padding-top 13px
            padding-bottom 13px
          .form-checkout__caption
            margin-top 6px
        .btn
          width 49%
          margin-top 16px
      .or
        margin-bottom 8px
      .facebook-btn
        width 49%
        justify-content center
        margin-bottom 0
        padding-left 0
        font-family 'roboto'
        span
          padding-left 10px
      .google-btn
        width 49%
        justify-content center
        margin-bottom 0
        padding-left 0
        font-family 'roboto'
        span
          padding-left 10px
    .continue-shopping
      margin-left: 40px;
      margin-right: 40px;
      padding: 50px 40px;
      padding-bottom: 39px;
      .continue-shopping__title
        margin-bottom: 23px;
      .continue-shopping__desc.last
        margin-bottom 32px
  +below(600px)
    .continue-shopping
      margin-left: 0;
      margin-right: 0;
      padding-left: 10px;
      padding-right: 10px;
      padding-top 56px
      padding-bottom 53px
      .continue-shopping__title
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 0px;
      .continue-shopping__desc.last
        margin-bottom: 26px;
      .btn
        width 100%
    .create-account.create-account--mobile
      padding-left: 10px;
      padding-right: 10px;
      padding-top 22px
      margin-bottom 37px
      .create-account__title
        padding-right 0
        margin-bottom 10px
      .create-account__desc
        padding-right 0
        margin-bottom 26px
    .form-checkout__wrap
      flex-wrap wrap
      .form-checkout__item
        min-width 100%
        input
          padding-top 10px !important
          padding-bottom 10px !important
        .form-checkout__caption
          margin-top 2px !important
          margin-bottom 2px
      .btn
        width 100% !important
    .or
      margin-bottom 15px !important
.content-image
  margin-top 13px
  background #fff
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  padding-bottom 36px
  width 100%
  &__header-picture
    background-size cover !important
    background-position 50% 50% !important
    background-repeat no-repeat !important
    width 100%
    height 245px
    margin-bottom 34px
  &__title
    font-family: 'roboto';
    font-size: 24px;
    font-weight: bold;
    line-height: 31px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-left: 74px;
    margin-bottom: 35px;
  &__desc
    padding-left 75px
    padding-right 75px
    &-item
      font-family font-family-reg
      line-height 21px
      font-size 14px
      letter-spacing 0.01em
    &-row
      display flex
      align-items center
      justify-content space-between
    .content-image__desc-row + .content-image__desc-row
      margin-top: 22px;
    .content-image__desc-title
      padding-top 16px
      .content-image__desc-caption
        padding-top: 16px;
        font-family: 'roboto';
        font-size: 18px;
        line-height: 23px;
        color: #000;
        font-weight: bold;
      .content-image__desc-item + .content-image__desc-item
        margin-top 10px
.print-ticket
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  padding-top: 53px;
  padding-left: 74px;
  padding-right: 74px;
  padding-bottom: 58px;
  width 100%
  &__title
    font-family 'roboto'
    font-weight bold
    font-size 18px
    color #000
    letter-spacing 0.5px
    text-align: left;
    margin-bottom: 0;
    line-height: 17px;
  &__desc
    font-family font-family-reg
    font-size 14px
    line-height 34px
    color #000
    letter-spacing 0.01em
    margin-bottom: 38px;
  .btn
    width 236px
  .btn + .btn
    margin-left 25px