.contacts
  background: #F7f7f7
  padding: 125px 0 126px
  +below(1060px)
    padding: 110px 20px 78px
  +below(767px)
    padding: 95px 20px 78px
  +below(400px)
    padding: 47px 0 0
    overflow-x: hidden;
  &__header
    margin: 0 0 43px 0;
    +below(1060px)
      display none
  &__h1
    font-family 'GothamProMedium'
    font-size 36px
    line-height: 51px
    margin: 0 0 9px 0;
  &__h3
    font-family 'Roboto'
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.05em;
  &__body
    display flex
    +below(1060px)
      flex-direction: column
  &__h2
    text-align: left
    font-family: font-family-sec
    font-size 16px
    text-transform: uppercase
    letter-spacing: 0.11em;
    margin: 0 0 37px 0;
    +below(1060px)
      margin 0 0 29px
  &__footer
    margin 8px 0 0
    +below(1060px)
      margin 38px 0 0
    +below(400px)
      padding 0 10px
      margin: 20px 0 0;
  .hidden
    display none
  .active
    display: block

.topics
  display flex
  flex-direction: column
  margin 1px 21px 0 -2px
  background: #ffffff
  padding 35px 30px 0 55px
  height 217px
  width 400px
  &--aside
    +below(1090px)
      padding 35px 30px 0 25px
    .topics
      &__item
        &:hover
          cursor pointer
          .topics__link
            color blue
          svg
            stroke blue
        &.active
          .topics__link
            color blue
          svg
            stroke blue
  &--touch
    cursor: pointer
    display none
    &:after
      content: '\f0d7'
      font-family 'FontAwesome'
      color #000
      +below(400px)
        color #B2B2B2
        font-size: 20px;
    +below(1060px)
      display flex !important
      flex-direction: row
      justify-content: space-between;
      width auto
      height auto
      padding: 26px 34px 26px 50px;
      margin 0
    +below(400px)
      padding: 26px 26px 23px 10px
      background #fefefe
  +below(1060px)
    display none
    .topics
      &__link
        &:hover
          color inherit
  &__link
    color inherit
    text-transform: uppercase
    margin 0 0 0 42px
    font-size 16px
    font-family: 'Roboto'
    font-weight: 500;
    letter-spacing: 0.11em;
    +below(400px)
      margin 3px 0 0 38px
  +below(1060px)
      color inherit
  &__item
    color #000000
    position: relative;
    display flex
    line-height: 21px
    margin 0 0 34px
    +below(1060px)
      margin 0
    svg
      position: absolute;
      top: 50%
      transform: translateY(-50%)
      margin: auto;
      fill none
      stroke: #000000
      stroke-width: 1.5px

  &--touch
    .topics
      &__item
      &:hover
        svg
          +below(1060px)
            stroke #000


.icon-already-booked
    width: 20px;
    height: 19px;
    fill: none;
.icon-before-booking
    height: 24px;
    width: 24px;
    fill: none;
.icon-other-topics
    width: 20px;
    height: 20px;
    fill: none;

.process
  padding  51px 75px
  width 740px
  font-family: font-family-sec
  background: #ffffff
  +below(1060px)
    margin 0 0 16px 0
    height auto
  +below(400px)
    margin 0
  &--open
    .topics
      &--touch
        &:after
          transform: rotate(180deg)
          +below(1060px)
            color blue
        svg
          &:hover
          +below(1060px)
            stroke #fff
        +below(1060px)
          background #ffffff
        .topics
          &__item
            +below(1060px)
              color blue
            svg
              &:hover
                stroke blue
              +below(1060px)
                stroke blue

  +below(1060px)
    width: 100%
    padding 0
  &__body
    padding 0 0 56px 0
    +below(400px)
      padding 0
  &__heading
    background: #ffffff
    font-size 14px
    font-weight 400
    line-height: 20px
    letter-spacing: 0.05em;
    +below(1060px)
      padding: 0 71px;
      letter-spacing: .059em;
      margin: 23px 0 12px 0;
    +below(767px)
      padding 24px 20px 0 20px
    +below(400px)
      padding: 18px 10px 0px 10px
      letter-spacing: 0.047em;
      margin: 0;
  &__form
    margin 0
    +below(1060px)
      padding 0 71px
      margin 0
    +below(767px)
      padding 0 20px 24px 20px
    +below(400px)
      padding: 0 10px;
      margin: 5px 0 0 0;
  &__label
    display block
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    font-weight: normal;
    opacity: 0.4;
    margin: 0 0 7px 0;
    +below(767px)
      margin 10px 0 7px
    +below(400px)
      margin 0 0 6px
  &__input
    width 285px
    height 40px
    margin 0 20px 26px 0
    padding 10px 17px 10px 17px
    border 1px solid #D0D4D9
    font-weight: 400;
    font-size: 14px;
    +below(1060px)
      width 100%
    +below(768px)
      width 264px
      margin: 0 16px 26px 0;
    +below(767px)
      width 100%
      margin 0
    +below(400px)
      padding 2px 0 10px 17px
    &:last-child
      +below(1060px)
        margin-right 0
      +below(768px)
        margin-right 16px
  &__line
    width: 100%;
    +below(1060px)
      width 100%
    +below(768px)
      width 100%
      overflow hidden
    +below(400px)
      margin 0 0 22px 0
    &--checkbox
      display flex
      align-items: center
      margin: 32px 0 19px
      +below(1060px)
        margin 25px 0 30px
    &--destination
      +below(400px)
        margin 11px 0 20px 0
    &--subject
      +below(400px)
        margin 0 0 33px 0
    &--textarea
      +below(400px)
        margin 0 0 19px
    &:last-child
      +below(400px)
        margin: 0 0 11px;
  &__row
    display flex
    +below(1060px)
      flex-direction: column
    +below(768px)
      flex-direction: row
    &--radio
      margin: 15px 0 0 0;
      .radio
        width 50%
        +below(767px)
          width 100%
    &--name
      margin 19px 0 0
    &--subject
      +below(400px)
        margin 11px 0 9px
    +below(767px)
      flex-direction column
  &__text
    margin 0
  &__select
    width 285px
    height 40px
    border 1px solid #D0D4D9
    margin 0 20px 26px 0
    padding: 10px 0 10px 17px
    font-size: 14px;
    cursor pointer
    option
      cursor pointer
    +below(1060px)
      width 100%
    +below(768px)
      width 264px
      margin 0 16px 26px 0
    +below(767px)
      width 100%
      margin 0

  &__message
    height 75px
    max-width 590px
  &__attach
    color blue
  &__drag
    color #979797
  &__file
    display flex
    justify-content center
    padding: 39px 0 0;
    width 100%
    height 75px
    background: url(../assets/images/download-cloud.png) no-repeat center 15px #f9f9f9;
    border dashed 2px #e9ebed;
    font-size: 12px
    letter-spacing: 0.05em;
    +below(400px)
      height 113px
      padding: 57px 0 0
      background-position-y 33px
  &__textarea
    width 100%
    margin 0 20px 25px 0
    height 75px
    border 1px solid #D0D4D9
    +below(400px)
      height 113px
      margin 0 20px 4px 0
  &__btn
    width 236px
    height 48px
    +below(1020px)
      margin: 0 auto;
      display: block;
      width: 294px;
    +below(767px)
      width: 100%;
.channels
  display flex
  flex-wrap: wrap
  +below(400px)
     background: #fff;
     padding: 0 0 60px
  +below(752px)
    flex-direction: column

.channel
  background #ffffff
  width 360px
  height 222px
  padding 28px 38px
  margin 0 20px 0 0
  font-family: font-family-sec
  &:first-child
    +below(1060px)
      margin 0 16px 20px 0
    +below(767px)
      margin: 0 16px 20px 0
    +below(400px)
      margin 31px 0 0 0;
  &:last-child
    margin 0
    +below(400px)
      margin 31px 0 0 0;
  +below(1060px)
    width 336px
    margin 0 0 20px 0
    padding 26px 38px
  +below(767px)
    padding: 26px 26px;
    margin: 0 16px 20px 0
    width: 100%;
  +below(400px)
    height auto
    margin: 31px 0 0 0;
    padding: 0 6px;
  &__top
    display flex
    margin 0 0 18px 0
    letter-spacing: 0.1em;
  &__heading
    font-size: 18px
    color blue
    text-transform: uppercase
    font-weight bold
  &__info
    font-family: font-family-sec
    font-size 14px
    line-height: 20px
    letter-spacing: 0.05em
    margin: 0 0 7px 0;
    +below(1060px)
      letter-spacing: 0.038em;
  &__line
    display flex
    font-family: font-family-sec
    font-size 14px
    line-height: 23px;
  &__country
    width: 50%
    font-weight bold
  &__tel
    color blue
    letter-spacing: 0.05em;
  .icon
    margin 0 10px 0 0
    fill none
    stroke blue
    width: 18px
    height: 18px
    stroke-width 1.5
  .icon-whatsapp
    margin 0 10px 0 0

input
  &::-webkit-input-placeholder
    font-family: font-family-sec
    font-size 14px
    line-height: 14px
    color #000
    opacity 1
    font-size: 14px;
  &::-moz-placeholder
    font-family: font-family-sec
    font-size 14px
    line-height: 14px
    color #000
    opacity 1
    font-size: 14px;
  &::-ms-input-placeholder
    font-family: font-family-sec
    font-size 14px
    line-height: 14px
    color #000
    opacity 1
    font-weight: 400;
select
  outline: none
  box-shadow: none
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../assets/images/select-arrow.png) no-repeat 95%

.container
  +below(400px)
    padding: 0 0;
  &--contacts
    +below(400px)
      background: #fff








