::-webkit-details-marker
  display none
.dashboard
  background: #F7f7f7
  padding: 125px 0 177px
  +below(1060px)
    padding: 115px 20px 78px
  +below(690px)
    padding: 115px 0 78px
  +below(400px)
    padding: 47px 10px 0
    overflow-x: hidden;
  &__header
    margin: 0 0 43px 0;
    +below(1060px)
      display none
  &__h1
    font-family 'GothamProMedium'
    font-size 36px
    line-height: 51px
    margin: 0 0 9px 0;
  &__h3
    font-family 'Roboto'
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.05em;
  &__body
    display flex
    align-items flex-start
    +below(1060px)
      flex-direction: column
  &__h2
    text-align: left
    font-family: font-family-sec
    font-size 16px
    text-transform: uppercase
    letter-spacing: 0.11em;
    margin: 0 0 37px 0;
    +below(1060px)
      margin 0 0 29px
  &__footer
    margin 12px 0 0
    +below(1060px)
      margin 38px 0 0
    +below(400px)
      padding 0 9px
      margin: 20px 0 0;
  &__line
    display flex
    justify-content: center
    .btn
      text-transform: uppercase
      font-size 12px
      margin-top: 36px;
      +below(1060px)
        margin 61px  0 0 0
      +below(690px)
        margin 32px 0 0
  &__details
      line-height: 1.5;
  .arrow-back
    display flex
    margin 0 0 18px 0
    cursor pointer
    &--desktop
      +below(768px)
        display none
    &--touch
      display none
      +below(768px)
        display flex
      +below(600px)
        margin 4px 0 14px 2px
    .icon-arrow-left
      width: 20px;
      height: 14px;
      fill: #0086e6;
      stroke none
      transform rotate(180deg)
      margin 4px 9px 0 -4px
      +below(400px)
        width: 18px;
        height: 14px;
    &__text
      text-transform uppercase
      font-family: font-family-sec;
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      font-size: 14px;
      letter-spacing: 0.1em;
      +below(768px)
        color #000000
  .process
    padding: 40px 75px 85px
  .activities
    +below(1060px)
      padding 0 0 0 0
    +below(690px)
      padding 0
    &__item
      height: 250px;
      margin: 0 0 27px;
      &--history
        .activities
          &__header-img
              opacity 0.5
          &__line
            +below(768px)
              margin 37px 0 0

      +below(690px)
        flex-direction column
        height auto
      &:not(:last-child)
        +below(1060px)
          margin 0 0 19px
        +below(690px)
          margin 0 0 12px
      &:last-child
        +below(1060px)
          margin 0 0 0
    &__content-time
      display flex
      margin-bottom: 8px;
      +below(690px)
        display: flex
    &__content-person
      display flex
    &__content-text
      margin 0 0 0 10px
    &__img-wrap
      position: relative
    &__header-img
      height 250px
      cursor pointer
    &--city
      .activities
        &__content-star
          padding 0
        &__content
          padding: 33px 20px 31px;
          margin: 0;
          +below(1060px)
            padding 33px 17px 31px
            flex-basis auto
          +below(590px)
            padding 12px 17px 31px
        &__content-header
          a
            +below(1060px)
              letter-spacing: 0.02em;
            +below(690px)
              font-size 17px
              letter-spacing: 0.01em
              line-height 21px
          +below(1060px)
            padding-right: 110px;
          +below(690px)
            display: block;
            margin 0 0 12px
            padding 0 11px 0 0
    &__content-text
      font-family font-family-reg
      color #B3B3B3
      font-size 14px
      letter-spacing: 0.02em;
      +below(768px)
        letter-spacing: 0.08em
    &__content-all
      margin 0 0 0 0
      +below(690px)
        margin: 0 0 0;
        font-size 14px;
    &__line
      margin 32px 0 0
      &--upcoming
        +below(768px)
          margin 38px 0 0
      +below(690px)
        margin 12px 0 0
        font-size 14px
    &__content-reservation
      font-family font-family-reg
      font-weight 400
      line-height: 25px;
      letter-spacing: 0.008em;
      &--bold
        font-weight 900
      &--red
        color #FF4C4C
        font-size 16px
    &__item
        .activities
          &__star-block
            position absolute
            right 28px
            top 38px
          &__img-wrap
            position: relative
          &__header-img
            height 250px
            +below(1060px)
              width: 245px;
            +below(690px)
              width: 100%;
              border-top-right-radius: 5px;
              height 123px
        .city-bottom
          bottom: 24px;
          &__time
            margin-right: 27px;
          .icon
            width: 26px;
            height: 20px;
        .city-btns
          position absolute
          flex-direction: column
          bottom: 10px;
          left 15px
          right 0
          margin: auto
          +below(1060px)
            bottom: 4px;
            left: 1px;
          +below(690px)
            top: auto;
            left: 1px;
            bottom: 1px;
            padding 0 8px
          &__btn
            width 239px
            height 48px
            display flex
            justify-content: center
            align-items: center
            font-size: 14px
            font-weight 500
            text-transform: uppercase
            background blue
            color #fff
            border 2px solid blue
            margin 0 0 10px 0
            border-radius: 24px
            cursor: pointer
            +below(690px)
              margin 10px auto 10px
              width 100%
              font-weight: 300;
            &:hover,
            &:active
              background #fff
              color blue
            &:nth-child(2)
              background #fff
              color blue
              &:hover,
              &:active
                background blue
                color #fff
  .topics
    &__link
      margin: 0 0 0 36px;
      letter-spacing: 0.11em;
    &__item
      margin 0 0 42px
      +below(1060px)
        margin 0
    &--rate
      padding 0 0 26px 0
      width 360px
      background #fff
      height 299px
      .topics
        &__img
          display block
          width 360px
          height 214px
          margin 0 0 18px
        &__subtitle
          font-family font-family-sec
          font-weight bold
          font-style: normal;
          line-height: 21px;
          font-size: 16px;
          letter-spacing: 0.5px;
          padding 0 0 0 24px
    &__nested-list
      margin: -21px 0 35px 36px
    &__nested-link
      line-height:normal
      cursor pointer
      display block
      color #000
      margin: 0 0 20px 0;
      font-family font-family-sec
      letter-spacing: 0.05em;
      font-weight: 400;
      &.active
        color blue
      svg
        position: absolute;
        top: 0;
        margin: auto;
        fill none
        stroke: #000000
        stroke-width: 1.5px
    &--touch
      +below(1060px)
        padding 0
      .topics
        &__item
        &:hover
          svg
            +below(1060px)
              stroke #000
    &--dashboard
      padding 45px 30px 0 55px
      min-height: 234px;
      height auto !important
      height 234px
      margin: 0 16px 0 0;
      width: 360px;
      height: fit-content;
      display: table
      +below(1060px)
        display none
  .icon-already-booked
      width: 20px;
      height: 19px;
      fill: none;
  .icon-my-account
    height: 20px;
    width: 19px;
    fill: none;
  .icon-signout
      width: 20px;
      height: 20px;
      fill: none;
  .form .icon-user-form
    margin: 5px 8px 0 0;
    +below(1060px)
      display none
  .process
    &[data-tab="upcoming-bookings"],
    &[data-tab="history"],
    &--no-padding
      padding 0
      background transparent
    &.rate-tab
      padding 63px 23px 86px 75px
      +below(768px)
        padding 46px 0 86px 69px
      +below(710px)
        padding 0 8px 40px
    +below(1060px)
      width: 100%
      margin 0 0 0
    &__line
      &--checkbox
        margin: 18px 0 0
        padding: 0 0 0 21px;
        +below(1060px)
          padding: 0;
          margin 16px 0 0 0
        +below(400px)
          margin 10px 0 0 0
  .touch-panel
    +below(1060px)
      width: 100%
      padding 0
      background:transparent
      margin 0 0 20px
      +below(400px)
        margin 0
    &.sign-out
      .topics--touch
        &:after
          display none
    .form--signup
      +below(1060px)
        max-width: 559px;
        padding-top: 14px;
      +below(690px)
        max-width 100%
        padding: 8px 9px;
    .topics
      &--touch
        +below(1060px)
          height 72px
          display flex
          align-items: center
          background #fff
          padding: 34px 21px 34px 52px
        +below(690px)
          padding 34px 21px 34px 11px
        &:after
          +below(1060px)
            font-size: 18px;
            margin-top: 0;
    &--open
      .topics
        &--touch
          &:after
            +below(1060px)
              color blue
              transform: rotate(180deg);
              font-size: 18px;
              margin-top: 4px;
          +below(1060px)
            color blue
          .topics
            &__item
              +below(1060px)
                color blue
              .icon
                +below(1060px)
                  stroke blue
    .touch-panel
      &__body
        +below(1060px)
          display block
        &--my-account
          +below(1060px)
            background #fff
            padding 0 0 64px
    &__sub-nav
      display none
      +below(1060px)
        display flex
        align-items: center
        padding 19px 0 27px
      +below(690px)
        padding 26px 0
      &--full
        +below(768px)
          padding 19px 0 35px
        +below(400px)
          padding 45px 0 30px
      &--manage
        +below(768px)
          padding 19px 0 35px
        +below(400px)
          padding 36px 0 40px

    &__sub-item
      +below(1060px)
        display flex
        align-items: center
        cursor: pointer
      &:not(:last-child)
        +below(1060px)
          margin 0 37px 0 0
        +below(690px)
          margin 0 33px 0 0
      &.active
        .touch-panel
          &__sub-text
            +below(1060px)
              color blue

    &__sub-text
      +below(1060px)
        font-family: font-family-sec;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
    &__sub-num
      +below(1060px)
        display flex
        align-items: center
        justify-content: center
        width 21px
        height 21px
        border-radius 50%
        background blue
        color #fff
        font-family: font-family-sec;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        margin 0 0 0 4px






  .form
    &__ttl
      &--left
        justify-content: left
        margin-bottom: 30px;
        +below(1060px)
          margin-bottom: 12px;
        +below(590px)
          margin-bottom: 11px;
        h3.h3
          +below(1060px)
            font-size 18px
            margin 24px 0 0 0
          +below(590px)
            font-size 16px
            margin 19px 0 3px
        .icon
          &.icon-lock
            width 18px
            height 28px
            fill none
            stroke blue
          &.icon-signup-lock
            +below(1060px)
              display none
  .form-group__placeholder
    padding-left: 16px;
    +below(600px)
      padding-left 0
  .form-group__btn-show-password
    +below(1060px)
      top: 18px;
      right: 40px;
    +below(600px)
      display none
  .form-group--long input
    padding 19px 77px 13px 55px
    font-weight: 400;
    +below(690px)
      padding 19px 23px 13px 23px
    +below(600px)
      padding: 19px 19px 13px;
  .mt-10
    margin-top: 10px
  .form__section:not(:last-child)
    margin-bottom: 40px;
    +below(690px)
      margin-bottom: 5px;
  .form--signup .additional-info .form__ttl
    margin-bottom: 22px;
    +below(1060px)
      margin 0 0 4px
    +below(690px)
      margin 0 0 13px
  .custom-input-padding
    .form-group--long input
      padding: 29px 77px 13px 55px
      +below(600px)
        padding 29px 15px 13px 15px
    .form-group__placeholder
      margin-top: 15px;
    .form-group__btn-show-password
      top: 24px;
  .form__section
    &.additional-info
      .form-group
        &--long
          .form-group
            &__placeholder
              +below(600px)
                width 50%
                padding-left 0
          input
            +below(600px)
              width 50%

for i in (1..30)
  .mt-{i}
    margin-top i px

