.filter
	background-color #fff
	box-shadow 0px 4px 50px rgba(0, 0, 0, 0.05)
	+below(1020px)
		box-shadow none
	&__item-ttl
		padding 25px 40px
		font-family 'Roboto', sans-serif
		letter-spacing 2px
		font-size 14px
		font-weight 400
		text-transform uppercase
		color rgba(58,42,81,.5)
		position relative
		+below(1020px)
			padding 25px 30px
		+below(480px)
			padding 25px 20px
	&__item-content
		border-bottom 1px solid rgba(0, 0, 0, 0.1)
		padding 5px 40px 23px 40px
		+below(1020px)
			padding 5px 30px 23px
		+below(480px)
			padding 5px 20px 23px
	&__star
		display flex
		.icon
			width 20px
			height 20px
			margin-right 7px
			fill rgba(196, 196, 196, 0.3)
			&:last-child
				margin-right 0
			&.active
				fill #F5C973
	&__item
		&:last-child
			+below(1020px)
				& ^[0]__item-content
					border-bottom 0
		&--range
			.filter__item-content
				padding-top 22px
			&:last-child
				.filter__item-content
					padding-bottom 52px
				+below(480px)
					padding-bottom 80px
		&--accordion
			& ^[0]__item-ttl
				border-bottom 1px solid rgba(0, 0, 0, 0.1)
				.icon
					width 7px
					height 7px
					position absolute
					top 50%
					margin-top -3px
					right 28px
					transform rotate(0deg)
					transition transform .3s
			& ^[0]__item-content
				padding-top 21px
				padding-bottom 33px
				transition all 0.3s
				overflow hidden
				display block
			.filter__wrapper-accordion
				max-height 0
				overflow hidden
				transition all .5s
				max-height 0
				transition max-height 1s
			
			&.active 
				.filter__item-ttl
					.icon
						transform rotate(180deg)
				.filter__item-content
					display block
				.filter__wrapper-accordion
					max-height 500px
		&--date
			& ^[0]__item-content
				padding-top 10px
				padding-bottom 20px
			.calendar-block
				box-shadow none
				max-width 305px
				margin 0 auto
				padding 10px 0
			.order-button
				margin-top 15px
				display block
	&-mobile
		flex-basis 160px
		background-position 30px center
		margin-bottom 25px
		margin-right 15px
		box-shadow 0px 4px 50px rgba(0, 0, 0, 0.05)
		text-transform uppercase
		font-size 14px
		letter-spacing 2px
		font-family 'Roboto', sans-serif
		font-weight 400
		color rgba(58,42,81,.5)
		display flex
		align-items center
		padding-left 16px
		display none
		justify-content flex-start
		.icon
			fill transparent
			stroke #c4c0cb
			stroke-width 2px
			width 20px
			height 20px
			margin-right 25px
			+below(769px)
				margin-right 14px
				margin-left 12px
			+below(767px)
				margin-left 0
				margin-right 25px
			+below(425px)
				margin-left 12px
				margin-right 11px
		+below(769px)
			margin-bottom 22px
		+below(720px)
			margin-right 0
			flex-basis 100%
			height 62px 
			justify-content flex-start
			padding-left 16px
		+below(425px)
			margin-right 10px
			margin-left 10px
			margin-bottom 11px
.range-main
	height 18px
	position relative
	display block
	user-select none
	.range
		height 18px
		position relative
		display block
		user-select none
		&-line
			height 4px
			display block
			position relative
			outline none
			top 50%
			transform translateY(-50%)
			&-left
				height 4px
				background-color rgba(0, 0, 0, 0.1)
				display block
				position absolute
				left 0
				top 0
				width 0%
				border-top-left-radius 2px
				border-bottom-left-radius 2px
			&-mid
				height 4px
				background-color blue
				width 75%
				left 0%
				position absolute
				display block
				top 0
			&-right
				height 4px
				background-color rgba(0, 0, 0, 0.1)
				width 25%
				left 75%
				position absolute
				top 0
				border-top-right-radius 2px
				border-bottom-right-radius 2px
		&-from
			font-size 10px
			position absolute
			top -18px
			left 0%
			font-family 'Roboto', sans-serif
			font-weight 400
			text-align center
			color #000
			line-height 12px
		&-to
			font-size 10px
			position absolute
			top -18px
			left 75%
			font-family 'Roboto', sans-serif
			font-weight 400
			text-align center
			color #000
			line-height 12px
		&-slider
			width 18px
			height 18px
			cursor pointer
			top 50%
			transform translateY(-50%)
			position absolute
			display block
			z-index 1
			background-color #fff
			border 2px solid blue
			border-radius 50%
			box-sizing border-box
			&.from
				left 0%
			&.to
				left 75%
			&:after
				content ''
				display block
				width 6px
				height 6px
				background-color blue
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				border-radius 50%
	&--duration
		.range-line-left
			width 25%
		.range-line-mid
			width 50%
			left 25%
		.range-slider.from
			left 25%
		.range-from
			left 25%