


.icon-cart
	width 22px
	height 22px
	fill none
	+below(769px)
		width 20px
		height 20px
	+below(600px)
		width 16px
		height 16px
.icon-close
	width 13px
	height 13px
	fill #C4C4C4
.name-author
	display: flex;
	align-items: center;
	border-right: 1px solid rgba(255,255,255,.5);
	border-left: 1px solid rgba(255,255,255,.5);
	padding-left: 40px;
	padding-right: 40px;
	font-family font-family-md
	font-size 20px
	letter-spacing 0.05em
	color #fff
	position relative
	z-index 2
	+below(1650px)
		font-size 14px
	+below(1400px)
		padding-left 30px
		padding-right 30px
	+below(1220px)
		padding-left 40px
		padding-right 40px
	+below(1030px)
		font-size 20px
	+below(900px)
		padding-left 30px
		padding-right 30px
	+below(600px)
		border-left none
		border-right none
		font-size 14px
		padding-left 0
		padding-right 10px
	&:hover
		color #fff
		background-color blue
.points
	width: 4px;
	height: 4px;
	background: #fff;
	border-radius: 50%;
	margin-left: 9px;
	position: absolute;
	right: 23px;
	top 50%
	margin-top -3px
	+below(1400px)
		right 15px
	+below(1220px)
		right 23px
	+below(900px)
		right 15px
	+below(600px)
		right 0
	&:before
		content: '';
		width: 4px;
		height: 4px;
		display: block;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		top: 8px;
	&:after
		content: '';
		width: 4px;
		height: 4px;
		display: block;
		background: #fff;
		border-radius: 50%;
		position: absolute;
		top: -8px;
.hide-border-mobile
	.menu-main__item a
		padding 0 30px
	+below(600px)
		border 0