@import 'variables'
@import 'mixins'
@import 'rupture'


.d-inline-flex
  display -webkit-box
  display -ms-flexbox
  display flex

.hidden
  display none!important

.spinner
  width: 100%;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  height: 100%;
  .loading
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border-top: 5px solid #53777A;
    border-bottom: 5px solid #C02942;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -80px;
    animation: loading 1.2s linear infinite;
    -webkit-animation: loading 1.2s linear infinite;

.loading-small
  position relative
  width 50px
  height 50px
  border-radius 30px
  border-top 5px solid #53777A
  border-bottom 5px solid #C02942
  -webkit-box-sizing border-box
  box-sizing border-box
  left 50%
  animation loading 1.2s linear infinite
  -webkit-animation loading 1.2s linear infinite

.loading-tiny
  position relative
  width 20px
  height 20px
  border-radius 15px
  border-top 5px solid #53777A
  border-bottom 5px solid #C02942
  -webkit-box-sizing border-box
  box-sizing border-box
  left 50%
  animation loading 1.2s linear infinite
  -webkit-animation loading 1.2s linear infinite

@keyframes loading
  0%
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  100%
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);

.checkbox
  &--square
    label
      display block
      position relative
      cursor pointer
      font-size 16px
      line-height 20px
      user-select none
      padding-left 30px
      font-family 'Roboto', sans-serif
      font-weight 400
      color #000
      margin-bottom 23px
      &:last-child
        margin-bottom 0
      input
        &:checked  ~ span
          border-color blue
          opacity 1
          &:after
            content 'x'
            display block
            width 6px
            height 6px
            color blue
            position absolute
            top -1px
            left 5px
            margin-top -3px
            margin-left -3px
      span
        position absolute
        top 50%
        margin-top -8px
        left 0
        width 16px
        height 16px
        border 2px solid #251731
        box-sizing border-box
        opacity .3

.alert
  position relative
  padding 0.75rem 1.25rem
  border 1px solid transparent
  border-radius 0.25rem
  word-wrap break-word
  margin 10px 0 0

  &.alert-danger
    color #721c24
    background-color #f8d7da
    border-color #f5c6cb

  &.alert-info
    color #0c5460
    background-color #d1ecf1
    border-color #bee5eb

  &.alert-primary
    color #004085
    background-color #cce5ff
    border-color #b8daff

.error-input
  color blue

.btn[disabled]
  opacity 0.5

.ng-scrollbar-view
  overflow-y auto!important
  overflow-x hidden!important
  height 100%!important

app-navigation
  +above(826px)
    position: relative;
    height: 66px;
    display: block;