@import 'variables'
@import 'mixins'
@import 'rupture'

html
  box-sizing border-box

*,
*before,
*after
  box-sizing inherit

disabled, [disabled], [aria-disabled="true"]
  cursor not-allowed

.clearfix:after
    content ""
    display block
    clear both

app-wrapper
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto !important;

a
  -webkit-text-decoration-skip ink
  text-decoration-skip ink

.visuallyhidden:not(:focus):not(:active)
  position absolute
  width 1px
  height 1px
  margin -1px
  border 0
  padding 0
  clip-path inset(100%)
  clip rect(0 0 0 0)
  overflow hidden

.svg-sprite
  display none

body
  font-family font-family-reg
  font-size 16px
  line-height normal
  color #2B2B2B
  display flex
  min-height 100vh
  flex-direction column
  height auto !important
  height 100vh
  font-weight 300
  background: #f7f7f7;
  &.modal-open
    overflow-y hidden!important
    width 100%
    position fixed
    height 100% !important
  &.fixed
    overflow-y hidden!important
    width 100%
    position fixed
    height 100% !important
        
.main-content
	flex-grow 1
	flex-shrink 0
.footer
	flex-shrink 0
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
  margin 0 0 15px
  font-weight 400
  letter-spacing 0px
  word-spacing 0px
  line-height normal
  &:last-child
    margin-bottom 0

.lh-0
  line-height 0

h1,.h1
  font-family font-family-md
  font-size 42px

h2,.h2
  color #000
  font-size 36px
  margin-bottom 50px
  font-family font-family-md
  text-align center
  +below(1030px)
    font-size 30px
  +below(769px)
    margin-bottom 38px
    font-size 24px
  +below(767px)
    margin-bottom 32px

h3,.h3
  font-family font-family-md
  font-size 24px

h4,.h4
  font-size 20px

h5,.h5
  font-size 18px

a
  color blue
  text-decoration none
  transition all 0.3s
  &:hover
    text-decoration none
    color #000

.total-price
  background #fff
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  font-family: 'Roboto', sans-serif;
  margin-bottom 21px
  .flex
    padding 31px 38px 37px 38px
  &__title
    font-weight 500
    line-height 21px
    font-size 16px
    text-transform uppercase
    letter-spacing 0.08em
    color #000
  &__value
    font-size 23px
    font-weight 500
    letter-spacing 0.05em
    color #000
  &--mobile
  	margin-top 70px
  	margin-left -40px
  	margin-right -40px
  	align-items center
  	padding-right 40px
  	padding-left 40px
  	justify-content space-between
  	padding-top 22px
  	padding-bottom 22px
  	.flex
  		width 41%
  		padding 0
  	.btn
  		height auto
  		width 304px
  		padding-top 15px
  		padding-bottom 16px
  		letter-spacing 0
  	+below(650px)
  		flex-direction column
  		padding-top 10px
  		padding-bottom 10px
  		.btn
  			width 100%
  		.flex
  			width 100%
  			margin-bottom 11px
  	+below(500px)
  		padding-left 10px
  		padding-right 10px
  		margin-top 79px
  		margin-bottom 0
  		.flex
  			margin-bottom 8px
.btn
  outline 0
  font-size 12px
  display inline-block
  text-decoration none
  transition all 0.3s
  font-family 'Roboto'
  font-weight 500
  text-align center
  padding 17px 15px
  border-radius 2px
  letter-spacing 0.1em
  text-transform uppercase
  color #fff
  background-color blue
  width 172px
  cursor pointer
  border 2px solid blue
  box-sizing border-box
  &:hover
    background-color dark-blue
    border-color dark-blue
    color #fff
  &--hover-shadow
    &:hover
      background-color dark-blue
      border-color dark-blue
      color #fff
      box-shadow: 0 3px 13px rgba(0, 134, 230, 0.58);
  &--round-history
    border-radius 50px
    padding-bottom 16px
    padding-top 16px
  &--bg-white
    background-color #fff
    color blue
  &--green
    background-color green
    border 0
    border none
    &:hover
      background-color dark-blue
      border-color dark-blue
  &:focus
    outline 0
  &--absolute
  	position absolute
  	left 0
  	bottom 0
  	margin-left -10px
  	margin-right -10px
  	width calc(100% + 20px) !important
  &--visible-mobile
    display none
    +below(500px)
      display block
      position fixed
      margin 0
      bottom 0
      left 0
      right 0
      z-index 100

  &--hidden-768
    +below(769px)
      display none !important
  &--reset
  	cursor default
  	&:hover
      box-shadow none

      box-shadow none
  &-wrap
    margin-top 30px
    +below(789px)
      margin-top 39px
    +below(500px)
      margin-top 21px
  &--submit
    margin-top 30px
    width 304px
  &--destination
    width 236px
    margin-top -4px
  &--full
    width 100%
    box-sizing border-box
  &--visible-500
    display none
    +below(500px)
      display block
  &--round
    border-radius 20px
  &--offers
    width 172px
    color #fff
  &--center
    margin 0 auto
    display block
  &--dropdown
    font-size 14px
    display block
    padding 25px 15px
    border-radius 0
    width auto
    &:hover
      background-color dark-blue
      color #fff
      box-shadow none
  &--big
    width 300px !important
    padding 0
    display flex
    align-items center
    justify-content center
    height 60px
    font-size 16px
    +below(480px)
      height 48px
  &--width-306
    width 306px
  &--big-green
    padding-top 28px
    padding-bottom 28px
    font-family: 'Roboto', sans-serif;
    font-weight 500
    font-size 14px
    letter-spacing 0.1em
    text-transform uppercase
    color #fff
  &--reverse
    border 2px solid blue
    box-sizing border-box
    background-color #fff
    color blue
    transition all .2s
    &:hover
      background-color dark-blue
      border-color dark-blue !important
  &--360
    width 360px
  &--center
    margin 0 auto
  &--play
    width 100px
    height 100px
    border-radius 50px
    background white
    display flex
    align-items center
    justify-content center
    border-color transparent
    .icon
      width 30px
      height 30px
      fill blue
      margin-left 10px
    +below(1030px)
      width 68px
      height 68px
      .icon
        width 16px
        height 19px
        margin-left 5px

    &:hover
      background white
      box-shadow none
      border-color transparent
      .icon
        transform scale(1.3)
        cursor pointer

    &:focus
      outline 0
  &--search
    cursor pointer
    text-transform normal
    width 265px
    height 78px
    font-size 18px
    letter-spacing 0.06em
    border-radius 2px
    display flex
    justify-content center
    align-items center
    &:hover
      box-shadow none
      text-decoration none
      background dark-blue
    +below(1030px)
      width 248px
    +below(600px)
      height 58px
      width 64px
    .icon
      width 26px
      height 26px
      fill-opacity 0
      padding-left 8px
  &--transparent
    background: transparent
    border: 2px solid blue
    color: blue
  &__ttl
    padding-top 2px
    padding-left 10px
    letter-spacing 0.06em
    text-transform lowercase
    &:first-letter
      text-transform uppercase
    +below(600px)
      display none

.position-fixed-top
	z-index 105
	position fixed
	top 0
	left 0
	right 0
	width 100%
	margin 0
.popup-gallery-container
  min-height: 100vh
  display flex
  justify-content space-between
  flex-direction column
  padding-top 107px
  padding-bottom 0
  +below(1300px)
    justify-content center
    padding-top 0
    margin-top 30px
  .popup-gallery-top
    display flex
    justify-content center
    flex-direction column
    .main-image-container
      display flex
      flex-direction row
      align-items center
      justify-content space-between
      .btn-popup
        width 48px
        height 48px
        border 2px solid rgba(255,255,255,.2)
        border-radius 50%
        box-sizing border-box
        display flex
        align-items center
        justify-content center
        cursor pointer
        transition all .3s
        margin-bottom 66px
        .icon
          width 21px
          height  21px
          stroke #fff
        &.next
          margin-right 74px
          +below(900px)
            margin-right 10px
          .icon
            transform rotate(180deg)
            margin-left 3px
        &.prev
          margin-left 74px
          .icon
            margin-right 3px
          +below(900px)
            margin-left 10px
        &:hover
          border-color #fff
      .main-image
        margin 0
        position relative
        text-align center
        display flex
        flex-direction column
        align-items center
        &__current
          height auto
          max-height 66vh
          max-width 70vw
          cursor pointer
        &__caption
          font-family: 'Roboto', sans-serif;
          font-weight 400
          font-size 18px
          letter-spacing 0.5px
          line-height 23px
          color #fff
          margin-top 23px
          margin-bottom 20px
          margin-left 6px
        &__line
          padding-right 5px
        &__number
          color #fff
          padding-right 5px
        &__last-number
          opacity 0.4
  .popup-gallery-bottom
    display flex
    flex-direction row
    margin-bottom 15px
    justify-content center
    .img-thumbnail + .img-thumbnail
      margin-left 10px
    .img-thumbnail
      width auto
      height 147px
      min-width 100px
      cursor pointer
      max-width 226px
      position relative
      opacity 0.6
      transition opacity .6s
      &:hover
        opacity 1
      +below(1433px)
        &:not(:nth-child(-n+5))
          display none
      +below(900px)
        &:not(:nth-child(-n+3))
          display none
.position-fixed-bottom
	width 100%
	z-index 105
	position fixed
	bottom 0
	left 0
	right 0
	margin 0
.input
  font-family 'Roboto'
  font-size 18px
  padding 9px 10px
  border none
  &--search
    height 78px
    border-radius 2px
    flex 1
    padding-left 51px
    padding-right 51px
    +below(600px)
      height 58px
      padding-left 15px
      padding-right 0
      flex-grow 1
    &::-webkit-input-placeholder
      color #B3B3B3
      font-size 16px
      font-weight 300
      font-family 'Roboto'
      height 100%
      line-height normal
      +below(400px)
        font-size 14px
    &::-moz-placeholder
      color #B3B3B3
      font-size 16px
      font-weight 300
      font-family 'Roboto'
      line-height 60px
      height 100%
      +below(600px)
        line-height 40px
      +below(400px)
        font-size 14px
    &:-ms-input-placeholder
      color #B3B3B3
      font-size 16px
      font-weight 300
      font-family 'Roboto'
      height 100%
      +below(400px)
        font-size 14px
    &:-moz-placeholder
      color #B3B3B3
      font-size 16px
      font-weight 300
      font-family 'Roboto'
      height 100%
      +below(400px)
        font-size 14px
    &::-webkit-input-placeholder { /* WebKit browsers */
      line-height: 1.5em;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      line-height: normal;
    }
    &::-moz-placeholder
      line-height: 60px;
      +below(600px)
        line-height 40px
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      line-height: normal;
    }
  &--activities-icon
    width 100%
    padding 15px 70px 15px 70px
    box-shadow 0px 4px 50px rgba(0, 0, 0, 0.05)
    background #fff url(../assets/images/selectize-search.svg) no-repeat
    background-position 33px 50%
    font-family 'Roboto', sans-serif
    font-size 14px
    font-weight 400
    height 60px !important
    &::-webkit-input-placeholder
      color #B3B3B3
      font-size 14px
      font-weight 300
      font-family 'Roboto'
      height 100%
      line-height normal
    &::-moz-placeholder
      color #B3B3B3
      font-size 14px
      font-weight 300
      font-family 'Roboto'
      line-height 30px
      height 100%
    &:-ms-input-placeholder
      color #B3B3B3
      font-size 14px
      font-weight 300
      font-family 'Roboto'
      height 100%
    &:-moz-placeholder
      color #B3B3B3
      font-size 14px
      font-weight 300
      font-family 'Roboto'
      height 100%
    &::-webkit-input-placeholder { /* WebKit browsers */
      line-height: 1.5em;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      line-height: normal;
    }
    &::-moz-placeholder
      line-height: 30px;
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      line-height: normal;
    }
  &--select
    flex-grow 1
    padding 7px
    appearance none
    outline none
    background #fffurl(../assets/images/icon-arrow-select.svg) no-repeat calc(100% - 25px)
    width 100%
  &-select-wrap
    position relative
    text-align left
    &__input
      &.focused
        box-shadow 0 0 10px rgba(0,0,0,0.1)
        background #fff url(../assets/images/icon-search.svg) no-repeat 10px center
        width calc(100% - 40px)
        padding-right 13px !important
        padding-left 33px !important
    .dropdown-menu
      width calc(100% - 40px)
      position absolute
      box-shadow 0 5px 10px rgba(0,0,0,0.1)
      top 100%!important
      left 0!important
      background #fff
      z-index 1
      max-height 400px
      overflow-y auto
      border-top 1px solid #d0d4d9
      .dropdown-item
        cursor pointer
        width: 100%
        background: transparent
        display: block
        -webkit-box-shadow: none
        box-shadow: none
        border: 0
        border-top: 1px solid #d0d4d9
        padding: 15px 28px 15px 56px
        text-align: left
        font-size: 14px
        font-family: Roboto
        font-weight: 300
        letter-spacing: 0px
        outline: none
        &:hover
          background #f7f7f7
        .ngb-highlight
          font-weight: 300
        &:first-child
          border-top 0
  &-select-wrap--phone
    .dropdown-menu
      max-height none
      text-align center
      width auto !important
      max-width calc(100vw - 190px)
      .dropdown-item
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      .number-wrap
        max-height 287px
        overflow-y auto
      +below(769px)
        max-width calc(100vw - 80px)
      +below(666px)
        max-width calc(100vw - 20px)



.is-mobile
  +above(700px)
    display: none

.list
  margin 0
  &--circle
    li
      margin 0
      padding-left 20px
      line-height 25px
      font-size 18px
      color #000
      position relative
      font-family font-family-reg
      &:before
        content ''
        width 10px
        height 10px
        display inline-block
        background blue
        border-radius 50%
        position absolute
        top 2px
        left 0
        margin-top 5px
      &:last-child
        padding-bottom 0
      +below(767px)
        font-size 16px
    li + li
      margin-top 28px
      +below(500px)
        margin-top 11px

  &--price
    margin 0
    margin-bottom 39px
    margin-top 23px
    padding-right 41px
    li
      margin 0
      display flex
      width 100%
      justify-content space-between
      align-items center
      border-bottom 1px solid rgba(0,0,0,.1)
      padding-bottom 7px
      .list__city
        line-height 25px
        font-size 18px
        color #000
        font-family font-family-reg
      .list__value
        font-size 18px
        line-height 20px
        color blue
        font-family: 'Roboto', sans-serif
        font-weight 400
    li + li
      margin-top 32px
    +below(767px)
      padding-right 15px
      padding-top 5px
      margin-bottom 29px
      li + li
        margin-top 33px
  &--navigation
    list-style none
    display flex
    margin 0
    width 100%
    align-items center
    justify-content center
    li + li
      margin-left 120px
      +below(1100px)
        margin-left auto
      +below(769px)
        margin-left 50px
      +below(766px)
        margin-left auto
    li
      position relative
      a
        font-size 19px
        +below(769px)
          font-size 16px
        color rgba(0,0,0,0.5)
        font-family font-family-md
        &:hover
          color #000
      &:after
        content ''
        display inline-block
        width 6px
        height 6px
        border-radius 50%
        background-color #000
        opacity .5
        vertical-align middle
        position absolute
        right -64px
        top 50%
        margin-top -3px
        +below(1100px)
          right -44px
        +below(834px)
          right -28px
        +below(769px)
          right -31px
      &:last-child
        &:after
          display none


.block-slider
  position relative
  margin 0 auto
  &.active
    .block-slider__btn
      display flex
  +below(1405px)
    width 855px
    .block-slider .list-city li
      margin 0 10px
  +below(1220px)
    width 570px
  +below(658px)
    width 265px
  .block-slider__btn
    position absolute
    top 88px
    z-index 20
    border none
    outline none
    background-color blue
    border-radius 50%
    width 59px
    height 59px
    align-items center
    justify-content center
    cursor pointer
    transition all .2s
    padding 0
    &[disabled]
      opacity 0.5
    &:focus
      outline none
    &:hover
      background-color dark-blue
    +below(1030px)
      top 73px
    +below(720px)
      width 38px
      height 38px
      top 50%
      transform translateY(-21px)
      margin-top -19px
    &.btn-next
      right -93px
      margin-left 4px
      .icon
        position absolute
        top 50%
        left 54%
        transform translate(-50%,-50%)
      +below(1030px)
        right -67px
      +below(769px)
        right -62px
      +below(767px)
        right -33px
      +below(720px)
        right -6px
        transform translateY(-21px)
    &.btn-prev
      left -93px
      margin-right 4px
      .icon
        position absolute
        top 50%
        left 54%
        transform translate(-50%,-50%)
      +below(1030px)
        left -67px
      +below(769px)
        left -58px
      +below(767px)
        left -33px
      +below(720px)
        left -6px
    .icon
      width 20px
      height 20px
      fill transparent
      +below(720px)
        width 13px
        height 13px
  
  .slider-wrapper
    position relative
    margin 0 auto
    overflow hidden !important
  .slider__position-item+.slider__position-item
    margin-left: calc((100% - (265px * 4)) / 3);
    +below(1405px)
      margin-left 10px
    +below(658px)
      margin-right 10px
  .slider__position-item
    width: 265px;
    height: 352px;
    flex-shrink: 0;
    a.slider__img
      display block
      width 100%
      height 100%
      position relative
      z-index 2
      background-size cover !important
      background-position center center !important
      transition all .2s
      &:after
        content ''
        position absolute
        width 100%
        height 100%
        display block
        background linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0)100%)
        top 0
        left 0
        z-index -1
        transition all .2s
      &:hover
        .slider__content
          opacity 1
        &:after
          background-color rgba(118,54,255,.9)
    +below(1405px)
      margin-left 10px
      margin-right 10px
    +below(658px)
      margin-left 0
      margin-right 0
  
  .slider
    margin 0
    margin 0 auto
    white-space nowrap
    position relative
    max-width 1120px
    text-align center
    font-size 0
    &__content
      position absolute
      width 100%
      height 100%
      padding 0 30px 37px 33px
      display flex
      align-items flex-end
      opacity 0
      transition opacity 0.4s
      .icon-star-dastination
        fill rgba(255, 255, 255, 0.3)
        width 12px
        height 12px
        margin-right 2px
      .icon-star-dastination--active
        fill #fff
    &__item
      position relative
      white-space normal
      width 100%
      height 100%
      background-size cover!important
    &__title
      font-family font-family-md
      font-size 20px
      line-height 28px
      color #fff
      position absolute
      top 26px
      left 33px
      text-transform uppercase
      z-index 3
      max-width calc(100% - 66px)
      word-break: break-all;
      +below(1030px)
        top 28px
        left 34px
        max-width calc(100% - 68px)
    &__travelers
      font-size 16px
      line-height 20px
      color #fff
      font-family 'Roboto', sans-serif
      padding-bottom 13px
      text-align left
    &__score
      font-size 18px
      line-height 20px
      color #fff
      font-family 'Roboto', sans-serif
      margin-left 12px
      margin-right 10px
    &__reviews
      font-size 12px
      line-height 17px
      color rgba(255, 255, 255, 0.5)
      font-family font-family-reg
      align-self flex-end
    li
      margin 0
      width 265px
      height 352px
      display inline-block
      background-color blue
      margin-right  calc((100% - 1080px) / 2)
      &:last-child
        margin-right 0
      +below(1405px)
        margin 0 10px
  &--destination
    .blog-content__bottom-wrap
      width 100%
    +below(769px)
      margin-bottom 77px !important
    +below(430px)
      margin-bottom 96px !important
    .block-slider__btn.btn-next
      +below(790px)
        right -55px
      +below(769px)
        width 45px
        height 45px
        top 50%
        margin-top -32px
        right -40px
        .icon
          width 17px
          height 14px
        .icon-arrow-next
          margin-left -2px
      +below(767px)
        width 38px
        height 38px
        top 50%
        margin-top -32px
        right -40px
        .icon
          width 15px
          height 11px
      +below(430px)
        right -6px
        transform translateY(11px)
    .block-slider__btn.btn-prev
      +below(790px)
        left -55px
      +below(769px)
        width 45px
        height 45px
        top 50%
        margin-top -32px
        left -40px
        .icon
          width 17px
          height 14px
        .icon-arrow-prev
          margin-left -3px
      +below(767px)
        width 38px
        height 38px
        top 50%
        margin-top -32px
        left -40px
        .icon
          width 15px
          height 11px
      +below(430px)
        left -6px
        transform translateY(11px)
    .list-city li
        width 360px
        height 316px

      .list-city__item
        margin-right calc((100% - (360px * 3)) / 3)
        +below(1173px)
          margin-right calc((100% - (265px * 2)) / 1)
    +below(1405px)
      width 960px
      .list-city li
        width 300px
    +below(1272px)
      width 640px
    +below(866px)
      width 640px
      .list-city li
        width 300px
    +below(769px)
      margin-bottom 75px
    +below(767px)
      width 289px
      .list-city li
        width 269px
        height 284px
  &--blog
    .list-city li
      width 360px
      min-height 460px
      border-radius: 5px;
      a
        border-radius 5px
      a:after
        border-radius 5px
      a:hover
        &:after
          background-color rgba(118,54,255,.9)
    .block-slider__btn
      top 50%
      margin-top -29px
    .list-city__content
      opacity 1
      z-index 2
      background-color transparent
      .list-city__desc
        font-family 'Roboto'
        font-size 24px
        letter-spacing 0.05em
        line-height 34px
        color #fff
    .blog-content
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      padding-top: 26px;
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 19px;
      align-items flex-start
      &__desc
        color: #fff;
        font-size: 24px;
        line-height: 34px;
        font-family: 'roboto';
        letter-spacing: 0.05em;
        text-align: left;
        font-weight: bold;
        display: block;
      &__title
        font-family font-family-md
        font-size 10px
        line-height 15px
        text-transform uppercase
        color #fff
        letter-spacing 0.05em
        background: #7636FF;
        border-radius: 3px;
        text-align: center;
        padding: 6px 10px;
      &__data
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.05em;
        display: block;
        text-align: left;
        color: #fff;
        font-weight: 400;
        margin-top: 19px;
    +below(1405px)
      .list-city li
        width 300px
    +below(1272px)
      width 760px
      .list-city li
        width 360px
    +below(1150px)
      width 712px
      .list-city li
        width 336px
    +below(900px)
      width 640px
      .list-city li
        width 300px
      .block-slider__btn
        margin-top -22px
    +below(769px)
      .block-slider__btn
        margin-top -22px
    +below(767px)
      .block-slider__btn
        margin-top -19px
    +below(750px)
      width 320px
      .list-city li
        width 300px
        min-height 350px
    +below(720px)
      .block-slider__btn
        transform translateY(0) !important
    +below(500px)
      width 289px
      .list-city li
        width 269px
      .blog-content__desc
        font-size 20px
.radio
  input
    position absolute
    opacity 0
    cursor pointer
  &--time
    margin-bottom 0
    input
      &:checked
        + .radio__label
          background blue
          color #fff
          .radio__ttl,.radio__time
            color #fff
          .radio__time
            span
              border-color rgba(255, 255, 255, 0.1)
    & ^[0]__label
      transition all 0.3s
      display block
      width auto
      width 65px
      padding 15px 5px
      text-align center
      position relative
      cursor pointer
      font-size 12px
      user-select none
      font-family 'Roboto'
      font-weight 300
      color #000
      margin 0
      +below(1165px)
        padding 15px 0
      +below(1023px)
        padding 15px 5px
      +below(1165px)
        padding 15px 0px
      &:last-child
        margin-bottom 0
    & ^[0]__ttl
      color: rgba(58,42,81,0.6);
      margin-bottom 8px
    & ^[0]__time
      color #000
      display block
      span
        display inline-block
        padding 2px 5px
        border-bottom 1px solid rgba(0, 0, 0, 0.1)
        &:last-child
          border-bottom 0
    span
      display block

.checkbox
  input
    position absolute
    opacity 0
    cursor pointer
  &--circle
    label
      display block
      position relative
      cursor pointer
      font-size 16px
      line-height 20px
      user-select none
      padding-left 30px
      font-family 'Roboto', sans-serif
      font-weight 400
      color #000
      margin-bottom 23px
      &:last-child
        margin-bottom 0
      input
        &:checked  ~ span
          border-color blue
          opacity 1
          &:after
            content ''
            display block
            width 6px
            height 6px
            background-color blue
            position absolute
            top 50%
            left 50%
            margin-top -3px
            margin-left -3px
            border-radius 50%
      span
        position absolute
        top 50%
        margin-top -8px
        left 0
        width 16px
        height 16px
        border 2px solid #251731
        border-radius 50%
        box-sizing border-box
        opacity .3

::-webkit-input-placeholder
  color #B3B3B3
  font-size 16px
  font-weight 300
  font-family 'Roboto'
  +below(400px)
    font-size 14px
::-moz-placeholder
  color #B3B3B3
  font-size 16px
  font-weight 300
  font-family 'Roboto'
  +below(400px)
    font-size 14px
:-ms-input-placeholder
  color #B3B3B3
  font-size 16px
  font-weight 300
  font-family 'Roboto'
  +below(400px)
    font-size 14px
:-moz-placeholder
  color #B3B3B3
  font-size 16px
  font-weight 300
  font-family 'Roboto'
  +below(400px)
    font-size 14px

.search-activities
	position relative
	display flex
	align-items center
	margin-bottom 28px
	.selectize-search
		position absolute
		left 47px
		top 50%
		margin-top -7px
		width 14px
		height 14px
		fill transparent

.sidebar-wrap
  position relative

.sidebar-wrap
	justify-content flex-start
	&--reverse
		flex-direction row-reverse
		justify-content  flex-end
		.sidebar-wrap__content
			margin-right 20px
		.sidebar
			margin-right 0
		+below(1020px)
			.sidebar-wrap__content
				width 100%
				margin-right 0
		.sidebar__item:first-child
			margin-top -18px
		.sidebar__item + .sidebar__item
			margin-top 22px
		.sidebar__item + .sidebar__item .icon-content
			margin-bottom 17px
	&--horizontal
		+below(1020px)
			flex-direction column

			.sidebar
				position relative
				height auto
				transform none
				order 2
				width 100% !important
				z-index 1
				&>:not(.is-visible-mobile)
					display block!important
				.sidebar__item
					height auto
					width 100%
					overflow-y: inherit;
					padding-bottom 0
					position relative
				.sidebar__item + .sidebar__item
					margin-top 22px
			.sidebar-wrap__content
				.activities
					padding-bottom 0
					margin-bottom 0
		+below(500px)
			.sidebar
				.sidebar__item + .sidebar__item
					margin-top 50px
		+below(480px)
			.sidebar .sidebar__item
				padding-top 0
  +below(1020px)
    width 100%
    max-width 100%
.sidebar
	width 361px
 box-sizing content-box
	margin-right 19px
	flex-shrink 0
	transition all 0.4s padding 0s right 0s
	.sidebar__item
		width 361px
 .filter-submit
   display none
   margin-top 20px
   margin-left 20px
   margin-right 20px
   width auto
   position relative
   +below(1020px)
    display block
   +below(480px)
    position fixed
    bottom 0
    margin 0px
    width 100%
    z-index 10
    left 0
    right 0
 .filter-mobile
    margin 0
    height 60px
    color #000
    border-bottom: 1px solid rgba(0,0,0,.1);
    position fixed
    z-index 1
    top 0
    left 0
    width 100%
    background #fff
    .icon
      stroke blue
    +below(480px)
      display flex
  &__close
    position fixed
    z-index 2
    top 18px
    right 10px
    cursor pointer
    display none
    .icon
      width 24px
      height 24px
      fill #000
    +below(480px)
      display block
      width 60px
      height 60px
      top 0
      right 0
      .icon
        margin-left 19px
        margin-top 19px

  .fixed-button
    display none
	+below(1165px)
		width 330px
		.sidebar__item
			width 330px
	+below(1020px)
    width 361px
    position fixed
    transform translateX(-361px)
    top 0
    left 0
    margin-right 0
    z-index 105
    height 100vh
    background #fff
    .sidebar__item
    	width 361px
     .scroll 
       height 100% 
       overflow-y auto 
       overflow-x hidden
      -webkit-overflow-scrolling: touch;
    &.open
      transform none
      
    +below(480px)
      box-sizing inherit
    .sidebar__item
      overflow-y auto
      margin-bottom 0
      height: 100%;
      display flex
      flex-direction column
      justify-content space-between
      padding-bottom 20px
      +below(480px)
        padding-top 60px
        width:  100vw;
        height:  100vh;
        position:  fixed;
        left:  0;
        top:  0;
        .scroll
          overflow scroll
          -webkit-overflow-scrolling: touch;
    > *:not(.is-visible-mobile)
      display none
    +below(480px)
      padding 0
      width 100%
      transform: translateX(-110%);
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 101;
      .fixed-button
        position fixed
        bottom: 0
        left 0
        z-index: 1;
  &--sm
    width 304px
    margin-right 0
    .sidebar__item
      width 304px
    +below(1165px)
      width 304px
      .sidebar__item
        width 304px
    &+.sidebar-wrap__content
      width calc(100% - 324px)
      margin-right 20px
      +below(1020px)
        margin-right 0
        width 100%
	&__ttl
		text-transform uppercase
		font-size 15px
		font-family font-family-md
	&__item:first-child
		margin-bottom 50px
		background-color #fff
	&__item:last-child
		.sidebar__ttl
			margin-top 63px

.review
  font-family Roboto, sans-serif
  margin-bottom 37px
  letter-spacing 0
  &:last-child
    margin-bottom 0
  &__ttl
    margin 20px 0 6px 0
    color blue
    font-weight 700
    font-size 18px
  &__content
    font-family font-family-reg
    font-size 14px
    line-height 20px
  p
    margin-bottom 15px
  &__name
    color grey
    font-size 16px
    margin-left 4px
    font-family font-family-reg

.form-group
  position: relative
  background-color transparent
  margin-bottom 0px
  flex-direction column
  margin-top 0px
  &__forgot
    font-size 12px
    letter-spacing 0.06em
    color #B3B3B3
    margin-left auto
  &__placeholder
    font-weight 400
    font-size 10px
    text-transform uppercase
    color #000
    opacity .8
    letter-spacing 1px
    width 100px
    margin-top 2px
    white-space nowrap
    font-family Roboto
    padding-left 18px
    text-align left
    + *
      flex-grow 1
  .booking-placeholder
    width 118px
    white-space nowrap
  &__block
    border-bottom 1px solid #D0D4D9
    +below(600px)
      padding-left: 0
      padding-right: 0
  input
    flex-grow 1
    font-weight 300
    font-family Roboto
    line-height 20px
    font-size 14px
    color #000
    border none
    background-color transparent
    padding 17px 28px 17px 28px
  &__btn-show-password
    width 24px
    height 24px
    cursor pointer
    opacity .3
    transition all .2s
    position absolute
    top 14px
    z-index 1
    right 25px
    &:hover
      opacity 1
    .icon-show-password
      width 24px
      height 24px
      fill none
  &.error-input
    .form-group__block
      border-bottom 1px solid error-color
  &--long
    width 100%
    .form-group__placeholder
      width 135px
    input
      padding 17px 28px 17px 56px
    .input-select-wrap
      &__input
        &.focused
          background #fff url(../assets/images/icon-search.svg) no-repeat 17px !important
app-checkout-wrapper
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none; 
  margin: 0; 
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
  background transparent!important
textarea
  resize none
.modal .form-group
  margin-bottom 10px
  margin-top 2px

.error, .tooltip-inner
  font-size 12px
  letter-spacing 0.06em
  color error-color
  flex 1
  margin 10px 0 0

.checkbox-wrap
  .error-wrap
    padding 0
    margin-top 10px

.error-wrap
  transition all .3s
  padding 0 18px
  margin-bottom 2px
  .error
    text-align: left
  > *
    margin-top 5px

+below(1000px)
  .form-group__block
    padding-left 0
    padding-right 0
  .error-wrap
    padding-left: 0

.form
  &__ttl
    margin-bottom 18px
    display flex
    justify-content center
  &__section
    width 100%
    &:not(:last-child)
      margin-bottom 70px
      +below(600px)
        margin-bottom: 24px
  &--signup
    padding-top 24px
    display flex
    flex-direction column
    align-items center
    max-width 550px
    margin auto
    +below(600px)
      padding-top: 10px
    .form-group
      &__placeholder
        +below(600px)
          width: 130px
        +below(370px)
          width: 90px
    .form__ttl
      margin-bottom 20px

    .additional-info
      +above(600px)
        .form__ttl
          margin-bottom 28px

    .checkbox-wrap
      margin-left: 18px
      +below(600px)
        margin-left: 0

    .btn--submit
      text-transform: none
      font-size: 11px
      letter-spacing: 1.2px

      +below(600px)
        margin-top: 50px


  .icon-signup-lock
    width 22px
    height 22px
    fill-opacity 0
    margin 4px 9px 0 0
    +below(600px)
      margin-top: 0

  .icon-user-form
    width 20px
    height 20px
    fill-opacity 0
    margin 5px 10px 0 0
    +below(600px)
      margin-top: 0
.checkout-nav
	background-color #fff
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
	padding-top 20px
	padding-bottom 20px
	z-index 2
	position relative
	&__mobile
		display none !important
	&__item
		& + &
			margin-left 107px
			+below(840px)
				margin-left 64px
			+below(744px)
				margin-left 30px
		font-family font-family-reg
		font-size 16px
		line-height 22px
		color rgba(0,0,0,.5)
		display flex
		align-items center
		.icon

		span
			display inline-block
			color rgba(0,0,0,.5)
			border 2px solid rgba(0,0,0,.1)
			box-sizing border-box
			border-radius 50%
			background-color transparent
			width 40px
			height 40px
			line-height 37px
			text-align center
			margin-right 14px
			position relative
			font-family font-family-md
			font-size 16px
		&.active
			color #000
			span
				color #fff
				border-color blue
				background-color blue
		&.complete
			span
				display flex
				align-items center
				justify-content center
			.icon
				border 0
				width 10px
				height 14px
				fill transparent
				margin-right 0
	+below(769px)
		padding-bottom 18px
		padding-top 18px
	+below(700px)
		.container
			padding-right 15px
			padding-left 15px
		.checkout-nav__mobile
			justify-content center
			width 100%
			.checkout-nav__item
				span
					margin-right 0
	+below(500px)
		padding-top 8px
		padding-bottom 8px
		.checkout-nav__mobile
			justify-content space-between

.price-wrap
	width 100%

.total-price--sm
	box-shadow none
	.flex
		padding-top: 24px;
		padding-left: 22px;
		padding-right: 27px;
		padding-bottom: 19px;
	.total-price__value
		color blue
		font-family 'Roboto', sans-serif
		font-weight 400
		line-height 20px
		font-size 24px
	.total-price__title
		font-family 'Roboto', sans-serif
		font-weight bold
		font-size 18px
		line-height 23px
		letter-spacing 0.05em
		text-transform none
.booking-details
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
	background #fff
	padding-top 25px
	padding-left 75px
	padding-right 75px
	padding-bottom 44px
	&__title
		font-size 18px
		color #000
		line-height 25px
		font-family font-family-bold
		margin-top 17px
		margin-bottom 40px
	&__desc
		font-family font-family-reg
		font-size 13px
		line-height 21px
		color blue
		letter-spacing 0.01em
		margin-bottom 20px
		padding-right 70px
		margin-bottom 23px
.checkbox-wrap
  font-size 13px
  letter-spacing .01em
  .check-wrap__container
    margin-bottom 0
.options-counter
  display flex
  margin-top 12px

  &__items
    display flex
    font-family: 'Roboto', sans-serif;
    font-weight 500
    font-size 15px
    color #fff
    letter-spacing 0.01em
    margin-right 53px
    &:nth-child(2)
      margin-right 63px
      +below(769px)
        margin-right 35px
    &:last-child
      margin-right 0
    +below(769px)
      margin-right 31px

  .icon
    width 20px
    height 20px
    fill transparent
    stroke-opacity 0.3
    margin-right 10px
    &.clock
      margin-right 5px
    &-language
      margin-right 11px
.reviews
	margin-right 14px
	&__desc
		font-family: 'Roboto', sans-serif;
		line-height 21px
		font-size 14px
		font-weight 400
		color #fff
	&__star
		display flex
		margin-bottom 6px
		.active
			fill #fff !important
.activities-item-position
	border-top-left-radius 5px
	background-color #fff
	border-top-right-radius 5px
	max-width 360px
	width 100%
	margin-bottom 27px
	margin-right calc((100% - (360px * 3)) / 2)
	box-shadow 0px 4px 25px rgba(0, 0, 0, 0.1)
	&:hover
		box-shadow: 0 4px 25px rgba(0,0,0,.2);
		.activities__item:hover
			box-shadow none
	&:nth-child(3n)
		margin-right 0
	&:last-child
		margin-right 0
	+below(1150px)
		max-width 336px
		margin 0 10px 19px 10px
		&:nth-child(3n)
			margin-right 10px
	+below(767px)
		max-width 300px
		margin-right 0 !important
		margin-left 0
		margin-bottom 10px
	&--horizontal
		max-width 100%
		margin-bottom 23px
		+below(1150px)
			margin-left 0
		+below(720px)
			width: 350px;
			margin-right: auto!important;
			margin-left: auto;
		+below(425px)
			width 300px
			margin-bottom 10px
			.activities__content-header
				margin-right  50px !important
	&--sm
		max-width: 303px;
		margin-right: calc((100% - 909px) / 2);
		&:nth-child(3n)
			margin-right 0
		+below(1150px)
			width 303px
			margin: 0 10px 19px;
			&:not(:nth-child(-n+2))
				display none
		+below(767px)
			margin: 0
			width 303px
			&:not(:first-child)
				display none
	&--mid
		+below(1150px)
			&:not(:nth-child(-n+2))
				display none
		+below(767px)
			&:not(:nth-child(-n+1))
				display none
.check-wrap
	margin-bottom 16px
	margin-top 26px
	.textarea-wrap
		max-height 0
		overflow hidden
		transition all 1s ease-in-out
	&.visible-textarea
		.textarea-wrap
			max-height 300px
	label
		margin-bottom 12px
	textarea
		width 100%
		font-size 13px
		line-height 21px
		resize none
		min-height 106px
	textarea::placeholder
		font-family font-family-reg
		font-size 13px
		color rgba(0,0,0,.5)
		line-height 21px
	&__textarea
		border 1px solid #d0d4d9
		padding 13px 31px 10px 31px
		border-radius 2px
	&__container
		position relative
		padding-left 35px
		cursor pointer
		font-size 13px
		line-height 21px
		letter-spacing 0.01em
		color #000
		user-select none
		font-family font-family-reg
		input
			position absolute
			opacity 0
			cursor pointer
			&:checked ~ span:after
				opacity 1
			&:checked ~ span
				background-color blue
				border-color blue

		span
			margin-top -1px
			position absolute
			top 50%
			transform: translateY(-50%)
			left 0
			height 16px
			width 16px
			background-color transparent
			border 2px solid rgba(0,0,0,.2)
			box-sizing border-box
			border-radius 2px
			transition all .3s
			&:hover
				background-color blue
				border-color blue
			&:after
				content ''
				position absolute
				opacity 0
				left 4px
				top 0px
				width 5px
				height 10px
				border solid #fff
				border-width 0 2px 2px 0
				transform rotate(45deg)
				transition all .3s

.icon-score
  display flex
  align-items center
  &__star
    display flex
    margin-left 5px
  &__score
    font-family: 'Roboto', sans-serif;
    font-size 18px
    line-height 20px
    color #2B2B2B
    font-weight 400
    margin-right 8px

.card-comment
	background-color #fff
	padding 24px 34px 33px 34px
	+below(769px)
		padding-left 33px
		padding-right 23px
	&__item-image
		padding 6px 21px
		background #fff
		border 1px solid #D0D4D9
		box-sizing border-box
		border-radius 2px
		min-height 34px
		height auto !important
		height 34px
		display flex
		align-items center
		justify-content center
		padding-left 5px
		padding-right 5px
		width calc(25% - 5px)
		img
			height 20px
			width 70px
   
	&--sm
		padding 20px 10px 27px 20px
		box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
		border-radius 2px
		.card-comment__title
			margin 0 !important
		.card-comment__name
			font-family: 'Roboto', sans-serif;
			font-size 14px
			line-height 21px
			color #000
			font-weight 500
			margin-right 10px
		.card-comment__place
			font-family: 'Roboto', sans-serif;
			font-size 14px
			line-height 21px
			color rgba(0,0,0,.3)
			font-weight 400
		& + &
			margin-top 17px
		+below(769px)
			& + &
				margin-top 21px
		+below(500px)
			& + &
				margin-top 40px
		+below(700px)
			padding-top 20px !important
			padding-bottom 30px !important
		+below(425px)
			padding-left 0px !important
			padding-right 0px !important
			padding-top 0px !important
			padding-bottom 0px !important
			.card-comment__caption
				padding-right 0 !important
			.icon-score
				margin-top 25px !important
				.icon-score__score
					margin-left 4px !important
  .card-comment__content
    font-size 12px
    font-family: 'Roboto', sans-serif;
    line-height 17px
    color rgba(0,0,0,.7)
    font-weight 400
    margin-top 14px
  .icon-score
    margin-top 12px
  .icon-score__star
    margin-left 0
	&__img
		width 72px
		height 72px
		border-radius 50%
		background-color #F2C94C
	.icon-people
		width 36px
		height 24px
		fill #fff
	&__title
		margin-top 11px
		margin-left 23px
	&__name
		display inline-block
		font-family: 'Roboto', sans-serif;
		font-weight 500
		color #000
		line-height 21px
		font-size 18px
	&__place
		display inline-block
		font-family: 'Roboto', sans-serif;
		font-weight 400
		color rgba(0,0,0,.3)
		line-height 21px
		font-size 14px
	&__subtitle
		font-family: 'Roboto', sans-serif;
		font-size 16px
		line-height 21px
		color #000
		margin-top 4px
		text-align left
	&__caption-right
		margin-top 12px
		margin-right 53px
		+below(769px)
			margin-right 0
			margin-top 10px
	&__desc
		margin-top 23px
		font-family: 'Roboto', sans-serif;
		font-size 16px
		line-height 21px
		color rgba(0,0,0,.7)
		font-weight 400
		text-align left
		+below(769px)
			margin-top 25px
	&__data
		font-family: 'Roboto', sans-serif;
		font-size 14px
		line-height 21px
		color rgba(0,0,0,.3)
		font-weight 400
		margin-top 10px
		text-align left
		+below(769px)
			margin-top 15px
	+below(700px)
		padding-right 3px
		padding-left 8px
		margin-left -10px
		margin-right -10px
		padding-top 17px
		padding-bottom 5px
		.card-comment__img
			flex-shrink 0
			width 64px
			height 64px
		.card-comment__title
			margin-left 14px
			margin-top 4px
			.card-comment__name
				font-size 14px
				text-align left
				display block
			.card-comment__place
				display block
				line-height 18px
				text-align left
			.card-comment__subtitle
				font-size 14px
				margin-top 0px
		.card-comment__caption-right
			margin-top 2px
		.icon-score__score
			margin-right 0
		.icon-star + .icon-star
			display none
		&--sm
			.icon-star + .icon-star
				display block
	&--payment-mobile
		+below(1020px)
			display flex
			align-items center
			.mt-18
				margin-top 0
			.card-comment__item-image
				padding-left 10px
				padding-right 10px
			.card-comment__item-image + .card-comment__item-image
				margin-left 10px
				
		+below(425px)
			.card-comment__item-image
				padding-left 21px
				padding-right 21px
			.card-comment__item-image + .card-comment__item-image
				margin-left 0
			.mt-18
				width 100%
.card-comment +	.btn
	margin-top 23px
	+below(769px)
		margin-top 16px


.activity-directions
  .icon
    fill blue
    height 16px
    width 16px
    margin-left 45px
  &__row
    display flex
    justify-content space-between
    padding-bottom 14px
    border-bottom 1px solid rgba(0, 0, 0, 0.1)
    padding-top 10px
    align-items center
    &:first-child
      padding-top 0
  &__from
    font-size 18px
    line-height 22px
    color #000
    font-family font-family-reg
    flex-basis 100px
  &__to
    font-size 18px
    line-height 22px
    color #000
    font-family font-family-reg
    flex-basis 100px
    margin-left 49px
  &__price
    font-family: 'Roboto', sans-serif;
    line-height 20px
    font-size 18px
    color blue
  .btn
    margin-top 30px
.gallery-wrap
  width 740px
  height 503px
  .gallery
    width 100%
    height 100%
    display flex
    flex-direction column
    &__top
      position relative
      height 75%
    &__bottom
      height calc(25% - 23px)
      margin-top 23px
      margin-bottom 0
      width 100%
      position relative
      display inline-block
    &__thumbnails-wrapper
      width 100%
      height 100%
      position absolute
      overflow hidden
    &__thumbnails
      width 100%
      height 100%
      position absolute
      left 0
    &__thumbnails-image
      width calc(25% - 14px)
      height calc(100% - 0px)
      background-size cover !important
      background-position center !important
      background-repeat no-repeat !important
      position absolute
      top calc(0% + 0px)
      border-radius 2px
    &__image-wrapper
      width 100%
      height 100%
      background-color blue
      position absolute
      top 0
      left 0
      overflow hidden
      border-radius 2px
    &__image
      height 100%
      width 100%
      position absolute
      top 0
      background-position center !important
      background-repeat no-repeat !important
      z-index 10
      background-size cover !important
    &__btn
      z-index 11
      width 28px
      height 28px
      border-radius 50%
      background-color #fff
      position absolute
      top 50%
      transform translateY(-50%)
      display flex
      align-items center
      justify-content center
      transition all .4s
      cursor pointer
      &:hover
        background-color blue
        .icon
          stroke #fff
      .icon
        width 10px
        height 10px
        fill transparent
        stroke #0086E6
        stroke-width 2
        transition all .4s
      &.next
        right 16px
        .icon
          transform rotate(180deg)
          margin-right -1px
        +below(500px)
        	right 0px
      &.prev
        left 13px
        .icon
          margin-right 1px
        +below(500px)
        	left 0
    &__popup-photos
      font-size 30px
      color #fff
      line-height 20px
      font-family font-family-reg
      position absolute
      bottom 11px
      left 13px
      z-index 2
      span
        font-size 14px
        letter-spacing 0.5px
    .btn-popup
      &:after
        content ''
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73))
        width 100%
        height 100%
        display block
        position absolute
        z-index 0
.form-checkout
	&__row
		width 100%
		display flex
		justify-content space-between
		flex-wrap wrap
	.form-checkout__row + .form-checkout__row
		margin-top 29px
	&__item
		width 50%
		label
			font-size 10px
			letter-spacing 1px
			color rgba(0,0,0,.4)
			text-transform uppercase
			font-family 'Roboto', sans-serif
			font-weight 400
			margin-bottom 5px
		input
			padding 10px 16px 10px 16px
			border 1px solid #D0D4D9
			border-radius 2px
			font-family 'Roboto', sans-serif
			font-weight 400
			font-size 14px
			color #000
			line-height 20px
			-moz-appearance: none;
			-webkit-appearance: none;
			width 100%
		.input-select-wrap
			width 100%
			select
				border 1px solid #d0d4d9 !important
			input
				width 100%
				padding: 10px 35px 10px 16px;
			.dropdown-menu
				width 100%
				border: 1px solid #d0d4d9;
				top calc(100% - 1px) !important
			.input-select-wrap__input.focused
				box-shadow none
				border 1px solid #d0d4d9 !important
			.dropdown-item
				padding: 10px 16px 10px 16px;
				font-family: Roboto,sans-serif;
				font-weight: 400;
				font-size: 14px;
				color: #000;
				line-height: 20px;
				span
					font-weight 400 !important
  .input-number-wrap
    display flex
    justify-content space-between
    align-items center
    .input-select-wrap
      width calc(40% - 10px)
    .re
      width calc(60% - 10px)
  textarea
    resize: none;
    padding: 10px 16px;
    border 1px solid #D0D4D9
    border-radius 2px
    font-family 'Roboto', sans-serif
    font-weight 400
    font-size 14px
    color #000
    line-height 20px
    -moz-appearance: none;
    -webkit-appearance: none;
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
input[type='number'] {
  -moz-appearance: textfield;
}

.btn-payment
	width calc(50% - 10px)
	border 1px solid #D0D4D9
	background #fff
	box-sizing border-box
	border-radius 2px
	min-height 126px
	transition all .3s
	overflow hidden
	position relative
	.xcomponent-component-frame
		opacity: 0.001 !important;
		transform: scale(10);
		transition all 0s
	ngx-paypal
		position absolute !important
		opacity 0.001 !important
	&:hover
		border-color blue
	&.active
		border-color blue
	img
		width 80px
	&__title
		font-family font-family-reg
		color #000
		line-height 22px
		margin-top 14px
		text-align: center;
	&__recommended
		color blue
		font-family font-family-reg
		font-size 12px
		line-height 17px
		margin-top 2px
.visible-md
	display none
	+below(769px)
		display block
.hidden-1020
	+below(1020px)
		display none !important
.hidden-md
	+below(769px)
		display none !important
.visible-sm
	+below(700px)
		display flex !important
.hidden-sm
	+below(700px)
		display none !important
#hide-500
  +below(500px)
    display none
.header-fixed-pt
	padding-top 72px
	position relative 
	+below(1690px)
		padding-top 57px
	+below(769px)
		padding-top 61px
	+below(720px)
		padding-top 48px
#hide-1020
	+below(1020px)
		display none !important
#hide-900
  +below(900px)
    display none !important
#visible-1020
	display none
	+below(1020px)
		display flex !important
#visible-900
  display none
  +below(900px)
    display block !important
#visible-b-1020
	display none
	+below(1020px)
		display block !important
.lt-06
  letter-spacing 0.06em !important
.facebook-btn, .google-btn
  transition all .2s
  &:hover
    background-color dark-blue
.four-options
  justify-content space-between
  margin-top 123px
  &__value
    font-family font-family-md
    color: #fff;
    font-size: 42px;
    line-height: 37px;
    span
      font-family font-family-md
      font-size: 24px;
      line-height: 0;
  &__desc
    font-family: Roboto,sans-serif;
    font-weight: 500;
    letter-spacing: .01em;
    font-size: 15px;
    color: #fff;
    max-width: 85px;
    margin-left: 13px;

.four-column
  justify-content center
  &__item
    max-width: 265px;
    width: 100%;
    margin-bottom: 39px;
    &+&
      margin-left: calc((100% - 1060px)/3);
    &:nth-child(5n)
      margin-left 0
    .four-column__image
      height: 268px;
      width: 100%;
      background-position: center !important;
      background-size: cover !important;
    .four-column__name
      font-family: 'Roboto';
      font-weight: bold;
      color: #000;
      line-height: 26px;
      font-size: 20px;
      letter-spacing: 0.5px;
      margin-top: 16px;
    .four-column__profession
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: rgba(0,0,0,.5);
      letter-spacing: 0.5px;
      margin-top: 4px;
  +below(1140px)
    &__item
      &+&
        margin-left 10px
      margin 0 10px 39px 10px
      &:nth-child(5n)
        margin-left 10px
  +below(935px)
    &__item
      max-width 335px
  +below(850px)
    &__item
      margin-left 0
      margin-right 0
      margin-right calc(100% - 670px)
      &+&
        margin-left 0
      &:nth-child(3n)
        margin-left 0
      &:nth-child(5n)
        margin-left 0
      &:nth-child(2n)
        margin-right 0
      &:last-child
        margin-right 0
  +below(765px)
    flex-direction column
    align-items center
    &__item
      margin-right 0
      margin 0
      & + &
        margin-top 44px
.categories
  &__item
    font-family font-family-md
    border 2px solid blue
    color blue
    padding: 10px 15px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.05em;
    margin-bottom: 13px;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 3px;
    margin-left: 8px;
    margin-right: 8px
    border 1px solid blue
    transition all .2s
    &:hover
      background-color dark-blue
      border-color dark-blue
      color #fff
  +below(900px)
    &__item
      margin-bottom 16px
    &__item:not(:nth-child(-n+12))
      display none
  +below(700px)
    margin-bottom 10px
    &__item:not(:nth-child(-n+6))
      display none
.view-more
  color blue
  font-family font-family-bold
  font-size 14px
  letter-spacing 0.15em
  text-transform uppercase
  padding-top: 10px;
  padding-right: 31px;
  position: relative;
  display: inline-block;
  cursor pointer
  .icon
    fill blue
    width 12px
    height 8px
    position: absolute;
    top: 50%;
    right: 11px;
  +below(700px)
    padding-right 15px
    .icon
      right -5px
.new-news
  &__item + &__item
    margin-top 18px
  &__image
    width: 171px;
    height: 96px;
    background-size: cover !important;
    background-position: center center !important;
    flex-shrink: 0;
  &__content
    padding-left: 21px;
    padding-top: 9px;
    padding-bottom: 4px;
    flex-grow 1
    flex-basis 0
  &__title
    font-family: 'roboto';
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.5px;
    color #000
    transition all .2s
    &:hover
      color blue
  &__data
    font-size 12px
    line-height 17px
    color rgba(0,0,0,.3)
    font-family font-family-reg
.article__list--list-circle
  li
    font-family font-family-reg
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #000;
    position: relative;
    padding-left 22px
    &:before
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      width: 6px;
      height: 6px;
      background: #000;
      border-radius: 50%;
  li + li
    margin-top 20px !important
.article__list--list-number
  counter-reset: li;
  padding: 0;
  list-style: none;
  li
    font-family font-family-reg
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #000;
    position: relative;
    padding-left 22px
    &:before
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: 4px;
      left: 0;
      display block
      color #000
      font-family 'roboto'
      font-size 14px
      letter-spacing 0.5px
      font-weight 500
      line-height 18px
  li + li
    margin-top 20px !important
.bg-search-right
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  background: #fff url(../assets/images/selectize-search.svg) no-repeat;
  background-position: 97% 50%;
  background-size: 24px;
  border-radius: 2px;
  border: none;
  padding: 15px 30px;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 20px;
  max-width: 100%;
  width: 100%;
  padding-right 42px
  font-weight 400
  &::-webkit-input-placeholder
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 20px;
    color: #B3B3B3;
  &::-moz-placeholder
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 20px;
    color: #B3B3B3;
  &:-ms-input-placeholder
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 20px;
    color: #B3B3B3;
  &:-moz-placeholder
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 20px;
    color: #B3B3B3;

.share
  font-family font-family-md
  line-height 24px
  font-size 14px
  letter-spacing 1px
  text-transform uppercase
  color #000
  &__icon
    margin-left 41px
    .icon
      width 16px
      height 16px
  &__item
    width 40px
    height 40px
    transition all .2s
    &:hover
      background-color dark-blue
    .icon
      fill #fff
    &--google
      background #DD4B39
    &--fb
      background #3E578C
      .icon
        height 15px
    &--twitter
      background-color #00ACEE
    &--pinterest
      background-color #C92228
    &--linkedin
      background-color #0E76A8
    & + &
      margin-left 8px
.pagination
  border-top 1px solid rgba(0,0,0,.2)
  padding-top 26px
  padding-bottom 21px
  padding-bottom: 43px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  &__item
    font-family font-family-md
    line-height 24px
    font-size 12px
    letter-spacing 1px
    text-transform uppercase
    color rgba(0,0,0,.3)
    position relative
    font-weight 400
    cursor pointer
    flex-grow 1
    &+&
      margin-left 20px
    .new-news
      margin-top 20px
      &__item
      	flex-basis 100%
      .new-news__title
        text-transform initial
    .icon
      width 21px
      height 10px
      fill #000
      fill-opacity 0.3
    &--prev
      transition all .3s
      &:hover
        color #000
        .icon
          fill-opacity 1
      .icon
        margin-right 15px

    &--next
      transition all .3s
      &:hover
        color #000
        .icon
          fill-opacity 1
      .icon
        transform rotate(180deg)
        margin-left 15px
  +below(900px)
    padding-bottom 26px
.section
  padding 40px 0
  &--reviews
    padding-top 64px
    padding-bottom 148px
    +below(1020px)
      padding-top: 40px;
      padding-bottom: 72px;
    +below(650px)
      padding-top 0
  &--full-card
    padding-top 25px
    padding-bottom 146px
    +below(1020px)
      padding-bottom 64px
    +below(730px)
      padding-top 0
      padding-bottom 42px
  &--rate
    padding-top: 0;
    padding-bottom 89px
    +below(1020px)
      padding-top: 0;
      padding-bottom: 79px;
    +below(650px)
      padding-top 0
      padding-bottom 49px
  &--contacts
    padding-top 72px
    padding-bottom 107px
    +below(1020px)
      padding-top 24px
      padding-bottom 60px
    +below(769px)
      padding-top 39px
    +below(500px)
      padding-top 0
      padding-bottom 46px
  &--grey
    background: #f7f7f7;
  &--features
    background-image #fff url(../assets/images/activities_bg.jpg)
    background-size cover
    background-position 50% 500px
    background-repeat no-repeat
    padding-top 106px
    padding-bottom 120px
    +below(1030px)
      padding-top 78px
      padding-bottom 146px
    +below(769px)
      padding-bottom 106px
      padding-top 66px

    +below(767px)
      padding-top 71px
      padding-bottom 98px
    +below(430px)
      padding-top 34px
      padding-bottom 120px
    .container
      +below(1030px)
        padding 0
    &--destination
      +below(430px)
        padding-top 34px
        padding-bottom 120px
        .h2
          margin-bottom 47px
        .activities__item
          margin-bottom 8px
  &--city
    background #fff url(../assets/images/activities_bg.jpg)
    background-size cover
    background-position 50% 500px
    background-repeat no-repeat
    .outside[_nghost-c2]
      opacity .8
    padding-bottom 66px
    .activities-btn
      margin-top 40px
    +below(769px)
      padding-top 36px
      padding-left 20px
      padding-right 20px
      padding-bottom 106px
    +below(655px)
      padding-right 0
      padding-left 0
      .container
        padding-right 0
        padding-left 0
    +below(425px)
      padding-top 11px
      padding-bottom 84px
      .mb-25
        margin-left 10px
        margin-right 10px
  &--policy
    padding-top 100px
    padding-bottom 100px
    h1
      font-size 36px
      line-height 46px
      font-family 'Roboto'
      font-weight bold
      letter-spacing 0.5px
      margin-bottom 41px
      color #000
    +below(1200px)
      .container
        padding-left 40px
        padding-right 40px
    +below(769px)
      padding-top 52px
      padding-bottom 52px
      h1
        font-size 30px
        margin-bottom 10px
    +below(600px)
      padding-top 38px
      padding-bottom 38px
      h1
        font-size 24px
        line-height 33px
        margin-bottom 11px
      .container
        padding-left 8px
        padding-right 8px
  &--error
    padding-top 77px
    padding-bottom 113px
    +below(769px)
      padding-top 47px
      padding-bottom 123px
    +below(500px)
      padding-bottom 75px
  &--about
    padding-top: 53px;
    padding-bottom 132px
    +below(850px)
      padding-bottom 8px
    +below(767px)
      padding-top 31px
      padding-bottom 69px
  &--activity
    padding 27px 0 139px
    +below(769px)
      padding-top 0px
      padding-bottom 82px
  &--article
    padding-top 44px
    padding-bottom 87px
    +below(900px)
      padding-top 33px
      padding-bottom 12px
    +below(650px)
      padding-top 0
  &--blog
    padding-top 32px
    padding-bottom 125px
    +below(900px)
      padding-top 19px
      padding-bottom 57px
    +below(650px)
      padding-top 15px
      padding-bottom 30px
  &--checkout
    padding-top 40px
    padding-bottom 68px
    +below(1020px)
      padding-top 24px
      padding-bottom 0
    +below(500px)
      padding-top 28px
  &--faq
    padding-top: 75px;
    padding-bottom 140px
    +below(769px)
      padding-top 53px
      padding-bottom 118px
    +below(500px)
      padding-top 24px
      padding-bottom 70px
  &--payment
    padding-top 32px
    background-color: #f7f7f7;
    +below(769px)
      padding-top 22px
    +below(500px)
      padding-bottom 66px
  &--personal
    padding-bottom 126px
    padding-top 32px
    +below(769px)
      padding-top 0
  &--search
    padding-top 85px
    +below(934px)
      padding-top 55px
    +below(600px)
      padding-top 38px
  &--search-destinations
    padding 37px 0 161px 0
    +below(900px)
      padding-bottom 120px
  &--signup
    padding-top 148px
    padding-bottom 205px
    +below(767px)
      padding-top: 123px
      padding-bottom: 45px
    +below(600px)
      padding-top 87px
      padding-bottom 34px
  &--thank-you
    padding-bottom 84px
    padding-top 65px
    +below(1020px)
      padding-bottom 60px
      padding-top 0
    +below(600px)
      padding-bottom 0
  &--faq-content
    padding-top 40px
    padding-bottom 85px
    +below(1020px)
      padding-top 25px
      padding-bottom 91px
    +below(500px)
      padding-top 0
      padding-bottom 63px
  &--dashboard
    padding-top 64px
    padding-bottom 129px
    +below(1020px)
      padding-top 40px
      padding-bottom 40px
    +below(650px)
      padding-top 0
      padding-bottom 20px
    +below(500px)
      padding-bottom 15px
ul.list__roboto
  margin-bottom 0
  li
    position relative
    padding-left 20px
    margin-top 0
    font-family: 'Roboto',sans-serif;
    font-size 16px
    line-height 21px
    color rgba(0,0,0,.7)
    &:before
      content ''
      display inline-block
      width 5px
      height 5px
      background-color #000
      border-radius 50%
      position absolute
      top 9px
      margin-top -2px
      left 0
  li + li
    margin-top 20px
ol
  list-style: none;
  counter-reset: li;
  margin-left 0
  padding-left 0
  li
    .list__header
      font-family 'Roboto'
      font-weight 500
      line-height 31px
      font-size 24px
      letter-spacing 0.5px
      color #000
      display inline-block
      text-indent 30px
      +below(900px)
        font-size 20px
        text-indent 22px
      +below(600px)
        line-height 28px
    p
      font-family font-family-reg
      font-size 14px
      line-height 24px
      letter-spacing 1px
      color #000
      margin-top 18px
      margin-bottom 0
    p + p
      margin-top 25px
      margin-bottom 0
    ol
      margin-top 58px
      +below(900px)
        margin-top 68px
      +below(600px)
        margin-top 35px
      li
        .list__header
          font-family 'Roboto'
          font-weight 500
          line-height 23px
          letter-spacing 0.5px
          font-size 18px
          display inline-block
          text-indent 37px
        p
          margin-top 23px
          margin-bottom 0
      li:before
        counter-increment: li;
        content: counters(li,".") ". ";
        font-family 'Roboto'
        font-weight 500
        line-height 23px
        letter-spacing 0.5px
        font-size 18px
        color #000
        position absolute
      li + li
        margin-top 55px
        +below(900px)
          margin-top 45px
    ul
      margin-top 58px
      +below(900px)
        margin-top 68px
      +below(600px)
        margin-top 35px
      li
        position relative
        .list__header
          font-family 'Roboto'
          font-weight 500
          line-height 23px
          letter-spacing 0.5px
          font-size 18px
          display inline-block
          margin-bottom 23px
          padding-left 20px
        p
          margin-bottom 0
      li:before
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        width: 6px;
        height: 6px;
        background: #000;
        border-radius: 50%;
      li + li
        margin-top 55px
        +below(900px)
          margin-top 45px
  li:before
    counter-increment: li;
    content: counters(li,".") ". ";
    font-family 'Roboto'
    font-weight 500
    line-height 31px
    font-size 24px
    letter-spacing 0.5px
    color #000
    position absolute
    +below(900px)
      font-size 20px
  Li + li
    margin-top 76px
    +below(900px)
      margin-top 50px
    +below(600px)
      margin-top 33px

ul.list__GothamPro
  position relative
  li
    position relative
    .list__header
      font-family: GothamProRegular,sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1px;
      color: #000;
      position: relative;
      padding-left: 22px;
      display inline-block
      text-indent 0
    &:before
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      width: 6px;
      height: 6px;
      background: #000;
      border-radius: 50%;
  li + li
    margin-top 20px
ol.list__GothamPro
  li
    position relative
    .list__header
      font-family: GothamProRegular,sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1px;
      color: #000;
      position: relative;
      padding-left: 22px;
      display inline-block
      text-indent 0
    &:before
      counter-increment: li;
      content: counters(li,".") ". ";
      position absolute
      left 0
      font-family: GothamProRegular,sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1px;
      color: #000;
  li + li
    margin-top 20px
.drag-file
  min-height 75px
  height auto !important
  height 75px
  background: rgba(196, 196, 196, 0.1);
  border-radius 2px
  border 2px dashed #D0D4D9
  font-family 'Roboto'
  font-weight 400
  line-height 20px
  font-size 12px
  letter-spacing 0.05em
  cursor pointer
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .icon
    width 22px
    height 18px
    fill transparent
  &__attach
    font-family 'Roboto'
    font-weight 400
    line-height 20px
    font-size 12px
    letter-spacing 0.05em
    color rgba(0,0,0,.5)
.notel
  display inline-block
  width 0
  height 0

.tab-container
  a.accordion-title-mobile__main
    display block
  .accordion-title-mobile--bottom
    display none
  .accordion-title-mobile
    display none
    margin-top 16px
    .back
      display none
      margin-top 32px
    &__sub
      display none
    &__main
      padding 26px 38px
      padding-right 60px
      background-color #fff
      font-family 'Roboto'
      font-size 16px
      letter-spacing 0.11em
      text-transform uppercase
      color #000
      font-weight 500
      line-height 21px
      transition all .2s
      position relative
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
      cursor pointer
      transition all .2s
      .flex
        .icon
          fill: transparent;
          stroke: #000;
          transition: all .2s;
          width: 20px;
          height: 21px;
          stroke-width: 1.5px;
          margin-right: 20px;
          transform rotate(0deg) !important
          flex-shrink 0
      .icon-accordion-arrow
        width 12px
        height 7.5px
        fill: #000;
        fill-opacity: 0.3;
        position: absolute;
        right: 36px;
        top: 33px
        transition all .3s
      &:hover
        background-color #fff
        color blue
        .icon
          fill blue
          fill-opacity 1
        .flex
          .icon
            fill transparent
            stroke blue
    &:first-child
      margin-top 0
    &.active
      .accordion-title-mobile__main
        background-color #fff
        color blue
        .icon
          fill blue
          fill-opacity 1
          transform rotate(180deg)
        .flex
          .icon
            fill transparent
            stroke blue
      .accordion-title-mobile__sub
        display block
      .back
        display flex
      & +.tabContent
        display block !important

    &__sub
      margin-top 20px
      margin-bottom 25px
      .tab__sub
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        text-align: left;
        &-item
          display inline-block
          line-height: 21px;
          span
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background-color: blue;
            display: inline-block;
            color: #fff;
            text-align: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: 21px;
            font-size: 13px;
            letter-spacing: 0.5px;
            margin-left: 5px;
        .tab__sub-item + .tab__sub-item
          margin-top 0
          margin-left 31px
    +below(1020px)
      display block
  .tab-wrap
    background-color #fff
    padding 45px 51px 45px 51px
    max-width 361px
  .tab
    font-size 16px
    line-height 21px
    text-transform uppercase
    letter-spacing 0.11em
    color #000
    font-family 'Roboto'
    font-weight 500
    cursor pointer
    transition all .2s
    display flex
    align-items center
    flex-wrap wrap
    outline none
    a
      color currentColor
      transition all 0s
    .icon
      fill transparent
      stroke #000
      transition all .2s
      width 20px
      height 21px
      stroke-width: 1.5px;
      margin-right 24px
    &.active
      color blue
      .tab__sub
        color #000
        display block
        .tab__sub-item
          color #000
      .icon
        stroke blue
    &:hover
      color blue
      .tab__sub
        color #000
        .tab__sub-item
          color #000
      .icon
        stroke blue
    &__sub
      width: 100%;
      margin-top: 21px;
      margin-left: 44px;
      margin-bottom: -7px;
      display none
      &-item
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: 20px;
        font-size: 16px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color #000
        transition all .2s
        text-align left
        &:hover
          color blue !important
        &.active
          color blue !important
      .tab__sub-item + .tab__sub-item
        margin-top 17px

  .tab + .tab
    margin-top 42px
  .tabContent
    width 100%
  +below(1170px)
    .tab-wrap
      padding-left 30px
      padding-right 0
  +below(1020px)
    width 100%
    .accordion-title-mobile__sub
      .tab__sub-item a 
        color #000
        &:hover
          color blue
      .tab__sub-item.active a
        color blue
    .accordion-title-mobile--top
      .accordion-title-mobile.active~div 
        display none
    .accordion-title-mobile--bottom
      display block
      .accordion-title-mobile
        display none
      .accordion-title-mobile.active~div
        display block
    .tab-wrap
      max-width 100%
    .tabContent
      margin-top 11px
  +below(500px)
    .tabContent
      margin-top 0
    .accordion-title-mobile
      margin-top 0
      .accordion-title-mobile__main
        padding-left 13px
        padding-right 36px
        .icon
          right 20px
.bg-white-shadow
  background: #fff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
.three-column
  display: flex;
  justify-content: center;
  flex-wrap wrap
  .three-column__item
    max-width: 360px;
    width: 100%;
    flex-shrink: 0;
    margin-right: calc((100% - 1080px) / 2);
    margin-bottom 20px
    min-height 220px
    height auto !important
    height 220px
    &:last-child
      margin-right 0
  +below(1170px)
    .three-column__item
      width 360px
      margin-right 0
      margin-left 20px
      &:first-child
        margin-left 0
  +below(900px)
    justify-content flex-start
    .three-column__item
      margin-left 10px
      width 336px
      &:first-child
        margin-left 0
      &:nth-child(3n)
        margin-left 0
  +below(760px)
    justify-content center
    .three-column__item
      margin-left 0
      width 100%
      min-height auto
.name-phone
  &__row
    display flex
    align-items center
    justify-content space-between
  &__text
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    font-size: 14px;
    letter-spacing: 0.05em;
    color #000
    width 50%
  &__number
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    font-size: 14px;
    letter-spacing: 0.05em;
    color blue
    width 50%
.tabContent
  &.active
    display block
.number-price
  text-align left
  &__item
    font-family font-family-reg
    line-height: 25px;
    letter-spacing: .008em;
    font-size: 16px;
    color #000
    span
      font-family font-family-md
.rate-icon
  cursor pointer
  &__title
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
    color: rgba(0,0,0,.5);
    padding-right 10px
  &__svg-wrap
    width 60px
    height 60px
    background-color #fff
    border 1px solid #D1D1D1
    box-sizing border-box
    border-radius 50%
    display flex
    align-items center
    justify-content center
    transition all .2s
    margin-right 11px
    flex-shrink 0
    .icon
      height 20px
      width 60px
      fill #d1d1d1

  &__item
    width 50%
    transition all .2s
    margin-bottom 17px
    &:hover
      .rate-icon__svg-wrap
        background-color #56CCF2
        border-color #56CCF2
        .icon
          fill #fff !important
      .rate-icon__title
        color #000
    &.active
      .rate-icon__svg-wrap
        background-color #56CCF2
        border-color #56CCF2
        .icon
          fill #fff !important
      .rate-icon__title
        color #000
.content-image
  margin-top 13px
  background #fff
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  padding-bottom 36px
  width 100%
  &__header-picture
    background-size cover !important
    background-position 50% 50% !important
    background-repeat no-repeat !important
    width 100%
    height 245px
    margin-bottom 34px
  &__title
    font-family: 'roboto';
    font-size: 24px;
    font-weight: bold;
    line-height: 31px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-left: 74px;
    margin-bottom: 35px;
  &__desc
    padding-left 75px
    padding-right 75px
    &-item
      font-family font-family-reg
      line-height 21px
      font-size 14px
      letter-spacing 0.01em
    &-row
      display flex
      align-items center
      justify-content space-between
    .content-image__desc-row + .content-image__desc-row
      margin-top: 22px;
    .content-image__desc-title
      padding-top 16px
      .content-image__desc-caption
        padding-top: 16px;
        font-family: 'roboto';
        font-size: 18px;
        line-height: 23px;
        color: #000;
        font-weight: bold;
      .content-image__desc-item + .content-image__desc-item
        margin-top 10px
.time-language
  display: flex;
  align-items: center;
  .time-language__item
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    color: #FFF;
    align-items: center;
  .icon
    width: 18px;
    height: 18px;
    fill: transparent;
    stroke: #fff;
    stroke-opacity: .5;
    margin-right: 5px;
  .time-language__item+.time-language__item
    margin-left 20px
.preloader
  width: 100%;
  height: 100%;
  overflow-x hidden
  position: fixed;
  z-index: 999;
  top: 0;
  background: #f7f7f7;
  left: 0;
  right: 0;
  bottom: 0;
  transition all 1s
  opacity 1
  visibility visible

  .loader-main
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &__text
      position: absolute;
      top: 100%;
      width: 200px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: #2b2b28;
      font-size: 18px;
      font-family: Roboto,sans-serif;
      font-weight: 500;
      letter-spacing: 0.06em;
      position: relative;
      padding-top: 15px;
      letter-spacing: .06em;
      line-height normal
    .icon-circle
      fill: transparent;
      stroke-width: 1px;
      width: 78px;
      height: 78px;
      margin-right: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    &__circle
      border-radius 50%
      width: 78px;
      height: 78px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius 50%
      animation 2s spin infinite linear
    &__wrap
      width: 78px;
      height: 78px;
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius 50%
      transform: translate(-50%,-50%);
      animation 3s spin infinite linear
      .icon-airplane
        width: 20px;
        height: 15px;
        fill: blue;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        &.bottom
          bottom: -7px;
        &.top
          top -7px
          transform: translateX(-50%) rotate(180deg);
  &.preloader--small
    width 100px
    height 100px
    overflow-x inherit
    position relative
    left 50%
    transform translateX(-50%)
    background-color transparent
    .loader-main
      height 70px
      width 70px
      .icon-circle
        height 70px
        width 70px
      .loader-main__wrap
        width 70px
        height 70px
  &.done
    opacity 0
    visibility: hidden;
  &--grey
    background #f7f7f7c7
.sidebar
  .ng-scrollbar
    opacity 0!important
@media(min-height: 700px)
  .sidebar.fixed
    position: fixed;
    top: 138px;
    bottom auto
    background: #f7f7f7;
    z-index: 10;
    right: calc((100% - 1160px)/2);
    max-height: calc(100vh - 137px);
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    +below(1690px)
      top 123px
      max-height: calc(100vh - 123px);
    +below(1200px)
      right 10px
    +below(1030px)
      max-height: calc(100vh - 123px);
    ng-scrollbar,.ng-scrollbar-container
      flex: 1;
      display: flex;
      flex-direction: column;
    &.absolute
      position absolute
      bottom 0
      max-height 100%!important
      top auto

.fixed
  .navigation
    position fixed !important
    top 72px
    left 0
    right 0
    z-index 95 !important
    +below(1690px)
      top 57px
    +below(769px)
      top 61px
    +below(720px)
      top 48px
      
.destination-navigation.fixed
  position fixed !important
  top 72px
  left 0
  right 0
  z-index 101 !important
  +below(1690px)
    top 57px
  +below(769px)
    top 61px
  +below(720px)
    top 48px

@keyframes spin
  from
    transform translate(-50%, -50%) rotate(0deg)

  to
    transform translate(-50%, -50%) rotate(360deg)

.link
  color: blue
  font-weight: 500;
  font-size: 13px;
  font-family: GothamProRegular,sans-serif;
  line-height: 21px;
  &:hover
    color: blue
    text-decoration: underline

.accordion-main
	.icon
		width 12px
		height 7.5px
		fill: #000;
		fill-opacity: 0.3;
		position: absolute;
		right: 51px;
		top: 35px
		transition all .3s
	&__item + &__item
		margin-top 18px
	&__item
		.accordion-main__content
			margin-top: 31px;
			margin-bottom: 54px;
			background-color: transparent;
			display: none;
			width: 100%;
		.accordion-main__title
			background-color: #fff;
			font-family: Roboto;
			font-weight: 400;
			font-size: 24px;
			line-height: 37px;
			letter-spacing: 1px;
			color: #000;
			padding: 20px 74px 20px 50px;
			cursor: pointer;
			margin-top: 0;
			position: relative;
			transition: all .2s;
			box-sizing: border-box;
		&.active
			.accordion-main__title
				color blue
				.icon
					fill blue
					fill-opacity 1
					transform rotate(180deg)
			.accordion-main__content
				display block
		&:hover
			.accordion-main__title
				color blue
  &--checkout
    background: #fff;
    margin 0
    .accordion-main
      &__content
        background: #fff;
        margin 0
      &__title
        font-size: 14px
        padding: 15px 20px 0 20px
        font-weight: 500
      &__item
        padding 0 0
        .icon
          right: 20px;
          top: 30px;
          width 9px
    .accordion-black
      &__content
        background: #fff;
        margin-top: 5px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 12px
      &__title
        font-size: 12px
        padding: 0 20px 0 20px
        +below(400px)
          padding 0 40px 0 20px
      &__item
        padding 10px 0
        .icon
          top: 9px;
          right: 20px;
      &__btn-more
        margin: 0;
        padding: 15px 20px 0 20px;
.accordion-black
	&__btn-more
		font-family 'Roboto'
		font-size 14px
		line-height 20px
		letter-spacing 0.05em
		color blue
		margin-top 19px
		margin-left 50px
		cursor pointer
	&__content
		display none
		margin-top: 24px;
		padding-right: 50px;
		padding-left: 50px;
		font-size: 14px;
		p 
			font-family: Roboto;
			letter-spacing: .05em;
			color: #000;
			font-weight: 400;
			line-height: 20px;
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: 0;
	&__item
		padding-top: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(0,0,0,.1);
		&:last-child
			border-bottom none
		&:first-child
			padding-top 0
		.accordion-black__title
			position: relative;
			font-family: Roboto;
			font-size: 18px;
			line-height: 25px;
			letter-spacing: .9px;
			color: #000;
			font-weight: 400;
			padding-left: 50px;
			padding-bottom: 0;
			padding-right: 74px;
			cursor: pointer;
			transition: all .2s;
			.icon
				top 13px
			&:hover
				color blue
		&.active
			.accordion-black__title
				color blue
				.icon
					fill: blue;
					fill-opacity: 1;
					-webkit-transform: rotate(180deg);
					transform: rotate(180deg);
			.accordion-black__content
				display block
.singup-phone
  .form-checkout__item
    margin: 0
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d0d4d9;
    label
      width: 165px !important;
      white-space: normal;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      text-align: left;
      font-weight: 400;
      font-size: 10px;
      text-transform: uppercase;
      color: #000;
      opacity: 0.8;
      letter-spacing: 1px;
      width: 100px;
      margin-top: 2px;
      white-space: nowrap;
      font-family: Roboto;
      padding-left: 18px;
      text-align: left;
    .select-wrap
      width: calc(100% - 165px);
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      .select-phone
        height: 53px;
        border: none; 
        background-color: transparent; 
        padding-left 40px
        padding-right 40px
        .select-phone__code 
          line-height: 53px;
        .icon
          right 23px
      .dropdown-wrapper
        width: calc(100% - 165px);
        right: 0;
        left: inherit !important;
    input
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      width: calc(100% - 165px);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 17px 28px 17px 56px;
      padding-left: 40px;
      padding-right: 20px;
      border: none;
  +below(660px)
    input
      padding-left 20px
    .form-checkout__item
      .select-wrap
        .select-phone
          padding-left 20px
  +below(500px)
    label
      width: 156px !important;
      padding-left: 10px;
    input 
      padding-left 10px
      padding-right 26px
    .form-checkout__item
      .select-wrap
        .select-phone
          padding-left 10px
          padding-right 26px 
          .icon 
            right 10px    