width-reg = 1160px

violet = #7636ff
red = blue
green = #2AAE27
blue = #0086E6
dark-blue = #0377cc

error-color = #EB5757

active-color = black
text-color =  gray
hover-color = blue
background-color = white
selected-text-color = white
selected-background-color = blue

grey = rgba(0, 0, 0, 0.3)

font-family-reg = 'GothamProRegular', sans-serif
font-family-md = 'GothamProMedium', sans-serif
font-family-bold = 'GothamProBold', sans-serif
font-family-light = 'GothamProLight', sans-serif
font-family-sec = 'Roboto'

act-width = 336px
act-gap = 15px