@import "variables"
@import "rupture"

.section--dashboard
	text-align center
	.tab-wrap
		padding-top 45px
		padding-bottom 45px
		.tab+.tab
			margin-top 42px
	.form
		.form-group--long .form-group__placeholder
			width 160px
		&--signup
			max-width: 100%;
			padding-left: 95px;
			padding-right: 95px;
			background-color: #fff;
			padding-top: 65px;
			padding-bottom: 86px;
			.form__ttl
				justify-content: flex-start;

			input
				padding-right 55px
				padding-bottom 14px
				padding-top 18px
		.btn
			margin-top 32px
			width 304px
		.check-wrap
			margin-top 16px
		&__section
			margin-bottom 0
			.form__ttl
				margin-bottom 22px
			&.additional-info
				.form__ttl
					margin-bottom: 28px;
		.form__section+.form__section
			margin-top 40px
	.activities__content
		margin-bottom 30px
		.activities__content-header
			text-align left
		.icon-content
			text-align center
			flex-wrap nowrap
			.icon
				margin-right 6px
				flex-shrink 0
			.icon-content__title
				flex-basis: auto;
				font-family: GothamProRegular,sans-serif;
				font-size: 16px;
				line-height: 22px;
				color: rgba(0,0,0,.3);
				text-align left
		.number-price
			margin-top 33px
			.number-price__item + number-price__item
				margin-top 5px
	.activities-item-position--horizontal
		margin-bottom 25px
	+below(1020px)
		.activities--city .activities__header-img
			border-top-left-radius 5px
		.activities__img-wrap
			border-top-left-radius 5px
			border-bottom-left-radius 5px
		.tab-container
			padding-left 20px
			padding-right 20px
			.accordion-title-mobile
				.accordion-title-mobile__main
					padding-left 50px
			.tabContent
				margin-top 0
		.form
			padding-top: 37px;
			padding-left: 53px;
			padding-right: 53px;
			padding-bottom 77px
			.form__section
				.form__ttl
					margin-bottom 3px
					.icon
						display none
					.h3
						font-size 18px
				&.additional-info
					.form__ttl
						margin-bottom 10px
			.form__section+.form__section
				margin-top 60px
			.check-wrap
				margin-left 0
			.btn
				margin-top 57px
		.tabContent
			.tabContent-body
				margin-top 25px
				margin-bottom 25px
				/deep/.activities
					margin-bottom 0 !important
					margin-top 0 !important
					padding-bottom 0 !important
					padding-top 0 !important
				/deep/.list-reviews 
					padding-bottom 0 !important
					padding-top 0 !important
	+below(900px)
		&.section
			.sidebar-wrap__content
				.activities__header-img
					width 247px
		.activities-item-position--horizontal
			margin-bottom 20px
			&:last-child
				margin-bottom 0
			.activities__item
				margin-bottom 0
		.activities
			padding-bottom 8px
		.activities__img-wrap
			width 247px
		.activities--city .activities__img-wrap .bottom-content
			bottom 10px
			.btn
				width calc(100% - 10px)
	+below(720px)
		.activities-item-position--horizontal
			margin-bottom 17px
		.sidebar-wrap__content
			.activities--city
				.activities__content
					margin-top: 13px;
					margin-right: 15px;
					margin-bottom: 25px;
					.activities__content-header
						margin-bottom: 12px;
						padding-right 50px
					.icon-content
						&__title
							font-size 14px
					.number-price
						margin-top 10px
						&__item
							font-size 14px
		&.section
			.sidebar-wrap__content
				.activities__header-img
					width 100%
		.activities__img-wrap
			width 100%
		.activities--city .activities__img-wrap .bottom-content
			bottom 4px

	+below(650px)
		.tabContent
			.tabContent-body
				margin-top 10px
				margin-bottom 10px
		/deep/.list-reviews
			width calc(100% - 16px)
			margin-left auto
			margin-right auto
		.container
			padding-left 0
			padding-right 0
		.tab-container
			padding-left 0
			padding-right 0
			.accordion-title-mobile
				.accordion-title-mobile__main
					padding-left 10px
				.accordion-title-mobile__sub
					.tab__sub
						.flex
							justify-content center
							width 100%
			.form
				padding-left 0px
				padding-right 0px
				padding-top 25px
				padding-bottom 13px
				&__section
					padding-left 8px
					padding-right 8px
					.form__ttl
						padding-left 5px
						margin-bottom 15px
						.h3
							font-size 16px
				input
					padding-left 10px
					padding-right 0px
					background-image none
				.input-select-wrap .dropdown-menu
					width 100%
					.dropdown-item
						padding-left 10px
						padding-right 10px
				.form-group--long .form-group__placeholder
					width 141px
					padding-left 0
					white-space: normal;
				.form-group__btn-show-password
					display none
				.check-wrap
					margin-left 5px
				.form__section+.form__section
					margin-top 31px
				.btn
					margin-top 31px

	+below(425px)
		.activities-item-position--horizontal
			width calc(100% - 16px)
		.tab-container
			.accordion-title-mobile
				.accordion-title-mobile__sub
					.tab__sub
						padding-left 9px
						padding-right 9px
						.tab__sub-item+.tab__sub-item
							margin-left 0
						.flex
							justify-content space-between
			.form
				.form-group--long .form-group__placeholder
					width 100px
.section--dashboard
	.activities__content-header a
		font-family: Roboto,sans-serif;
		font-weight: 700;
		letter-spacing: .5px;
		line-height: 23px;
		font-size: 18px;
	/deep/.icon-content 
		.icon
			flex-shrink 0
			margin-top 2px
		.icon-content__title
			text-align left
			flex-grow 1
	.sidebar
		width 361px
		margin-right 0
	.sidebar-wrap__content
		width calc(100% - 361px)
		margin-left 20px
	+below(1165px)
		.sidebar
			width 330px
		.sidebar-wrap__content
			width calc(100% - 330px)
	+below(1020px)
		.sidebar-wrap__content
			width 100% 
			margin-left 0
	+below(720px)
		/deep/.history-wrap
			.activities-item-position--horizontal
				margin-bottom: 17px;
				.activities__item
					display: flex;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;
					margin-right: auto!important;
					margin-left: auto;
				.activities__img-wrap
					width 100%
					.activities__header-img
						flex-basis 100%
						height 123px
						width 100%
						border-top-right-radius 5px
					.bottom-content
						bottom 4px
				.activities__content
					margin-top: 13px;
					margin-right: 15px;
					margin-bottom: 25px;
					.activities__content-header
						margin-bottom: 12px;
						padding-right: 50px;
					.number-price
						margin-top 10px
						.number-price__item
							font-size: 14px;
					.icon-content__title
						font-size 14px
			.city-bottom
				top: 95px;
				left: 25px;
	+below(425px)
		/deep/.history-wrap
			.activities-item-position--horizontal
				width calc(100% - 16px)
			.activities__content
				margin 24px 20px 30px 15px
			.city-bottom
				top: 89px;
				left: 15px;
