<div class="header-fixed-pt">
  <section class="section section--dashboard section--grey">
    <div class="container">
      <div class="sidebar-wrap flex">
        <div class="sidebar">
          <div class="tab-container">
            <div class="tab-wrap">
              <div class="tab" routerLinkActive="active">
                <svg class="icon icon-already-booked" viewBox="0 0 20 15">
                  <path d="M1 3a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v2.05c-1.207.233-2.11 1.241-2.11 2.45s.903 2.217 2.11 2.45V12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9.95c1.207-.23 2.113-1.24 2.113-2.45 0-1.21-.906-2.22-2.113-2.45V3zM9.75 1v13"></path>
                </svg><a routerLink="/dashboard/history">MIS RESERVAS</a>
                <div class="tab__sub">
                  <div class="tab__sub-item" routerLinkActive="active"><a routerLink="/dashboard/history">Historial</a></div>
                  <div class="tab__sub-item" routerLinkActive="active"><a routerLink="/dashboard/upcoming">Próximas reservas</a></div>
                </div>
              </div>
              <div class="tab" routerLinkActive="active">
                <svg class="icon icon-my-account" viewBox="0 0 20 20">
                  <path clip-rule="evenodd" d="M10 19a9 9 0 1 0 0-18 9 9 0 0 0 0 18z"></path><path clip-rule="evenodd" d="M10 10c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path><path d="M16.66 15.645C15.704 13.864 12.85 13 9.999 13c-2.789 0-5.577.825-6.596 2.526"></path>
                </svg><a routerLink="/dashboard/account">MI CUENTA</a>
              </div>
              <div class="tab" routerLinkActive="active">
                <svg class="icon icon-myfeedback" viewBox="0 0 20 20">
                  <path d="M19 13a2 2 0 0 1-2 2H5l-4 4V3a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10z"></path>
                </svg><a routerLink="/dashboard/reviews">mis opiniones</a>
              </div>
              <div class="tab" (click)="auth.logOut()">
                <svg class="icon icon-signout" viewBox="0 0 18 20">
                  <path d="M14.17 5.176a8.231 8.231 0 0 1 2.11 4.146c.298 1.571.145 3.2-.439 4.68A8.027 8.027 0 0 1 13 17.634 7.457 7.457 0 0 1 8.714 19a7.456 7.456 0 0 1-4.285-1.365 8.027 8.027 0 0 1-2.842-3.634 8.474 8.474 0 0 1-.439-4.679 8.231 8.231 0 0 1 2.11-4.146M8.719 1v8.999"></path>
                </svg>SALIR
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-wrap__content">
          <div class="tab-container">
            <div class="accordion-title-mobile--top">
              <div class="accordion-title-mobile" routerLinkActive="active">
                <a class="accordion-title-mobile__main" routerLink="/dashboard/history">
                  <div class="flex flex-start align-items-center">
                    <svg class="icon icon-already-booked" viewBox="0 0 20 15">
                      <path d="M1 3a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v2.05c-1.207.233-2.11 1.241-2.11 2.45s.903 2.217 2.11 2.45V12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9.95c1.207-.23 2.113-1.24 2.113-2.45 0-1.21-.906-2.22-2.113-2.45V3zM9.75 1v13"></path>
                    </svg>MIS RESERVAS
                  </div>
                  <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                  </svg>
                </a>
                <div class="accordion-title-mobile__sub">
                  <div class="tab__sub">
                    <div class="flex align-items-center">
                      <div class="tab__sub-item " routerLinkActive="active"><a routerLink="/dashboard/history">History<span>1</span></a></div>
                      <div class="tab__sub-item" routerLinkActive="active"><a routerLink="/dashboard/upcoming">Upcoming bookings<span>3</span></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-title-mobile" routerLinkActive="active">
                <a routerLink="/dashboard/account" class="accordion-title-mobile__main">
                  <div class="flex flex-start align-items-center">
                    <svg class="icon icon-my-account" viewBox="0 0 20 20">
                      <path clip-rule="evenodd" d="M10 19a9 9 0 1 0 0-18 9 9 0 0 0 0 18z"></path><path clip-rule="evenodd" d="M10 10c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path><path d="M16.66 15.645C15.704 13.864 12.85 13 9.999 13c-2.789 0-5.577.825-6.596 2.526"></path>
                    </svg>MIS RESERVAS
                  </div>
                  <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                  </svg>
                </a>
              </div>
              <div class="accordion-title-mobile" routerLinkActive="active">
                <a routerLink="/dashboard/reviews" class="accordion-title-mobile__main">
                  <div class="flex flex-start align-items-center">
                    <svg class="icon icon-myfeedback" viewBox="0 0 20 20">
                      <path d="M19 13a2 2 0 0 1-2 2H5l-4 4V3a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10z"></path>
                    </svg>my feedback
                  </div>
                  <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                  </svg>
                </a>
              </div>
              <div class="accordion-title-mobile" (click)="auth.logOut()">
                <a class="accordion-title-mobile__main">
                  <div class="flex flex-start align-items-center">
                    <svg class="icon icon-signout" viewBox="0 0 18 20">
                      <path d="M14.17 5.176a8.231 8.231 0 0 1 2.11 4.146c.298 1.571.145 3.2-.439 4.68A8.027 8.027 0 0 1 13 17.634 7.457 7.457 0 0 1 8.714 19a7.456 7.456 0 0 1-4.285-1.365 8.027 8.027 0 0 1-2.842-3.634 8.474 8.474 0 0 1-.439-4.679 8.231 8.231 0 0 1 2.11-4.146M8.719 1v8.999"></path>
                    </svg>SIGN OUT
                  </div>
                </a>
              </div>
            </div>
            <div class="tabContent">
              <div class="tabContent-body">
                <router-outlet></router-outlet>
              </div>
            </div>
            <div class="accordion-title-mobile--bottom">
              <div class="accordion-title-mobile" routerLinkActive="active">
                <a class="accordion-title-mobile__main" routerLink="/dashboard/history">
                  <div class="flex flex-start align-items-center">
                    <svg class="icon icon-already-booked" viewBox="0 0 20 15">
                      <path d="M1 3a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v2.05c-1.207.233-2.11 1.241-2.11 2.45s.903 2.217 2.11 2.45V12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9.95c1.207-.23 2.113-1.24 2.113-2.45 0-1.21-.906-2.22-2.113-2.45V3zM9.75 1v13"></path>
                    </svg>MI CUENTA
                  </div>
                  <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                  </svg>
                </a>
                <div class="accordion-title-mobile__sub">
                  <div class="tab__sub">
                    <div class="flex align-items-center">
                      <div class="tab__sub-item " routerLinkActive="active"><a routerLink="/dashboard/history">History<span>1</span></a></div>
                      <div class="tab__sub-item" routerLinkActive="active"><a routerLink="/dashboard/upcoming">Upcoming bookings<span>3</span></a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-title-mobile" routerLinkActive="active">
                <a routerLink="/dashboard/account" class="accordion-title-mobile__main">
                  <div class="flex flex-start align-items-center">
                    <svg class="icon icon-my-account" viewBox="0 0 20 20">
                      <path clip-rule="evenodd" d="M10 19a9 9 0 1 0 0-18 9 9 0 0 0 0 18z"></path><path clip-rule="evenodd" d="M10 10c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path><path d="M16.66 15.645C15.704 13.864 12.85 13 9.999 13c-2.789 0-5.577.825-6.596 2.526"></path>
                    </svg>MY ACCOUNT
                  </div>
                  <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                  </svg>
                </a>
              </div>
              <div class="accordion-title-mobile" routerLinkActive="active">
                <a routerLink="/dashboard/reviews" class="accordion-title-mobile__main">
                  <div class="flex flex-start align-items-center">
                    <svg class="icon icon-myfeedback" viewBox="0 0 20 20">
                      <path d="M19 13a2 2 0 0 1-2 2H5l-4 4V3a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10z"></path>
                    </svg>my feedback
                  </div>
                  <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                  </svg>
                </a>
              </div>
              <div class="accordion-title-mobile" (click)="auth.logOut()">
                <a class="accordion-title-mobile__main">
                  <div class="flex flex-start align-items-center">
                    <svg class="icon icon-signout" viewBox="0 0 18 20">
                      <path d="M14.17 5.176a8.231 8.231 0 0 1 2.11 4.146c.298 1.571.145 3.2-.439 4.68A8.027 8.027 0 0 1 13 17.634 7.457 7.457 0 0 1 8.714 19a7.456 7.456 0 0 1-4.285-1.365 8.027 8.027 0 0 1-2.842-3.634 8.474 8.474 0 0 1-.439-4.679 8.231 8.231 0 0 1 2.11-4.146M8.719 1v8.999"></path>
                    </svg>SALIR
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>