@import 'rupture'
@import 'variables'

/deep/.icon-star
  width 12px
  height 12px
  fill rgba(196, 196, 196, 0.3)
  margin-right 4px !important
  &.active
    fill #F5C973

/deep/.popover
  position: absolute;
  display: block;
  margin-bottom: .5rem;
  top: 0;
  left: 0;
  z-index: 1060;
  max-width: 276px;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: .875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  .arrow
    position: absolute;
    display: block;
    left: 50%;
    bottom: calc((.5rem + 1px) * -1);
    width: 1rem
    height: .5rem
  .popover-header
    display none
  .popover-body
    padding 5px

.destination-hero
  min-height 520px
  height auto !important
  height 520px
  background-size cover !important
  background-position 50% 50% !important
  position relative
  flex-direction: column;
  justify-content flex-start
  +below(769px)
    min-height 395px
    height auto !important
    height 395px
  +below(500px)
    min-height 249px  
    height auto !important
    height 249px
  .search-wrap
    height 36px
    width 100%
    background rgba(0,0,0,.35)
  .destination-hero
    &__counter
      background rgba(0,0,0,.35)
      position absolute
      bottom 0
      left 0
      width 100%
  .container
    &--counter
      padding: 17px 20px
      justify-content: space-between;
      display: flex;
      +below(470px)
        padding: 10px 20px
  &__heading
    font-size 56px
    line-height 79px
    font-family font-family-md
    color #fff
    text-transform uppercase
    padding-top 100px
    padding-bottom 150px
    padding-right 200px
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    +below(1024px)
      padding-right 50px
    +below(769px)
      font-size 48px
      line-height 62px
    +below(767px)
      padding-right 0
    +below(645px)
      font-size 30px
      line-height 42px
    +below(500px)
      font-size 20px
      padding-top 50px
      line-height 1.5em
  &__value
    color #fff
    font-size 42px
    line-height 35px
    font-family font-family-md
  &__description
    font-family 'Roboto', sans-serif
    font-weight 500
    letter-spacing 0.01em
    font-size 15px
    color #fff
    max-width 100px
    margin-left 13px
    line-height 18px
  &__item + &__item
    margin-left 47px
    +below(768px)
      margin-left 15px
    +below(470px)
      margin-left 0
  &__counter
    +below(800px)
      display none
    &--activity
      width 100%
      .reviews__star
        .icon 
          fill rgba(196,196,196,.6)
      .destination-hero__item:first-child
        margin-right 0
      .destination-hero__item:last-child
        align-items flex-start
        margin-right 0
        +below(645px)
          align-items flex-end
      +below(800px)
        display flex
      .destination-hero__score
        color #fff 
        font-family: 'Roboto', sans-serif;
        font-weight 700
        line-height 31px
        font-size 48px
        letter-spacing 0.5px
        margin: 2px -3px 0 3px;
      +below(645px)
        .reviews__star
          margin-bottom 0
        .destination-hero__score
          font-size 30px
      +below(500px)
        .options-counter
          display flex
          flex-direction column
          margin-top 0
          .options-counter__items
            margin-right 0
          .options-counter__items + .options-counter__items
            margin-top 5px
        .container--counter
          padding 10px !important
          .destination-hero__item:last-child
            flex-direction column
            margin-left 10px
            .reviews
              margin-right 0
              &__desc
                text-align right 
                margin-right 5px
            .destination-hero__score
              margin 0
              margin-top 5px
              margin-right 5px
              
  .country-search
    +below(500px)
      display none
    &__country-select
      display flex
      align-items center
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      min-width: 200px;
      height: 36px;
      cursor: pointer;
    &__heading
      font-size 21px
      line-height 25px
      color #fff
      font-family font-family-reg
      display flex 
      align-items center
      &:after
        content: '\f0d7'
        color: #ffffff
        margin: 0 0 0 2px
        font-family: 'FontAwesome'
        font-size: 14px;
        vertical-align: 10%;
        margin-left 10px
      &:first-letter
        text-transform uppercase
    .icon-dropdown-footer
      width 8px
      height 4px
      fill #fff
  +below(500px)
    .search-wrap
      display none
    &__heading
      padding-top 50px
      padding-bottom 50px
  +below(400px)
    .container
      padding-left 20px
      padding-right 20px
  .options-counter
    .icon
      margin: -1px 8px 0 0;
      stroke-opacity 0.7
      flex-shrink 0
      &.clock
        &.clock
          &--hero
            margin-right: 8px;
        &--hero
          margin: 0 0 0;
    &__items
      margin-right: 57px;
      +below(768px)
        margin-right: 15px;
      &:nth-child(2)
        margin-right: 65px;
        +below(768px)
          margin-right: 15px;

.activity-search-wrap
  height 36px
  width 100%
  background rgba(0,0,0,.35)
  .container
    display flex
    align-items center
    height 36px
  +below(500px)
    display none