<div class="header-fixed-pt">
  <section *ngIf="activity" class="destination-hero flex destination-hero--search-country" [ngStyle]="{'background': 'url(' +  activity.avatar + ')'}">
    <div class="activity-search-wrap">
      <app-country-city-navigation [selectedCountryId]="activity.country" [selectedCityId]="activity.city"></app-country-city-navigation>
    </div>
    <div class="container">
      <h1 class="destination-hero__heading destination-hero__heading--sm">{{ activity.name }}</h1>
    </div>
    <div class="destination-hero__counter destination-hero__counter--activity flex align-items-center justify-content-between">
      <div class="container container--counter">
        <div class="destination-hero__item flex align-items-center">
          <div class="options-counter">
            <div class="options-counter__items">
              <svg class="icon clock" viewBox="0 0 20 20">
                <g stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#fff">
                  <path d="M1 10a9 9 0 0 0 9 9 9 9 0 1 0-9-9z"></path>
                  <path d="M14 11h-4V6"></path>
                </g>
              </svg>{{ formatHelper.formatDuration(activity.duration) }}
            </div>
            <div class="options-counter__items">
              <svg class="icon icon-language" viewBox="0 0 20 20">
                <path d="M19 9.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.379 8.379 0 0 1-3.8-.9L1 19l1.9-5.7A8.38 8.38 0 0 1 2 9.5a8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"></path>
              </svg>{{ activity.language }}
            </div>
            <!--<div class="options-counter__items">
              <svg class="icon icon-percent" viewBox="0 0 18 18">
                <path d="M16 2L2 16M6 3.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0zM17 14.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" stroke="#fff"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>15% descuento
            </div>-->
          </div>
        </div>
        <div class="destination-hero__item flex">
          <div class="reviews">
            <div class="reviews__star">
              <ngb-rating [rate]="activity.rate / 2" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
              <ng-template #t let-fill="fill">
                <svg class="icon icon-star" [class.active]="fill === 100" viewBox="0 0 12 12">
                  <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
                </svg>
              </ng-template>
            </div>
            <div class="reviews__desc">{{ activity.reviews }} opiniones</div>
          </div>
          <div class="destination-hero__score">{{ activity.rate | number:'1.1-1' }}</div>
        </div>
      </div>
    </div>
  </section>
</div>