<div class="header-fixed-pt">
  <div class="section section--policy section--grey">     
    <div class="container">
      <h1>POLÍTICAS DE COOKIES</h1>
      <h3 class="head">¿Qué son las cookies?</h3>
      <p class="desc">Una cookie es un pequeño fragmento de texto almacenado de forma automática por el Sitio Web a la hora de navegar en el
        sitio.
      </p>
      <p class="desc">La finalidad de las cookies es que el Sitio Web sea capaz de reconocer y retener datos específicos acerca de la persona
        que navega.</p>
      <p class="desc">Esta información puede ser utilizada para reconocer al usuario, sin embargo, no nos proporciona información de su nombre,
        ni sobre cualquier dato de carácter personal.</p>
      <p class="desc">En cumplimiento con lo establecido en el artículo 22.2 de la Ley de Servicios de la Sociedad de la Información y del Comercio
        Electrónico (LSSI) y en adecuación con la Directiva Europea 2009/136/CE, Civitours informa de que esta Plataforma utiliza
        cookies y acepta el uso de estas.</p>
      <p class="desc">Civitours hace uso de cookies para recopilar información sobre visitas y acceso al Sitio Web, así como para adaptar esta
        información a sus necesidades.</p>
      <h3 class="head">¿Qué tipo de cookies utiliza este sitio web?</h3>
      <p class="desc">Civitours utiliza cookies y dispositivos que ayudan a la recuperación de información y a mantener un seguimiento de las
        interacciones de los diferentes usuarios.</p>
      <p class="desc">Civitours utiliza los siguientes tipos de cookies:</p>
      <p class="desc">Cookies de Terceros: estas son cookies que no han sido configuradas por otro sitio web distinto al sitio en el que el Usuario
        se encuentra. Este tipo de cookies permite comprender como interactúan los usuarios con el Sitio Web, las tendencias,
        modos de uso y a cuantificar el número de usuarios que accedan. Todos estos informes ayudan a mejorar el Sitio Web y
        los servicios brindados.</p>
      <p class="desc">Empresas utilizadas</p>
      <ul>
        <li><p>Google Analytics</p></li>
        <li><p>Hotjar</p></li>
        <li><p>Google Tap Manager</p></li>
      </ul>
      <p class="desc">Cookies de publicidad: estas cookies permiten al Sitio Web gestionar los espacios publicitarios establecidos. Permiten
        orecer al Usuario información específica de su interés.</p>
      <p class="desc">Empresas utilizadas</p>
      <ul>
        <li><p>Facebook</p></li>
        <li><p>Doubleclick</p></li>
        <li><p>Bing</p></li>
      </ul>
      <h3 class="head">¿Cómo desactivar o eliminar las cookies?</h3>
      <p class="desc">Si prefieres desactivar o bloquear las cookies, la mayoría de los navegadores web te lo permiten. Consulta los siguientes
        enlaces para más información:</p>
      <p class="desc">Internet Explorer: Herramientas -> Opciones de Internet -> Privacidad -> Configuración (<a href="https://support.microsoft.com/es-es/products/windows?os=windows-10">https://support.microsoft.com/es-es/products/windows?os=windows-10</a>)</p>
      <p class="desc">Safari: Preferencias -> Seguridad (<a href="https://support.apple.com/es-es/safari">https://support.apple.com/es-es/safari</a>)</p>
      <p class="desc">Firefox: Herramientas -> Opciones -> Privacidad -> Historial -> Configuración Personalizada (<a href="https://support.mozilla.org/es/">https://support.mozilla.org/es/</a>)</p>
      <p class="desc">Chrome: Configuración -> Mostrar opciones avanzadas -> Privacidad -> Configuración de contenido (<a href="https://support.google.com/chrome#topic=7438008">https://support.google.com/chrome#topic=7438008</a>)</p>
      <h3 class="head">Aceptación de Cookies</h3>
      <p class="desc">Civitours entiende que, si el Usuario continúa la navegación, está aceptando la utilización de las cookies por parte del
        Sitio Web.</p>
      <p class="desc">Notificamos que, si el Usuario decide bloquear o no aceptar la instalación de cookies, es posible que algunos servicios
        no estén visibles y/o disponibles, tampoco aprovechar por completo todas las funcionalidades del Sitio Web.</p>
    </div>
  </div> 
</div>