<section class="checkout">
  <div class="checkout-nav">
    <div class="container flex align-item-center justify-content-center">
      <div class="checkout-nav__desctop flex align-item-center justify-content-center hidden-sm">
        <a class="checkout-nav__item" [class.complete]="step1Complete" routerLink="/checkout/review" routerLinkActive="active">
          <span>
            <svg *ngIf="step1Complete" class="icon icon-complite" viewBox="0 0 10 8"><path d="M1 4l3 3 5-6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            {{ step1Complete ? '' : '1'}}
          </span>
          Revisa tu reserva</a>
        <a class="checkout-nav__item" [class.complete]="step2Complete" routerLink="/checkout/details" routerLinkActive="active" [class.disabled]="currentStep > 1 ? null : true">
          <span>
            <svg *ngIf="step2Complete" class="icon icon-complite" viewBox="0 0 10 8"><path d="M1 4l3 3 5-6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            {{ step2Complete ? '' : '2'}}
          </span>Detalles personales</a>
        <a class="checkout-nav__item" routerLink="/checkout/payment" routerLinkActive="active" [class.disabled]="currentStep > 2 ? null : true"><span>3</span>Metodo de pago</a>
      </div>
      <div class="checkout-nav__mobile flex align-item-center justify-content-center visible-sm">
        <a class="checkout-nav__item" [class.complete]="step1Complete" routerLink="/checkout/review" routerLinkActive="active">
          <span>
            <svg *ngIf="step1Complete" class="icon icon-complite" viewBox="0 0 10 8"><path d="M1 4l3 3 5-6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            {{ step1Complete ? '' : '1'}}
          </span>
        </a>
        <a class="checkout-nav__item" [class.complete]="step2Complete" routerLink="/checkout/details" routerLinkActive="active">
          <span>
            <svg *ngIf="step2Complete" class="icon icon-complite" viewBox="0 0 10 8"><path d="M1 4l3 3 5-6" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            {{ step2Complete ? '' : '2'}}
          </span>
        </a>
        <a class="checkout-nav__item" routerLink="/checkout/payment" routerLinkActive="active"><span>3</span></a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</section>