@import 'rupture'
@import 'variables'

a.disabled
  pointer-events none
  cursor default


.checkout-nav
  background-color #fff
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  padding-top 20px
  padding-bottom 20px
  &__mobile
    display none !important
  &__item
    & + &
      margin-left 107px
      +below(840px)
        margin-left 64px
      +below(744px)
        margin-left 30px
    font-family font-family-reg
    font-size 16px
    line-height 22px
    color rgba(0,0,0,.5)
    display flex
    align-items center
    .icon

    span
      display inline-block
      color rgba(0,0,0,.5)
      border 2px solid rgba(0,0,0,.1)
      box-sizing border-box
      border-radius 50%
      background-color transparent
      width 40px
      height 40px
      line-height 37px
      text-align center
      margin-right 14px
      position relative
      font-family font-family-md
      font-size 16px
    &.active
      color #000
      span
        color #fff
        border-color blue
        background-color blue
    &.complete
      span
        color #fff
        border-color blue
        background-color blue
        display flex
        align-items center
        justify-content center
      .icon
        border 0
        width 10px
        height 14px
        fill transparent
        margin-right 0
  +below(769px)
    padding-bottom 18px
    padding-top 18px
  +below(700px)
    .container
      padding-right 15px
      padding-left 15px
    .checkout-nav__mobile
      justify-content center
      width 100%
      .checkout-nav__item
        span
          margin-right 0
  +below(500px)
    padding-top 8px
    padding-bottom 8px
    .checkout-nav__mobile
      justify-content space-between



/deep/ .dropdown-basket
	width 407px
	top 100%
	background-color #ffffff
	position absolute
	box-shadow 0 5px 5px rgba(0,0,0,0.1)
	right 0
	z-index 20
	opacity 0
	visibility hidden
	transition opacity .2s 0.2s linear, top .2s 0.2s linear, visibility .2s 0.2s linear
	font-family Roboto,sans-serif
	&.visible-block
		position relative
		top 0
		display block
		visibility visible
		opacity 1
		box-shadow: 0 4px 50px rgba(0,0,0,.05);
		width auto
		padding-top 14px
		.dropdown-basket__item
			padding: 18px 30px 6px 22px;
			.dropdown-basket__link
				width 58px
				height 58px
			.dropdown-basket__img
				width 58px
				height 58px
		.dropdown-basket__content
			padding-top 0
			margin-left 19px
			.dropdown-basket__block:last-child
				padding-right 3px
				padding-left 3px
	&__block
		padding-bottom 13px
	&__item
		padding 17px 30px 6px 26px
		border-bottom 1px solid rgba(0, 0, 0, 0.1)
		background-color #fff
		display flex
		flex-grow 1
		margin 0
		position relative
	&__img
		width 74px
		height 74px
		border-radius 50%
	&__link
		width 74px
		display inline-block
		flex-shrink 0
	&__close
		&:hover
			cursor pointer
	&__price
		color #000
		line-height 20px
		font-weight 400
	&__content
		margin-left 10px
		padding-top 3px
		position relative
		flex-grow 1
		display flex
		flex-direction column
		justify-content space-between
		flex-basis 0
	&__title
		font-size 14px
		color #2B2B2B
		font-weight bold
		padding-right 38px
		Letter-spacing 0.5px
		line-height 18px
		transition all .2s
		&:hover
			color blue
	&__adult
		color grey
		font-size 14px
		line-height 20px
		font-family 'GothamProRegular', sans-serif
	&__activites-product
		display flex
		justify-content space-between
		align-items center
		padding 0 30px 0 40px
		padding-top 21px
		padding-bottom 21px
		background-color #fff
		
	&__activites-product-value
		color grey
		font-size 16px
		line-height 23px
		font-family 'GothamProRegular', sans-serif
	&__activites-product-price
		color blue
		font-size 24px
		line-height 20px
		font-weight 400
		.dropdown__link
			display none
		.dropdown__title
			font-size 14px
		.dropdown__price
			font-size 18px
		.dropdown__item
			padding 18px 30px 4px 13px
		.dropdown__activites-product
			padding-left 22px
			padding-right 30px
			min-height 68px
.visible-sm
	+below(700px)
		display flex !important