<div class="header-fixed-pt">  
  <section *ngIf="destinationCity" class="destination-hero destination-hero--search-country flex" [ngStyle]="{'background': 'url(' +  (destinationCity.avatar ? destinationCity.avatar : 'assets/images/no-img-big.png') + ')'}">
    <div class="activity-search-wrap">
      <app-country-city-navigation [selectedCountryId]="destinationCity.country" [selectedCityId]="destinationCity.id"></app-country-city-navigation>
    </div>
    <div class="container container--head-hero">
      <h1 class="destination-hero__heading">{{ destinationCity.name}}
      </h1>
    </div>
    <div class="destination-hero__counter destination-hero__counter--activity flex align-items-center justify-content-between">
      <div class="container container--counter">
        <div class="destination-hero__item flex align-items-end">
          <div class="destination-hero__value"> {{ destinationCity.excursions }}</div>
          <div class="destination-hero__description">Excursiones y Actividades</div>
        </div>
        <div class="destination-hero__item flex align-items-end">
          <div class="destination-hero__value"> {{ destinationCity.travelers }}</div>
          <div class="destination-hero__description">Clientes</div>
        </div>
        <div class="destination-hero__item flex align-items-end">
          <div class="destination-hero__value">{{ destinationCity.reviews}}</div>
          <div class="destination-hero__description">Opiniones
          </div>
        </div>
        <div class="destination-hero__item flex align-items-end">
          <div class="destination-hero__value">{{destinationCity.rate | number:'0.1' }}</div>
          <div class="destination-hero__description">Así nos puntúan</div>
        </div>
      </div>
    </div>
  </section>
</div>