<section class="navigation">
  <div class="container">
    <div class="nav flex">
      <div *ngFor="let item of this.items" class="nav__item"><a (click)="clickMenu(item)" [class.active]="selectedItem == item">{{ item.name }}</a></div>
    </div>
  </div>
</section>
