@import 'rupture'
@import 'variables'

.navigation
  background-color #fff
  box-shadow: 0px 29px 50px rgba(0, 0, 0, 0.05);
  
  +below(825px)
    display none
.nav
  height 66px
  &__item
    margin-left 13px
    margin-right 25px
    height 66px
    a
      cursor pointer
      display flex
      align-items center
      height 100%
      color rgba(0,0,0,.5)
      font-size 16px
      font-family font-family-md
      line-height 19px
      transition all  .3s
      padding 0 5px
      position relative
      overflow hidden
      text-align center
      &:after
        content ''
        display block
        width calc(100% + 6px)
        height 2px
        background-color blue
        position absolute
        bottom 0
        left -3px
        transform translateX(-100%)
        transition all  .6s
      &:hover
        color blue
        &:after
          transform translateX(0)
      &.active
        color blue
        &:after
          transform translateX(0)
  +below(1020px)
    justify-content space-between
    .nav__item
      margin-right 0
      margin-left 0
.order-button
  +below(1020px)
    display none
