<div class="customer activity-wrap info mt-30">
  <div class="customer__top flex justify-content-between">
    <div class="customer__item">
      <h2 class="activity__header">Opiniones de nuestros clientes</h2>
      <div class="customer__content">Todas las opiniones han sido escritas por clientes reales que han reservado con nosotros. </div>
    </div>
    <div class="customer__item flex">
      <div class="reviews">
        <div class="reviews__star">
          <ngb-rating [rate]="rate / 2" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
          <ng-template #t let-fill="fill">
            <svg class="icon icon-star" [class.active]="fill === 100" viewBox="0 0 12 12">
              <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
            </svg>
          </ng-template>
        </div>
        <div class="reviews__desc">{{ _reviews.length }} opiniones</div>
      </div>
      <div class="customer__score">{{ rate | number:'1.1-1' }}</div>
    </div>
  </div>
  <div class="customer__middle" *ngIf="_reviews.length"> {{ reviewsToShow.length }} de {{ _reviews.length }} opiniones</div>
  <div class="customer__middle" *ngIf="!_reviews.length"> no se han escrito comentarios todavía</div>
  <div *ngFor="let review of reviewsToShow" class="card-comment">
    <div class="card-comment__caption flex justify-content-between">
      <div class="card-comment__caption-left flex">
        <div class="card-comment__img flex align-items-center justify-content-center">
          <svg class="icon icon-people" viewBox="0 0 36 24" width="100%" height="100%">
            <ellipse cx="2.485" cy="2.453" rx="2.485" ry="2.453" transform="matrix(1 0 0 -1 15.514 4.905)"></ellipse><path d="M21.894 13.502c.888-.289 1.43-.676 1.43-1.102 0-3.01-1.973-6.794-5.325-6.794-3.351 0-5.325 3.783-5.325 6.794 0 .426.543.813 1.43 1.101.549 4.444 1.755 10.5 3.895 10.5s3.347-6.056 3.895-10.5z"></path><ellipse cx="2.485" cy="2.453" rx="2.485" ry="2.453" transform="matrix(1 0 0 -1 2.84 4.905)"></ellipse><path d="M9.22 13.502c.888-.289 1.43-.676 1.43-1.101 0-3.012-1.973-6.795-5.325-6.795C1.974 5.606 0 9.39 0 12.401c0 .425.543.812 1.43 1.1.549 4.444 1.756 10.5 3.895 10.5 2.14 0 3.347-6.056 3.895-10.5z"></path><ellipse cx="2.485" cy="2.453" rx="2.485" ry="2.453" transform="matrix(1 0 0 -1 28.19 4.905)"></ellipse><path d="M34.57 13.502c.888-.289 1.43-.676 1.43-1.101 0-3.012-1.973-6.795-5.325-6.795-3.352 0-5.325 3.783-5.325 6.795 0 .425.543.812 1.43 1.1.549 4.444 1.755 10.5 3.895 10.5s3.346-6.056 3.895-10.5z"></path>
          </svg>
        </div>
        <div class="card-comment__title">
          <div class="card-comment__name">{{ review.user_name }}</div>
          <div class="card-comment__place">{{ review.city }}, {{ review.country }}</div>
          <div class="card-comment__subtitle">{{ review.traveller_type_name }}</div>
        </div>
      </div>
      <div class="card-comment__caption-right">
        <div class="icon-score">
          <div class="icon-score__score">{{ review.rate | number:'1.1-1' }}</div>
          <div class="icon-score__star">
            <ngb-rating [rate]="review.rate / 2" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
            <ng-template #t let-fill="fill">
              <svg class="icon icon-star" [class.active]="fill === 100" viewBox="0 0 12 12">
                <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
              </svg>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="card-comment__desc">{{ review.text }}</div>
    <div class="card-comment__data">{{ review.created_at * 1000 | date:'longDate' }}</div>
  </div>
  <div class="btn btn--transparent btn--dark-hover" (click)="toggleShow()">{{ buttonText }}</div>
</div>