@import 'rupture'
@import 'variables'

.info
  padding 20px
  margin-bottom 20px

.customer
  position relative
  +below(769px)
    margin-top 87px
    padding-left 20px
    padding-right 20px
    text-align center
  +below(767px)
    padding-left 0
    padding-right 0
  &__middle
    margin-top 34px
    font-family: 'Roboto',sans-serif;
    font-size 18px
    line-height 21px
    font-weight 500
    color #000
    margin-bottom 46px
    +below(769px)
      margin-top 43px
      margin-bottom 43px
      text-align left
  .active
    fill #f5c973 !important
  .activity__header
    margin-bottom 15px
  &__content
    font-family: 'Roboto',sans-serif;
    font-size 16px
    color rgba(0,0,0,.7)
    line-height 21px
    font-weight 500
  &__score
    color blue
    font-family: 'Roboto',sans-serif;
    font-weight bold
    font-size 64px
    letter-spacing 0.5px
    line-height 64px
  .reviews__star
    margin-top 8px
    margin-right 3px
  .reviews__desc
    color rgba(0,0,0,.3)
    margin-right 3px
  .card-comment + .card-comment
    margin-top 10px
  +below(700px)
    .activity__header
      display none
    .customer__top
      flex-direction column
    .customer__item
      width 100%
      display flex
      justify-content space-between
      align-items center
  +below(500px)
    margin-top 0
    padding-left 0
    padding-right 0
    .mobile-accordion
      padding-left 0
      padding-right 0
      padding-top 21px
    .customer__item + .customer__item
      margin-top 33px
    .customer__content
      text-align left

    .reviews__desc
      text-align left
    .customer__middle
      margin-top 33px
    .customer__top
      padding-right 10px
      .icon-star
        width 18px
        height 18px
      .icon-star + .icon-star
        margin-left 2px
    .btn
      width 100%
      margin-top 26px