@import 'variables'
@import 'rupture'

.container
  margin-bottom 100px
  .form
    display flex
    width 100%
    margin-top 47px

    .input-box
      height 100%
      display flex
      width 100%
      flex-wrap wrap

      .input
        border-radius 2px 0 0 2px

      .btn
        border-radius 0 2px 2px 0

.search-container
  position: relative
  display flex
  width 100%
  margin-top 47px
  +below(1030px)
    width calc(100% - 40px)
    margin 47px 20px 0
  +below(768px)
    width 100%
    margin 37px 0 0
  .input-box
    display flex
    width 100%
    position relative
    z-index 25
    box-shadow: 0 10px 40px rgba(0,0,0,.3);
    .input
      border-radius 2px 0 0 2px
    .btn
      border-radius 0 2px 2px 0
      display inline-block
      padding 0
      &__ttl
        display inline-block
        line-height 74px
        padding-top 0
      .icon
        display inline-block
        vertical-align middle
        box-sizing content-box
        width 24px 
        height 24px
        margin-bottom 2px
      +below(600px)
        &__ttl 
          display none 
        .icon
          width 22px  
          height 22px
          padding-left 4px
          margin-bottom 0

.search-result
  position: absolute
  top: 100%
  z-index: 25
  margin-top: 10px
  padding: 40px 37px 46px
  width: 100%
  left 0
  background: #fff
  color: #000
  cursor: default
  border-radius: 5px
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1)
  display: none
  +below(480px)
    padding 30px 20px
  +below(768px)
    margin-top 18px
    padding-top 61px
  &.show
    display: block

  h3
    margin-top: 6px
    margin-bottom: 21px
    font-size: 30px
    font-weight: 400
    line-height: 42px
    +below(480px)
      margin-top: 0
      font-size: 20px;
      line-height: normal
    +below(768px)
      text-align center
      margin-bottom 27px
  .btn
    display block
    margin-left auto
    margin-right auto
    color blue
    background transparent
    border 2px solid blue
    min-width: 300px
    line-height normal
    +below(480px)
      min-width 100%
    +below(500px)
      min-width 50%
    &:hover
      background dark-blue
      color white
      box-shadow none
      border-color dark-blue
  .section-ttl
    margin-bottom: 18px
    text-align: left
    .icon
      +below(480px)
        display none

    h3,
    .counter,
    svg
      display: inline-block
      margin-right: 10px

    svg
      width: 23px;
      height: 23px;
      fill-opacity: 0
      margin-left: -40px;
      margin-bottom: -2px;

    h3
      margin: 0
      font-family: Roboto
      font-weight: 600
      font-size: 24px;
      line-height: 31px
      letter-spacing: 0.5px
      +below(480px)
        font-size: 20px;
        line-height: normal

    .counter
      margin-left: 12px
      font-size: 18px
      line-height: 23px
      font-family: Roboto
      letter-spacing: 0.5px
      color: #B3B3B3
      +below(480px)
        font-size: 16px
        line-height: normal

  .search-results-view
    margin: 0 107px 20px

    +below(850px)
      margin: 0 50px 20px

    +below(600px)
      margin: 0 30px 10px

    +below(480px)
      margin: 0

    .btn
      margin-top: 5px

  &__section
    margin-bottom: 32px;
  &__list
    list-style-type: none
    margin: 0
    padding: 0
    text-align: left

    li
      font-size: 14px
      font-family: GothamProRegular
      line-height: 20px
      color: #000
      +below(480px)
        margin-bottom 5px
        &:last-child
          margin-bottom 0
      a
        color currentColor
        &:hover
          color blue
      .activity
        font-family: GothamProMedium
      .place
        color: #999

      .activity,
      .details,
      .place
        display: inline-block
        vertical-align: middle
        padding-top 0
        margin-top 0
        +below(480px)
          display block

      .details:before
        content: '·'
        display: inline-block
        margin: 0 2px

  .activities-list
    margin-top: 25px

  .destinations
    list-style-type: none
    margin: 0
    padding: 0
    margin-bottom: 33px
    display: flex
    flex-wrap: wrap
    text-align: left
    display: -webkit-flex; /* NEW */
    display: flex;
    -webkit-flex-wrap: wrap; /* NEW */
    flex-wrap: wrap;
    width 100%
    li  + li
      margin-top 0

    li
      flex: 1
      width: 20%
      min-width: 20%
      max-width: 20%
      flex-basis 20%
      padding: 10px
      padding-left: 46px
      cursor: pointer
      margin: 0
      a
        color currentColor
        &:hover
          color blue

      +below(1000px)
        width: 25%
        min-width: 25%
        max-width: 25%
        flex-basis 25%
        padding-left: 30px

      +below(768px)
        width: calc(100% / 3)
        min-width: calc(100% / 3)
        max-width: calc(100% / 3)
        flex-basis calc(100%/3)

      +below(500px)
        width: 50%
        min-width: 50%
        max-width: 50%
        padding: 10px 0
        flex-basis 50%
    
      +below(300px)
        min-width 100%
        flex-basis 100%

      .place
        font-family: Roboto
        font-weight: 600
        font-size: 18px
        line-height: 23px
        letter-spacing: 0.5px
        display block
        +below(480px)
          font-size: 16px
          line-height: normal


      .country
        font-family: GothamProRegular
        font-size: 14px
        line-height: 25px
        color: dark-blue
        +below(480px)
          font-size: 12px
          line-height: normal