<div #hostTarget class="search-container">
  <div class="input-box">
    <input
            class="input input--search"
            type="text"
            placeholder="¿Dónde viajamos?"
            name="search"
            [(ngModel)]="queryString"
            (focus)="showDestinations = true;"
            (input)="typed.next($event.target.value)"
            (keyup.enter)="redirectToSearchPage()"
    />
    <button class="btn btn--search" type="button" (click)="redirectToSearchPage()">
      <svg class="icon search" viewBox="0 0 18 18">
        <g><path d="M8.013 14.6a6.4 6.4 0 1 1 0-12.8 6.4 6.4 0 0 1 0 12.8zM12.766 13.608l2.828 2.828" stroke-width="2" stroke-linecap="square" stroke="#fff"/></g>
      </svg>
      <span class="btn__ttl">Buscar</span>
    </button>
  </div>
  <div class="search-result" [class.show]="destinations && showDestinations && !showSearch">
    <div class="search-result__content">
      <h3>Principales destinos</h3>
      <ul class="destinations">
        <li *ngFor="let destination of destinations">
          <a class="place" routerLink="{{ routeHelper.buildCityRoute(destination) }}">{{ destination.name }}</a>
          <a class="country" routerLink="{{ routeHelper.buildCountryRouteFromCity(destination) }}">{{ destination.country_name }}</a>
        </li>
      </ul>
      <a class="btn btn--transparent" routerLink="/destinations">Ver más</a>
    </div>
  </div>
  <div class="search-result" [class.show]="showSearch">
    <div class="search-result__content search-results-view">
      <div *ngIf="inSearch" class="loading-small"></div>
      <div *ngIf="!inSearch && (searchCountries.length || searchCities.length || searchActivities.length)">
        <div class="search-result__section">
          <div class="section-ttl">
            <svg class="icon icon-map-marker" viewBox="0 0 18 22">
              <path d="M1 9c0 6.747 8 12 8 12s8-5.253 8-12c0-4.253-3.543-8-8-8S1 4.747 1 9zm10.14.125c0 1.036-.85 1.875-1.9 1.875-1.05 0-1.902-.84-1.902-1.875 0-1.036.851-1.875 1.902-1.875 1.05 0 1.9.84 1.9 1.875z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#0086E6"></path>
            </svg>
            <h3>Destinos</h3>
          </div>
          <ul class="search-result__list">
            <li *ngFor="let country of searchCountries">
              <a class="activity" routerLink="{{ routeHelper.buildCountryRoute(country) }}">{{ country.name }}</a>
              <div class="details">{{ country.activities }} actividades</div>
            </li>
            <li *ngFor="let city of searchCities">
              <a class="activity" routerLink="{{ routeHelper.buildCityRoute(city) }}">{{ city.name }}</a>
              <div class="details">{{ city.activities }} actividades</div>
            </li>
          </ul>
        </div>
        <div class="search-result__section">
          <div class="section-ttl">
            <svg class="icon icon-camera" viewBox="0 0 20 18">
              <path d="M6.625 1h6.75l1.523 2.286H17a2 2 0 0 1 2 2V15a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V5.286a2 2 0 0 1 2-2h2.102L6.625 1zm6.75 9.143c0 1.893-1.512 3.428-3.375 3.428s-3.375-1.535-3.375-3.428c0-1.894 1.512-3.429 3.375-3.429s3.375 1.535 3.375 3.429z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#0086E6"></path>
            </svg>
            <h3>Actividades</h3>
            <div class="counter">{{ searchActivities.length }} actividades</div>
          </div>
          <ul class="search-result__list activities-list">
            <li *ngFor="let activity of searchActivities">
              <a class="activity" routerLink="{{ routeHelper.buildActivityRoute(activity) }}">{{ activity.name }}</a>
              <a class="place" routerLink="{{ routeHelper.buildCityRouteFromActivity(activity) }}">{{ activity.city_name }}</a>
            </li>
          </ul>
        </div>
        <button *ngIf="searchActivities.length" class="btn btn--full" type="button" (click)="redirectToSearchPage()">Ver todos los resultados con "{{ queryString }}"</button>
      </div>
      <div *ngIf="!inSearch && !searchCountries.length && !searchCities.length && !searchActivities.length">
        <div class="section-ttl">
          <div class="counter">
            '{{ queryString }}' ?<br>
            No temenos destinos ni actividades para esa busqueda.<br>
            !Trabajaremos para que la próxima vez lo encuentres!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
