<div class="mobile-accordion flex">
  <div class="suppliers">
    <span class="header">Selected suppliers (click to remove)</span>
    <ul class="list-group">
      <li
          *ngFor="let supSelected of allSuppliers"
          class="list-group-item"
          [class.hidden]="!suppliersValue.includes(supSelected.id)"
          (click)="removeSupplier(supSelected.id)"
      >{{ supSelected.name }}</li>
    </ul>
  </div>
  <div class="suppliers">
    <span class="header">All suppliers (click to add/remove)</span>
    <div *ngIf="suppliersLoading" class="loading-small"></div>
    <ul class="list-group">
      <li
          *ngFor="let supAvailable of allSuppliers"
          class="list-group-item"
          [class.active]="suppliersValue.includes(supAvailable.id)"
          (click)="toggleSupplier(supAvailable)"
      >{{ supAvailable.name }}</li>
    </ul>
  </div>
</div>
