
.list-group
  display -webkit-box
  display -ms-flexbox
  display flex
  -webkit-box-orient vertical
  -webkit-box-direction normal
  -ms-flex-direction column
  flex-direction column
  padding-left 0
  margin-bottom 0

  .list-group-item
    position relative
    display block
    padding .75rem 1.25rem
    margin-bottom -1px
    background-color #fff
    border 1px solid rgba(0,0,0,.125)
    cursor pointer

    &:first-child
      border-top-left-radius .25rem
      border-top-right-radius .25rem

    &:last-child
      margin-bottom 0
      border-bottom-right-radius .25rem
      border-bottom-left-radius .25rem

    &.active
      z-index 2
      color #fff
      background-color #007bff
      border-color #007bff

.suppliers
  width 45%
  height 200px
  overflow-y auto
  margin-right 10px

  .header
    margin-bottom 10px
    display block
