<div class="reviews-item-position">
  <div class="list-reviews__item">
    <div class="list-reviews__img-wrap"><a class="list-reviews__link" [ngStyle]="{'background': 'url(' +  review.avatar + ')' }"></a>
      <div class="star-block">
        <ngb-rating [rate]="review.rate / 2" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
        <ng-template #t let-fill="fill">
          <svg class="icon icon-star active" [class.active]="fill === 100" viewBox="0 0 12 12">
            <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
          </svg>
        </ng-template>
      </div>
      <div class="time-language">
        <div class="time-language__item">
          <svg class="icon clock" viewBox="0 0 20 20">
            <g stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"><path d="M1 10a9 9 0 0 0 9 9 9 9 0 1 0-9-9z"></path><path d="M14 11h-4V6"></path></g>
          </svg>{{ formatHelper.formatDuration(review.duration) }}
        </div>
        <div class="time-language__item">
          <svg class="icon icon-language" viewBox="0 0 20 20">
            <path d="M19 9.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.379 8.379 0 0 1-3.8-.9L1 19l1.9-5.7A8.38 8.38 0 0 1 2 9.5a8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"></path>
          </svg>{{ review.language }}
        </div>
      </div>
      <h1 class="list-reviews__title">{{ review.header }}</h1>
    </div>
    <div class="list-reviews__content">
      <div class="card-comment">
        <div class="card-comment__caption flex justify-content-between">
          <div class="card-comment__caption-left flex">
            <div *ngIf='review.traveller_type == 1' class="card-comment__img flex align-items-center justify-content-center svg-alone">
              <svg class="icon icon-alone icon" viewBox="0 0 10 20">
                <ellipse cx="2.02" cy="2.029" rx="2.02" ry="2.029" transform="matrix(1 0 0 -1 3.145 4.058)"></ellipse><path d="M8.331 11.17c.722-.24 1.163-.56 1.163-.912 0-2.49-1.605-5.62-4.33-5.62-2.724 0-4.328 3.13-4.328 5.62 0 .352.441.673 1.163.911.446 3.676 1.426 8.686 3.166 8.686s2.72-5.01 3.166-8.686z"></path>
              </svg>
            </div>
            <div *ngIf='review.traveller_type == 2' class="card-comment__img flex align-items-center justify-content-center svg-couple">
              <svg class="icon icon-couple icon" viewBox="0 0 22 20">
                <ellipse cx="2.071" cy="2.044" rx="2.071" ry="2.044" transform="matrix(1 0 0 -1 2.531 4.087)"></ellipse><path d="M7.848 11.251c.74-.24 1.192-.563 1.192-.917 0-2.51-1.645-5.662-4.438-5.662-2.793 0-4.438 3.152-4.438 5.662 0 .354.453.677 1.192.917.457 3.703 1.463 8.75 3.246 8.75s2.789-5.047 3.246-8.75z"></path><ellipse cx="2.02" cy="2.029" rx="2.02" ry="2.029" transform="matrix(1 0 0 -1 14.973 4.058)"></ellipse><path d="M16.993 4.638c1.275 0 2.309 1.32 2.309 2.95 0 .31-.023.955-.07 1.795 1.499 1.465 2.09 4.116 2.09 4.644 0 .554-1.095 1.03-2.655 1.231C18.3 17.812 17.756 20 16.993 20c-.763 0-1.307-2.188-1.674-4.742-1.56-.201-2.655-.677-2.655-1.231 0-.528.591-3.18 2.09-4.644-.047-.84-.07-1.485-.07-1.796 0-1.629 1.034-2.95 2.31-2.95z"></path>
              </svg>
            </div>
            <div *ngIf='review.traveller_type == 3' class="card-comment__img flex align-items-center justify-content-center svg-family-small">
              <svg class="icon icon-family-small icon" viewBox="0 0 25 20">
                <ellipse cx="2.02" cy="2.029" rx="2.02" ry="2.029" transform="matrix(1 0 0 -1 2.809 4.058)"></ellipse><path d="M7.995 11.17c.722-.239 1.163-.559 1.163-.911 0-2.491-1.605-5.62-4.329-5.62C2.104 4.638.5 7.767.5 10.258c0 .352.441.672 1.163.91.446 3.677 1.426 8.686 3.166 8.686s2.72-5.01 3.166-8.685z"></path><ellipse cx="1.616" cy="1.629" rx="1.616" ry="1.629" transform="matrix(1 0 0 -1 10.79 12.244)"></ellipse><path d="M14.54 14.145c0-.768-.904-1.391-2.02-1.391s-2.02.623-2.02 1.391S11.039 20 12.52 20c1.482 0 2.02-5.087 2.02-5.855z"></path><ellipse cx="2.02" cy="2.029" rx="2.02" ry="2.029" transform="matrix(1 0 0 -1 18.645 4.058)"></ellipse><path d="M20.665 4.638c1.275 0 2.309 1.32 2.309 2.95 0 .31-.023.955-.07 1.795 1.499 1.465 2.09 4.116 2.09 4.644 0 .554-1.095 1.03-2.655 1.231-.368 2.554-.911 4.742-1.674 4.742-.763 0-1.307-2.188-1.674-4.742-1.56-.201-2.655-.677-2.655-1.231 0-.528.591-3.18 2.09-4.644-.047-.84-.07-1.485-.07-1.796 0-1.629 1.034-2.95 2.309-2.95z"></path>
              </svg>
            </div>
            <div *ngIf='review.traveller_type == 4' class="card-comment__img flex align-items-center justify-content-center svg-family-small">
              <svg class="icon icon-family-adolescent icon" viewBox="0 0 27 21">
                <ellipse cx="2.02" cy="2.029" rx="2.02" ry="2.029" transform="matrix(1 0 0 -1 2.973 4.058)"></ellipse><path d="M8.16 11.17c.72-.24 1.162-.56 1.162-.912 0-2.49-1.604-5.62-4.329-5.62-2.724 0-4.329 3.13-4.329 5.62 0 .352.441.673 1.163.911.446 3.676 1.427 8.686 3.166 8.686 1.74 0 2.72-5.01 3.166-8.686z"></path><ellipse cx="2.02" cy="2.029" rx="2.02" ry="2.029" transform="matrix(1 0 0 -1 20.473 4.058)"></ellipse><path d="M22.493 4.638c1.275 0 2.309 1.32 2.309 2.95 0 .31-.023.955-.07 1.795 1.499 1.465 2.09 4.116 2.09 4.644 0 .554-1.095 1.03-2.655 1.231C23.8 17.812 23.256 20 22.493 20c-.763 0-1.307-2.188-1.674-4.742-1.56-.201-2.655-.677-2.655-1.231 0-.528.591-3.18 2.09-4.644-.047-.84-.07-1.485-.07-1.796 0-1.629 1.034-2.95 2.31-2.95z"></path><ellipse cx="1.616" cy="1.629" rx="1.616" ry="1.629" transform="matrix(1 0 0 -1 12.512 7.425)"></ellipse><path d="M16.66 13.135c.577-.192.93-.449.93-.731 0-2-1.283-4.513-3.463-4.513s-3.463 2.512-3.463 4.513c0 .282.353.54.93.731.357 2.952 1.142 6.974 2.533 6.974 1.392 0 2.176-4.022 2.533-6.974z"></path>
              </svg>
            </div>
            <div *ngIf='review.traveller_type == 5' class="card-comment__img flex align-items-center justify-content-center svg-family-small">
              <svg class="icon icon-friends icon" viewBox="0 0 36 24">
                <ellipse cx="2.485" cy="2.453" rx="2.485" ry="2.453" transform="matrix(1 0 0 -1 15.514 4.905)"></ellipse><path d="M21.894 13.502c.888-.289 1.43-.676 1.43-1.102 0-3.01-1.973-6.794-5.325-6.794-3.351 0-5.325 3.783-5.325 6.794 0 .426.543.813 1.43 1.101.549 4.444 1.755 10.5 3.895 10.5s3.347-6.056 3.895-10.5z"></path><ellipse cx="2.485" cy="2.453" rx="2.485" ry="2.453" transform="matrix(1 0 0 -1 2.84 4.905)"></ellipse><path d="M9.22 13.502c.888-.289 1.43-.676 1.43-1.101 0-3.012-1.973-6.795-5.325-6.795C1.974 5.606 0 9.39 0 12.401c0 .425.543.812 1.43 1.1.549 4.444 1.756 10.5 3.895 10.5 2.14 0 3.347-6.056 3.895-10.5z"></path><ellipse cx="2.485" cy="2.453" rx="2.485" ry="2.453" transform="matrix(1 0 0 -1 28.19 4.905)"></ellipse><path d="M34.57 13.502c.888-.289 1.43-.676 1.43-1.101 0-3.012-1.973-6.795-5.325-6.795-3.352 0-5.325 3.783-5.325 6.795 0 .425.543.812 1.43 1.1.549 4.444 1.755 10.5 3.895 10.5s3.346-6.056 3.895-10.5z"></path>
              </svg>
            </div>
            <div class="card-comment__title">
              <div class="card-comment__name">{{ review.user_name }}</div>
              <div class="card-comment__place">{{ review.city }}, {{ review.country }}</div>
              <div class="card-comment__value-people">{{ review.traveller_type_name }}</div>
            </div>
          </div>
          <div class="card-comment__caption-right">
            <div class="icon-score">
              <div class="icon-score__data">{{ review.created_at * 1000 | date:'longDate' }}</div>
              <div class="icon-score__star">
                <ngb-rating [rate]="review.rate / 2" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
                <ng-template #t let-fill="fill">
                  <svg class="icon icon-star active" [class.active]="fill === 100" viewBox="0 0 12 12">
                    <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
                  </svg>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="card-comment__desc">{{ review.text }}</div>
        <div class="card-comment__btn">
          <div class="icon-content flex" (click)="deleteClicked.next(true);">
            <svg class="icon icon-trash" viewBox="0 0 16 17">
              <path d="M1 4h14M4.888 4V2.5c0-.398.164-.78.456-1.06.291-.282.687-.44 1.1-.44h3.11c.413 0 .809.158 1.1.44.292.28.456.662.456 1.06V4m2.334 0v10.5c0 .398-.164.78-.456 1.06-.292.282-.687.44-1.1.44H4.11c-.412 0-.808-.158-1.1-.44a1.473 1.473 0 0 1-.455-1.06V4h10.889zM6.445 7.75v4.5M9.555 7.75v4.5"></path>
            </svg>
            <div class="icon-content__title">Borrar opinion</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
