@import "rupture"
@import "variables"

.sr-only
  display: none

.icon-star
  width 12px
  height 12px
  fill rgba(196, 196, 196, 0.3)
  margin-right 4px!important
  &.active
    fill #F5C973

.reviews-item-position
  text-align left
  background: #fff;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  transition all .2s
  &:hover
    box-shadow: 0 4px 25px rgba(0,0,0,.2);
.reviews-item-position+.reviews-item-position
  margin-top 20px
.list-reviews__img-wrap
  width: 100%;
  min-height: 162px;
  height auto !important
  height 162px
  display flex
  flex-direction column
  justify-content flex-end
  padding-top 50px
  position: relative;
.list-reviews__link
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 5px 5px 0px 0px;
  &:after
    content ''
    display block
    width 100%
    height 100%
    top 0
    left 0
    position absolute
.star-block
  display: flex;
  position: absolute;
  top: 22px;
  left: 34px;
  .icon.active
    fill #fff
.time-language
  position: absolute;
  top: 19px;
  right: 41px;
  .time-language__item+.time-language__item
    margin-left 35px
.list-reviews__title
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 23px;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #fff;
  position relative
  padding-left 34px
  padding-bottom 17px
  padding-right 34px
.card-comment
  border-radius: 0 0 5px 5px;
  padding-top: 33px;
  .card-comment__img
    position relative
    text-align center
    &.svg-family-small
      background: #56CCF2;
    &.svg-alone
      background: #27AE60;
    &.svg-couple
      background: #BB6BD9;
    .icon
      width 100%
      height 23px
      position absolute
      top 50%
      transform translateY(-50%)
      fill #fff
  .card-comment__value-people
    margin-top: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 16px;
    color: #000;
  .card-comment__caption-right
    margin-right: 0;
  .icon-score__data
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
    color: rgba(0,0,0,.3);
  .icon-score__star
    margin-left 27px
  .card-comment__desc
    margin-top 14px
  .card-comment__btn
    margin-top 38px
    .icon-content
      flex-wrap nowrap
      align-items center
      transition all .2s
      cursor pointer
      .icon
        flex-shrink 0
        transition all .2s
        margin-right 6px
        margin-top 0
      &__title
        flex-basis auto
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        font-size: 12px;
        margin-top 2px
        text-align: left;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color rgba(0,0,0,.3)
        transition all .2s
      &:hover
        .icon-content__title
          color: #EB5757;
        .icon
          stroke #EB5757
          stroke-opacity 1
.reviews-item-position
  +below(769px)
    .card-comment
      padding-right 31px
  +below(700px)
    .card-comment .icon-star+.icon-star
      display block
    .card-comment
      margin-left 0
      margin-right 0
      padding 24px 34px 33px
  +below(650px)
    .card-comment
      padding-left 21px
      padding-right 13px
      padding-top 17px
      padding-bottom 22px
    .card-comment__caption
      flex-wrap wrap
      .card-comment__value-people
        display none
      .card-comment__caption-right
        width 100%
        margin-top 17px
        .icon-score
          justify-content space-between
    .card-comment .card-comment__img
      width 55px
      height 55px
      .icon
        height 18px
    .card-comment .card-comment__title
      margin-left 16px
      margin-top 7px
    .card-comment .card-comment__title .card-comment__name
      font-size 18px
    .card-comment .card-comment__desc
      margin-top 8px
    .card-comment .card-comment__btn
      margin-top 28px
  +below(500px)
    .btn
      margin-top 38px
  +below(425px)
    .star-block
      top 22px
      left 19px
    .time-language
      top 17px
      right 17px
    .list-reviews__title
      padding-bottom 20px
      padding-left 21px
      padding-right 21px