<input type="file" class="form-control" (change)="handleFileInput($event.target.files)" placeholder="Test">
<div *ngIf="recomended">Recommended size {{ recomended.width }} x {{ recomended.height }}</div>
<div *ngIf="uploadError" class="error-input">{{ uploadError }}</div>
<p *ngIf="isUploading"><ngb-progressbar [showValue]="true" type="info" [value]="uploadProgress"></ngb-progressbar></p>
