<div class="filter">
  <ngb-accordion [destroyOnHide]="false" [activeIds]="['date-panel']" class="filter__item filter__item--accordion filter__item--date">
    <ngb-panel id="date-panel">
      <ng-template ngbPanelTitle>
        <div class="filter__item-ttl">Fecha/Hora
          <svg class="icon icon-dropdown-footer" viewBox="0 0 13 7" width="100%" height="100%">
            <path d="M6.5 7L12.13.25H.87L6.5 7z" fill-opacity=".2"></path>
          </svg>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="filter__item-content">
          <ngb-datepicker
                  #datePicker="ngbDatepicker"
                  (select)="selectDate($event)"
                  [navigation]="'arrows'"
                  [markDisabled]="isDisabled"
                  [dayTemplate]="customDay"
                  [firstDayOfWeek]="1">
          </ngb-datepicker>
          <ng-template #customDay let-date="date" let-current="currentMonth"  let-selected="selected" let-disabled="disabled" let-focused="focused">
            <div class="btn-light"
                 [class.focused]="focused"
                 [class.bg-primary]="selected && !clearFlag"
                 [class.text-muted]="disabled"
                 [class.outside]="disabled || date.month != current"
            >
              {{ date.day }}
            </div>
          </ng-template>
          <div class="calendar-block fulltime-div">
            <div class="fulltime-div__item flex justify-content-between">
              <label *ngFor="let timeType of timeTypes" class="radio radio--time">
                <input
                        type="checkbox"
                        [checked]="filter.timeTypes.includes(timeType.id) ? 'checked' : null"
                        (click)="selectTimeType(timeType.id)">
                <span class="radio__label">
              <span class="radio__ttl">{{ timeType.name }}</span>
              <span class="radio__time">
                <span>{{ dateHelper.formatTime(timeType.from) }}</span>
                <span>{{ dateHelper.formatTime(timeType.to) }}</span>
              </span>
            </span>
              </label>
            </div>
          </div>
          <button class="btn btn--calendar order-button" type="button" (click)="resetTimeFilter()">REINICIAR</button>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <ngb-accordion *ngIf="!hideType" [destroyOnHide]="false" [activeIds]="['category-panel']" class="filter__item filter__item--accordion ">
    <ngb-panel id="category-panel">
      <ng-template ngbPanelTitle>
        <div class="filter__item-ttl">Tipo de Actividad
          <svg class="icon icon-dropdown-footer" viewBox="0 0 13 7" width="100%" height="100%">
            <path d="M6.5 7L12.13.25H.87L6.5 7z" fill-opacity=".2"></path>
          </svg>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="filter__item-content">
          <div class="checkbox checkbox--circle">
            <label *ngFor="let category of (categories|async)"> {{ category.name }}
              <input type="checkbox" [checked]="filter.categories.includes(category.id) ? 'checked' : null" (click)="selectCategory(category.id)"><span></span>
            </label>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <ngb-accordion *ngIf="citiesFilter.length !== 0" [destroyOnHide]="false" [activeIds]="['city-panel']" class="filter__item filter__item--accordion active">
    <ngb-panel id="city-panel">
      <ng-template ngbPanelTitle>
        <div class="filter__item-ttl">ciudades
          <svg class="icon icon-dropdown-footer" viewBox="0 0 13 7" width="100%" height="100%">
            <path d="M6.5 7L12.13.25H.87L6.5 7z" fill-opacity=".2"></path>
          </svg>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="filter__item-content">
          <div class="checkbox checkbox--circle">
            <label *ngFor="let cityFilter of citiesFilter"> {{ cityFilter.name }}
              <input type="checkbox" [checked]="filter.cities.includes(cityFilter.id) ? 'checked' : null" (click)="selectCity(cityFilter.id)"><span></span>
            </label>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div class="filter__item">
    <div class="filter__item-ttl">Mejores valoradas</div>
    <div class="filter__item-content">
      <div class="filter__star">
        <ngb-rating [rate]="filter.rate" [max]="5" [starTemplate]="t" (rateChange)="changeRate($event)"></ngb-rating>
        <ng-template #t let-fill="fill">
          <svg class="icon icon-star-destination active" [class.active]="fill === 100" viewBox="0 0 12 12">
            <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"></path>
          </svg>
        </ng-template>
        <button class="btn rating-button" type="button" (click)="resetRateFilter()">REINICIAR</button>
      </div>

    </div>
  </div>
  <div class="filter__item filter__item--range">
    <div class="filter__item-ttl">Precio</div>
    <div class="filter__item-content">
      <nouislider [config]="priceSliderConfig" [(ngModel)]="prices" (ngModelChange)="changePrice()"></nouislider>
    </div>
  </div>
  <div class="filter__item filter__item--range">
    <div class="filter__item-ttl">Duración</div>
    <div class="filter__item-content">
      <nouislider [config]="durationSliderConfig" [(ngModel)]="durations" (ngModelChange)="changeDuration()"></nouislider>
    </div>
  </div>
</div>

