@import 'variables'

ngb-rating
  outline none
/deep/.card-header.active
  .icon 
    transform rotate(180deg)
.filter__item--date .filter__item-content
  text-align center
.order-button {
  width: 100%
  height: 48px
  padding: 0
  background-color: blue
  color: #fff
  font-size: 12px
  margin-top: 25px
  border: none
  border-radius: 2px
  outline: none
  font-weight: 600
  cursor: pointer

  &:focus {
    outline: none
  }

  &[disabled] {
    opacity: 0.5
  }
}

/deep/.collapse
  display none
  &.show
    display block

.rating-button {
  width: 80px
  height: 30px
  margin-left: 15px
  padding: 0
  background-color: blue
  color: #fff
  font-size: 12px
  margin-top: -5px
  border: none
  border-radius: 2px
  outline: none
  font-weight: 600
  cursor: pointer

  &:focus {
    outline: none
  }

  &[disabled] {
    opacity: 0.5
  }
}

ngb-datepicker {
  border: none
  width: 100%
  outline none
  font-family Roboto
  font-size 14px
  max-width 305px
  
  /deep/ .ngb-dp-header {
    margin-bottom: 15px

    ngb-datepicker-navigation {
      height: 32px
      line-height: 32px
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      padding: 0 13px

      /deep/ .ngb-dp-month-name {
        line-height: 2rem
        text-align: center
        font-weight: bold
        flex:1

        &.d-block {
          font-size: 14px!important
        }
      }

      /deep/ .ngb-dp-arrow {
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        flex-grow: 0!important
        align-items: center
        padding-right: 0px
        padding-left: 0px
        margin: 0px

        button:hover {
          background-color: white
        }

        .ngb-dp-arrow-btn {
          padding:0
          background: 0
          border:0
          box-shadow: none
          cursor:pointer

          .ngb-dp-navigation-chevron {
            color: black

            &::before {
              border-style: solid
              border-width: .15em .15em 0 0
              content: ""
              display: inline-block
              width: .7em
              height: .7em
              transform: rotate(-135deg)
              -webkit-transform: rotate(-135deg)
              -ms-transform: rotate(-135deg)
            }
          }
        }

        &.right {
          -webkit-box-pack: end
          -ms-flex-pack: end
          justify-content: flex-end

          .ngb-dp-navigation-chevron:before {
            -webkit-transform: rotate(45deg)
            -ms-transform: rotate(45deg)
            transform: rotate(45deg)
          }
        }
      }
    }
  }

  /deep/ .ngb-dp-month {
    width: 100%

    .ngb-dp-week {
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      justify-content: space-between

      &.ngb-dp-weekdays {
        background-color: #fff!important
        border-bottom: none!important
        border-bottom: 1px solid rgba(0, 0, 0, 0.125)
        border-radius: 0rem

        .ngb-dp-weekday {
          font-size: 11px
          opacity: 0.8
          width: 32px
          color: #000!important
          font-weight: 400;
          
        }
      }

      .ngb-dp-day {
        cursor: pointer

        &.disabled, &.hidden {
          cursor: default
        }

        .btn-light {
          text-align: center
          width: 32px
          height: 32px
          line-height: 33px
          background: transparent
          color: #000;
          font-weight: 400;
        }

        .outside {
          opacity: 0.4
        }
      }
    }

    .ngb-dp-day:not(.disabled) {
      .btn-light {
        transition: all 0.3s
        &:hover {
          background-color: hover-color
          color: #fff
        }
      }

      .btn-light.bg-primary {
        color: selected-text-color!important
        background-color: selected-background-color!important
      }
    }
  }
}
/deep/ nouislider {
  .noUi-tooltip {
    font-size: 10px;
    position: absolute;
    top: -18px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000;
    line-height: 12px;
    white-space: nowrap;
  }
  .noUi-target {
    height: 4px;
    background-color: rgba(0,0,0,.1);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    position: relative;
    direction: ltr;
  }
  .noUi-connect{
    background: blue;
  }
  .noUi-handle {
    width: 18px;
    height: 18px;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    display: block;
    z-index: 1;
    background-color: #fff;
    border: 2px solid blue;
    border-radius: 50%;
    box-sizing: border-box;
    outline: none;
    &:before{
      display: none;
    }
    &:after {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background-color: blue;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      border-radius: 50%;
    }
  }
  .noUi-horizontal {
    height: 4px;
    .noUi-tooltip {
      -webkit-transform: translate(-50%,0);
      transform: translate(-50%,0);
      left: 50%;
    }
    .noUi-handle {
      width: 18px;
      height: 18px;
      right: -9px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      left: auto;
    }
  }
  .noUi-connect, .noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 18px;
    height: 100%;
    width: calc(100% - 18px);
    height: 100%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .noUi-target, .noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .noUi-connects {
    overflow: hidden;
    z-index: 0;
  }
  .noUi-base, .noUi-connects {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
  }
}
.filter__item-ttl
  color: rgba(58,42,81,0.6);
