<div class="header-fixed-pt">
  <section class="signup">
    <div class="container">
      <h2 class="h2 text-center">Regístrate con Civitours</h2>
      <form class="form form--signup" [formGroup]="registerForm" (submit)="onSubmit()">
        <div class="form__section">
          <div class="form__ttl">
            <svg class="icon icon-signup-lock" viewBox="0 0 20 22">
              <g><path d="M3 10h14a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2zM5 10V6a5 5 0 1 1 10 0v4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#0086E6"/></g>
            </svg>
            <h3 class="h3">Información de acceso</h3>
          </div>
          <div class="form-group flex form-group form-group--long" [class.error-input]="(serverErrors.email.length || email.invalid) && (email.touched || checkFields)" (click)="setFocus('email')">
            <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">correo electrónico</span>
              <input type="text" formControlName="email" name="email" id="email">
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
              <div *ngIf="email.errors.required" class="error">Ingresar correo electrónico</div>
              <div *ngIf="!email.errors.required && email.errors.email" class="error">El correo electrónico debe ser válido</div>
            </div>
            <div *ngIf="serverErrors.email.length" class="error-wrap flex align-items-center justify-content-between">
              <div *ngFor="let error of serverErrors.email" class="error">{{ error }}</div>
            </div>
          </div>
          <div class="form-group flex form-group form-group--long" [class.error-input]="(serverErrors.password.length || password.invalid) && (password.touched || checkFields)" (click)="setFocus('password')">
            <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">contraseña</span>
              <input type="{{ passwordType }}" formControlName="password" name="password" id="password">
              <div class="form-group__btn-show-password flex align-items-center justify-content-center">
                <svg class="icon icon-show-password" viewBox="0 0 24 24" (click)="showPasswordMain();">
                  <g opacity=".3"><path d="M21 12c-1.8 2.5-4.527 5-9 5-4.474 0-7.65-2.5-9-5M12 21v-4M20.828 18.828L18 16M4 18.828L6.828 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#000"/></g>
                </svg>
              </div>
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
              <div *ngIf="password.errors.required" class="error">Ingresar contraseña</div>
              <div *ngIf="!password.errors.required && password.errors.pattern" class="error">La contraseña debe tener al menos 8 caracteres y uno de ellos en mayúscula</div>
            </div>
            <div *ngIf="serverErrors.password.length" class="error-wrap flex align-items-center justify-content-between">
              <div *ngFor="let error of serverErrors.password" class="error">{{ error }}</div>
            </div>
          </div>
          <div class="form-group flex form-group form-group--long" [class.error-input]="(passwordConfirm.invalid || serverErrors.passwordConfirm.length) && (passwordConfirm.touched || checkFields)" (click)="setFocus('passwordConfirm')">
            <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">confirmar contraseña</span>
              <input type="{{ passwordConfirmType }}" formControlName="passwordConfirm" name="passwordConfirm" id="passwordConfirm">
              <div class="form-group__btn-show-password flex align-items-center justify-content-center">
                <svg class="icon icon-show-password" viewBox="0 0 24 24" (click)="PasswordConfirm();">
                  <g opacity=".3"><path d="M21 12c-1.8 2.5-4.527 5-9 5-4.474 0-7.65-2.5-9-5M12 21v-4M20.828 18.828L18 16M4 18.828L6.828 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#000"/></g>
                </svg>
              </div>
            </div>
            <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
              <div *ngIf="passwordConfirm.errors.required" class="error">Por favor ingrese la contraseña de confirmación</div>
              <div *ngIf="passwordConfirm.errors.valueDifferent" class="error">La contraseña y la confirmación deben coincidir</div>
            </div>
            <div *ngIf="serverErrors.passwordConfirm.length" class="error-wrap flex align-items-center justify-content-between">
              <div *ngFor="let error of serverErrors.passwordConfirm" class="error">{{ error }}</div>
            </div>
          </div>
        </div>
        <div class="form__section additional-info">
          <div class="form__ttl">
            <svg class="icon icon-user-form" viewBox="0 0 18 20">
              <g><path d="M17 19v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2M13 5a4 4 0 1 1-8 0 4 4 0 0 1 8 0z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#0086E6"/></g>
            </svg>
            <h3 class="h3">Información personal</h3>
          </div>
          <div class="form-group flex form-group form-group--long" [class.error-input]="(serverErrors.name.length || name.invalid) && (name.touched || checkFields)" (click)="setFocus('name')">
            <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">Nombre</span>
              <input type="text" formControlName="name" name="name" id="name">
            </div>
            <div *ngIf="name.invalid && (name.dirty || name.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
              <div *ngIf="name.errors.required" class="error">Ingresar nombre</div>
              <div *ngIf="name.errors.maxlength" class="error">El nombre no debe exceder los 150 caracteres</div>
            </div>
            <div *ngIf="serverErrors.name.length" class="error-wrap flex align-items-center justify-content-between">
              <div *ngFor="let error of serverErrors.name" class="error">{{ error }}</div>
            </div>
          </div>
          <div class="form-group flex form-group form-group--long" [class.error-input]="(serverErrors.surname.length || surname.invalid) && (surname.touched || checkFields)" (click)="setFocus('surname')">
            <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">apellido</span>
              <input type="text" formControlName="surname" name="surname" id="surname">
            </div>
            <div *ngIf="surname.invalid && (surname.dirty || surname.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
              <div *ngIf="surname.errors.required" class="error">Ingresar apellido</div>
              <div *ngIf="surname.errors.maxlength" class="error">El apellido no debe exceder los 150 caracteres</div>
            </div>
            <div *ngIf="serverErrors.surname.length" class="error-wrap flex align-items-center justify-content-between">
              <div *ngFor="let error of serverErrors.surname" class="error">{{ error }}</div>
            </div>
          </div>
          <div class="form-group flex form-group form-group--long" [class.error-input]="countryError || serverErrors.country.length" (click)="setFocus('country')">
            <div class="form-group__block flex align-items-center justify-content-between"><span class="form-group__placeholder">País de Residencia</span>
              <div class="input-select-wrap">
                <input type="text" class="input-select-wrap__input input input--select" id="country"
                      [class.focused] = "countryFocus"
                      [ngbTypeahead]="searchCountry"
                      [resultFormatter]="countryFormatter"
                      [editable]="false"
                      [inputFormatter]="countryFormatter"
                      (selectItem)="onSelectCountry($event)"
                      (focus)="countryFocus = true;"
                      (blur)="onCountryBlur()"
                >
              </div>
              <ng-template #ct let-r="result" let-t="term">
                {{ r.name}}
              </ng-template>
            </div>
            <div *ngIf="countryError" class="error-wrap flex align-items-center justify-content-between">
              <div class="error">Selecionar un país del listado</div>
            </div>
            <div *ngIf="serverErrors.country.length" class="error-wrap flex align-items-center justify-content-between">
              <div *ngFor="let error of serverErrors.country" class="error">{{ error }}</div>
            </div>
          </div>
          <div class="form-group flex form-group form-group--long" [class.error-input]="cityError || serverErrors.city.length" (click)="setFocus('city')">
            <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">ciudad de residencia</span>
              <div class="input-select-wrap">
                <input type="text" class="input-select-wrap__input input input--select" id="city"
                      [class.focused] = "cityFocus"
                      [ngbTypeahead]="searchCity"
                      [editable]="false"
                      [resultFormatter]="cityFormatter"
                      [inputFormatter]="cityFormatter"
                      (selectItem)="onSelectCity($event)"
                      (focus)="cityFocus = true;"
                      (blur)="onCityBlur()"
                >
              </div>
            </div>
            <div *ngIf="cityError" class="error-wrap flex align-items-center justify-content-between">
              <div class="error">Seleccionar una ciudad del listado</div>
            </div>
            <div *ngIf="serverErrors.city.length" class="error-wrap flex align-items-center justify-content-between">
              <div *ngFor="let error of serverErrors.city" class="error">{{ error }}</div>
            </div>
          </div>
          <div class="form-group flex form-group form-group--long" [class.error-input]="(phone.invalid || serverErrors.phone.length) && (phone.touched || checkFields)" (click)="setFocus('phone')">
           <app-phone-selector-new class="singup-phone" formControlName="phone" name="phone" id="phone"></app-phone-selector-new>
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
              <div *ngIf="phone.errors.required" class="error">Ingresar número de teléfono</div>
              <div *ngIf="!phone.errors.required && phone.errors.pattern" class="error">Ingresar número correcto en formato internacional</div>
            </div>
            <div *ngIf="serverErrors.phone.length" class="error-wrap flex align-items-center justify-content-between">
              <div *ngFor="let error of serverErrors.phone" class="error">{{ error }}</div>
            </div>
          </div>
          <div class="checkbox-wrap acceptance-block form-group error-input">
            <input type="checkbox" [(ngModel)]="termsStatus" formControlName="terms" name="terms" id="terms-checkbox-input">
            <label for="terms-checkbox-input">
              <span></span>
              Acepto
              <a href="#">política de privacidad</a>&nbsp;y
              <a href="#">condiciones generales</a>
            </label>
            <div *ngIf="terms.invalid && (terms.dirty || terms.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
              <div class="error">Debe aceptar acuerdos para completar el registro</div>
            </div>
          </div>
          <div class="checkbox-wrap acceptance-block form-group error-input">
            <re-captcha
                    #captchaRef="reCaptcha"
                    size="invisible"
                    siteKey="{{ reCapthcaPublicKey }}"
            ></re-captcha>
            <div *ngIf="serverErrors.token.length" class="error-wrap flex align-items-center justify-content-between">
              <div *ngFor="let error of serverErrors.token" class="error">{{ error }}</div>
            </div>
            <div *ngIf="registerError" class="form-group flex error-input">
              <div class="error-wrap flex align-items-start justify-content-between">
                <div class="error">{{ registerError }}</div>
              </div>
            </div>
          </div>
          <button [disabled]="inProgress" class="btn btn--submit" type="submit">
            <span *ngIf="!inProgress">Solicitar registro web</span>
            <span *ngIf="inProgress">Registrando...</span>
          </button>
        </div>
      </form>
    </div>
  </section>
</div>