@import 'variables'
@import 'rupture'

button[disabled]
  opacity 0.5

.signup
  text-align center
  background #F7F7F7
  padding-top 78px
  padding-bottom 205px
  .form-group__block
    position relative
  .form-group__btn-show-password
    height: 100%;
    top: 0;
    right:0 !important;
    width: 50px;
    z-index: 10;
  .form-group__block 
    .input-select-wrap__input.focused
      padding-left 42px !important
    /deep/.input-number-wrap
      display flex
      align-items center
      justify-content space-between
      .input-select-wrap--phone
          input
            padding-left 40px
            padding-right 13px
            background none
      input[type="number"]
        box-shadow none
        background transparent
        padding-right 20px
        padding-left 18px
        box-sizing border-box
        flex-grow 0
        box-sizing border-box
      &.open
        .input-select-wrap--phone
          input 
            flex-grow 0
            background-color #fff
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            width 100% !important
          .input-select-wrap__input.focused
            padding-left 42px !important
            width 100% 
            input
              width 100%
        input[type="number"]
          opacity 1
          padding-left 18px
          padding-right 20px
          background-color #fff
          flex-grow 0
          box-shadow: 0 0 10px rgba(0,0,0,0.1);
      +below(660px)
        .input-select-wrap--phone
          input
            padding-left 20px
        input[type="number"]
          width 60%
      +below(500px)
        .input-select-wrap--phone
          input
            padding-left 10px
        &.open
          .input-select-wrap--phone
            input
              padding-left 10px
    .form-group__placeholder
      width 165px
      white-space normal
      flex-shrink 0
    input
      flex-grow 0
      width calc(100% - 165px)
      box-sizing border-box
      padding-left 40px
      padding-right 20px
    input[name="password"]
      padding-right 56px !important
    input[name="passwordConfirm"]
      padding-right 56px !important
    .input-select-wrap
      width calc(100% - 165px)
      flex-grow 0
      input 
        width 100%
        padding-right 40px
        /deep/&+.dropdown-menu
          max-height: 288px;
          .dropdown-item
            padding-left 40px    
            +below(660px)
              padding-left 20px 
  .h2
    margin 0

  +below(768px)
    padding-top: 45px
    padding-bottom: 45px
  +below(660px)
    .form-group__block 
      input
        padding-left 20px
      /deep/.input-select-wrap
        .input-select-wrap__input.input.input--select.focused
          background-image none !important
          background #fff
          padding-left 20px !important
          padding-right 20px !important
          &+.dropdown-menu
            max-height 240px
            .dropdown-item
              padding-left 20px !important 
  
              
  +below(600px)
    padding-top 34px
    padding-bottom 34px
    .container
      padding-left 8px
      padding-right 8px
    h2
      font-size: 24px
    h3
      font-size: 18px
      
  +below(500px)
    .form-group__block
      input
        width calc(100% - 156px) 
      .form-group__btn-show-password
        right 10px
      input[name="password"]
        padding-right 40px
      input[name="passwordConfirm"]
        padding-right 40px
      input
        padding-left 10px
        padding-right 10px
      .form-group__placeholder
        width 156px
        padding-left 10px
      .input-select-wrap
        width calc(100% - 156px)
        input 
          padding-right 26px
          background-position calc(100% - 10px) 50%
      /deep/.input-select-wrap
        .input-select-wrap__input.input.input--select.focused
          background-image none
          background #fff
          &+.dropdown-menu
            .dropdown-item
              padding-left 10px
      /deep/.input-select-wrap
        .input-select-wrap__input.input.input--select.focused
          padding-left 10px !important
          padding-right 10px !important
          &+.dropdown-menu
            .dropdown-item
              padding-left 10px !important 
  +below(400px)
    .form-group__block
      input
        width calc(100% - 104px)
      .form-group__placeholder
        width 104px
      .input-select-wrap
        width calc(100% - 104px)
    /deep/.input-select-wrap
        .input-select-wrap__input.input.input--select.focused
          &+.dropdown-menu
            max-width calc(100vw - 120px) 
  .acceptance-block
    margin-top: 20px
    text-align: left
    label
      line-height: 1.5
.checkbox-wrap
  input[type="checkbox"]
    position: absolute;
    opacity: 0;
    cursor: pointer;
  label
    padding-left 32px
    position relative
    cursor pointer
    span 
      margin-top: -1px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      height: 16px;
      width: 16px;
      background-color: transparent;
      border: 2px solid rgba(0,0,0,.2);
      box-sizing: border-box;
      border-radius: 2px;
      transition: all .3s;
      &:after
        content: "";
        position: absolute;
        opacity: 0;
        left: 4px;
        top: 0;
        width: 5px;
        height: 10px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: all .3s;
  input[type="checkbox"]:checked~label span
    border-color blue
    background blue
  input[type="checkbox"]:checked~label span:after
    opacity: 1;
/deep/.form-group__block
  .form-group__placeholder
    width 165px
    white-space normal
    flex-shrink 0
    +below(550px)
      width 156px
      padding-left 10px
    +below(400px)
      width 104px
