@import 'rupture'
@import 'variables'

.details
  +below(769px)
    margin-top 79px
  .activity__header
    margin-bottom 52px
  .icon-content
    margin-bottom 51px
    .icon
      stroke-width 2
    &:last-child
      margin-bottom 0
    &__second-line
      p:last-child
        margin-bottom 14px
  ul
    margin-top -7px
    margin-bottom 6px
  +below(500px)
    margin-top 0
    .activity__header
      display none
    .mobile-accordion
      padding-left 0
      padding-right 0
      .icon-content__desc
        padding-left 33px