<div class="details">
  <h2 class="activity__header">Detalles</h2>
  <div class="icon-content flex">
    <svg class="icon icon-clock-ac" viewBox="0 0 20 20">
      <path d="M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path><path d="M10 4.6V10l3.6 1.8" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    <div class="icon-content__title">Duración</div>
    <div class="icon-content__desc">{{ formatHelper.formatDuration(activityInfo.duration) }}</div>
  </div>
  <div class="icon-content flex" *ngIf="activityInfo.blocks.language">
    <svg class="icon icon-message" viewBox="0 0 20 20">
      <path d="M19 9.189a7.833 7.833 0 0 1-.9 3.66 8.31 8.31 0 0 1-3.133 3.305 8.742 8.742 0 0 1-4.467 1.224 8.641 8.641 0 0 1-3.8-.867L1 18.34l1.9-5.491A7.833 7.833 0 0 1 2 9.189c0-1.52.44-3.01 1.27-4.304A8.392 8.392 0 0 1 6.7 1.867 8.64 8.64 0 0 1 10.5 1h.5a8.63 8.63 0 0 1 5.53 2.38A8.036 8.036 0 0 1 19 8.707v.482z"></path>
    </svg>
    <div class="icon-content__title">Idioma</div>
    <div class="icon-content__desc">{{ activityInfo.language }}
    </div>
  </div>
  <div class="icon-content flex" *ngIf="activityInfo.blocks.included">
    <svg class="icon icon-exclamatory" viewBox="0 0 20 20">
      <ellipse cx="9" cy="8.671" rx="9" ry="8.671" transform="translate(1 1)"></ellipse><path d="M10 5.854v4.744"></path><ellipse cx="1" cy=".963" rx="1" ry=".963" transform="translate(9 12.56)"></ellipse>
    </svg>
    <div class="icon-content__title flex-grow">Incluye</div>
    <div class="icon-content__second-line" [innerHtml]="activityInfo.included | keepHtml"></div>
  </div>
  <div class="icon-content flex" *ngIf="activityInfo.blocks.notIncluded">
    <svg class="icon icon-exclamatory" viewBox="0 0 20 20">
      <ellipse cx="9" cy="8.671" rx="9" ry="8.671" transform="translate(1 1)"></ellipse><path d="M10 5.854v4.744"></path><ellipse cx="1" cy=".963" rx="1" ry=".963" transform="translate(9 12.56)"></ellipse>
    </svg>
    <div class="icon-content__title flex-grow">No Incluye</div>
    <div class="icon-content__second-line" [innerHtml]="activityInfo.not_included | keepHtml"></div>
  </div>
  <div class="icon-content flex" *ngIf="activityInfo.blocks.whenToBook">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-book" width="18" height="19" viewBox="0 0 18 19" fill="none">
      <g >
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2C0 0.895429 0.89543 0 2 0H12.2222C13.3268 0 14.2222 0.895431 14.2222 2V11.1157C14.2222 12.2202 13.3268 13.1157 12.2222 13.1157H2C0.895429 13.1157 0 12.2202 0 11.1157V2Z" transform="translate(2 4.40332)" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.3326 0.874377H-0.889664" transform="translate(2.88867 7.90088)" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M0.888889 0V1.74875" transform="translate(4.66602 1.78027)" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M0.888889 0V1.74875" transform="translate(11.7773 1.78027)" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
    </svg>
    <div class="icon-content__title flex-grow">¿Cuándo reservar?</div>
    <div class="icon-content__second-line" [innerHtml]="activityInfo.when_to_book | keepHtml"></div>
  </div>
  <div class="icon-content flex" *ngIf="activityInfo.blocks.ticket">
    <svg class="icon icon-ticket" viewBox="0 0 20 15">
      <path clip-rule="evenodd" d="M1 3a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v2.05c-1.205.231-2.111 1.24-2.111 2.45 0 1.21.906 2.219 2.111 2.45V12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9.95c1.205-.231 2.111-1.24 2.111-2.45 0-1.21-.906-2.219-2.111-2.45V3z"></path><path d="M10 1v13"></path>
    </svg>
    <div class="icon-content__title flex-grow">Justificante</div>
    <div class="icon-content__second-line" [innerHtml]="activityInfo.ticket | keepHtml"></div>
  </div>
  <div class="icon-content flex" *ngIf="activityInfo.blocks.accessibility">
    <svg class="icon icon-accesibility" viewBox="0 0 19 20">
      <path d="M12.22 14.445c-.693 3.068-3.709 5.024-6.737 4.37-3.028-.655-4.921-3.673-4.229-6.74a5.774 5.774 0 0 1 2.92-3.833"></path><path d="M6.785 4.876l.83 6.502h6.646l1.66 4.064h2.077"></path><ellipse cx="1.661" cy="1.625" rx="1.661" ry="1.625" transform="translate(4.5)"></ellipse>
    </svg>
    <div class="icon-content__title flex-grow">Accesibilidad</div>
    <div class="icon-content__second-line" [innerHtml]="activityInfo.acessibility | keepHtml"></div>
  </div>
  <div class="icon-content flex" *ngIf="activityInfo.blocks.howToBook">
    <svg class="icon icon-question" viewBox="0 0 20 20">
      <path d="M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path><path d="M7.38 7.3a2.7 2.7 0 0 1 5.248.9c0 1.8-2.7 2.7-2.7 2.7"></path><circle cx=".9" cy=".9" r=".9" transform="translate(9.1 12.7)"></circle>
    </svg>
    <div class="icon-content__title flex-grow">Reserva con nosotros</div>
    <div class="icon-content__second-line" [innerHtml]="activityInfo.how_to_book | keepHtml"></div>
  </div>
  <div class="icon-content flex" *ngIf="activityInfo.blocks.questions">
    <svg class="icon icon-earth" viewBox="0 0 18 18">
      <circle cx="9" cy="9" r="8"></circle><circle cx="5" cy="5" r="4" transform="translate(4 4)"></circle><path d="M12.293 6.414l2.121-2.121M5.828 6.414L3.707 4.293M12.293 11.707l2.121 2.121M5.828 11.707l-2.121 2.121"></path>
    </svg>
    <div class="icon-content__title flex-grow">¿Tienes dudas?
    </div>
    <div class="icon-content__second-line">
      Encuentre las respuestas a nuestras <a routerLink="/support/faq">preguntas más frecuentes.</a> Si necesita ayuda para reservar una actividad o tiene alguna consulta, <a routerLink="/support/contact">por favor contáctenos.</a>
    </div>
  </div>
</div>