<div class="container">
  <h2 class="{{ headerClass }}">{{ header }}</h2>
  <div class="block-slider">
      <div class="slider-wrapper flex justify-content-between" #scroll id="scroll">
        <app-destination-card
                *ngFor="let destination of _destinations; let i = index;"
                [destination]="destination"
                [isWide]="wideCards"
                class="slider__position-item"
                (mousedown)="startDrag($event, destination)"
                (mouseup)="stopDrag($event)"
                (mousemove)="move($event)"
                (touchstart)="startDrag($event.touches[0], destination)"
                (touchmove)="move($event.touches[0])"
                (touchend)="stopDrag($event.touches[0])"
        ></app-destination-card>
      </div>
    <button class="block-slider__btn btn-next flex align-items-center justify-content-center" (click)="moveRight()">
      <svg class="icon icon-arrow-next" viewBox="0 0 10 16">
        <path  d="M9.69 9.69H0V0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="scale(-1.00245 .99754) rotate(45 -2.125 -.91)" stroke="#fff"/>
      </svg>
    </button>
    <button class="block-slider__btn btn-prev flex align-items-center justify-content-center" (click)="moveLeft()">
      <svg class="icon icon-arrow-prev" viewBox="0 0 10 16">
        <path d="M9.69 9.69H0V0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="scale(1.00245 .99754) rotate(45 2.575 10.437)" stroke="#fff"/>
      </svg>
    </button>
  </div>
  <div class="btn-wrap">
    <a *ngIf="showAllButton" class="btn btn--center btn--hover-shadow " routerLink="/destinations">Ver más</a>
  </div>
</div>
