<div *ngIf="isLoading" class="loading-small"></div>
<div *ngIf="isLoading" class="mb-20"></div>
<div [class.hidden]="isLoading">
  <!--TODO: Hero preview and uploader-->
  <section class="activity-block">
    <div class="container">
      <div class="">
        <div class="">
          <div class="activity">
            <a *ngIf="activityInfo" routerLink="/admin/activities/{{ activityInfo.id }}/view" class="btn btn-primary" target="_blank">View in new page</a>
            <!--Hero block-->
            <div>
              <h2>Main activity information</h2>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Name</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="form.name" (ngModelChange)="onNameChange($event)">
                <div *ngIf="serverErrors.name" class="alert alert-danger" role="alert">{{ serverErrors.name }}</div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Route name</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="form.route_name">
                <div *ngIf="serverErrors.route_name" class="alert alert-danger" role="alert">{{ serverErrors.route_name }}</div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Travellers</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="form.travellers" ngbTooltip="set to 0 for using order statistics to calculate">
                <div *ngIf="serverErrors.route_name" class="alert alert-danger" role="alert">{{ serverErrors.route_name }}</div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Avatar</span>
                </div>
                <app-uploader (imageUploaded)="onHeroAvatarUpdate($event)"></app-uploader>
              </div>
              <div class="mb-3" *ngIf="heroUploadData || activityInfo">
                <img src="{{ heroUploadData ? heroUploadData.imageUrl : activityInfo.avatar }}" alt="Hero image">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Avatar small</span>
                </div>
                <app-uploader (imageUploaded)="onAvatarUpdate($event)" [recomended]="uploader.ACTIVITY_AVATAR_RATE"></app-uploader>
              </div>
              <div class="mb-3" *ngIf="avatarUploadData || activityInfo">
                <img src="{{ avatarUploadData ? avatarUploadData.imageUrl : activityInfo.avatar_small }}" alt="Avatar image">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Country</span>
                </div>
                <div class="input-select-wrap flex-grow">
                  <input type="text" class="form-control"
                        [ngbTypeahead]="searchCountry"
                        [resultFormatter]="countryFormatter"
                        [inputFormatter]="countryFormatter"
                        [editable]="false"
                        (selectItem)="onSelectCountry($event)"
                        [value]="selectedCountryName"
                  >
                </div>
                <div *ngIf="serverErrors.country" class="alert alert-danger" role="alert">{{ serverErrors.country }}</div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">City</span>
                </div>
                <div class="input-select-wrap flex-grow">
                  <input type="text" class="form-control"
                        [ngbTypeahead]="searchCity"
                        [resultFormatter]="cityFormatter"
                        [inputFormatter]="cityFormatter"
                        [editable]="false"
                        (selectItem)="onSelectCity($event)"
                        [value]="selectedCityName"
                  >
                </div>
                <div *ngIf="serverErrors.city" class="alert alert-danger" role="alert">{{ serverErrors.city }}</div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Category</span>
                </div>
                <select type="text" class="form-control" [(ngModel)]="form.category">
                  <option *ngFor="let category of (categories$ | async)" [value]="category.id">{{ category.name }}</option>
                </select>
                <div *ngIf="serverErrors.category" class="alert alert-danger" role="alert">{{ serverErrors.category }}</div>
              </div>
              <div class="mb-3">
                <h3>Activity suppliers</h3>
                <app-edit-suppliers [(suppliers)]="form.suppliers"></app-edit-suppliers>
              </div>
              <div class="mb-3">
                <h3>Activity calendar</h3>
                <app-edit-calendar [(schedule)]="form.schedule"></app-edit-calendar>
              </div>
            </div>

            <!--Voucher block-->
            <div>
              <h2>Activity voucher</h2>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Image</span>
                </div>
                <app-uploader (imageUploaded)="onVoucherImageUpdate($event)"></app-uploader>
              </div>
              <div class="mb-3" *ngIf="voucherUploadData || activityInfo?.voucher">
                <img src="{{ voucherUploadData ? voucherUploadData.imageUrl : activityInfo.voucher.image }}" alt="Hero image">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Text</span>
                </div>
                <textarea [(ngModel)]="form.voucher.text"></textarea>
              </div>
            </div>

            <!--Description block-->
            <div class="icon-content">
              <h3>Short description</h3>
              <div *ngIf="serverErrors.shortDescription" class="alert alert-danger mb-3" role="alert">{{ serverErrors.shortDescription }}</div>
              <app-ngx-editor [toolbar]="toolConfig" [minHeight]="'250px'" [placeholder]="'Ingrese una breve descripción...'" [spellcheck]="true" [(ngModel)]="form.shortDescription"></app-ngx-editor>
              <h3>Gallery</h3>
              <app-edit-gallery [(gallery)]="form.gallery"></app-edit-gallery>
              <h3 class="mt-3">Full description</h3>
              <div *ngIf="serverErrors.description" class="alert alert-danger mb-3" role="alert">{{ serverErrors.description }}</div>
              <app-ngx-editor [toolbar]="toolConfig" [minHeight]="'250px'" [placeholder]="'Ingresar descripción...'" [spellcheck]="true" [(ngModel)]="form.description"></app-ngx-editor>
            </div>

            <!--Prices block-->
            <app-edit-prices class="mb-3" [(types)]="form.types"></app-edit-prices>
            <!--Detail block-->
            <div class="mb-3">
              <div class="details">
                <h2 class="activity__header">More information</h2>
                <div class="icon-content flex mb-3">
                  <svg class="icon icon-clock-ac" viewBox="0 0 20 20">
                    <path d="M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path><path d="M10 4.6V10l3.6 1.8" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <div class="icon-content__title">Book limit before</div>
                  <div class="icon-content__desc">
                    <input type="number" class="form-control" [(ngModel)]="limit" (ngModelChange)="changeLimit()">
                    <select [(ngModel)]="limitCoeff" (ngModelChange)="changeLimit()">
                      <option value="1">minutes</option>
                      <option value="60">hours</option>
                      <option value="1440">days</option>
                    </select>
                    <div *ngIf="serverErrors.book_limit" class="alert alert-danger" role="alert">{{ serverErrors.book_limit }}</div>
                  </div>
                </div>
                <div class="icon-content flex mb-3">
                  <svg class="icon icon-clock-ac" viewBox="0 0 20 20">
                    <path d="M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path><path d="M10 4.6V10l3.6 1.8" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <div class="icon-content__title">Duration</div>
                  <div class="icon-content__desc">
                    <input type="number" class="form-control" [(ngModel)]="duration" (ngModelChange)="changeDuration()">
                    <select [(ngModel)]="durationCoeff" (ngModelChange)="changeDuration()">
                      <option value="1">minutes</option>
                      <option value="60">hours</option>
                      <option value="1440">days</option>
                    </select>
                    <div *ngIf="serverErrors.duration" class="alert alert-danger" role="alert">{{ serverErrors.duration }}</div>
                  </div>
                </div>
                <div class="icon-content flex mb-3">
                  <svg class="icon icon-message" viewBox="0 0 20 20">
                    <path d="M19 9.189a7.833 7.833 0 0 1-.9 3.66 8.31 8.31 0 0 1-3.133 3.305 8.742 8.742 0 0 1-4.467 1.224 8.641 8.641 0 0 1-3.8-.867L1 18.34l1.9-5.491A7.833 7.833 0 0 1 2 9.189c0-1.52.44-3.01 1.27-4.304A8.392 8.392 0 0 1 6.7 1.867 8.64 8.64 0 0 1 10.5 1h.5a8.63 8.63 0 0 1 5.53 2.38A8.036 8.036 0 0 1 19 8.707v.482z"></path>
                  </svg>
                  <div class="icon-content__title">Language</div>
                  <div class="icon-content__desc">
                    <input class="form-control" [(ngModel)]="form.language">
                    <div *ngIf="serverErrors.language" class="alert alert-danger" role="alert">{{ serverErrors.language }}</div>
                  </div>
                  <div><input type="checkbox" [(ngModel)]="form.blocks.language" id="block-switch2"><label for="block-switch2">Show on page</label></div>
                </div>
                <ul class="nav nav-tabs">
                  <li *ngFor="let tab of editorTabs" class="nav-item">
                    <a class="nav-link" [class.active]="selectedTab == tab.prop" (click)="selectedTab = tab.prop;">{{ tab.name }}</a>
                  </li>
                </ul>
                <input type="checkbox" [(ngModel)]="form.blocks[selectedTab]" id="block-switch"><label for="block-switch">Show on page</label>
                <div class="icon-content flex">
                  <div *ngIf="serverErrors[selectedTab]" class="alert alert-danger mb-3" role="alert">{{ serverErrors[selectedTab] }}</div>
                  <app-ngx-editor [toolbar]="toolConfig" [minHeight]="'250px'" [placeholder]="'Ingresar texto...'" [(ngModel)]="form[selectedTab]"></app-ngx-editor>
                </div>

                <div class="icon-content flex">
                  <svg class="icon icon-earth" viewBox="0 0 18 18">
                    <circle cx="9" cy="9" r="8"></circle><circle cx="5" cy="5" r="4" transform="translate(4 4)"></circle><path d="M12.293 6.414l2.121-2.121M5.828 6.414L3.707 4.293M12.293 11.707l2.121 2.121M5.828 11.707l-2.121 2.121"></path>
                  </svg>
                  <div class="icon-content__title flex-grow">Do you have any questions? <input type="checkbox" [(ngModel)]="form.blocks.questions" id="block-switch1"><label for="block-switch1">Show on page</label></div>
                  <div class="icon-content__second-line">
                    Find answers to our most <a routerLink="/support/faq">frequently asked questions.</a>If you need help to book an activity or have any enquiries. <a routerLink="/support/contact">please contact us</a>
                  </div>
                </div>
              </div>
            </div>

            <!--Meeting point block-->
            <div class="mb-3">
              <div class="meeting activity-wrap">
                <h2 class="activity__header">Meeting point</h2>
                <input type="checkbox" [(ngModel)]="form.blocks.meetingPoint" id="meeting-block-switch"><label for="meeting-block-switch">Show on page</label>
                <div class="meeting__content">
                  <input class="form-control" [(ngModel)]="form.meetingPointText">
                  <div *ngIf="serverErrors.meetingPointText" class="alert alert-danger" role="alert">{{ serverErrors.meetingPointText }}</div>
                </div>
                <div class="map-wrapper mt-30">
                  <agm-map
                          #map
                          [zoom]="15"
                          [latitude]="form.meetingPointLatitude"
                          [longitude]="form.meetingPointLongitude"
                          [usePanning]="true"
                          (mapClick)="onMapClicked($event)"
                  >
                    <agm-marker [latitude]="form.meetingPointLatitude" [longitude]="form.meetingPointLongitude">
                      <agm-info-window>Meeting point</agm-info-window>
                    </agm-marker>
                  </agm-map>
                </div>
              </div>
            </div>

            <div>
              <div class="details">
                <div class="icon-content flex">
                  <svg class="icon icon-exclamatory" viewBox="0 0 16 16">
                    <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7.36v.644a7 7 0 1 1-4.151-6.398"></path><path d="M15 2.404L8 9.411l-2.1-2.1"></path></g>
                  </svg>
                  <div class="icon-content__title flex-grow">Cancellation available <input type="checkbox" [(ngModel)]="form.blocks.cancelationHours" id="block-switch2"><label for="block-switch2">Show on page</label></div>
                  <div class="icon-content__second-line">
                    <input type="number" class="form-control" [(ngModel)]="form.cancelationHoursBefore">hours before</div>
                    <div *ngIf="serverErrors.cancelationHoursBefore" class="alert alert-danger" role="alert">{{ serverErrors.cancelationHoursBefore }}</div>
                </div>
              </div>
            </div>

            <div *ngIf="activityError" class="alert alert-danger mb-3" role="alert">{{ activityError }}</div>
            <button class="btn btn-primary" [attr.disabled]="isSaving ? 'disabled' : null" (click)="saveActivity()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
