<div *ngIf="isLoading" class="loading-small"></div>
<div *ngIf="!isLoading" class="container">
  <input class="form-control" placeholder="Buscar..." [(ngModel)]="search" (input)="updateActivities()">
  <a class="btn btn-next create" routerLink="/admin/activities/create">+ Create</a>
  <a class="btn btn-next" (click)="openUploadReview()">Upload reviews</a>
  <table  class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let activity of activities" [class.disabled]="deletingActivities.includes(activity.id)">
      <td>{{ activity.id }}</td>
      <td>{{ activity.name }}</td>
      <td>{{ activity.is_draft ? 'Draft' : 'Live' }}</td>
      <td>
        <div *ngIf="savingActivities.includes(activity.id)" class="loader"></div>
        <button
                *ngIf="activity.is_draft"
                class="btn btn-primary btn-sm"
                (click)="approve(activity.id)"
                [attr.disabled]="savingActivities.includes(activity.id) ? 'disabled' : null"
        >Approve</button>
        <button
                *ngIf="!activity.is_draft"
                class="btn btn-primary btn-sm"
                (click)="toDraft(activity.id)"
                [attr.disabled]="savingActivities.includes(activity.id) ? 'disabled' : null"
        >To Draft</button>
        <a class="btn btn-primary btn-sm" routerLink="/admin/activities/{{activity.id}}/edit">Edit</a>
        <a class="btn btn-primary btn-sm" routerLink="/admin/activities/{{activity.id}}/view">View</a>
        <a class="btn btn-primary btn-sm" routerLink="/admin/activities/{{activity.id}}/reviews">Reviews</a>
        <button class="btn btn-primary btn-sm" (click)="delete(activity.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="filteredActivities.length" [(page)]="page" [maxSize]="10" (pageChange)="updateActivities()" [pageSize]="pageSize" [boundaryLinks]="true"></ngb-pagination>
</div>
