.btn
  width 100px
  border 0
  padding 10px 17px
  border 0
  &[disabled]
    opacity 0.5
  &.create
    float right

th, td
  vertical-align middle

tr.disabled
  opacity 0.3

.table
  width 100%
  max-width 100%
  margin-bottom 1rem
  background-color transparent

  thead
    th
      border-bottom 2px solid #dee2e6
      padding 0.75rem
      vertical-align middle
      border-top 1px solid #dee2e6

  tbody
    td
      position relative
      padding 0.75rem
      vertical-align middle
      border-top 1px solid #dee2e6

/deep/.pagination
  display -webkit-box
  display -ms-flexbox
  display flex
  padding-left 0
  list-style none
  border-radius .25rem

  .page-item
    margin-top 0px
    &:first-child
      .page-link
        margin-left: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;

    &.active
      .page-link
          z-index 1
          color #fff
          background-color #007bff
          border-color #007bff

    &.disabled
      .page-link
        color #6c757d
        pointer-events none
        cursor auto
        background-color #fff
        border-color #dee2e6

    .page-link
      position relative
      display block
      padding .5rem .75rem
      margin-left -1px
      line-height 1.25
      color #007bff
      background-color #fff
      border 1px solid #dee2e6

.form-control
  max-width 300px
  margin-bottom 20px
  display inline-block
  width 100%
  padding .375rem .75rem
  font-size 1rem
  line-height 1.5
  color #495057
  background-color #fff
  background-clip padding-box
  border 1px solid #ced4da
  border-radius .25rem
  transition border-color .15s ease-in-out,box-shadow .15s ease-in-out

.loading-small
  margin-bottom 20px
  position relative
  width 50px
  height 50px
  border-radius 30px
  border-top 5px solid #53777A
  border-bottom 5px solid #C02942
  -webkit-box-sizing border-box
  box-sizing border-box
  left 50%
  animation loading 1.2s linear infinite
  -webkit-animation loading 1.2s linear infinite

@keyframes loading
  0%
    -webkit-transform rotate(0deg)
    transform rotate(0deg)
  100%
    -webkit-transform rotate(1turn)
    transform rotate(1turn)

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  left:  -25px;
  color: #0086e6;
  font-size: 5px;
  position: absolute;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 
  0%,
  80%,
  100% 
    box-shadow 0 2.5em 0 -1.3em
  
  40% 
    box-shadow 0 2.5em 0 0

@keyframes load7 
  0%,
  80%,
  100% 
    box-shadow 0 2.5em 0 -1.3em
  
  40% 
    box-shadow 0 2.5em 0 0
