@import 'variables'
@import 'rupture'

.icon-cart
  width 22px
  height 22px
  fill none
  +below(769px)
    width 20px
    height 20px
  +below(600px)
    width 16px
    height 16px
.options__item 
  border-right 1px solid rgba(255,255,255,.5)
  min-height 71px
  +below(1690px)
    min-height 56px
  +below(769px)
    min-height 60px 
  +below(720px)
    min-height 48px
    border-right 0
/deep/ .dropdown-basket
  width 400px
  top 100%
  background-color #ffffff
  position absolute
  box-shadow 0 5px 5px rgba(0,0,0,0.1)
  right 0
  z-index 20
  opacity 0
  visibility hidden
  transition opacity .2s 0.2s linear, top .2s 0.2s linear, visibility .2s 0.2s linear
  font-family Roboto,sans-serif
  &__block
    padding-bottom 11px
  &__item
    padding 17px 30px 16px 26px
    border-bottom 1px solid rgba(0, 0, 0, 0.1)
    background-color #fff
    display flex
    flex-grow 1
    margin 0
    position relative
  &__img
    width 74px
    height 74px
    border-radius 50%
  &__link
    width 74px
    display inline-block
    flex-shrink 0
  &__close
    &:hover
      cursor pointer
  &__price
    color #000
    line-height 20px
    font-weight 400
  &__content
    margin-left 10px
    position relative
    flex-grow 1
    display flex
    flex-direction column
    justify-content space-between
  &__title
    font-size 14px
    color #2B2B2B!important
    font-weight bold
    padding-right 38px
    Letter-spacing 0.5px
    line-height 18px
    transition all .2s
    &:hover
      color blue
  &__adult
    color grey
    font-size 14px
    line-height 20px
    font-family font-family-reg
  &__activites-product
    min-height 76px
    display flex
    justify-content space-between
    align-items center
    padding 0 30px 0 40px
    background-color #fff
  &__activites-product-value
    color grey
    font-size 16px
    line-height 23px
    font-family font-family-reg
  &__activites-product-price
    color blue
    font-size 24px
    line-height 20px
    font-weight 400
  +below(600px)
    width 100vw
    right -1px
    .dropdown-basket__link
      display none
    .dropdown-basket__title
      font-size 14px
    .dropdown-basket__price
      font-size 18px
    .dropdown-basket__item
      padding 19px 30px 9px 13px
    .dropdown-basket__activites-product
      padding-left 22px
      padding-right 30px
      min-height 70px

/deep/ .dropdown-basket
  width 407px
  top 100%
  background-color #ffffff
  position absolute
  box-shadow 0 5px 5px rgba(0,0,0,0.1)
  right 0
  z-index 20
  opacity 0
  visibility hidden
  transition opacity .2s 0.2s linear, top .2s 0.2s linear, visibility .2s 0.2s linear
  font-family Roboto,sans-serif
  &.visible-block
    position relative
    top 0
    display block
    visibility visible
    opacity 1
    box-shadow: 0 4px 50px rgba(0,0,0,.05);
    width auto
    padding-top 14px
    .dropdown-basket__item
      padding: 18px 30px 6px 22px;
      .dropdown-basket__link
        width 58px
        height 58px
      .dropdown-basket__img
        width 58px
        height 58px
    .dropdown-basket__content
      padding-top 0
      margin-left 19px
      .dropdown-basket__block:last-child
        padding-right 3px
        padding-left 3px
  +below(769px)
    width 409px
  &__block
    padding-bottom 13px
  &__item
    padding 17px 30px 6px 26px
    border-bottom 1px solid rgba(0, 0, 0, 0.1)
    background-color #fff
    display flex
    flex-grow 1
    margin 0
    position relative
    +below(769px)
      padding-top 16px
    +below(425px)
      padding-top 18px
      padding-bottom 4px
  &__img
    width 74px
    height 74px
    border-radius 50%
  &__link
    width 74px
    display inline-block
    flex-shrink 0
  &__close
    &:hover
      cursor pointer
  &__price
    color #000
    line-height 20px
    font-weight 400
  &__content
    margin-left 10px
    padding-top 3px
    position relative
    flex-grow 1
    display flex
    flex-direction column
    justify-content space-between
    flex-basis 0
  &__title
    font-size 14px
    color #2B2B2B
    font-weight bold
    padding-right 38px
    Letter-spacing 0.5px
    line-height 18px
    transition all .2s
    &:hover
      color blue
  &__adult
    color grey
    font-size 14px
    line-height 20px
    font-family font-family-reg
  &__activites-product
    display flex
    justify-content space-between
    align-items center
    padding 0 30px 0 40px
    padding-top 21px
    padding-bottom 21px
    background-color #fff
    +below(769px)
      min-height 66px
    
  &__activites-product-value
    color grey
    font-size 16px
    line-height 23px
    font-family font-family-reg
  &__activites-product-price
    color blue
    font-size 24px
    line-height 20px
    font-weight 400
  +below(600px)
    width: 100vw;
    .scroll-mobile
      max-height: 208px;
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      background transparent
    .dropdown__link
      display none
    .dropdown__title
      font-size 14px
    .dropdown__price
      font-size 18px
    .dropdown__item
      padding 18px 30px 4px 13px
    .dropdown__activites-product
      padding-left 22px
      padding-right 30px
      min-height 68px
  +below(386px)
    .scroll-mobile
      max-height: 228px;
@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)
  /deep/.dropdown-basket__item
    display none !important
