@import 'variables'
@import 'rupture'

.banner
  background-image url("../../assets/images/banner-bg.jpg")
  background-size cover
  background-position 50% 50%
  min-height 676px
  padding 78px 0
  display flex
  align-items flex-start
  +below(1030px)
    min-height 634px
  +below(767px)
    align-items flex-end
    position relative
    &:before
      position absolute
      top 0
      content ''
      display block
      width 100%
      height 300px
      background-color #fff
  .container
    +below(1030px)
      margin-top -10px
    +below(767px)
      margin-top 0
      padding 0
      .btn
        width 100%
  .offers
    width 515px
    background-color #fff
    box-shadow 0px 4px 50px rgba(0, 0, 0, 0.15)
    padding: 58px 27px 52px 74px;
    margin-bottom 36px
    +below(1030px)
      margin-left 20px
    +below(767px)
      margin-bottom 0
      width 100%
      margin-left 0
      padding-left 9px
      padding-right 9px
    &__banner
      font-size 24px
      line-height 34px
      font-family font-family-md
      color #000
      padding-right 57px
      &--destination
        text-transform uppercase
        .offers__banner--destination-subtitle
          text-transform lowercase
      +below(767px)
        font-size 18px

.spinner
  width: 100%;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  height: 100%;
  .loading
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border-top: 5px solid #53777A;
    border-bottom: 5px solid #C02942;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -80px;
    animation: loading 1.2s linear infinite;
    -webkit-animation: loading 1.2s linear infinite;

.loading-small
  position relative
  width 50px
  height 50px
  border-radius 30px
  border-top 5px solid #53777A
  border-bottom 5px solid #C02942
  -webkit-box-sizing border-box
  box-sizing border-box
  left 50%
  animation loading 1.2s linear infinite
  -webkit-animation loading 1.2s linear infinite

@keyframes loading
  0%
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  100%
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);

.section
    background-image url(../../assets/images/activities_bg.jpg)
    background-size cover
    background-position 50% 500px
    background-repeat no-repeat
    &--city
      padding-bottom 66px
      /deep/.activities-item-position--horizontal
        border-bottom-left-radius 5px
        .activities__item--horizontal
          border-top-left-radius 5px
          .activities__content-header
            margin-right 78px
            color blue
          &:hover
            .activities__content-header
              color dark-blue !important
      .activities-btn
        margin-top 40px
      +below(769px)
        padding-top 36px
        padding-left 20px
        padding-right 20px
        padding-bottom 106px
      +below(720px)
        /deep/.activities-item-position--horizontal
          .activities__item--horizontal .activities__header-img
            border-bottom-left-radius 0
      +below(655px)
        padding-right 0
        padding-left 0
        .container
          padding-right 0
          padding-left 0
      +below(425px)
        padding-top 11px
        padding-bottom 84px
        .mb-25
          margin-left 10px
          margin-right 10px
.fb-100
  flex-basis 100%
.sidebar-wrap
  justify-content flex-start
  .sidebar
    margin-right 0
  &__content
    width calc(100% - 361px)
    margin-left 20px
    +below(1165px)
      width calc(100% - 330px)
      .activities__item
        margin-right 0
        margin-left 0
      .activities__header-img
        width 230px
    +below(1020px)
      margin-left 0
      width 100%
      display flex
      flex-wrap wrap
      .activities--city
        flex-basis 100%
        .activities__item
          margin-right 0
      .mb-25
        flex-grow 1
      .filter-mobile
        display flex
        + app-search-filter
          flex-grow 1
    +below(769px)
      /deep/.activities--city
        padding-bottom 32px
        .activities__header-img
          width 247px
          border-top-right-radius 5px !important
      /deep/.activities--city .activities__content-header
        margin-right 110px
      .mb-25
        margin-bottom 22px
      /deep/.activities--city .activities__item
        margin-bottom 22px
      /deep/.activities--city .activities__caption
        left 24px
    +below(720px)
      /deep/.activities--city
        .activities__item
          display flex
          flex-wrap wrap
          width 350px
          margin-right auto !important
          margin-left auto
          margin-bottom 0
          border-bottom-left-radius: 0
          +below(425px)
            width calc(100% - 20px) !important
            margin-bottom 10px
        .activities__header-img
          flex-basis 100%
          min-height 123px !important
          border-top-right-radius: 5px;
          &:after
            height 100%
        .city-bottom
          top 95px
          left 25px
          height 20px
          align-items center
        +below(425px)
          padding-bottom 0

    +below(425px)
      /deep/.activities--city
        .activities-btn
          margin-top 0
         .activities__caption
          left 16px
          top 14px
        .activities__item
          width 300px
      /deep/.activities--city
        .activities__item--horizontal
          .activities__content
            margin 24px 20px 30px 15px !important
          .city-bottom
            top 89px
            left 15px
          .activities__btn
            top -50px !important
            right -6px !important
          .activities__content-header
            margin-right  50px
            margin-bottom 7px
            a
              font-size 16px
              line-height 21px
          .activities__desc
            padding-right 0
            line-height 19px
          .activities__content-star
            padding 0

/deep/.activities--city
  .activities-item-position
    margin-right 0
    display block
.search-activities
  position relative
  display flex
  align-items center
  margin-bottom 28px
  .selectize-search
    position absolute
    left 47px
    top 50%
    margin-top -7px
    width 14px
    height 14px
    fill transparent

.city-img
  display flex
  height 316px
  margin-top 21px
  background-size cover !important
  background-position center center !important
  &__ttl
    color white
    font-family font-family-md
    font-size 20px
    margin 19px 0 0 24px
    text-transform uppercase
.filter-mobile 
  +below(425px)
    padding-left 0
    .icon
      margin-left 16px
      margin-right 26px
.sidebar__item.is-visible-mobile
  +below(480px)
    padding-top 0
.sidebar
  +below(1020px)
      height 100% !important
/deep/.list--navigation
  li:last-child
    display none
  li:nth-child(4):after
    display none