<app-overlay-spinner *ngIf="isLoading"></app-overlay-spinner>
<app-hero [destinationCity]="destinationInfo | async" ></app-hero>
<app-category-filter [selectedCategories]="activityCategoriesFilter" (onCategoryClicked)="changedCategoriesFilter($event)"></app-category-filter>
<section class="section section--city">
  <div class="container">
    <div class="sidebar-wrap flex">
      <div class="sidebar js-sidebar" id="sidebar" [class.open]="openSidebar">
        <div class="sidebar__item is-visible-mobile">
          <div class="scroll">
            <app-activity-filter
                    [offset]="(destinationInfo|async)?.offset"
                    [selectedCategories]="categoriesFilter"
                    (onAjaxFilter)="ajaxFilterChanged($event)"
                    (onFastFilter)="fastFilterChanged($event)"
            ></app-activity-filter>
          </div>
          <div class="filter-submit btn" (click)="closeSideBar();">ver actividades</div>
        </div>
        <div class="sidebar__item" [hidden]="!reviews.length">
          <div class="sidebar__ttl">Últimas Opiniones</div>
          <div class="reviews-wrap">
            <app-review *ngFor="let review of reviews" [review]="review"></app-review>
          </div>
        </div>
        <!--<div class="sidebar__item" *ngIf="destinationInfo|async">
          <div class="sidebar__ttl">Conoce nuestra guía de {{ (destinationInfo|async)?.name }}</div>
          <a class="city-img" href="#" [ngStyle]="{'background': 'url(' +  (destinationInfo|async)?.avatar + ')'}">
            <span class="city-img__ttl">{{ (destinationInfo|async)?.name }}</span>
          </a>
        </div>-->
      </div>
      <div class="sidebar-wrap__content">
        <div class="filter-mobile" (click)="openSideBar();">
          <svg class="icon icon-filter" viewBox="0 0 20 19" width="100%" height="100%"><path d="M19 1H1l7.2 8.514V15.4l3.6 1.8V9.514L19 1z"></path></svg>
          filter
        </div>  
        <app-search-filter (onSearch)="searchInput($event)"></app-search-filter>
        <div *ngIf="isActivityLoading" class="loading-small"></div>
        <div *ngIf="!isActivityLoading && !activities.length" class="fb-100">No se han encontrado actividades</div>
        <div class="activities activities--city">
          <app-activity-card
                  class="activities-item-position activities-item-position--horizontal"
                  *ngFor="let activity of activities"
                  [activity]="activity"
                  [isHorizontal]="true"
                  (click)="fireActivityClick(activity)"
          ></app-activity-card>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="banner" style="display:none">
  <div class="container flex">
    <div class="offers">
      <h3 class="offers__banner">SERVICIO DE TRASLADO: <br>seguro, confiable y a tiempo
      </h3>
      <ul class="list list--price">
        <li class="list__item">
          <div class="list__city">Vehículo de 4 plazas
          </div>
          <div class="list__value">€25
          </div>
        </li>
        <li class="list__item">
          <div class="list__city">Vehículo de 8 plazas
          </div>
          <div class="list__value">€35
          </div>
        </li>
        <li class="list__item">
          <div class="list__city">Vehículo de 12 plazas
          </div>
          <div class="list__value">€35
          </div>
        </li>
      </ul>
      <a class="btn btn--destination" href="#">Reservar un traslado</a>
    </div>
  </div>
</section>
<app-calendar-slider></app-calendar-slider>
