<div class="tabContent" [class.active]="selected">
  <div class="tabContent-body">
    <div class="tabContent-body__title" *ngIf="isAlready">
      ¿Tienes dudas en cuanto a tu reserve? ¿Deseas realizar alguna modificación o cancelación? ¿Aún no recibes el correo de confirmación?
    </div>
    <div class="tabContent-body__title" *ngIf="isBefore">
      ¿Necesita ayuda con el proceso de reserva? ¿Tiene alguna pregunta sobre una actividad específica?
    </div>
    <div class="tabContent-body__title" *ngIf="isOther">
      ¿Quieres trabajar con nosotros? ¿Tiene problemas técnicos? Otras preguntas?
    </div>
    <div class="form-checkout">
      <form #alreadyBooked="ngForm" (ngSubmit)="submitData(alreadyBooked)">
        <div class="flex flex-wrap justify-content-between">
          <label class="radio" *ngIf="isAlready">
            <input class="radio__inner" type="radio" name="hasReservation" [(ngModel)]="form.hasReservation" [value]="true"><span class="radio__mark"></span>
            <p class="radio__text">Tengo un número de reserva</p>
          </label>
          <label class="radio" *ngIf="isAlready">
            <input class="radio__inner" type="radio" name="hasReservation" [(ngModel)]="form.hasReservation" [value]="false"><span class="radio__mark"></span>
            <p class="radio__text">No tengo el número de reserva</p>
          </label>
          <div class="radio-content" [class.hidden]="!form.hasReservation || !isAlready">
            <div class="form-checkout__row">
              <div class="form-checkout__item flex flex-column">
                <label>Número de Reserva</label>
                <input type="text" name="number" #number="ngModel" [(ngModel)]="form.number" required maxlength="50">
                <div *ngIf="number.invalid && (number.dirty || number.touched || tryToSubmit)" class="error">Introduzca el número de reserva</div>
              </div>
              <div class="form-checkout__item flex flex-column">
                <label>e-mail</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="form.email" required email maxlength="50">
                <div *ngIf="email.invalid && (email.dirty || email.touched || tryToSubmit)" class="error">Ingresar correo electrónico</div>
              </div>
            </div>
            <div class="form-checkout__row">
              <div class="w-100">
                <div class="form-checkout__item flex flex-column">
                  <label>message</label>
                  <textarea rows="3" name="message" #message="ngModel" [(ngModel)]="form.message" maxlength="1024" required></textarea>
                  <div *ngIf="message.invalid && (message.dirty || message.touched || tryToSubmit)" class="error">Introduzca el mensaje</div>
                </div>
              </div>
            </div>
            <div class="check-wrap flex">
              <label class="check-wrap__container flex">
                <input type="checkbox" #terms="ngModel" name="terms" [(ngModel)]="termsAccepted"><span></span>Acepto&nbsp;
                <a routerLink="/policy/privacy" target="_blank">política de privacidad</a>
              </label>
            </div>
            <div *ngIf="terms.invalid && (terms.dirty || terms.touched || tryToSubmit)" class="error">Acepte la política de privacidad y condiciones generales</div>
          </div>
          <div class="radio-content"  [class.hidden]="form.hasReservation && isAlready">
            <div class="form-checkout__row">
              <div class="form-checkout__item flex flex-column">
                <label>name</label>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="form.name" required maxlength="50">
                <div *ngIf="name.invalid && (name.dirty || name.touched || tryToSubmit)" class="error">Ingresar nombre y apellido separado por un espacio.</div>
              </div>
              <div class="form-checkout__item flex flex-column">
                <label>e-mail</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="form.email" required email maxlength="50">
                <div *ngIf="email.invalid && (email.dirty || email.touched || tryToSubmit)" class="error">Ingresar correo electrónico</div>
              </div>
            </div>
            <div class="form-checkout__row">
              <div class="form-checkout__item flex flex-column" class="hidden">
                <label>subject</label>
                <div class="input-select-wrap">
                  <input type="text" #subject="ngModel" name="subject" [(ngModel)]="form.subject" maxlength="50">
                </div>
              </div>
              <div class="form-checkout__item flex flex-column" [class.hidden]="isOther">
                <label>destination</label>
                <input type="text" name="destination" [(ngModel)]="form.destination" maxlength="1000">
              </div>
            </div>
            <div class="form-checkout__row">
              <div class="w-100">
                <div class="form-checkout__item flex flex-column">
                  <label>message</label>
                  <textarea rows="3" name="message" #message="ngModel" [(ngModel)]="form.message" maxlength="1024" required></textarea>
                  <div *ngIf="message.invalid && (message.dirty || message.touched || tryToSubmit)" class="error">Introduzca el mensaje</div>
                </div>
              </div>
            </div>
            <div class="form-checkout__row">
              <div class="w-100">
                <div class="form-checkout__item flex flex-column">
                  <label>file</label>
                  <app-file-uploader [(file)]="selectedFile"></app-file-uploader>
                </div>
              </div>
            </div>
            <div class="check-wrap flex">
              <label class="check-wrap__container">
                <input type="checkbox" #terms="ngModel" name="terms" [(ngModel)]="termsAccepted" required><span></span>Acepto&nbsp;
                <a routerLink="/policy/privacy" target="_blank">política de privacidad</a>
              </label>
            </div>
            <div *ngIf="terms.invalid && (terms.dirty || terms.touched || tryToSubmit)" class="error">Acepte la política de privacidad y condiciones generales</div>
          </div>
          <button class="btn btn--dark-hover" type="submit">enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
