@import "rupture"
@import "variables"

/deep/.list-reviews
  display flex
  flex-direction column
  .reviews-item-position
    background: #fff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    transition all .2s
    &:hover
      box-shadow: 0 4px 25px rgba(0,0,0,.2);

    &.deleted
      opacity 0.3
  .reviews-item-position+.reviews-item-position
    margin-top 20px
  .list-reviews__img-wrap
    width: 100%;
    min-height: 162px;
    height auto !important
    height 162px
    display flex
    flex-direction column
    justify-content flex-end
    padding-top 50px
    position: relative;
  .list-reviews__link
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 5px 5px 0px 0px;
    &:after
      content ''
      display block
      width 100%
      height 100%
      top 0
      left 0
      position absolute
  .star-block
    display: flex;
    position: absolute;
    top: 22px;
    left: 34px;
    .icon.active
      fill #fff
  .time-language
    position: absolute;
    top: 19px;
    right: 41px;
    .time-language__item+.time-language__item
      margin-left 35px
  .list-reviews__title
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #fff;
    position relative
    padding-left 34px
    padding-bottom 17px
    padding-right 34px
  .card-comment
    border-radius: 0 0 5px 5px;
    padding-top: 33px;
    .card-comment__img
      position relative
      text-align center
      &.svg-family-small
        background: #56CCF2;
      &.svg-alone
        background: #27AE60;
      &.svg-couple
        background: #BB6BD9;
      .icon
        width 100%
        height 23px
        position absolute
        top 50%
        transform translateY(-50%)
        fill #fff
    .card-comment__value-people
      text-align left;
      margin-top: 7px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      font-size: 16px;
      color: #000;
    .card-comment__caption-right
      margin-right: 0;
    .icon-score__data
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      font-size: 14px;
      color: rgba(0,0,0,.3);
    .icon-score__star
      margin-left 27px
    .card-comment__desc
      margin-top 14px
    .card-comment__btn
      margin-top 38px
      .icon-content
        flex-wrap nowrap
        align-items center
        transition all .2s
        cursor pointer
        .icon
          width 18px
          height 18px
          fill transparent
          stroke #000
          stroke-opacity .3
          flex-shrink 0
          transition all .2s
          margin-right 6px

        &__title
          flex-basis auto
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          line-height: 14px;
          font-size: 12px;
          margin-top 2px
          text-align: center;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color rgba(0,0,0,.3)
          transition all .2s
        &:hover
          .icon-content__title
            color: #EB5757;
          .icon
            stroke #EB5757
            stroke-opacity 1

  +below(1020px)
    padding-top 25px
    padding-bottom 67px

.list-pagination
  margin-bottom 0
  margin-top 50px
  li+li
    margin-top 0
  li.list-pagination__back
    width 80px
    height 30px
    border-radius 2px
    border 1px solid blue
    box-sizing border-box
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9);
    padding-left 7px
    justify-content center
    transition all .3s
    cursor pointer
    .icon
      fill transparent
      width 8px
      height 14px
      margin-right 5px
      stroke #000
    &:hover
      background-color dark-blue
      color #fff
      border-color dark-blue
      .icon
        stroke #fff
  li.list-pagination__next
    width 80px
    height 30px
    border-radius 2px
    border 1px solid blue
    box-sizing border-box
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9);
    justify-content center
    padding-left 6px
    transition all .3s
    cursor pointer
    .icon
      fill transparent
      width 8px
      height 14px
      transform rotate(180deg)
      margin-right 5px
      stroke #000
    &:hover
      background-color dark-blue
      color #fff
      border-color dark-blue
      .icon
        stroke #fff
  li
    .list-pagination__middle
      padding-left 15px
      padding-right 15px
      li
        width 20px
        height 30px
        display flex
        align-items center
        justify-content center
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 14px;
        text-align: center;
        color: rgba(0, 0, 0, 0.9);
        cursor pointer
        &.active
          width 30px
          height 30px
          border-radius 50%
          border 1px solid blue
          box-sizing border-box
      Li+li
        margin-left 5px
  +below(425px)
    li
      .list-pagination__middle
        padding-left 5px
        padding-right 5px
        li:nth-child(3)
          display none
        li:nth-child(5)
          display none
.section--reviews
  +below(1020px)
    .tab-container .tabContent
      margin-top 0
    .list-reviews .reviews-item-position+.reviews-item-position
      margin-top 25px
  +below(900px)
    .container
      padding-left 40px
      padding-right 40px
    .tab-container .accordion-title-mobile__main
      padding-left 50px
    .list-pagination
      margin-top 34px
  +below(650px)
    .container
      padding-left 0
      padding-right 0
    .tab-container
      .tabContent-body
        padding-left 8px
        padding-right 8px
    .tab-container .accordion-title-mobile__main
      padding-left 10px
    .list-pagination
      margin-left auto
      margin-right auto
    .list-reviews .reviews-item-position+.reviews-item-position
      margin-top 11px
    .list-pagination
      margin-top 38px
