<button class="modal__close flex align-items-center justify-content-center" (click)="activeModal.dismiss('Cross click')">
  <svg class="icon icon-close" viewBox="0 0 11 11">
    <g><path d="M.95.55l9.192 9.193-.707.707L.243 1.257z"></path><path d="M10.142 1.257L.95 10.45l-.707-.707L9.435.55z"></path></g>
  </svg>
</button>
<div class="modal__content flex">
  <div class="modal__header flex">
    <div class="modal__title">Crear nueva contraseña
    </div>
  </div>
  <div class="modal__form">
    <form [formGroup]="newPasswordForm" (submit)="onSubmit()">
      <div class="form-group flex form-group form-group--long" [class.error-input]="(serverErrors.password.length || password.invalid) && (password.dirty || password.touched || checkFields)" (click)="setFocus('password')">
        <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">contraseña</span>
          <input type="{{ passwordType }}" formControlName="password" name="password" id="password">
          <div class="form-group__btn-show-password flex align-items-center justify-content-center">
            <svg class="icon icon-show-password" viewBox="0 0 24 24" (mouseover)="passwordType = 'text'; null" (mouseout)="passwordType = 'password'; null">
              <g opacity=".3"><path d="M21 12c-1.8 2.5-4.527 5-9 5-4.474 0-7.65-2.5-9-5M12 21v-4M20.828 18.828L18 16M4 18.828L6.828 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#000"/></g>
            </svg>
          </div>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
          <div *ngIf="password.errors.required" class="error">Ingresar contraseña</div>
          <div *ngIf="!password.errors.required && password.errors.pattern" class="error">La contraseña debe tener al menos 8 caracteres y uno de ellos en mayúscula</div>
        </div>
        <div *ngIf="serverErrors.password.length" class="error-wrap flex align-items-center justify-content-between">
          <div *ngFor="let error of serverErrors.password" class="error">{{ error }}</div>
        </div>
      </div>
      <div class="form-group flex form-group form-group--long" [class.error-input]="(passwordConfirm.invalid || serverErrors.passwordConfirm.length) && (passwordConfirm.dirty || passwordConfirm.touched || checkFields)" (click)="setFocus('passwordConfirm')">
        <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">confirmar</span>
          <input type="{{ passwordConfirmType }}" formControlName="passwordConfirm" name="passwordConfirm" id="passwordConfirm">
          <div class="form-group__btn-show-password flex align-items-center justify-content-center">
            <svg class="icon icon-show-password" viewBox="0 0 24 24" (mouseover)="passwordConfirmType = 'text'; null" (mouseout)="passwordConfirmType = 'password'; null">
              <g opacity=".3"><path d="M21 12c-1.8 2.5-4.527 5-9 5-4.474 0-7.65-2.5-9-5M12 21v-4M20.828 18.828L18 16M4 18.828L6.828 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#000"/></g>
            </svg>
          </div>
        </div>
        <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
          <div *ngIf="passwordConfirm.errors.required" class="error">Por favor ingrese la contraseña de confirmación</div>
          <div *ngIf="passwordConfirm.errors.valueDifferent" class="error">La contraseña y la confirmación deben coincidir</div>
        </div>
        <div *ngIf="serverErrors.passwordConfirm.length" class="error-wrap flex align-items-center justify-content-between">
          <div *ngFor="let error of serverErrors.passwordConfirm" class="error">{{ error }}</div>
        </div>
      </div>
      <div class="form-group flex error-input">
        <div *ngIf="token.invalid && checkFields" class="error-wrap flex align-items-center justify-content-between">
          <div class="error">Se requiere un nuevo token de contraseña del correo electrónico</div>
        </div>
        <div *ngIf="serverErrors.token.length" class="error-wrap flex align-items-center justify-content-between">
          <div *ngFor="let error of serverErrors.token" class="error">{{ error }}</div>
        </div>
      </div>
      <div *ngIf="newPasswordError" class="form-group flex error-input">
        <div class="error-wrap flex align-items-start justify-content-between">
          <div class="error">{{ newPasswordError }}</div>
        </div>
      </div>
      <div class="modal__wrapper-btn">
        <button [disabled]="inProgress" class="btn" type="submit">Restablecer contraseña</button>
      </div>
    </form>
  </div>
</div>