<div class="header-fixed-pt">
  <div class="section section--policy section--grey"> 
    <div class="container">
      <h1>CONDICIONES GENERALES DE USO</h1>
      <h3 class="head">1. Información General</h3>
      <p class="desc">La titularidad de este sitio web,
        <a href="https://www.civitours.com">www.civitours.com</a>, (en adelante Sitio Web), presentada a través de Actividades Civitours SL (en adelante Civitours),
        provista de NIF: B39859194 y cuyos datos de contacto son:</p>
      <p class="desc">Dirección: C/ Calderon de la Barca 12 Entreplanta (Santander).</p>
      <p class="desc">Teléfono de contacto:
        <a href="tel:+34935221209">+34 935 221 209</a>
      </p>
      <p class="desc">Email de contacto:
        <a href="mailto:civitours@civitours.com">civitours@civitours.com</a>
      </p>
      <p class="desc">Este documento regula las condiciones por las que se rige el uso de este Sitio Web y la adquisición de un servicio.</p>
      <p class="desc">A efecto de estas condiciones se entiende que Civitours, desarrolla un Sitio Web para ofrecer a los diferentes usuarios
        un servicio de reserva de actividades, visitas guiadas y excursiones en diferentes ciudades turísticas alrededor del
        mundo.
      </p>
      <p class="desc">Además de leer las presentes condiciones, antes de acceder, navegar y/o usar esta página web, el Usuario ha de haber leído
        el Aviso Legal, política de cookies y la política de privacidad y de protección de datos de Civitours. Al utilizar este
        Sitio Web y solicitar de sus servicios a través del mismo Usuario consiente quedar vinculado por estas condiciones y
        por todo lo anterior mencionado, por lo que, si no está de acuerdo con todo ello, no debe usar este sitio web. </p>
      <p class="desc">Se informa también que estas condiciones podrían ser modificadas. El Usuario es responsable de consultarlas cada vez que
        acceda, navegue y/o haga uso del Sitio Web ya que se aplicarán aquellas que se encuentren vigentes en el momento en que
        se solicite la adquisición de los servicios.</p>
      <h3 class="head">2. El Usuario</h3>
      <p class="desc">El acceso, la navegación y el uso del Sitio Web, confiere la condición de usuario (en adelante referido, indistintamente,
        individualmente como Usuario o conjuntamente como Usuarios) por lo que se aceptan todas las condiciones aquí establecida,
        así como cualquier modificación, sin perjuicio de la aplicación de la correspondiente normativa legal de obligado cumplimiento
        según el caso.</p>
      <p class="desc">El Usuario asume su responsabilidad de un uso correcto del Sitio Web. Esta responsabilidad se extenderá a:</p>
      <ul>
        <li><p>Hacer uso del Sitio Web únicamente para realizar compras y consultas o adquisiciones legalmente válidas.</p></li>
        <li><p>No realizar ninguna compra falsa o fraudulenta. Si razonablemente se pudiera considerar que se ha hecho una compra de
          esta índole, podría ser anulada y se informaría a las autoridades pertinentes.</p></li>
        <li><p>Facilitar datos de contacto veraces y lícitos, por ejemplo, dirección de correo electrónico, dirección postal y/u otros
          datos.</p>
        </li>
      </ul>
      <p class="desc">El usuario declara ser mayor de 16 años y tener capacidad legal para celebrar contratos a través de este Sitio Web. En
        caso de que el Usuario sea menor a 16 años, necesitará el consentimiento efectivo de sus padres, tutores o representantes
        legales para la aceptación de lo dispuesto en las presentes Condiciones.</p>
      <p class="desc">El Usuario podrá formalizar, su elección, con Civitours el contrato de compraventa de los servicios deseados en cualquier
        idioma en los que las presentes Condiciones estén disponibles en este Sitio Web.</p>
      <h3 class="head">3. Proceso de Compra o Adquisición</h3>
      <p class="desc">Los Usuarios pueden comprar en el Sitio Web por los medios y formas establecidos. Deberán seguir el procedimiento de compra
        y/o adquisición online de Civitours, durante el cual varios servicios pueden ser seleccionados y añadidos al carrito,
        y finalmente, hacer clic en “reservar”.</p>
      <p class="desc">Asimismo, el Usuario deberá rellenar y/o comprobar la información que en cada paso se le solicita, aunque, durante el proceso
        de compra, antes de realizar el pago, se pueden modificar los datos de la compra.</p>
      <p class="desc">Seguidamente, el Usuario recibirá un correo electrónico confirmando que Civitours ha recibido su pedido o solicitud de
        compra y/o prestación del servicio, es decir, la confirmación del pedido. Y, en su caso, se informará, igualmente, mediante
        correo electrónico su “voucher” con los detalles del proveedor que brindará los servicios de su actividad.</p>
      <p class="desc">Una vez el procedimiento de compra ha concluido, el Usuario consiente que el Sitio Web genere una factura electrónica que,
        si el Usuario lo solicita, se le puede hacer llegar a través de correo electrónico. Así mismo, el usuario puede, si así
        lo desea, obtener una copia de su factura en papel, solicitándola a Civitours, utilizando los espacios de contacto del
        Sitio Web o a través de los datos de contacto facilitados más arriba.</p>
      <p class="desc">El Usuario reconoce estar al corriente, en el momento de la compra, de ciertas condiciones particulares de venta que conciernen
        al producto y/o servicio en cuestión y que se muestran junto a la presentación de los detalles expuestos en este Sitio
        Web, indicando en modo enunciativo, pero no exhaustivo, y atendiendo a cada caso: nombre de la actividad, precio, que
        incluye, que no incluye, itinerario, punto de encuentro, detalles de la actividad, o características, modo en el que
        se llevarán a cabo y/o coste de las prestaciones; y reconoce que la realización del pedido de compra o adquisición materializa
        la aceptación plena y completa de las condiciones particulares de venta aplicable a cada caso.</p>
      <p class="desc">El Usuario reconoce que Civitours le muestra para su interés una serie de servicios que titular no presta a los Usuarios
        directamente, si no que serán contratados y prestados por un tercero distinto a Civitours.</p>
      <p class="desc">Las comunicaciones, órdenes de compra y pagos que intervengan durante las transacciones efectuadas en el Sitio Web pordían
        ser archivadas y conservadas en los registros informatizados de Civitours con el fin de constituir un medio de prueba
        de las transacciones, en todo caso, respetando las condiciones razonables de seguridad y las leyes y normativas vigentes
        que a este respecto sean de aplicación, y particularmente atendiendo el Reglamento (UE) 2016/679 del Parlamento Europeo
        y del Consejo, de 27 de abril del 2016, relativo a la protección de las personas físicas en lo que respecta el tratamiento
        de datos personales y a libre circulación de estos datos (RGPD) y a los derechos que asisten a los Usuarios conforme
        a la política de privacidad de este Sitio Web.</p>
      <h3 class="head">4. Disponibilidad</h3>
      <p class="desc">Todos los pedidos de compra recibidos por Civitours a través del Sitio Web están sujetos a disponibilidad. Si se produjera
        una dificultad en cuanto al suministro del servicio, debido al proveedor, Civitours se compromete a contactar el Usuario
        y reembolsar cualquier cantidad que pudiera haber sido abonada en concepto al importe.</p>
      <h3 class="head">5. Precios y pago</h3>
      <p class="desc">Los precios exhibidos en el Sitio Web son los finales, en Euros (€) e incluyen los impuestos, salvo que, por exigencia
        legal, especialmente en lo relativo al IVA, se señale y aplique cuestión distinta.</p>
      <p class="desc">En ningún caso el Sitio Web añadirá costes adicionales al precio de una actividad de forma automática, sino solo aquellos
        que el Usuario haya seleccionado voluntaria y libremente.</p>
      <p class="desc">Los precios pueden cambiar en cualquier momento, pero los posibles cambios no afectarán a las actividades a los que el
        Usuario ya haya recibido una confirmación del pedido.</p>
      <p class="desc">Los medios de pago aceptados serán: Tarjeta de crédito o débito y PayPal</p>
      <p class="desc">Civitours utiliza todos los medios para garantizar la confidencialidad y la seguridad de los datos de pago transmitidos
        por el Usuario durante las transacciones a través del Sitio Web. Como tal, el Sitio Web utiliza un sistema de pago seguro
        SSL (Secure Socket Layer).</p>
      <p class="desc">Las tarjetas de crédito estarán sujetas a comprobaciones y autorizaciones por parte de la entidad bancaria emisora de estas,
        si dicha entidad no autorizase el pago, Civitours no será responsable y no podrá formalizar ningún contrato con el Usuario.</p>
      <p class="desc">Una vez que Civitours reciba la orden de compra por parte del Usuario a través del Sitio Web, se realizará el cobro automáticamente
        en la tarjeta.</p>
      <p class="desc">Si el medio de pago es PayPal el cargo se hará automáticamente.</p>
      <p class="desc">En todo caso, al hacer clic en “Reservar” el Usuario confirma que el método de pago utilizado es suyo.</p>
      <h3 class="head">6. Política de Cancelaciones</h3>
      <p class="desc">Todos los servicios expuestos por Civitours en el Sitio Web, cuentan con su política de cancelación específica. El Usuario
        asume la responsabilidad de consultar en la descripción de la actividad en el Sitio Web.</p>
      <p class="desc">Cada servicio le será aplicado sus condiciones específicas de cancelación, las cuales especifican el plazo exacto y si
        hay algún tipo de penalización o no.</p>
      <h3 class="head">7. Medios Técnicos para Corregir Errores</h3>
      <p class="desc">Se pone en conocimiento al usuario que en caso de que detecte que se ha producido un error al introducir datos necesarios
        para procesar su solicitud de compra en el Sitio Web, podrá modificar los mismos poniéndose en contacto con Civitours,
        a través de los espacios de contacto con el servicio de atención al cliente, y/o utilizando los datos de contacto facilitados
        en la cláusula primera.</p>
      <p class="desc">En cualquier caso, el Usuario, antes de hacer clic en “Reservar”, tiene acceso al carrito donde se van anotando sus solicitudes
        de compra y pueden hacer modificaciones.</p>
      <h3 class="head">8. Comunicaciones por Escrito y Notificaciones</h3>
      <p class="desc">Mediante el uso de este Sitio Web, el Usuario acepta que la mayor parte de las comunicaciones con Civitours sean electrónica
        (correos electrónicos o avisos publicados en el Sitio Web).</p>
      <p class="desc">A efectos contractuales, el Usuario consiente en usar este medio electrónico de comunicación y reconoce que todo contrato,
        notificación, información y demás comunicación que Civitours envíe de forma electrónica cumplen con los requisitos legales
        de ser por escrito. Esta condición no afectará a los derechos reconocidos por ley al Usuario.</p>
      <p class="desc">El Usuario puede enviar notificaciones y/o comunicarse con Civitours a través de los datos de contacto que en estas Condiciones
        se facilitan y, en su caso, a través de los espacios de contacto del Sitio Web.</p>
      <p class="desc">Igualmente, salvo que se estipule lo contrario, Civitours puede contactar y/o notificar al Usuario en su correo electrónico
        o en la dirección postal facilitada.</p>
      <h3 class="head">9. Acuerdo Completo</h3>
      <p class="desc">Las presentes Condiciones y todo documento al que se haga referencia expresa en estas constituyen el acuerdo íntegro existente
        entre el Usuario y Civitours en relación con el objeto de compraventa y sustituyen a cualquier otro pacto, acuerdo o
        promesa anterior convenida verbalmente o por escrito por las mismas partes.</p>
      <p class="desc">El Usuario y Civitours reconocen haber consentido la celebración de un contrato sin haber confiado en ninguna declaración
        o promesa hecha por la otra parte, salvo aquello que figura expresamente mencionado en las presentes condiciones.</p>
      <h3 class="head">10. Protección de Datos</h3>
      <p class="desc">La información o datos de carácter personal que el Usuario facilite a Civitours en el curso de una transacción en el Sitio
        Web, serán tratados con arreglo a lo establecido en la Política de Privacidad o de protección de datos. Al acceder, navegar
        y/o usar el Sitio Web, el Usuario consiente el tratamiento de dicha información y datos y declara que toda la información
        o datos de facilita son veraces.</p>
      <h3 class="head">11. Quejas y Reclamaciones</h3>
      <p class="desc">El Usuario puede hacer llegar a Civitours sus quejas, reclamaciones o todo otro comentario que desee realizar a través
        de los datos de contacto que se facilitan al principio de estas Condiciones.</p>
      <p class="desc">Asimismo, si de la celebración de este contrato entre Civitours y el Usuario emanara una controversia, el Uusario como
        consumidor puede solicitar una solución extrajudicial de controversias, de acuerdo con el Reglamento (UE) 524/2013 Ddel
        Parlamento Europeo y del Consejo, de 21 de mayo del 2013, sobre resolución de litigios en línea en materia de consumo
        y por el que se modifica el Reglamento (CE) 2006/2004 y la Directiva 2009/22/CE. Puede acceder a este método a través
        del siguiente sitio web:
        <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>.</p>
    </div>
  </div>
</div>