<div class="container pt-1">
    <h1>Admin area</h1>
    <nav>
        <ul class="breadcrumb">
            <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item" aria-current="page">{{ breadcrumb }}</li>
        </ul>
    </nav>
    <nav class="nav mb-3">
        <a class="nav-link btn btn-light mr-1" routerLink="/admin/geo" routerLinkActive="active">Geo</a>
        <a class="nav-link btn btn-light mr-1" routerLink="/admin/activities" routerLinkActive="active">Activities</a>
        <a class="nav-link btn btn-light mr-1" routerLink="/admin/suppliers" routerLinkActive="active">Suppliers</a>
        <a class="nav-link btn btn-light mr-1" routerLink="/admin/operations" routerLinkActive="active">Operations</a>
        <a class="nav-link btn btn-light mr-1" routerLink="/admin/reports" routerLinkActive="active">Reports</a>
    </nav>
</div>
<router-outlet></router-outlet>
