.container
  margin-top 70px

.breadcrumb
  display -ms-flexbox
  display flex
  -ms-flex-wrap wrap
  flex-wrap wrap
  padding .75rem 1rem
  margin-bottom 1rem
  list-style none
  background-color #e9ecef
  border-radius .25rem
  
  .breadcrumb-item
    color: #6c757d;
    +.breadcrumb-item:before
      display inline-block
      padding-right .5rem
      color #6c757d
      content "/"

    +.breadcrumb-item
      padding-left .5rem

    
.nav
  display -ms-flexbox
  display -webkit-box
  display flex
  -ms-flex-wrap: wrap
  flex-wrap wrap
  padding-left 0
  list-style none
  margin-bottom 1rem

  .nav-link
    display block
    padding 0.5rem 1rem

  .btn
    display inline-block
    font-weight 400
    text-align center
    white-space nowrap
    vertical-align middle
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    border 1px solid transparent
    padding 0.375rem 0.75rem
    font-size 1rem
    line-height 1.5
    border-radius 0.25rem
    -webkit-transition color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
    transition color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
    transition color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
    transition color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
    cursor pointer
    margin-right 0.25rem
    &.active
      background-image none

  .btn-light
    color #212529
    background-color #f8f9fa
    border-color #f8f9fa
    &.active
      color #212529
      background-color #dae0e5
      border-color #d3d9df





