.mb-3
  margin-bottom 1rem

/deep/.datatable-body-row
  cursor pointer
  &:hover
    background-color  #a7cda0!important

/deep/.page-count
  span
    display none

.btn
  margin-left auto

.filter-row
  input
    width 20%

  select
    width 15%
    margin-left 10px