<div *ngIf="isLoading" class="loading-small"></div>
<div *ngIf="!isLoading" class="container mb-3">
  <div class="flex filter-row">
    <input placeholder="search..." (input)="searchSubject.next($event.target.value)" >
    <select [(ngModel)]="country" (ngModelChange)="applyFilter()">
      <option value="" selected>all countries</option>
      <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
    </select>
    <select [(ngModel)]="city" (ngModelChange)="applyFilter()">
      <option value="" selected>all cities</option>
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>
    <select [(ngModel)]="status" (ngModelChange)="applyFilter()">
      <option value="" selected>all statuses</option>
      <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
    </select>
    <a [href]="emailUrl" class="btn btn-primary" type="button">Unfinished emails</a>
  </div>
  <ngx-datatable
          class="bootstrap"
          [loadingIndicator]="isLoading"
          [rows]="rows"
          [columns]="columns"
          [columnMode]="'force'"
          [limit]="10"
          [rowHeight]="'auto'"
          [footerHeight]="40"
          [selectionType]="'single'"
          [selectCheck]="checkSelectable"
          (select)="onSelect($event.selected)"
  >
  </ngx-datatable>
</div>
<ng-template #statusTemplate let-row="row" let-value="value" >
  <select style="width: 100px" (change)="changeStatus($event, row)" (click)="stopSelect(row)" [disabled]="inChange.includes(row.id)">
    <option *ngFor="let status of statuses" [value]="status" [selected]="status == row.status">{{ status }}</option>
  </select>
</ng-template>
<ng-template #actionTemplate let-row="row" let-value="value" >
  <button  [disabled]="inDelete.includes(row.id)" (click)="delete($event, row.id)">Delete</button>
</ng-template>