@import 'variables'
@import 'rupture'

.title-search
  margin-bottom 40px
  +below(934px)
    flex-direction: column;
    align-items: flex-start;
    +below(655px)
      padding-right 8px
      padding-left 8px
  &__results
    color #000
    font-size 36px
    line-height 45px
    font-family
    font-family font-family-md
    margin-bottom 0
    +below(934px)
      font-size 30px
      +below(600px)
        font-size 24px
        line-height 34px
  &__activities
    font-size 20px
    line-height 26px
    color rgba(0,0,0,.5)
    letter-spacing 0.51px
    font-family "Roboto",sans-serif
    font-weight 400
    +below(600px)
      font-size 16px
      line-height 24px
  +below(934px)
    margin-bottom 36px
  +below(600px)
    margin-bottom 42px
.sidebar-wrap
  justify-content flex-start
  .sidebar
    margin-right 0
    width 361px
    +below(1165px)
      width 330px
    +below(1020px)
      width 361px
      transform translateX(-361px)
    +below(480px)
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
      padding: 0;
      -webkit-transform: translateX(-110%);
      transform: translateX(-110%);
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 101;
      .sidebar__item
        padding-top 0
    &.open
      transform translateX(0)
  &__content
    width calc(100% - 361px)
    margin-left 20px
    +below(1165px)
      width calc(100% - 330px)
      .activities__item
        margin-right 0
        margin-left 0
      .activities__header-img
        width 230px
    +below(1020px)
      margin-left 0
      width 100%
      display flex
      flex-wrap wrap
      .activities--city
        flex-basis 100%
        .activities__item
          margin-right 0
      .mb-25
        flex-grow 1
      .filter-mobile
        display flex
        + app-search-filter
          flex-grow 1
    +below(769px)
      /deep/.activities--city
        padding-bottom 32px
        .activities__header-img
          width 247px
          border-top-right-radius 5px !important
      /deep/.activities--city .activities__content-header
        margin-right 78px !important
      .mb-25
        margin-bottom 22px
      /deep/.activities--city .activities__item
        margin-bottom 22px
      /deep/.activities--city .activities__caption
        left 24px
    +below(720px)
      /deep/.activities--city
        .activities__item
          display flex
          flex-wrap wrap
          width 350px
          margin-right auto !important
          margin-left auto
          margin-bottom 0
          border-bottom-left-radius: 0
          +below(425px)
            width calc(100% - 20px) !important
            margin-bottom 10px
        .activities__header-img
          flex-basis 100%
          min-height 123px !important
          border-top-right-radius: 5px;
          &:after
            height 100%
        .city-bottom
          top 95px
          left 25px
          height 20px
          align-items flex-start
        +below(425px)
          padding-bottom 0

    +below(425px)
      /deep/.activities--city
        .activities-btn
          margin-top 0
         .activities__caption
          left 16px
          top 14px
        .activities__item
          width 300px
      /deep/.activities--city
        .activities__item--horizontal
          .activities__content
            margin 24px 20px 30px 15px !important
          .city-bottom
            top 89px
            left 15px
          .activities__btn
            top -50px !important
            right -6px !important
          .activities__content-header
            margin-right 50px !important
            margin-bottom 7px
            a
              font-size 16px
              line-height 21px
          .activities__desc
            padding-right 0
            line-height 19px
          .activities__content-star
            padding 0

/deep/.activities--city
  .activities-item-position
    margin-right 0
    display block
.sidebar
  &.open
    transform none
.filter-mobile
  +below(425)
    padding-left 0
    .icon
      margin-left 16px
      margin-right 26px