<app-overlay-spinner *ngIf="isLoading"></app-overlay-spinner>
<div class="header-fixed-pt">
<section class="section section--city section--search">
  <div class="container">
    <div class="title-search flex align-items-end justify-content-between">
      <h1 class="title-search__results">Resultado de busqueda '{{ queryString }}'</h1>
      <div class="title-search__activities">{{ activities.length }} actividades, excursiones y visitas guiadas</div>
    </div>
    <div class="sidebar-wrap flex">
      <div class="sidebar js-sidebar" id="sidebar" [class.open]="openSidebar">
        <div class="sidebar__item is-visible-mobile">
          <div class="scroll">
            <app-activity-filter
                    [hideType]="true"
                    [citiesFilter]="citiesFilter"
                    (onAjaxFilter)="ajaxFilterChanged($event)"
                    (onFastFilter)="fastFilterChanged($event)"
                    (onViewActivitiesClick)="openSidebar = false"
            ></app-activity-filter>
          </div>
          <div class="filter-submit btn" (click)="closeSideBar();">ver actividades</div>
        </div>
      </div>
      <div class="sidebar-wrap__content">
        <div class="filter-mobile" (click)="openSidebar = true;">
          <svg class="icon icon-filter" viewBox="0 0 20 19" width="100%" height="100%"><path d="M19 1H1l7.2 8.514V15.4l3.6 1.8V9.514L19 1z"></path></svg>
          filter
        </div>
        <app-search-filter (onSearch)="searchInput($event)"></app-search-filter>
        <div *ngIf="isActivityLoading" class="loading-small"></div>
        <div *ngIf="!isActivityLoading && !activities.length">No se han encontrado actividades</div>
        <div class="activities activities--city">   
          <app-activity-card class="activities-item-position activities-item-position--horizontal" *ngFor="let activity of activities" [activity]="activity" [isHorizontal]="true"></app-activity-card>
        </div>
      </div>
    </div>
  </div>
</section>
<app-calendar-slider></app-calendar-slider>