<button class="modal__close flex align-items-center justify-content-center" (click)="activeModal.dismiss('Cross click')">
  <svg class="icon icon-close" viewBox="0 0 11 11">
    <g ><path  d="M.95.55l9.192 9.193-.707.707L.243 1.257z"></path><path  d="M10.142 1.257L.95 10.45l-.707-.707L9.435.55z"></path></g>
  </svg>
</button>
<div class="modal-content">
  <h2>Upload list of reviews</h2>
  <a href="../assets/uploads/reviews-template.csv">Download csv template</a>
  <app-file-uploader [(file)]="selectedFile"></app-file-uploader>
  <div class="error" *ngIf="uploadError">{{ uploadError }}</div>
  <button class="btn btn-primary" (click)="submit()" [disabled]="inUpload">Upload</button>
  <div class="messages">
    <span *ngFor="let message of uploadMessages">{{ message }}</span>
  </div>
</div>
