@import 'variables'
@import 'rupture'
.country-search
  margin-left 10px
  margin-right 10px
  &__country-select
    display flex
    align-items center
    height 36px
    cursor pointer
    &.hidden__img
      display none
  &__heading
    font-size 21px
    line-height 25px
    color rgba(255,255,255,.7)
    font-family font-family-md
    &:first-letter
      text-transform uppercase
  .icon-dropdown-footer
    width 8px
    height 4px
    fill #fff
.selectize-control
  display none
  width 200px
  box-shadow 0px 8px 8px rgba(0, 0, 0, 0.06)
  position relative
  z-index 2
  &__dropdown
    position absolute
    top 100%
    left 0
    width 200px
    height auto
    background-color #fff
    border-bottom-left-radius 2px
    border-bottom-right-radius 2px
    &-content
      overflow-y auto
      overflow-x hidden
      max-height 180px
      border-bottom-right-radius 2px
      border-bottom-left-radius 2px
      .option
        a
          font-size 14px
          color #000
          display block
          padding 0px 0 0px 50px
          border-top 1px solid #D0D4D9
          transition all .2s
          cursor pointer
          height: 36px;
          line-height: 36px;
          font-weight: 400;
          font-family: "Roboto";
          &:hover
            color #000
        &.active
          background-color rgba(0,0,0,.15)
        &:hover
          background-color rgba(0,0,0,.05)
  &__input
    position relative
    width 200px
    height 36px
    .selectize-search
      width 15px
      height 15px
      fill transparent
      position absolute
      top 50%
      left 17px
      transform translateY(-50%)
      stroke blue
    input
      width 100%
      height 100%
      padding-left 50px
      border none
      border-top-right-radius 2px
      border-top-left-radius 2px
    input::-webkit-input-placeholder 
      font-weight 400
      font-size 14px 
      line-height 100%
      font-family "roboto"
    input:-moz-placeholder 
      font-weight 400
      font-size 14px 
      line-height 100%
      font-family "roboto"
  &.visible
    display block
.country-search
  +below(500px)
    display none
  &__country-select
    display flex
    align-items center
    min-width 200px
    height 36px
    cursor pointer
  &__heading
    font-size 21px
    line-height 25px
    color #fff
    font-family font-family-reg
    display flex 
    align-items center
    &:after
      content: '\f0d7'
      color: #ffffff
      margin: 0 0 0 2px
      font-family: 'FontAwesome'
      font-size: 14px;
      vertical-align: 10%;
      margin-left 10px
    &:first-letter
      text-transform uppercase
    +below(645px)
      font-size 16px