@import 'rupture'

.total-price--mobile
  margin-left -20px
  margin-right -20px
  margin-bottom 0
.sidebar
  width 361px
  flex-shrink 0
  +below(1165px)
    width 330px
.sidebar-wrap__content
  width calc(100% - 361px)
  margin-right 20px
  +below(1165px)
    width calc(100% - 330px)
  +below(1020px)
    margin-right 0
    width 100%
.form-checkout__item 
  max-width none
  width calc(50% - 10px)
  +below(1020px)
    max-width none !important
.section--personal
  .form-checkout__item .input-select-wrap .input--select
    background-color #fff
  +below(1020px)
    padding-top 24px
    padding-bottom 0
  +below(769px)
    padding-top 0
    .booking-details
      width: 100%;
      padding: 10px 20px 26px;
      box-shadow: none;
      background-color: transparent;
    .check-wrap
      margin-left 20px
    .booking-details__desc
      padding-top 24px
  +below(666px)
    .booking-details
      padding-left 10px
      padding-right 10px
    .container
      padding-left 0
      padding-right 0
    .check-wrap
      margin-left 10px
    .total-price--mobile
      margin-left 0
      margin-right 0
  +below(650px)
    .booking-details__desc
      padding-right 0
  +below(600px)
    .form-checkout__row+.form-checkout__row
      margin-top 20px
    .form-checkout__item 
      width 100%
    .form-checkout__item +.form-checkout__item 
      margin-top 20px
.total-price--mobile
  &.fixed
    position fixed
    bottom 0
    left 0
    right 0
    z-index 20
    margin-top 0
.form-checkout__item.w-100
  width 100%
  /deep/.form-group__block
    width: 100%;
    border-bottom: 0;
    position: relative;
    height: 60px;
    align-items: flex-end;
    .form-group__placeholder
      position: absolute;
      top: 0;
      padding-left: 0;
      font-size: 10px;
      letter-spacing: 1px;
      color: rgba(0,0,0,0.4);
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      margin-bottom: 5px;
      left: 0;
    .input-select-wrap
      width 100%
    input 
      padding-left 16px
    &+.form-group__block
      margin-top 20px
    
app-phone-selector-new
  width 100%
  margin-top 20px
  margin-bottom 20px

