<div class="review_order personal-details section section--personal section--grey">
  <div class="container">
    <form #detailsForm="ngForm" (ngSubmit)="submitData(detailsForm)">
      <div class="sidebar-wrap sidebar-wrap--reverse flex sidebar-wrap">
        <div class="sidebar">
          <div class="dropdown-basket visible-block">
            <div *ngFor="let item of basketItems" class="dropdown-basket__item">
              <a class="dropdown-basket__link" routerLink="{{ routeHelper.buildActivityRoute(item.activity) }}">
                <img class="dropdown-basket__img" [src]="item.activity.avatar_small">
              </a>
              <div class="dropdown-basket__content">
                <div class="dropdown-basket__block flex justify-content-between">
                  <a class="dropdown-basket__title" routerLink="{{ routeHelper.buildActivityRoute(item.activity) }}">{{ item.activity.name }}</a>
                </div>
                <div class="dropdown-basket__block flex justify-content-between">
                  <div class="dropdown-basket__adult">
                    <div *ngFor="let ticketName of item.getTicketData().ticketNames">
                      <span  class="dropdown-basket__data">{{ formatDate(item) }} </span>{{ ticketName }}
                    </div>
                  </div>
                  <div class="dropdown-basket__price">{{ item.getTicketData().total | currency:'EUR':'symbol':'1.2-2' }}</div>
                </div>
              </div>
            </div>
            <div class="total-price total-price--sm">
              <div class="flex align-items-center justify-content-between">
                <div class="total-price__title">Precio total</div>
                <div class="total-price__value">{{ getTotal() | currency:'EUR':'symbol':'1.2-2' }}</div>
              </div>
              <button *ngIf="basketItems.length > 0" type="submit" class="btn btn--green btn--full btn--big-green btn--dark-hover">continuar</button>
            </div>
          </div>
        </div>
        <div class="sidebar-wrap__content">
          <div class="booking-details">
            <h1 class="booking-details__title">Detalles de la reserva</h1>
            <div class="form-checkout">
              <div class="flex flex-wrap justify-content-between">
                <div class="form-checkout__row">
                  <div class="w-100">
                    <div class="form-checkout__item flex flex-column w-100">
                      <label>nombre completo</label>
                      <input type="text" [(ngModel)]="order.fullName" name="fullName" #fullName="ngModel" required pattern=".+\s+.+" maxlength="50">
                      <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched || tryToSubmit)" class="error">Ingresar nombre y apellido separado por un espacio.</div>
                    </div>
                  </div>
                </div>
                  <app-phone-selector-new [(ngModel)]="order.phone" #phone="ngModel" name="phone" required pattern="^\+\d{11,15}$" maxlength="20"></app-phone-selector-new>
                  <div *ngIf="phone.invalid && (phone.touched || tryToSubmit)" class="error">Introduce número de teléfono en formato internacional</div>
                <div class="form-checkout__row">  
                  <div class="form-checkout__item flex flex-column w-100">
                    <label>Correo electrónico</label>
                    <input type="email" [(ngModel)]="order.email" name="email" #email="ngModel" required email maxlength="100">
                    <div *ngIf="email.invalid && (email.dirty || email.touched || tryToSubmit)" class="error">Ingresar correo electrónico</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="check-wrap flex">
            <label class="check-wrap__container">
              <input type="checkbox" [checked]="null !== order.invoice" (change)="changeNeedInvoice($event)"><span></span>Necesito factura
            </label>
          </div>
          <div *ngIf="order.invoice" class="booking-details">
            <div class="booking-details__desc">7 días después de haber disfrutado de la actividad podrás descargar tu factura en el panel de control</div>
            <div class="form-checkout">
              <div class="flex flex-wrap justify-content-between">
                <div class="form-checkout__row">
                  <div class="w-100">
                    <div class="form-checkout__item flex flex-column">
                      <label>nombre fiscal</label>
                      <input type="text" [(ngModel)]="order.invoice.taxName" name="taxName" #taxName="ngModel" required maxlength="50">
                      <div *ngIf="taxName.invalid && (taxName.dirty || taxName.touched || tryToSubmit)" class="error">Ingresar nombre fiscal</div>
                    </div>
                  </div>
                </div>
                <div class="form-checkout__row">
                  <div class="form-checkout__item flex flex-column">
                    <label>tipo de documento</label>
                    <div class="input-select-wrap" >
                      <select class="input-select-wrap__input input input--select" [(ngModel)]="order.invoice.documentType" name="docType" #docType="ngModel" required>
                        <option value="01">Identificador Fiscal</option>
                        <option value="02">Número de IVA intracomunitario</option>
                        <option value="03">Pasaporte</option>
                        <option value="04">Documento oficial del país de residencia</option>
                        <option value="05">Certificado de residencia</option>
                        <option value="06">Otra documentación necesaria</option>
                        <option value="07">No registrado</option>
                      </select>
                    </div>
                    <div *ngIf="docType.invalid && (docType.dirty || docType.touched || tryToSubmit)" class="error">Seleccionar tipo de documento</div>
                  </div>
                  <div class="form-checkout__item flex flex-column">
                    <label>identificador fiscal</label>
                    <input type="number"  [(ngModel)]="order.invoice.taxId" name="taxId" #taxId="ngModel" required>
                    <div *ngIf="taxId.invalid && (taxId.dirty || taxId.touched || tryToSubmit)" class="error">Ingresar indentificador fiscal</div>
                  </div>
                </div>
                <div class="form-checkout__row">
                  <div class="form-checkout__item flex flex-column">
                    <label>dirección fiscal</label>
                    <input type="text"  [(ngModel)]="order.invoice.address" name="address" #address="ngModel" required maxlength="200">
                    <div *ngIf="address.invalid && (address.dirty || address.touched || tryToSubmit)" class="error">ingresar dirección</div>
                  </div>
                  <div class="form-checkout__item flex flex-column">
                    <label>ciudad</label>
                    <input type="text" [(ngModel)]="order.invoice.city" name="city" #city="ngModel" required maxlength="100">
                    <div *ngIf="city.invalid && (city.dirty || city.touched || tryToSubmit)" class="error">ingresar ciudad</div>
                  </div>
                </div>
                <div class="form-checkout__row">
                  <div class="form-checkout__item flex flex-column">
                    <label>código postal</label>
                    <input type="number"  [(ngModel)]="order.invoice.postalCode" name="postal" #postal="ngModel" required maxlength="20">
                    <div *ngIf="postal.invalid && (postal.dirty || postal.touched || tryToSubmit)" class="error">ingresar código postal</div>
                  </div>
                  <div class="form-checkout__item flex flex-column">
                    <label>residencia fiscal</label>
                    <div class="input-select-wrap" >
                      <input
                              class="input-select-wrap__input input input--select"
                              required
                              [editable]="false"
                              [ngbTypeahead]="searchCountry"
                              [resultFormatter]="countryFormatter"
                              [inputFormatter]="countryFormatter"
                              (selectItem)="onSelectCountry($event)"
                              [value]="order.invoice.country"
                      >
                      <div *ngIf="!order.invoice.country && tryToSubmit" class="error">Ingresar país</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="check-wrap flex">
            <label class="check-wrap__container">
              <input type="checkbox" [(ngModel)]="termsStatus" name="terms" #terms="ngModel" required><span></span>Acepto
              <a routerLink="/policy/privacy" target="_blank">política de privacidad</a>&nbsp;y
              <a routerLink="/policy/general" target="_blank">condiciones generales</a>
            </label>
          </div>
          <div *ngIf="terms.invalid && (terms.dirty || terms.touched || tryToSubmit)" class="error">Acepte la política de privacidad y condiciones generales</div>
          <div class="total-price total-price--mobile" id="visible-1020">
            <div class="flex align-items-center justify-content-between">
              <div class="total-price__title">Precio Total</div>
              <div class="total-price__value">{{ getTotal() | currency:'EUR':'symbol':'1.2-2' }}</div>
            </div>
            <button *ngIf="basketItems.length > 0" type="submit" class="btn btn--green btn--full btn--big-green btn--dark-hover">continuar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>