@import 'rupture'
button[disabled]
  opacity 0.5

a.disabled
  opacity 0.5
.facebook-btn, .google-btn
  min-height 48px
  border-radius 2px
  width calc(50% - 2.5px)
  display flex
  align-items center
  padding-left 16px
  margin-bottom 14px
  cursor pointer 
  .icon
      fill #fff
  span
      padding-left 16px
      font-size 12px
      color #fff
      font-weight 500
      letter-spacing 0.06em
  +below(700px)
      justify-content center
      padding-left 0  
.facebook-btn
  background-color #3B5998
  height 48px
  .icon-fb-btn
      width 7px
      height 14px
.google-btn
  background-color #4285F4
  height 48px
  .icon-google-btn
      width 14px
      height 14px
.facebook-btn:hover, .google-btn:hover {
    background-color: #0377cc;
}
.modal__sign
  .form-group__placeholder
    width 100px
    flex-shrink 0
    white-space: pre-wrap;
    overflow-wrap: break-word;
  .form-group input
    padding-right 20px
    padding-left 20px
    width calc(100% - 100px)
  .form-group input[name="password"]
    padding-right 43px
  .form-group
    top 1%
    transform translateY(-1%)
.modal__find
  transition  left .3s
  .form-group__placeholder
    width 136px
    flex-shrink 0
    white-space: pre-wrap;
    overflow-wrap: break-word;
  .form-group input
    padding-right 20px
    padding-left 20px
    width calc(100% - 136px)
  .form-group
    top 1%
    transform translateY(-1%)
  &.open
    left 0
    top 0
.modal-wrap-content
  +below(700px)
    height 100%
    overflow hidden
    .modal__content
      overflow-y auto
      overflow-x hidden
      -webkit-overflow-scrolling touch
    .modal__sign, .modal__find
      position fixed  
.form-group__btn-show-password 
  height: 100%;
  top: 0;
  right: 0;
  width: 40px;
  z-index 10
  .icon 
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
      
  