<div class="modal-wrapper modal--login">
  <button class="modal__close flex align-items-center justify-content-center" (click)="activeModal.dismiss('Cross click')">
    <svg class="icon icon-close" viewBox="0 0 11 11">
      <g><path d="M.95.55l9.192 9.193-.707.707L.243 1.257z"></path><path d="M10.142 1.257L.95 10.45l-.707-.707L9.435.55z"></path></g>
    </svg>
  </button>
  <div class="modal-wrap-content">
    <div class="modal__content modal-login-content">
      <div class="modal__sign js-login-block">
        <div class="login-form">
          <div class="modal__block">
            <div class="modal__header flex">
              <div class="modal__title">Mi perfil
              </div>
              <div class="modal__subtitle">¿Tienes una cuenta de cliente? Accede a tu cuenta
              </div>
            </div>
          </div>
          <div class="modal__form">
            <form [formGroup]="loginForm" (submit)="onSubmit()">
              <div class="modal__wrapper">
                <div class="form-group flex" [class.error-input]="email.invalid && (email.dirty || email.touched || checkFields)" (click)="setFocus('signup-email')">
                  <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">Correo electrónico</span>
                    <input type="email" formControlName="email" name="email" id="signup-email">
                  </div>
                  <div class="error-wrap flex align-items-center justify-content-between" *ngIf="email.invalid && (email.dirty || email.touched || checkFields)">
                    <div class="error">Por favor ingrese el correo correcto</div>
                  </div>
                </div>
              </div>
              <div class="modal__wrapper">
                <div class="form-group flex" [class.error-input]="password.invalid && (password.dirty || password.touched || checkFields)" (click)="setFocus('signup-password')">
                  <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">contraseña</span>
                    <input type="password" formControlName="password" name="password" id="showPassword">
                    <div class="form-group__btn-show-password flex align-items-center justify-content-center" (click)="showPassword();">
                      <svg class="icon icon-show-password" viewBox="0 0 24 24">
                        <g opacity=".3"><path d="M21 12c-1.8 2.5-4.527 5-9 5-4.474 0-7.65-2.5-9-5M12 21v-4M20.828 18.828L18 16M4 18.828L6.828 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#000"></path></g>
                      </svg>
                    </div>
                  </div>
                  <div class="error-wrap flex align-items-start justify-content-between" *ngIf="password.invalid && (password.dirty || password.touched || checkFields)">
                    <div class="error">Se requiere contraseña</div><a [routerLink]='' [queryParams]="{modal: 'reset'}" class="form-group__forgot">¿Has olvidado tu contraseña?</a>
                  </div>
                </div>
              </div>
              <div *ngIf="loginError" class="form-group flex error-input">
                <div class="error-wrap flex align-items-start justify-content-between">
                  <div class="error">{{ loginError }}</div>
                </div>
              </div>
              <div class="modal__wrapper"><button [disabled]="inProgress" class="a btn" type="submit">Iniciar Sesión</button>
              </div>
            </form>
          </div>
          <div class="modal__or">o
          </div>
          <div class="modal__block flex">
            <div class="modal__btn flex align-items-center justify-content-between"><a [class.disabled]="inProgress" class="facebook-btn" (click)="socialSignIn('facebook')">
              <svg class="icon icon-fb-btn" viewBox="0 0 8 14">
                <path d="M7.284.003L5.47 0C3.429 0 2.11 1.352 2.11 3.445v1.589H.285A.285.285 0 0 0 0 5.32V7.62c0 .158.128.286.285.286h1.826v5.807c0 .158.128.286.285.286h2.382a.285.285 0 0 0 .285-.286V7.907h2.135a.285.285 0 0 0 .285-.286l.001-2.301a.286.286 0 0 0-.286-.286H5.063V3.687c0-.647.155-.975.998-.975h1.223a.285.285 0 0 0 .285-.286V.288a.286.286 0 0 0-.285-.285z"></path>
              </svg><span>Facebook</span></a><a [class.disabled]="inProgress" class="google-btn" (click)="socialSignIn('google')">
              <svg class="icon icon-google-btn" viewBox="0 0 15 14">
                <g><path d="M7.047 2.381c.762 0 1.62.19 2.286.571l1.905-1.523A6.762 6.762 0 0 0 7.048 0C4.38 0 2.094 1.429.856 3.619l1.905 1.524c.762-1.714 2.38-2.762 4.285-2.762zM7.524 5.905V8.19h3.619c.095 0 .19.096.286.096 0 .19 0 .285-.096.38-.285.858-.857 1.62-1.619 2.191l1.905 1.524c1.143-.952 2-2.381 2.286-3.81.095-.476.19-.952.19-1.428 0-.381 0-.762-.095-1.048H7.524v-.19zM2.381 7.048c0-.477.095-.858.19-1.334L.667 4.095C.19 5.048 0 6 0 7.048 0 8.095.19 9.143.667 10L2.57 8.476c-.095-.476-.19-.952-.19-1.428zM7.047 11.714c-.952 0-1.904-.285-2.666-.857-.667-.476-1.238-1.143-1.524-1.81L.952 10.572C2.19 12.761 4.476 14 7.047 14c1.429 0 2.953-.476 4.096-1.333l-1.905-1.62c-.762.477-1.429.667-2.19.667z"></path></g>
              </svg><span>Google</span></a>
            </div>
            <div class="modal__caption">¿No tienes una cuenta?<a routerLink="/signup">Registrarse aquí</a>
            </div>
          </div>
        </div>
        <div class="modal__find-booking-btn is-mobile">
          <button class="btn btn btn--transparent" open-sidebar (click)="openRightModal();">Encontrar mi reserva
          </button>
        </div>
      </div>
      <div class="modal__find js-find-booking-block" [class.show]="openRightModalFlag" [class.hide]="hideRightModalFlag">
        <div class="find-booking-title">
          <div class="modal__header flex">
            <div class="modal__title">Administrar sus reservaciones
            </div>
            <div class="modal__subtitle">Inicie sesión en su reserva sin registrarse
            </div>
          </div>
        </div>
        <div class="modal__form">
          <div todo-attr="place form here">
            <div class="form-group flex" (click)="setFocus('booking-email')">
              <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">Correo electrónico</span>
                <input type="email" name="email" id="booking-email">
              </div>
              <div class="error-wrap flex align-items-start justify-content-between" *ngIf="false">
                <div class="error">Campo Obligatorio</div>
              </div>
            </div>
            <div class="form-group flex" (click)="setFocus('booking-book')">
              <div class="form-group__block flex align-items-center"><span class="form-group__placeholder booking-placeholder">número de reserva</span>
                <input type="text" name="book" id="booking-book">
              </div>
              <div class="error-wrap flex align-items-start justify-content-between" *ngIf="false">
                <div class="error">Campo Obligatorio</div>
              </div>
            </div>
            <div class="modal__wrapper-find">
              <button class="btn mt-15" type="submit"> Encontrar mi reserva
              </button>
            </div>
            <div class="modal__find-booking-btn is-mobile">
              <button class="btn btn btn--transparent" open-sidebar (click)="openLeftModal();">Iniciar sesión en tu cuenta
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>