<app-overlay-spinner *ngIf="isLoading"></app-overlay-spinner>
<app-hero [destinationCountry]="destinationInfo | async" (onCountrySelected)="selectCountry($event)"></app-hero>
<section class="section section--features">
  <div class="mb-110">
    <app-destination-carousel
            class="slider-destination"
            [showAllButton]="false"
            [header]="'Destination in ' + (destinationInfo | async)?.name"
            [headerClass]="'features__header flex justify-content-center destination-header'"
            [wideCards]="true"
            [destinations]="(destinationInfo | async)?.destinations"
    ></app-destination-carousel>
  </div>
  <app-featured-activities [countryCode]="(destinationInfo | async)?.code"></app-featured-activities>
</section>
<section class="banner" style="display:none">
  <div class="container flex">
    <div class="offers">
      <h3 class="offers__banner offers__banner--destination">Servicio de traslados:
        <div class="offers__banner--destination-subtitle">Seguro, organizado y sin esperas</div>
      </h3>
      <ul class="list list--price">
        <li class="list__item">
          <div class="list__city">Krakow
          </div>
          <div class="list__value">€25
          </div>
        </li>
        <li class="list__item">
          <div class="list__city">Warsaw
          </div>
          <div class="list__value">€85
          </div>
        </li>
      </ul>
      <a class="btn btn--destination" href="#">Reserva un traslado</a>
    </div>
  </div>
</section>
<app-calendar-slider></app-calendar-slider>