@import 'variables'
@import 'rupture'

.features
  background-image url('../../assets/images/activities_bg.jpg')
  background-size cover
  background-position 50% 500px
  background-repeat no-repeat
  padding-top 106px
  padding-bottom 150px
  +below(1030px)
    padding-top 78px
    padding-bottom 146px
.container
  +below(1030px)
    padding 0

/deep/.slider-destination
  .slider__position-item
    width: 360px;
    height: 316px;
    +below(1405px)
      width: 300px
    +below(767px)
      width 269px
      height 284px
      margin-left 0
      margin-right 0
      &:last-child
        margin-left 0
  .block-slider
    +below(1405px)
      width 960px
    +below(1272px)
      width 640px
    +below(767px)
      width 269px
  .block-slider__btn.btn-next
    +below(790px)
      right -55px
    +below(769px)
      width 45px
      height 45px
      top 50%
      margin-top -32px
      right -40px
      .icon
        width 17px
        height 14px
      .icon-arrow-next
        margin-left -2px
    +below(767px)
      width 38px
      height 38px
      top 50%
      margin-top -32px
      right -40px
      .icon
        width 15px
        height 11px
    +below(430px)
      right -6px
      transform translateY(11px)
  .block-slider__btn.btn-prev
    +below(790px)
      left -55px
    +below(769px)
      width 45px
      height 45px
      top 50%
      margin-top -32px
      left -40px
      .icon
        width 17px
        height 14px
      .icon-arrow-prev
        margin-left -2px
    +below(767px)
      width 38px
      height 38px
      top 50%
      margin-top -32px
      left -40px
      .icon
        width 15px
        height 11px
    +below(430px)
      left -6px
      transform translateY(11px)

.banner
  background-image url("../../assets/images/banner-bg.jpg")
  background-size cover
  background-position 50% 50%
  min-height 676px
  padding 78px 0
  display flex
  align-items flex-start
  +below(1030px)
    min-height 634px
  +below(767px)
    align-items flex-end
    position relative
    &:before
      position absolute
      top 0
      content ''
      display block
      width 100%
      height 300px
      background-color #fff
  .container
    +below(1030px)
      margin-top -10px
    +below(767px)
      margin-top 0
      padding 0
      .btn
        width 100%
  .offers
    width 515px
    background-color #fff
    box-shadow 0px 4px 50px rgba(0, 0, 0, 0.15)
    padding: 58px 27px 52px 74px;
    margin-bottom 36px
    +below(1030px)
      margin-left 20px
    +below(767px)
      margin-bottom 0
      width 100%
      margin-left 0
      padding-left 9px
      padding-right 9px
    &__banner
      font-size 24px
      line-height 34px
      font-family font-family-md
      color #000
      padding-right 57px
      &--destination
        text-transform uppercase
        .offers__banner--destination-subtitle
          text-transform lowercase
      +below(767px)
        font-size 18px
.spinner
  width: 100%;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  height: 100%;
  .loading
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border-top: 5px solid #53777A;
    border-bottom: 5px solid #C02942;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -80px;
    animation: loading 1.2s linear infinite;
    -webkit-animation: loading 1.2s linear infinite;

@keyframes loading
  0%
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  100%
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
