@import 'variables'
@import 'rupture'

.desc
  font-family: GothamProRegular,sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #000;
  margin-top: 18px;
  margin-bottom: 0;
.desc + .desc
  margin-top: 25px;
  margin-bottom: 0;
  
.head
  font-family: Roboto;
  font-weight: 500;
  line-height: 31px;
  font-size: 24px;
  letter-spacing: .5px;
  color: #000;
  display: inline-block;
  margin-top 56px
  +below(900px)
    font-size 20px
  +below(600px)
    line-height 28px
    margin-top 40px
ul
  margin-top 40px
  margin-bottom 40px
  +below(600px)
    margin-top 35px
    margin-bottom 35px
  li
    position relative
    .list__header
      font-family 'Roboto'
      font-weight 500
      line-height 23px
      letter-spacing 0.5px
      font-size 18px
      display inline-block
      padding-left 20px
      &+p
        text-indent 0px 
    p
      font-family font-family-reg
      font-size 14px
      line-height 24px
      letter-spacing 1px
      color #000
      margin-bottom 0
      margin-top: 0;
      text-indent 24px
    p + p
      margin-top 25px
      margin-bottom 0
      text-indent 0   
  li:before
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 50%;
  li + li
    margin-top 35px
    +below(900px)
      margin-top 25px !important
      
ol
  list-style: none;
  counter-reset: li;
  margin-left 0
  padding-left 0
  margin-top 40px
  margin-bottom 40px
  +below(600px)
    margin-top 35px
    margin-bottom 35px
  li
    .list__header
      font-family 'Roboto'
      font-weight 500
      line-height 23px
      letter-spacing 0.5px
      font-size 18px
      display inline-block
      padding-left 20px
      text-indent 0
      &+p
        text-indent 0px 
    p
      font-family font-family-reg
      font-size 14px
      line-height 24px
      letter-spacing 1px
      color #000
      margin-bottom 0
      margin-top: 0;
      text-indent 24px
    p + p
      margin-top 25px
      margin-bottom 0
      text-indent 0 
  li:before
    counter-increment: li;
    content: counters(li,".") ". ";
    font-family 'Roboto'
    font-weight 500
    line-height 24px
    font-size 18px
    letter-spacing 0.5px
    color #000
    position absolute
    +below(900px)
      font-size 18px
  Li + li
    margin-top 35px
    +below(900px)
      margin-top 25px !important