<div class="flex filter-row">
  <select *ngIf="filters.name" (change)="updateFilterValue('name', $event.target.value)">
    <option value="all">All names</option>
    <option *ngFor="let name of filters.name" [value]="name">{{ name }}</option>
  </select>
  <select *ngIf="filters.city" (change)="updateFilterValue('city', $event.target.value)">
    <option value="all">All cities</option>
    <option *ngFor="let city of filters.city" [value]="city">{{ city }}</option>
  </select>
  <select *ngIf="filters.country" (change)="updateFilterValue('country', $event.target.value)">
    <option value="all">All countries</option>
    <option *ngFor="let country of filters.country" [value]="country">{{ country }}</option>
  </select>
  <select *ngIf="filters.suppliers" (change)="updateFilterValue('suppliers', $event.target.value)">
    <option value="all">All suppliers</option>
    <option *ngFor="let supplier of filters.suppliers" [value]="supplier">{{ supplier }}</option>
  </select>
  <div *ngIf="filters.activities" class="slider">
    <span>Activities</span>
    <nouislider
            [connect]="true"
            [min]="filters.activities.min"
            [max]="filters.activities.max"
            [ngModel]="[filters.activities.min, filters.activities.max]"
            (ngModelChange)="updateRangeValue('activities', $event)"
            [tooltips]="numberTooltip"
    ></nouislider>
  </div>
  <div *ngIf="filters.amount" class="slider">
    <span>Amount</span>
    <nouislider
            [connect]="true"
            [min]="filters.amount.min"
            [max]="filters.amount.max"
            [ngModel]="[filters.amount.min, filters.amount.max]"
            (ngModelChange)="updateRangeValue('amount', $event)"
            [tooltips]="pricesTooltip"
    ></nouislider>
  </div>
  <div *ngIf="filters.visitors" class="slider">
    <span>Visitors</span>
    <nouislider
            [connect]="true"
            [min]="filters.visitors.min"
            [max]="filters.visitors.max"
            [ngModel]="[filters.visitors.min, filters.visitors.max]"
            (ngModelChange)="updateRangeValue('visitors', $event)"
            [tooltips]="numberTooltip"
    ></nouislider>
  </div>
</div>
