.filter-row
  input, select
    padding 5px
    margin-right 10px
    min-width 150px
  .slider
    +.slider
      margin-left 10px
    span
      font-size 8pt
      padding-bottom 10px
      display block

/deep/ nouislider {

  width 150px

  .noUi-tooltip {
    font-size: 10px;
    position: absolute;
    top: -18px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000;
    line-height: 12px;
    white-space: nowrap;
  }
  .noUi-target {
    height: 4px;
    background-color: rgba(0,0,0,.1);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    position: relative;
    direction: ltr;
  }
  .noUi-connect{
    background: blue;
  }
  .noUi-handle {
    width: 18px;
    height: 18px;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    display: block;
    z-index: 1;
    background-color: #fff;
    border: 2px solid blue;
    border-radius: 50%;
    box-sizing: border-box;
    outline: none;
    &:before{
      display: none;
    }
    &:after {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background-color: blue;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      border-radius: 50%;
    }
  }
  .noUi-horizontal {
    height: 4px;
    .noUi-tooltip {
      -webkit-transform: translate(-50%,0);
      transform: translate(-50%,0);
      left: 50%;
    }
    .noUi-handle {
      width: 18px;
      height: 18px;
      right: -9px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      left: auto;
    }
  }
  .noUi-connect, .noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 18px;
    height: 100%;
    width: calc(100% - 18px);
    height: 100%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .noUi-target, .noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .noUi-connects {
    overflow: hidden;
    z-index: 0;
  }
  .noUi-base, .noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
}