@import 'variables'
@import 'rupture'

.features__header
  color #000
  font-size 36px
  font-family font-family-md
  +below(1030px)
    font-size 30px
  +below(767px)
    font-size 24px  
    
.activities
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto 56px;
  +below(1150px)
    justify-content center
  +below(1030px)
    padding-bottom 49px
  +below(769px)
    margin-bottom 0
  +below(767px)
    flex-direction column
    align-items center
    padding-bottom 15px
    
.activities-btn
  color #2B2B28
  font-size 14px
  font-family: 'Roboto', sans-serif;
  font-weight 500
  width 82px
  height 82px
  position relative
  margin 0 auto
  letter-spacing 0.06em
  cursor pointer
  &__show
    font-size 14px
    letter-spacing 0.06em
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    text-align center
    z-index 2
    line-height normal
  .icon-circle
    fill transparent
    width 82px
    height 82px
    position absolute
    top 0
    left 0
  .bottom
    width 77px
    height 77px
    position absolute
    width 15px
    height 15px
    bottom -7px
    left 50%
    margin-left -7px
    fill #0086e6
  .top
    fill #0086e6
    width 77px
    height 77px
    position absolute
    width 15px
    height 16px
    top -7px
    left 50%
    margin-left -7px
    transform rotate(180deg)
  .airplan
    width 82px
    height 82px
    border-radius 50%
    position absolute
    z-index 2
  &__more
    height 100%
    width 100%
    position absolute
    color #2B2B28
    top 0
    left 0
    color #2b2b28 !important
    &:hover
      .airplan
        animation showmore 5s linear infinite
.activities-item-position
  border-top-left-radius 5px
  background-color #fff
  border-top-right-radius 5px
  max-width 360px
  width 100%
  margin-bottom 27px
  margin-right calc((100% - (360px * 3)) / 2)
  box-shadow 0px 4px 25px rgba(0, 0, 0, 0.1)
  &:hover
    box-shadow: 0 4px 25px rgba(0,0,0,.2);
    .activities__item:hover
      box-shadow none
  &:nth-child(3n)
    margin-right 0
  &:last-child
    margin-right 0
  +below(1150px)
    max-width 336px
    margin 0 10px 19px 10px
    &:nth-child(3n)
      margin-right 10px
  +below(767px)
    max-width 300px
    margin-right 0 !important
    margin-left 0
    margin-bottom 10px
  &--horizontal
    max-width 100%
    margin-bottom 23px
    +below(1150px)
      margin-left 0
    +below(720px)
      width: 350px;
      margin-right: auto!important;
      margin-left: auto;
    +below(425px)
      width 300px
      margin-bottom 10px
      .activities__content-header
        margin-right 50px !important
  &--sm
    max-width: 303px;
    margin-right: calc((100% - 909px) / 2);
    &:nth-child(3n)
      margin-right 0
    +below(1150px)
      width 303px
      margin: 0 10px 19px;
      &:not(:nth-child(-n+2))
        display none
    +below(767px)
      margin: 0
      width 303px
      &:not(:first-child)
        display none
  &--mid
    +below(1150px)
      &:not(:nth-child(-n+2))
        display none
    +below(767px)
      &:not(:nth-child(-n+1))
        display none
@keyframes showmore
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
