@import 'rupture'
@import 'variables'

.review_order
  /deep/.card-comment__title 
    align-items center
  .sidebar
    width 361px
    flex-shrink 0
  .sidebar-wrap__content
    width calc(100% - 361px)
    margin-right 20px
  .sidebar-wrap__content .activities__header-img
    width 265px
  .card-comment--payment-mobile
    .card-comment__name
      letter-spacing 0.5px
  .check-wrap
    margin-top 23px
    .check-wrap__container
      padding-left 32px
    .check-wrap label
      margin-bottom 9px
  &.personal-details
    .booking-details
      width 100%
      padding-bottom 72px
    .check-wrap
      margin-top 22px
      margin-bottom 0
      width 100%
    .check-wrap__container
      padding-left 32px
    +below(1130px)
      .form-checkout__item
        width 45%
    +below(769px)
      .sidebar-wrap
        padding-left 0
        padding-right 0
      .check-wrap
        margin-left 20px
      .booking-details
        width 100%
        padding-left 20px
        padding-right 20px
        box-shadow none
        background-color transparent
        padding-top 10px
        padding-bottom 26px
      .total-price--mobile
        margin-left -20px
        margin-right -20px
      .form-checkout__item
        min-width 336px
      .booking-details__desc
        padding-top 24px
      .price-wrap
        bottom 0
        left 0
        position fixed
        margin-bottom 0
        background #fff
        z-index 10
        box-shadow 0 0 10px rgba(0,0,0,0.1)
        .total-price
          margin-bottom 0
          margin-top 0
    +below(767px)
      .form-checkout__item
        min-width 285px
    +below(666px)
      .container
        padding-left 0
        padding-right 0
      .booking-details
        padding-right 10px
        padding-left 10px
      .check-wrap
        margin-left 8px
    +below(650px)
      .booking-details__desc
        padding-right 0
      .total-price
        padding-bottom 10px
        padding-left 10px
        padding-right 10px
        margin-left 0
        margin-right 0

    +below(600px)
      .form-checkout__item
        width 100%
        min-width 100%
      .form-checkout__item + .form-checkout__item
        margin-top 20px
      .form-checkout .form-checkout__row+.form-checkout__row
        margin-top 18px
      .booking-details__title
        margin-top 33px
        margin-bottom 26px
      & .check-wrap .check-wrap__container
        margin-bottom 0
      .check-wrap
        margin-top 0
  &.payment-method
    .total-price
      .flex
        padding-bottom 27px
    .booking-details
      padding-bottom 72px
      .booking-details__title
        margin-top 5px
        margin-bottom 46px
    +below(1160px)
      .booking-details
        width calc(100% - 40px)
        padding-right 27px
        padding-left 27px
        padding-top 22px
      .btn-payment
        width 50%
        &:first-child
          margin-right 10px
        &:last-child
          margin-left 10px

    +below(1020px)
      .booking-details
        padding: 25px 75px 44px;
      .sidebar-wrap__content
        margin-right 0
      .booking-details
        margin 0 auto
    +below(769px)
      .sidebar-wrap
        padding-right 0
        padding-right 0
      .booking-details
        width 100%
        padding-right 27px
        padding-left 27px
        padding-top 22px
        margin-right 20px
        margin-left 20px
        padding-bottom 73px
      .btn-payment
        width 50%
        &:first-child
          margin-right 10px
        &:last-child
          margin-left 10px
    +below(600px)
      .container
        padding-left 0
        padding-right 0
      .booking-details
        width 100%
        margin 0
        padding-left 10px
        padding-right 10px
        padding-bottom 45px
        margin-bottom 50px
        .flex
          flex-direction column
        .btn-payment
          margin 0
          width 100%
          max-width 400px
        .btn-payment + .btn-payment
          margin-top 10px
      .sidebar-wrap
        padding-left 0
        padding-right 0
    +below(500px)
      .container
        padding-left 0
        padding-right 0
        .booking-details
          padding-right 10px
          padding-left 10px
          .booking-details__title
            margin-top 10px
            margin-bottom 14px
  .icon-content__title
    flex-basis auto
    font-family font-family-reg
    font-size 16px
    line-height 22px
    color rgba(0,0,0,.3)
    +below(425px)
      font-size 14px
  .icon-content + .icon-content
    margin-top 8px
  .icon-content
    align-items center
  .icon-content .icon
    margin-right 6px
  .activities__content-star
    margin-top 18px
  .activities__content-header
    margin-bottom 20px
  .activities__content-star
    padding-right 0
    padding-left 0
    align-items center
  .activities__reviews-value
    padding-left 2px
  .sidebar-wrap--reverse .sidebar__item
    width 100% !important
  .card-comment__title
    justify-content space-between
  .card-comment__caption
    padding-right 9px
  .icon-score
    margin-top 26px
    .icon
      width 15px
      height 15px
    .icon-score__score
      margin-right 0
      margin-left 8px
  +below(1165px)
    .sidebar
      width 330px
    .sidebar-wrap__content
      width calc(100% - 330px)
  +below(1020px)
    .sidebar__item
      margin-bottom 22px
    .sidebar__item-wrap
      margin-bottom 70px
    .sidebar-wrap__content
      width 100%
      margin-right 0
    .sidebar
      background-color transparent
      top 0 
      left 0
      z-index 7
    .sidebar-wrap
      padding-left 20px
      padding-right 20px
    .total-price
      margin-bottom 0
      margin-top 70px
    .sidebar-wrap__content .activities--city .activities__content-header
      margin-right  80px
    .sidebar-wrap__content .activities--city .activities__item
      margin-bottom 20px
    .check-wrap label
      margin-bottom 8px
    .check-wrap
      margin-bottom 40px
    .sidebar__item .card-comment
      padding-left 34px
      padding-right 34px
      .icon-score
        margin-top 19px
    .card-comment--payment-mobile
      padding-top 16px
      padding-bottom 16px
      padding-right 36px
      padding-left 36px
      .card-comment__caption
        padding-right 18px
      .card-comment__name
        letter-spacing 0.5px
        margin-right 0
        padding-right 0
  +below(769px)
    /deep/.card-comment--sm
      padding-left 34px
      padding-right 34px
  +below(720px)
    .activities__close
      display none
  +below(700px)
    /deep/.card-comment--sm
      margin-left 0
      margin-right 0
  +below(650px)
    .card-comment--payment-mobile
      flex-direction column
      align-items flex-start
      .card-comment__title
        margin-left 0
      .card-comment__caption
        margin-bottom 20px
  +below(500px)
    /deep/.card-comment--sm
      background-color transparent
      box-shadow: none;
    /deep/.activities__item--horizontal
      .activities__content
        margin-top 11px !important
        margin-left 15px !important
        margin-bottom 30px !important
    .container
      padding-left 10px
      padding-right 10px
    .sidebar-wrap
      padding-left 0
      padding-right 0
    .card-comment
      margin-left 0
      margin-right 0
      background-color transparent
      box-shadow none
      padding-left 0
      padding-right 0
    .total-price--mobile
      margin-right -10px
      margin-left -10px
    .card-comment__title flex
      margin-left 0
    .city-bottom
      display none
    .activities__content-header
      font-size 16px
    .activities__content
      margin-top 11px !important
    .activities__content-star
      margin-top 10px
    .check-wrap
      margin-top 0
      margin-bottom 25px
      textarea
        padding-top 10px
        padding-bottom 42px
  +below(425px)
    /deep/.card-comment--sm
      padding 0 !important
/deep/.activities__item--horizontal
  max-width 100%
  margin-bottom 23px
  .activities__desc
    .icon
      flex-shrink 0
      margin-top 2px
  +below(1150px)
    margin-left 0
  +below(720px)
    width: 350px !important;
    margin-right: auto!important;
    margin-left: auto;
    flex-wrap: wrap;
    margin-right: auto!important;
    margin-left: auto;
    .activities__header-img
      flex-basis: 100%;
      min-height: 123px !important;
      background-size cover !important
      background-position center center !important
      border-top-right-radius: 5px !important;
    .city-bottom
      top: 95px;
      left: 25px;
      height: 20px;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    .desc-time
      width auto !important
      max-width 150px
    .activities__close
      display none
    .activities__content-header
      margin-right 80px !important
    .activities__desc
      padding-right 0 !important
      margin-bottom 0 !important
    .activities__content-star
      margin-top 18px
  +below(425px)
    width 300px
    margin-bottom 10px
    .activities__content-header
      margin-right 50px !important
.total-price--mobile
  &.fixed
    position fixed
    bottom 0
    left 0
    right 0
    width 100%
    margin-left 0 !important
    margin-right 0 !important
    z-index 20
.accordion-main
  &--checkout
    background: #fff;
    margin 0
    .accordion-main
      &__content
        background: #fff;
        margin 0
      &__title
        font-size: 14px
        padding: 15px 40px 15px 20px
        font-weight: 500
      &__item
        padding 0 0
        .icon
          right: 20px;
          top: 30px;
    .accordion-black
      padding: 0 0 15px 0;
      &__content
        background: #fff;
        margin-top: 5px;
        padding-left 20px
        padding-right 40px
        p 
          font-size 12px
          
      &__title
        font-size: 12px
        padding: 0 40px 0 20px
        +below(400px)
          padding 0 40px 0 20px
      &__item
        padding 10px 0
        .icon
          top: 9px;
          right: 20px;
      &__btn-more
        margin: 0;
        padding: 15px 20px 0 20px;
textarea
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;