doctype html
html(lang="en")
    include common/header.pug
    body
        h1 Hola!
        h3 Tu reserva ha quedado confirmada
        each operation in operations
        ul
            li Número de reserva  #{operation.code}
            li nombre del cliente #{operation.client}
            li teléfono del cliente #{operation.phone}
            li Correo del cliente #{operation.email}
            li Nombre de la actividad #{operation.activity}
            li Fecha #{operation.date}
            li Hora #{operation.time}
            li Número de personas #{operation.adults}
            li Precio total #{operation.amount}
            li Comments - #{operation.comment}

        include common/footer.pug