{% extends 'mails/userPaymentConfirm.html.twig' %}

{% block upper_add %}
    <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
        <td class="gray left" style="Margin: 0; opacity: 0.3; padding: 0; padding-bottom: 24px; padding-left: 25px; vertical-align: middle;">Nombre del cliente</td>
        <td class="right" style="Margin: 0; padding: 0; padding-bottom: 24px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ item.client }}</td>
    </tr>
    <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
        <td class="gray left" style="Margin: 0; opacity: 0.3; padding: 0; padding-bottom: 24px; padding-left: 25px; vertical-align: middle;">Teléfono del cliente</td>
        <td class="right" style="Margin: 0; padding: 0; padding-bottom: 24px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ item.phone }}</td>
    </tr>
    <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
        <td class="gray left" style="Margin: 0; opacity: 0.3; padding: 0; padding-bottom: 24px; padding-left: 25px; vertical-align: middle;">Correo del cliente</td>
        <td class="right" style="Margin: 0; padding: 0; padding-bottom: 24px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ item.email }}</td>
    </tr>
{% endblock %}

{% block lower_add %}
    <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
        <td class="gray left" style="Margin: 0; opacity: 0.3; padding: 0; padding-bottom: 17px; padding-left: 25px; vertical-align: middle;">Comment</td>
        <td class="right" style="Margin: 0; padding: 0; padding-bottom: 17px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ item.comment }}</td>
    </tr>
    <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
        <td class="gray left" style="Margin: 0; opacity: 0.3; padding: 0; padding-bottom: 17px; padding-left: 25px; vertical-align: middle;">Receipt</td>
        <td class="right" style="Margin: 0; padding: 0; padding-bottom: 17px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ item.is_need_invoice ? 'Sí' : 'No hay' }}</td>
    </tr>
{% endblock %}
