<h1> Greetings!</h1>

<p>
    New contact request received.
</p>

<p>
    Request data:
<ul>
    {% if number      %}<li><b>Reservation number:</b> {{ number }}     </li>{% endif %}
    {% if email       %}<li><b>User email:        </b> {{ email  }}     </li>{% endif %}
    {% if name        %}<li><b>User name:         </b> {{ name   }}     </li>{% endif %}
    {% if subject     %}<li><b>Request subject:   </b> {{ subject }}    </li>{% endif %}
    {% if destination %}<li><b>Destination:       </b> {{ destination }}</li>{% endif %}
    {% if message     %}<li><b>Request message:   </b> {{ message }}    </li>{% endif %}
</ul>
</p>