{% extends 'mails/userPaymentConfirm.html.twig' %}

{% block upper_add %}
    <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
        <td class="gray left" style="Margin: 0; opacity: 0.3; padding: 0; padding-bottom: 24px; padding-left: 25px; vertical-align: middle;">Nombre del cliente</td>
        <td class="right" style="Margin: 0; padding: 0; padding-bottom: 24px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ item.client }}</td>
    </tr>
    <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
        <td class="gray left" style="Margin: 0; opacity: 0.3; padding: 0; padding-bottom: 24px; padding-left: 25px; vertical-align: middle;">Teléfono del cliente</td>
        <td class="right" style="Margin: 0; padding: 0; padding-bottom: 24px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ item.phone }}</td>
    </tr>
    <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
        <td class="gray left" style="Margin: 0; opacity: 0.3; padding: 0; padding-bottom: 24px; padding-left: 25px; vertical-align: middle;">Correo del cliente</td>
        <td class="right" style="Margin: 0; padding: 0; padding-bottom: 24px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ item.email }}</td>
    </tr>
{% endblock %}

{% block supplier_block %}{% endblock %}
{% block price %}{% endblock %}
{% block user_name %}Estimado colaborador,{% endblock %}
{% block header_message %}Nos gustaría confirmar la siguiente reserva. A continuación os paso los detalles:{% endblock %}