doctype html
html(lang="en")
    include common/header.pug
    body
        h1 Greetings, #{user_name}!
        h3 Tu reserva ha quedado confirmada
        each operation in operations
        ul
          li #{operation.activity}
          li Número de reserva  #{operation.code}
          li Fecha #{operation.date}
          li Hora #{operation.time}
          li Número de personas #{operation.adults}
          li Precio total #{operation.amount}

        include common/footer.pug