<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- [if !mso] <!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--if (gte mso 9)|(IE)style(type='text/css').
    table {border-collapse: collapse;}-->
</head>

<body bgcolor="#f7f7f7" style="-webkit-box-sizing: border-box; background: #f7f7f7; background-color: #f7f7f7; box-sizing: border-box; font-family: Arial; margin: 0 auto; padding: 0; width: 100%;">
<div class="center" style="margin: 0 auto; text-align: center;">
    <table class="mail__header" style="background-color: #0086e6; border-spacing: 0; font-family: sans-serif; width: 100%;">
        <tr>
            <td style="Margin: 0; padding: 0; vertical-align: middle;">
                <!--[if (gte mso 9)|(IE)]>
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0 30px">
                    <tr>
                        <td>
                <![endif]-->
                <div class="container center container--header" style="display: table; margin: 0 auto; max-width: 600px; text-align: center; width: 100%;">
                    <table width="100%" class="inner-table" style="border-spacing: 0; font-family: sans-serif; padding: 0 5%;">
                        <tr>
                            <td width="57.5%" align="left" style="Margin: 0; padding: 20px 0; vertical-align: middle; width: 57.5%;" class="logo">
                                <a href="#">
                                    <img src="https://civitours.com/api/img/gallery/email/logo.png" width="141" height="18" style="border: 0; overflow: hidden;">
                                </a>
                            </td>
                            <td width="12.5%" align="left" style="Margin: 0; padding: 0; vertical-align: middle; width: 12%;">
                                <a href="#">
                                    <img src="https://civitours.com/api/img/gallery/email/in.png" width="17" height="17" style="border: 0; overflow: hidden;">
                                </a>
                            </td>
                            <td width="14%" align="left" style="Margin: 0; padding: 0; vertical-align: middle; width: 13%;">
                                <a href="#">
                                    <img src="https://civitours.com/api/img/gallery/email/ib.png" width="21" height="19" style="border: 0; overflow: hidden;">
                                </a>
                            </td>
                            <td width="10%" align="left" style="Margin: 0; padding: 0; vertical-align: middle; width: 12%;">
                                <a href="#">
                                    <img src="https://civitours.com/api/img/gallery/email/fb.png" width="20" height="19" style="border: 0; overflow: hidden;">
                                </a>
                            </td>
                            <td width="11%" align="right" style="Margin: 0; padding: 0; vertical-align: middle; width: 5.5%;">
                                <a href="#">
                                    <img src="https://civitours.com/api/img/gallery/email/tw.png" width="22" height="18" style="border: 0; overflow: hidden;">
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
    </table>
    <table class="mail__hello" style="-webkit-box-shadow: 0px 4px 25px rgba(0,0,0,0.1); background-color: #fff; border-spacing: 0; box-shadow: 0px 4px 25px rgba(0,0,0,0.1); font-family: sans-serif; width: 100%;">
        <tr>
            <td style="Margin: 0; padding: 0; vertical-align: middle;">
                <!--[if (gte mso 9)|(IE)]>
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="text-align: left;padding: 0 30px">
                    <tr>
                        <td>
                <![endif]-->
                <div style="display: table; margin: 0 auto; max-width: 600px; text-align: left; width: 100%;" class="container container--hello">
                    <table width="100%" bgcolor="#ffffff" align="left" cellpadding="0" cellspacing="0" border="0" class="inner-table"
                           style="border-spacing: 0; font-family: sans-serif; padding: 0 5%;">
                        <tr>
                            <td width="14%" style="Margin: 0; padding: 0; vertical-align: middle;">
                                <!--[if (gte mso 9)|(IE)]>
                                <table width="13%" cellpadding="0" cellspacing="0" border="0" align="left" style="padding: 0; text-align: left;">
                                    <tr>
                                        <td>
                                <![endif]-->
                                <div style="display: inline-block; vertical-align: top; width: 71px;" class="inline-block">
                                    <table width="100%" bgcolor="#ffffff" align="left" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; font-family: sans-serif;">
                                        <tr>
                                            <td width="71" align="left" class="check" style="Margin: 0; padding: 10px 0; vertical-align: middle;">
                                                <img src="https://civitours.com/api/img/gallery/email/success.png" width="54" height="54" style="border: 0; overflow: hidden;">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--[if (gte mso 9)|(IE)]>
                                </td>
                                </tr>
                                </table>
                                <![endif]-->
                            </td>
                            <td style="Margin: 0; padding: 0; vertical-align: middle;">
                                <!--[if (gte mso 9)|(IE)]>
                                <table width="250" cellpadding="0" cellspacing="0" border="0" align="left"style="padding: 0; text-align: left;">
                                    <tr>
                                        <td>
                                <![endif]-->
                                <div class="inline-block" style="display: inline-block; vertical-align: top; width: 100%;">
                                    <table width="100%" bgcolor="#ffffff" align="left" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; font-family: sans-serif;">
                                        <tr>
                                            <td align="left" bgcolor="#ffffff" class="hola" style="Margin: 0; font-size: 16px; letter-spacing: 1px; line-height: 12px; padding: 10px 0 0; vertical-align: middle;">
                                               <b>{% block user_name %}Hola {{ user_name }}!{% endblock %}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" class="confirm" style="Margin: 0; font-size: 14px; padding: 4px 0 2px 0; vertical-align: middle;">{% block header_message %}Tu reserva ha quedado cofirmada.{% endblock %}</td>
                                        </tr>
                                    </table>
                                </div>
                                <!--[if (gte mso 9)|(IE)]>
                                </td>
                                </tr>
                                </table>
                                <![endif]-->
                            </td>
                        </tr>
                    </table>
                </div>
                <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%" height="27" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#f7f7f7">
        <tr>
            <td width="100%" height="27">
            </td>
        </tr>
    </table>
    <![endif]-->
    {% for item in data %}
    <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; font-family: sans-serif; padding: 32px 10px 11px; padding-top: 32px;"
           bgcolor="#f7f7f7" class="content-wrap">
        <tr>
            <td class="inner-top" style="Margin: 0 auto; padding: 0px 2px; vertical-align: middle;">
                <!--[if (gte mso 9)|(IE)]>
                <table width="540" cellpadding="0" cellspacing="0" border="0" align="center" style="">
                    <tr>
                        <td>
                <![endif]-->
                <div style="display: table; margin: 0 auto; max-width: 540px; width: 100%;" class="container">
                    <table bgcolor="#ffffff" class="content-main" style="-webkit-box-shadow: 0px 4px 25px rgba(0,0,0,0.1); background-color: #fff; border-spacing: 0; box-shadow: 0px 4px 25px rgba(0,0,0,0.1); font-family: sans-serif; max-width: 540px; width: 100%;">
                        <tr>
                            <td style="Margin: 0; padding: 0; vertical-align: middle;">
                                <table width="100%" class="content-top" style="background-color: #fff; border-spacing: 0; font-family: sans-serif;">
                                    <tr>
                                        <td class="center" style="Margin: 0; margin: 0 auto; padding: 0; text-align: center; vertical-align: middle;">
                                            <!--[if (gte mso 9)|(IE)]>
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                                                <tr>
                                                    <td width="205">
                                            <![endif]-->
                                            <div style="display: inline-block; max-width: 183px; vertical-align: top; width: 100%;" class="inline-block">
                                                <table width="100%" style="border-spacing: 0; font-family: sans-serif;">
                                                    <tr>
                                                        <td width="205" align="center" class="pic" style="Margin: 0; padding: 0; padding-right: 0; padding-top: 24px; vertical-align: middle; width: 41%;">
                                                            <img src="{{ item.avatar }}" width="183" height="141" style="border: 0; overflow: hidden;">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!--[if (gte mso 9)|(IE)]>
                                            </td>
                                            <td width="260">
                                            <![endif]-->
                                            <div style="display: inline-block; max-width: 260px; padding: 0 24px; vertical-align: top; width: 100%;"
                                                 class="inline-block">
                                                <table width="100%" style="border-spacing: 0; font-family: sans-serif;">
                                                    <tr>
                                                        <td width="296" align="left" class="title" style="Margin: 0; font-size: 18px; letter-spacing: 0.5px; line-height: 22px; padding: 0; padding-bottom: 4px; padding-right: 0; padding-top: 26px; vertical-align: middle;">
                                                            <b>{{ item.activity }}</b>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" class="desc" style="Margin: 0; color: #000; font-size: 14px; line-height: 21px; opacity: 0.3; padding: 0 0 0 0; vertical-align: middle;">{{ item.city }}, {{ item.country }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="center" align="left" bgcolor="#ffffff" class="help" style="Margin: 0; color: #000; font-family: Roboto; font-size: 14px; font-style: normal; font-weight: 600; line-height: normal; mix-blend-mode: normal; padding: 0; vertical-align: middle;">
                                                            <table bgcolor="#ffffff" width="100%" height="100%" align="center" style="border-spacing: 0; font-family: sans-serif;">
                                                                <tr>
                                                                    <td valign="center" bgcolor="#ffffff" class="lang" style="Margin: 0; padding: 20px 3px 7px 0; vertical-align: middle; width: 23px;">
                                                                        <img src="https://civitours.com/api/img/gallery/email/lang.png" width="20" height="20"
                                                                             style="border: 0; overflow: hidden; padding-right: 3.666666666666667%;">
                                                                    </td>
                                                                    <td bgcolor="#ffffff" style="Margin: 0; letter-spacing: -1px; padding: 16px 0 7px 0px; vertical-align: middle;">{{ item.language }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="center" bgcolor="#ffffff" class="time" style="Margin: 0; padding: 3px 3px 3px 0; vertical-align: middle; width: 23px;">
                                                                        <img src="https://civitours.com/api/img/gallery/email/time.png" width="20" height="20"
                                                                             style="border: 0; overflow: hidden; padding-right: 3.666666666666667%;">
                                                                    </td>
                                                                    <td bgcolor="#ffffff" style="Margin: 0; padding: 6px 0 7px 0px; vertical-align: middle;">{{ item.duration }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" style="Margin: 0; padding: 0; vertical-align: middle;"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!--[if (gte mso 9)|(IE)]>
                                            </td>
                                            </tr>
                                            </table>
                                            <![endif]-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="spacer-td" style="Margin: 0; padding: 11px 23px 17px; vertical-align: middle;">
                                            <hr class="spacer" style="border-top: 1px solid #000; margin: 0; opacity: 0.05; width: 100%;">
                                        </td>
                                    </tr>
                                </table>
                                <table class="content-middle" style="background-color: #fff; border-spacing: 0; font-family: sans-serif; width: 100%;">
                                    {% block upper_add %}{% endblock %}
                                    <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
                                        <td class="gray left" style="Margin: 0; opacity: 0.3; padding: 0; padding-bottom: 24px; padding-left: 25px; vertical-align: middle;">Numero de reserva</td>
                                        <td class="right" style="Margin: 0; padding: 0; padding-bottom: 24px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ item.code }}</td>
                                    </tr>
                                    <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
                                        <td class="gray left" style="Margin: 0; opacity: 0.3; padding: 0; padding-bottom: 24px; padding-left: 25px; vertical-align: middle;">Fecha</td>
                                        <td class="right" style="Margin: 0; padding: 0; padding-bottom: 24px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ item.date }}</td>
                                    </tr>
                                    <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
                                        <td class="gray left" style="Margin: 0; opacity: 0.3; padding: 0; padding-bottom: 24px; padding-left: 25px; vertical-align: middle;">Hora</td>
                                        <td class="right" style="Margin: 0; padding: 0; padding-bottom: 24px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ item.time }}</td>
                                    </tr>
                                    <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
                                        <td class="gray left" style="Margin: 0; opacity: 0.3; padding: 0; padding-bottom: 17px; padding-left: 25px; vertical-align: middle;">Numero de adultos</td>
                                        <td class="right" style="Margin: 0; padding: 0; padding-bottom: 17px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ item.adults }}</td>
                                    </tr>
                                    <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
                                        <td class="gray left" style="Margin: 0; opacity: 0.3; padding: 0; padding-bottom: 17px; padding-left: 25px; vertical-align: middle;">Numero de ninos</td>
                                        <td class="right" style="Margin: 0; padding: 0; padding-bottom: 17px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ item.children }}</td>
                                    </tr>
                                    {% block lower_add %}{% endblock %}
                                    <tr>
                                        <td colspan="2" class="spacer-td2" style="Margin: 0; padding: 0px 23px 16px; vertical-align: middle;">
                                            <hr class="spacer" style="border-top: 1px solid #000; margin: 0; opacity: 0.05; width: 100%;">
                                        </td>
                                    </tr>
                                    {% block price %}
                                    <tr class="total" style="font-size: 18px; line-height: 25px;">
                                        <td align="left" class="total-text" style="Margin: 0; padding: 0px 21px 23px 23px; vertical-align: middle;">
                                            <b>Precio total</b>
                                            <span class="gray" style="opacity: 0.3;"> (impuestos incluidos)</span>
                                        </td>
                                        <td align="right" class="price right" style="Margin: 0; color: #0086e6; padding: 5px 18px 29px 2px; text-align: right; vertical-align: middle;">
                                            <b>&#8364;{{ item.amount }}</b>
                                        </td>
                                    </tr>
                                    {% endblock %}
                                </table>
                            </td>
                        </tr>
                    </table>
                    {% block supplier_block %}
                    {% if item.suppliers %}
                    <table class="title-inner" style="background-color: transparent; border-spacing: 0; font-family: sans-serif; max-width: 540px;">
                        <tr>
                            <td style="Margin: 0; font-size: 18px; line-height: 25px; padding: 46px 0 17px; vertical-align: middle;">Datos del proveedor</td>
                        </tr>
                    </table>
                    {%  for supplier in item.suppliers %}
                    <table bgcolor="#fff" valign="middle" class="content-bottom" style="-webkit-box-shadow: 0px 4px 25px rgba(0,0,0,0.1); background-color: #fff; border-spacing: 0; box-shadow: 0px 4px 25px rgba(0,0,0,0.1); font-family: sans-serif; max-width: 540px; width: 100%; margin-bottom: 10px">
                        <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
                            <td class="gray left" style="Margin: 0; line-height: normal; opacity: 0.3; padding: 0 0 23px 21px; padding-bottom: 23px; padding-left: 25px; padding-top: 30px; vertical-align: middle;">Nombre</td>
                            <td class="right" style="Margin: 0; line-height: normal; padding: 0 17px 23px 0; padding-bottom: 23px; padding-right: 17px; padding-top: 30px; text-align: right; vertical-align: middle;">{{ supplier.name }}</td>
                        </tr>
                        <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
                            <td class="gray left" style="Margin: 0; line-height: normal; opacity: 0.3; padding: 0 0 23px 21px; padding-bottom: 23px; padding-left: 25px; vertical-align: middle;">Correo electronico</td>
                            <td class="right blue" style="Margin: 0; color: #0086e6; line-height: normal; padding: 0 17px 23px 0; padding-bottom: 23px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ supplier.email }}</td>
                        </tr>
                        <tr class="info" style="color: #000; font-size: 14px; text-align: left;">
                            <td class="gray left" style="Margin: 0; line-height: normal; opacity: 0.3; padding: 0 0 23px 21px; padding-bottom: 25px; padding-left: 25px; vertical-align: middle;">Telefono de emergencia</td>
                            <td class="right blue" style="Margin: 0; color: #0086e6; line-height: normal; padding: 0 17px 23px 0; padding-bottom: 25px; padding-right: 17px; text-align: right; vertical-align: middle;">{{ supplier.phone }}</td>
                        </tr>
                    </table>
                    {%  endfor %}
                    {%  endif %}
                    {% endblock %}
                    <table class="message" style="border-spacing: 0; font-family: sans-serif;">
                        <tr>
                            <td style="Margin: 0; font-size: 14px; padding: 33px 10% 10px; text-align: center; vertical-align: middle;">En breve recibir&#225;s tu comprobante, el cual podr&#225;s imprimir o llevarlo en tu m&#243;vil o tablet.</td>
                        </tr>
                    </table>
                </div>
                <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
    </table>
    {% endfor %}
    <table class="footer" style="background-color: #0086e6; border: 0.5px solid #fff; border-spacing: 0; font-family: sans-serif; width: 100%;">
        <tbody class="container" style="display: table; margin: 0 auto; max-width: 600px; width: 100%;">
        <tr>
            <td style="Margin: 0; color: #fff; font-size: 16px; font-weight: 500; line-height: 14px; padding: 23px 0; text-align: center; vertical-align: middle;">Gracias por confiar en Civitours</td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>