<div class="modal-wrapper modal--reset"> 
  <button class="modal__close flex align-items-center justify-content-center" (click)="activeModal.dismiss('Cross click')">
    <svg class="icon icon-close" viewBox="0 0 11 11">
      <g><path d="M.95.55l9.192 9.193-.707.707L.243 1.257z"></path><path d="M10.142 1.257L.95 10.45l-.707-.707L9.435.55z"></path></g>
    </svg>
  </button>
  <div class="modal__content flex">
    <div class="modal__header flex">
      <div class="modal__title">Restablecer contraseña
      </div>
      <div class="modal__subtitle">Por favor, introduzca el correo electrónico utilizado en el registro. Se le enviará un correo electrónico con instrucciones sobre cómo cambiar su contraseña
      </div>
    </div>
    <div class="modal__form">
      <form [formGroup]="resetForm" (submit)="onSubmit()">
        <div class="form-group flex"
             [class.error-input]="email.invalid && (email.dirty || email.touched || checkFields)"
             (click)="setFocus('reset-email')"
        >
          <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">Correo electrónico</span>
            <input type="text" formControlName="email" name="email" id="reset-email">
          </div>
          <div class="error-wrap flex align-items-center justify-content-between">
            <div class="error">Por favor ingrese el correo correcto</div>
          </div>
        </div>
        <div *ngIf="resetError" class="form-group flex error-input">
          <div class="error-wrap flex align-items-start justify-content-between">
            <div class="error">{{ resetError }}</div>
          </div>
        </div>
        <div class="modal__wrapper-btn">
          <button [disabled]="inProgress" class="btn" type="submit">Enviar instruciones</button>
        </div>
      </form>
    </div>
  </div>
</div>