@import 'rupture'
@import 'variables'

.mb-3
  margin-bottom 1rem

.mt-3
  margin-top 1rem

.btn[disabled]
  opacity 0.5

.input-group
  position relative
  display -ms-flexbox
  display -webkit-box
  display flex
  -ms-flex-wrap wrap
  flex-wrap wrap
  -ms-flex-align stretch
  -webkit-box-align stretch
  align-items stretch
  width 100%

  .input-group-prepend
    display -ms-flexbox
    display -webkit-box
    display flex
    margin-right -1px

    .input-group-text
      border-top-right-radius 0
      border-top-left-radius 0.25rem
      border-bottom-right-radius 0
      border-bottom-left-radius 0.25rem
      display -ms-flexbox
      display -webkit-box
      display flex
      -ms-flex-align center
      -webkit-box-align center
      align-items center
      padding 0.375rem 0.75rem
      margin-bottom 0
      font-size 1rem
      font-weight 400
      line-height 1.5
      color #495057
      text-align center
      white-space nowrap
      background-color #e9ecef
      border 1px solid #ced4da
      width 135px

.form-control
  border-top-right-radius 0.25rem
  border-top-left-radius 0
  border-bottom-right-radius 0.25rem
  border-bottom-left-radius 0
  width 425px
  position: relative;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  margin-bottom: 0;
  display block
  padding 0.375rem 0.75rem
  font-size 1rem
  line-height 1.5
  color #495057
  background-color #fff
  background-clip padding-box
  border 1px solid #ced4da
  -webkit-transition border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
  transition border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
  transition border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
  transition border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out

  &textarea
    height 100px