<div *ngIf="isLoading" class="loading-small"></div>
<div *ngIf="!isLoading" class="container">
  <form (ngSubmit)="onSubmit($event)" #submitForm="ngForm">
    <h3>Supplier information</h3>
    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input
                type="text"
                class="form-control"
                [(ngModel)]="form.name"
                name="name"
                #name="ngModel"
                required
                maxlength="50"
        >
    </div>
    <div *ngIf="name.invalid && (name.dirty || name.touched || tryToSubmit)" class="alert alert-danger">Please enter name</div>
    <div *ngIf="serverErrors.name" class="alert alert-danger" role="alert">{{ serverErrors.name }}</div>
    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Phone</span>
        </div>
        <input
                type="text"
                class="form-control"
                [(ngModel)]="form.phone"
                name="phone"
                #phone="ngModel"
                required
                maxlength="20"
        >
    </div>
    <div *ngIf="phone.invalid && (phone.dirty || phone.touched || tryToSubmit)" class="alert alert-danger">Please enter phone</div>
    <div *ngIf="serverErrors.phone" class="alert alert-danger" role="alert">{{ serverErrors.phone }}</div>
    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
        </div>
        <input
                type="text"
                class="form-control"
                [(ngModel)]="form.email"
                name="email"
                #email="ngModel"
                required
                email
                maxlength="50"
        >
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched || tryToSubmit)" class="alert alert-danger">Please enter correct email</div>
    <div *ngIf="serverErrors.email" class="alert alert-danger" role="alert">{{ serverErrors.email }}</div>
    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Contact name</span>
        </div>
        <input
                type="text"
                class="form-control"
                [(ngModel)]="form.contact"
                name="contact"
                #contact="ngModel"
                required
                maxlength="50"
        >
    </div>
    <div *ngIf="contact.invalid && (contact.dirty || contact.touched || tryToSubmit)" class="alert alert-danger">Please enter contact name</div>
    <div *ngIf="serverErrors.contact" class="alert alert-danger" role="alert">{{ serverErrors.contact }}</div>
    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text">VAT number</span>
        </div>
        <input
                type="text"
                class="form-control"
                [(ngModel)]="form.vat"
                name="vat"
                #vat="ngModel"
                required
                maxlength="50"
        >
    </div>
    <div *ngIf="vat.invalid && (contact.vat || contact.vat || tryToSubmit)" class="alert alert-danger">Please enter VAT number</div>
    <div *ngIf="serverErrors.vat" class="alert alert-danger" role="alert">{{ serverErrors.vat }}</div>
    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Postal Code</span>
        </div>
        <input
                type="text"
                class="form-control"
                [(ngModel)]="form.post_code"
                name="post_code"
                #post_code="ngModel"
                required
                maxlength="10"
        >
    </div>
    <div *ngIf="post_code.invalid && (post_code.dirty || post_code.touched || tryToSubmit)" class="alert alert-danger">Please enter postal code</div>
    <div *ngIf="serverErrors.post_code" class="alert alert-danger" role="alert">{{ serverErrors.post_code }}</div>
      <div class="input-group mt-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Website</span>
          </div>
          <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="form.website"
                  name="website"
                  #website="ngModel"
                  maxlength="1024"
          >
      </div>
      <div *ngIf="website.invalid && (website.dirty || website.touched || tryToSubmit)" class="alert alert-danger">Please enter valid website</div>
      <div *ngIf="serverErrors.website" class="alert alert-danger" role="alert">{{ serverErrors.website }}</div>
      <div class="input-group mt-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Bank Details</span>
          </div>
          <textarea
                  class="form-control"
                  [(ngModel)]="form.bank_details"
                  name="bank_details"
                  #bank_details="ngModel"
                  maxlength="5000"
          ></textarea>
      </div>
    <button type="submit" [disabled]="isSaving" class="btn btn-primary mt-3 mb-3" >Save</button>
    <div *ngIf="supplierError" class="alert alert-danger mb-3" role="alert">{{ supplierError }}</div>
  </form>
</div>
