<app-checkout-header></app-checkout-header>
<div class="main-content">
    <div class="header-fixed-pt">
        <router-outlet></router-outlet>
    </div>
</div>
<app-checkout-footer></app-checkout-footer>