<div class="scroll"> 
  <div class="calendar-block date-div" ngbTooltip="Seleccionar fecha" triggers="manual" placement="right" #dateTooltip="ngbTooltip">
    <ngb-accordion [destroyOnHide]="false" [activeIds]="['date-panel']" #dateAcc="ngbAccordion">
      <ngb-panel id="date-panel">
        <ng-template ngbPanelTitle>
          <div class="calendar-block__icon"><img src="assets/images/icon-clock.svg" alt=""></div>
          <span>{{ selectedDate ? (selectedDate | date:'longDate') : ('Fecha') }}</span>
          <div class="calendar-block__triangle"><img src="assets/images/icon-triangle.svg" alt=""></div>
        </ng-template>
        <ng-template ngbPanelContent>
          <ngb-datepicker
                  #datePicker="ngbDatepicker"
                  (select)="selectDate($event)"
                  [markDisabled]="isDisabled"
                  [navigation]="'arrows'"
                  [firstDayOfWeek]="1">
          </ngb-datepicker>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="calendar-block time-div" ngbTooltip="Seleccionar hora" triggers="manual" placement="right" #timeTooltip="ngbTooltip">
    <div class="calendar-block__icon"><img src="assets/images/icon-clock.svg" alt=""></div>
    <div class="time-wrap">
      <div class="time-placeholder" *ngIf="!times.length">Selecciona fecha disponible</div>
      <div class="time-labels">
        <div class="timeselect-wrapper" *ngFor="let time of times; let i = index">
          <input type="radio" name="timeSelector" id ="timeSelector{{ i }}" [checked]="time.time == order.time">
          <label class="timeselect" for="timeSelector{{ i }}" (click)="selectTime(time)">
            {{ time.name }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="calendar-block type-div" [class.hidden]="types.length < 2">
    <ngb-accordion #typesAcc="ngbAccordion">
      <ngb-panel id="types-panel">
        <ng-template ngbPanelTitle>
          <div class="calendar-block__icon"><img src="assets/images/icon-map.svg" alt=""></div>
          <span>{{ typesHash[order.type] ?  typesHash[order.type].name : ''  }}</span>
          <div class="calendar-block__triangle"><img src="assets/images/icon-triangle.svg" alt=""></div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="type-wrapper" >
            <div *ngFor="let type of types" (click)="selectType(type)" class="types" open-slider>
              {{ type.name }}
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="calendar-block people-div" ngbTooltip="Por favor seleccionar el comprobante" triggers="manual" placement="right" #ticketsTooltip="ngbTooltip">
    <ngb-accordion>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="calendar-block__icon"><img src="assets/images/icon-user.svg" alt=""></div>
          <span>{{ peopleHeader }}</span>
          <div class="calendar-block__triangle"><img src="assets/images/icon-triangle.svg" alt=""></div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="tickets-wrapper">
            <div *ngFor="let ticket of tickets" class="tickets">
              <div class="ticket-header">
                {{ ticket.name }}
              </div>
              <div class="column price">
                {{ ticket.price | currency:'EUR':'symbol':'1.2-2' }}
              </div>
              <div class="column">
                <button class="rnd-btn" (click)="removeTicket(ticket)"><svg class="icon icon-minus" viewBox="0 0 24 24" width="100%" height="100%"><g><circle cx="12" cy="12" r="12"></circle><path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#fff" d="M7 12h10"></path></g></svg></button>
                <span class="amount">{{ order.tickets[ticket.id] || 0  }}</span>
                <button class="rnd-btn" (click)="addTicket(ticket)"><svg class="icon icon-plus" viewBox="0 0 24 24" width="100%" height="100%"><g><circle cx="12" cy="12" r="12"></circle><path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#fff" d="M7 11.606h10M12 6.818v9.636"></path></g></svg></button>
              </div>
              <div class="column total">
                {{ (order.tickets[ticket.id] || 0) * ticket.price | currency:'EUR':'symbol':'1.2-2'}}
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div *ngIf="objectKeys(order.tickets).length && bookCompleted" class="total-div">
    <div class="total-overall">
      <span class="name">Total</span>
      <span class="price">{{ getTotal() | currency:'EUR':'symbol':'1.2-2'}}</span>
    </div>
  </div>
</div>
<button [disabled]="inSummit || disableBook || !bookCompleted" type="button" (click)="submit()" class="btn btn--calendar order-button btn--reset">
  <i *ngIf="isOk" class="fas fa-check-circle"></i>
  <i *ngIf="inSummit" class="fas fa-spinner fa-spin"></i>
  RESERVAR
</button>
