<div *ngIf="isLoading" class="loading-small"></div>
<app-edit-review *ngIf="!isLoading" [activity]="activity" [review]="review" (onComplete)="onEditComplete($event)" [forAdmin]="true"></app-edit-review>
