@import 'variables'
@import 'rupture'

.sr-only
  display: none

.icon-star
  width 12px
  height 12px
  fill rgba(196, 196, 196, 0.3)
  margin-right 4px!important
  &.active
    fill #F5C973

.icon-content
  +.icon-content
    margin-top 8px

  .icon
    width 18px
    height 18px
    fill transparent
    stroke #000
    stroke-opacity .3
    margin-right 6px

  &__title
    font-weight 500
    -ms-flex-preferred-size auto
    flex-basis auto
    font-family GothamProRegular,sans-serif
    font-size 16px
    line-height 22px
    color rgba(0,0,0,.3)

.number-price
  margin-top 33px

/deep/.activities
	flex-wrap wrap
	position relative
	margin 0 auto 56px auto
	&__close
		position absolute
		top -13px
		right 5px
		cursor pointer
		.icon
			width 16px
			height 16px
	&--city
		.activities_star-pos-tr
			position absolute
			top 2px
			right 4px
			display flex
		.activities__item
			display flex
			flex-direction row
			border-bottom-left-radius 5px
			width 100%
		.activities__content
			margin 34px 20px 26px
		.activities__header-img
			width 265px
			flex-shrink 0
			height auto
			border-bottom-left-radius 5px
			border-top-right-radius 0
			position relative
			background-size: cover !important
			background-position center center !important
			&:after
				position absolute
				content ""
				background linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%)
				height 60%
				width 100%
				z-index 0
				left 0
				bottom 0
				border-bottom-left-radius 5px
				+below(720px)
					border-bottom-left-radius 0
			&.img-opacity
				opacity 0.5
				&:after
					position absolute
					width 100%
					height 100%
					top 0
					left 0
					content ""
					display block
		.activities__btn
			top -13px
			right -2px
		.activities__img-wrap
			position relative
			width 265px
			.activities__header-img
				height 100%
			.bottom-content
				position absolute
				bottom 20px
				width 100%
				display flex
				flex-direction column
				align-items center
				.btn
					width 90%
					margin-top 10px
					&:first-child
						margin-top 0
		.activities__content-star
			padding 0 11px 0 8px
		.activities__caption
			top 20px
		.activities__score
			padding 0 6px
		.activities__content-header
			display flex
			flex-direction column
			padding-right 140px
			margin-bottom 12px
			position relative
			a
                text-align left
				font-family 'Roboto', sans-serif
				font-weight bold
				letter-spacing 0.5px
				line-height 23px
				font-size 18px
				&:hover
					color blue
		.activities__desc
			line-height 20px
			font-size 14px
			font-family font-family-reg
			color #000
			padding-right 20px
			margin-bottom 31px
		.activities__reviews-value
			padding-left 8px
		.city-bottom
			z-index 2
			position absolute
			bottom 27px
			left 25px
			right 25px
			display flex
			align-items center
			&__time, &__language
				font-family 'Roboto', sans-serif
				font-weight 500
				color #fff
				font-size 14px
				display flex
				align-items center
				margin-right 17px
				&:hover
					color #fff
			&__language
				margin-right 0
				white-space nowrap
				overflow hidden
				text-overflow ellipsis
			.icon
				width 18px
				height 18px
				flex-shrink 0
				fill transparent
				margin-right 7px
				stroke-opacity 0.7


	+below(1150px)
		justify-content center
	+below(1030px)
		padding-bottom 49px
	+below(769px)
		margin-bottom 0
	+below(767px)
		flex-direction column
		align-items center
		padding-bottom 15px
	&__btn
		width 56px
		height 56px
		display inline-block
		background-color blue
		border-radius 50%
		position absolute
		top -48px
		right -2px
		z-index 1
		botder 0
		transition all 0.3s
		cursor pointer
		&:after
			content ''
			position absolute
			z-index -1
			border-radius 50%
			display inline-block
			top 50%
			left 50%
			margin-top -36px
			margin-left -36px
			width calc(100% + 16px)
			height calc(100% + 16px)
			background-color  inherit
			transform scale(.75)
			opacity .5
			transition all .7s
		&:hover
			&:after
				animation buttonGrow 1.5s linear infinite
		+below(1150px)
			right -5px
	&__item
		position relative
		transition all .3s
		display flex
		flex-direction column
		justify-content space-between
		background-color #fff
		border-bottom-right-radius 5px
		border-bottom-left-radius 5px
		border-top-left-radius 5px
		border-top-right-radius 5px
		font-family 'Roboto', sans-serif


		&:hover
			box-shadow 0px 4px 25px rgba(0, 0, 0, 0.2)

	&__header-img
		height 214px
		display block
		border-top-right-radius 5px
		border-top-left-radius 5px
		background-size cover !important
		background-position center center !important
	&__content
		background-color #fff
		margin 18px 24px 25px 24px
		position relative
		border-radius 5px
		display flex
		flex-direction column
		flex-grow 1
		flex-basis 0%
		min-height 100px
		height auto !important
		+below(1150px)
			margin-right 18px
			margin-left 18px
		+below(767px)
			margin 18px 27px 30px 12px
		&-header
			font-weight bold
			padding-right 78px
			margin-bottom 36px
			display flex
			flex-grow 1
			+below(767px)
				padding-right 10px
			a
				color currentColor
				font-weight bold
				line-height 21px
				font-size 16px
				letter-spacing 0.5px
				transition all .2s
				&:hover
					color blue

	&__price
		font-size 18px
		line-height 20px
		color blue
		font-weight 400
	&__content-star
		display flex
		justify-content space-between
		align-items center
		+below(767px)
			padding-right 10px
	&__reviews-value
		padding-left 4px
		color rgba(0,0,0,0.3)
		font-size 16px
		line-height 17px
		font-family font-family-reg
	&__score
		font-size 18px
		color #2B2B2B
		padding 0 8px
		font-weight 400
	&__caption
		padding 7px 10px
		background rgba(118, 54, 255, 0.7)
		border-radius 3px
		display inline-block
		color #fff
		position absolute
		top 17px
		left 24px
		font-size 10px
		text-transform uppercase
		letter-spacing 0.05em
		font-family font-family-md
		+below(769px)
			left 15px
			top 19px
	&--added
		.activities__item
			max-width 300px
	&--blog
		.activities__caption
			padding 8px 10px
			letter-spacing 0.4px
			top 19px
		.activities__content
			margin-bottom 21px
			min-height 82px
			height auto !important
			height 82px
		.activities__content-header
			margin-bottom 10px
		.activities__content-bottom
			margin-top 13px
			.activities__data
				font-family font-family-reg
				font-size 12px
				line-height 17px
				color rgba(0,0,0,.3)
.city-bottom
	.icon
		flex-shrink 0
	.desc-time
		max-width 100px
		text-align left