<div class="activities-item-position activities-item-position--horizontal">
  <div class="activities__item">
    <div class="activities__img-wrap">
      <a class="activities__header-img" [class.img-opacity]="passed" routerLink="{{ routeHelper.buildActivityRouteFromOrderInfo(orderInfo) }}" [ngStyle]="{'background': 'url(' +  orderInfo.avatar + ')' }"></a>
      <div *ngIf="passed" class="bottom-content">
        <a *ngIf="!orderInfo.rate" routerLink="/dashboard/review/{{ orderInfo.activity }}/{{ orderInfo.code }}" class="btn btn--round-history btn--bg-white">puntuar la actividad</a>
        <a class="btn btn--round-history" routerLink="{{ routeHelper.buildActivityRouteFromOrderInfo(orderInfo) }}">reservar una actividad</a>
      </div>
      <div *ngIf="!passed" class="city-bottom">
        <div class="city-bottom__time">
          <svg class="icon clock" viewBox="0 0 20 20">
            <g stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"><path d="M1 10a9 9 0 0 0 9 9 9 9 0 1 0-9-9z"></path><path d="M14 11h-4V6"></path></g>
          </svg>
          <div class="desc-time">
            {{ formatHelper.formatDuration(orderInfo.duration) }}
          </div>
        </div>
        <div class="city-bottom__language">
          <svg class="icon icon-language" viewBox="0 0 20 20">
            <path d="M19 9.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.379 8.379 0 0 1-3.8-.9L1 19l1.9-5.7A8.38 8.38 0 0 1 2 9.5a8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"></path>
          </svg>{{ orderInfo.language }}
        </div>
      </div>
    </div>
    <div class="activities__content">
      <div class="activities__content-header">
        <a routerLink="{{ routeHelper.buildActivityRouteFromOrderInfo(orderInfo) }}">{{ orderInfo.activity_name }}</a>
        <div *ngIf="orderInfo.rate" class="activities__star-block activities_star-pos-tr">
          <ngb-rating [rate]="orderInfo.rate / 2" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
          <ng-template #t let-fill="fill">
            <svg class="icon icon-star active" [class.active]="fill === 100" viewBox="0 0 12 12">
              <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
            </svg>
          </ng-template>
        </div>
      </div>
      <div class="icon-content flex">
        <svg class="icon icon-clock-checkout" viewBox="0 0 16 16">
          <g stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"></path><path d="M8 3.8V8l2.8 1.4"></path></g>
        </svg>
        <div class="icon-content__title">{{ orderInfo.date | date:'EEEE, MMMM d, y'}} {{ orderInfo.time }}</div>
      </div>
      <div class="icon-content flex">
        <svg class="icon icon-user-checkout" viewBox="0 0 13 14">
          <g stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M12 13v-1.333c0-.708-.29-1.386-.806-1.886a2.794 2.794 0 0 0-1.944-.78h-5.5c-.73 0-1.429.28-1.945.78A2.626 2.626 0 0 0 1 11.667V13M9.25 3.667c0 1.472-1.231 2.666-2.75 2.666S3.75 5.14 3.75 3.667C3.75 2.194 4.981 1 6.5 1s2.75 1.194 2.75 2.667z"></path></g>
        </svg>
        <div *ngFor="let price of orderInfo.prices" class="icon-content__title">{{ price.amount }} {{ price.name }}</div>
      </div>
      <div class="number-price">
        <div class="number-price__item">Número de reservación: <span>{{ orderInfo.code }}</span></div>
        <div class="number-price__item">Precio total: <span>{{ getTotalPrice(orderInfo.prices) | currency:'EUR':'symbol':'1.0-0'}}</span></div>
      </div>
    </div>
  </div>
</div>
