<div *ngIf="isLoading" class="loading-small"></div>
<div *ngIf="!isLoading" class="container">
  <input class="form-control" placeholder="Search..." [(ngModel)]="search" (input)="updateSuppliers()">
  <a class="btn btn-next create" routerLink="/admin/suppliers/create">+ Create</a>
  <table  class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Contact</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="!suppliers.length">
      <td colspan="6" class="no-items">No suppliers are available</td>
    </tr>
    <tr *ngFor="let supplier of suppliers; let i = index;">
      <td>{{ supplier.id }}</td>
      <td>{{ supplier.name }}</td>
      <td>{{ supplier.email }}</td>
      <td>{{ supplier.phone }}</td>
      <td>{{ supplier.contact }}</td>
      <td>
        <div *ngIf="deletingSuppliers.includes(supplier.id)" class="loader"></div>
        <a class="btn btn-primary btn-sm" (click)="editSupplier(i)">Edit</a>
        <a class="btn btn-primary btn-sm" (click)="deleteSupplier(supplier.id, i)">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="filteredSuppliers.length" [(page)]="page" [maxSize]="10" (pageChange)="updateSuppliers()" [pageSize]="pageSize" [boundaryLinks]="true"></ngb-pagination>
</div>
