@import 'variables'
@import 'rupture'

.destination-hero
  min-height 520px
  height auto !important
  height 520px
  background-size cover !important
  background-position 50% 50% !important
  position relative
  flex-direction: column;
  justify-content flex-start
  +below(769px)
    min-height 395px
    height auto !important
    height 395px
  +below(500px)
    min-height 249px  
    height auto !important
    height 249px
  .search-wrap
    height 36px
    width 100%
    background rgba(0,0,0,.35)
  .destination-hero
    &__counter
      background rgba(0,0,0,.35)
      position absolute
      bottom 0
      left 0
      width 100%
  .container
    &--counter
      padding: 17px 20px
      justify-content: space-between;
      display: flex;
      +below(470px)
        padding: 10px 20px
  &__heading
    font-size 56px
    line-height 79px
    font-family font-family-md
    color #fff
    text-transform uppercase
    padding-top 100px
    padding-bottom 150px
    padding-right 200px
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    +below(1024px)
      padding-right 50px
    +below(769px)
      font-size 48px
      line-height 62px
    +below(767px)
      padding-right 0
    +below(645px)
      font-size 30px
  &__value
    color #fff
    font-size 42px
    line-height 35px
    font-family font-family-md
  &__description
    font-family 'Roboto', sans-serif
    font-weight 500
    letter-spacing 0.01em
    font-size 15px
    color #fff
    max-width 100px
    margin-left 13px
  &__item + &__item
    margin-left 47px
    +below(768px)
      margin-left 15px
    +below(470px)
      margin-left 0
  &__counter
    +below(800px)
      display none
  +below(800px)
    &__heading
      padding-top 100px
      padding-bottom 50px
  +below(500px)
    .search-wrap
      display none
    &__heading
      padding-top 50px
      padding-bottom 50px
  +below(400px)
    .container
      padding-left 20px
      padding-right 20px
/deep/.destination-flex-end
  justify-content flex-end !important
  .destination-hero__description
    max-width 111px !important

.activity-search-wrap
  height 36px
  width 100%
  background rgba(0,0,0,.35)
  .container
    display flex
    align-items center
    height 36px
  +below(500px)
    display none