<div class="header-fixed-pt">
  <section *ngIf="destinationCountry" class="destination-hero destination-hero--search-country flex" [ngStyle]="{'background': 'url(' +  (destinationCountry.avatar ? destinationCountry.avatar : 'assets/images/no-img-big.png') + ')'}">
    <div class="activity-search-wrap">
      <app-country-city-navigation [selectedCountryId]="destinationCountry.id"></app-country-city-navigation>
    </div>
    <div class="container">
      <h1 class="destination-hero__heading">{{ destinationCountry.name }}</h1>
    </div>
    <div class="destination-hero__counter flex align-items-center">
      <div class="container container--counter destination-flex-end">
        <div class="destination-hero__item flex align-items-center">
          <div class="destination-hero__value">{{ destinationCountry.excursions }}</div>
          <div class="destination-hero__description">Excursiones y Actividades</div>
        </div>
        <div class="destination-hero__item flex align-items-center">
          <div class="destination-hero__value">{{ destinationCountry.travelers }}</div>
          <div class="destination-hero__description">Clientes ya lo han descubierto</div>
        </div>
        <div class="destination-hero__item flex align-items-center">
          <div class="destination-hero__value">{{ destinationCountry.rate | number:'0.1' }}</div>
          <div class="destination-hero__description">
            <div class="destination-hero__value-reviews">{{ destinationCountry.reviews }}</div>Así nos puntúan
          </div>
        </div>
      </div>
    </div>
  </section>
</div>