<div class="gallery-container flex flex-wrap">
  <div *ngFor="let item of galleryValue; let i = index;" class="gallery-item">
    <div class="img" [ngStyle]="{'background': 'url(' +  item.path + ')'}"></div>
    <input
            type="radio"
            id="isMain{{ i }}"
            [value]="true"
            [checked]="item.is_main"
            (click)="selectItem(i)"
            name="isMain"
    >
    <label for="isMain{{ i }}">Main</label>
    <input class="form-control" [(ngModel)]="item.description" placeholder="Ingresar descripción">
    <button class="btn btn-primary" (click)="deleteImage(i)">delete</button>
  </div>
</div>
<app-uploader (imageUploaded)="onImageUpload($event)"></app-uploader>
