@import 'variables'
@import 'rupture'


.gallery-container
  margin-bottom 10px

  .gallery-item
    width calc((100% - 75px) / 4)
    padding 5px
    border solid 1px black
    background white
    border-radius 5px
    margin-right 10px
    margin-bottom 10px

    &:nth-child(4n)
      margin-right 0

    .form-control
      width 100%
      margin-bottom 10px

    .img
      height 220px
      background-size cover!important
      margin-bottom 10px

    .btn
      display block
      margin-left auto
      margin-right auto
      border 0