@import 'variables'
@import 'rupture'

.lds-eclipse
  width 200px
  height 100%

.calendar
  background #F5F4F5
  height 100vh
  width 387px
  padding 47px 32px
  position fixed
  transform translateX(387px)
  transition all 0.4s
  right 0
  z-index 1000
  display flex
  flex-direction column
  top:0;
  &.active
    transform translateX(0px)
  &__module
    flex 1
    padding 0 10px
    display block
  &__header
    margin-bottom 18px
    padding 0 10px

  .lds-eclipse
    display block
    margin-left auto
    margin-right auto

  .close
    border none
    background-color inherit
    margin-left auto
    cursor pointer

    &:active
      outline none

    &:focus
      outline none
      
  &__close
    position absolute
    top 13px
    right 13px
    cursor pointer
    .icon
      width 24px
      height 24px
      fill #000
  +below(480px)
    width 100%
    padding: 35px 0px 0px;
    transform: translateX(0px);
    transform: translateY(-100%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    padding-bottom 65px
    &.active
      transform none
      /deep/.ng-scrollbar-view 
        transform none !important
        overflow auto !important
        -webkit-overflow-scrolling auto
          
    /deep/.calendar__module
      width: 100%;
      height 100%
      overflow auto
      .scroll
        overflow scroll !important
        height 100% 
        width 100%
        -webkit-overflow-scrolling: touch !important;
      
.tour
  &__ttl
    font-family font-family-sec
    font-size 15px
    font-weight bold
    flex 1
    a
      color currentColor
      &:hover
        color blue
  &__img
    margin-right 10px
    width 74px
    height 74px
    border-radius 50%
    overflow hidden
    img
      display block
      max-height 100%
      max-width 200%
      height 74px
      width 74px