@import "variables"
@import "rupture"

.preloader
  width: 100%;
  height: 100%;
  overflow-x hidden
  position: fixed;
  z-index: 999;
  top: 0;
  background: #f7f7f7;
  left: 0;
  right: 0;
  bottom: 0;
  transition all 1s
  opacity 1
  visibility visible

  .loader-main
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &__text
      position: absolute;
      top: 100%;
      width: 200px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: #2b2b28;
      font-size: 18px;
      font-family: Roboto,sans-serif;
      font-weight: 500;
      padding-top: 15px;
      letter-spacing: .06em;
    .icon-circle
      fill: transparent;
      stroke-width: 1px;
      width: 78px;
      height: 78px;
      margin-right: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    &__circle
      border-radius 50%
      width: 78px;
      height: 78px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      animation 2s spin infinite linear
    &__wrap
      width: 78px;
      height: 78px;
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius 50%
      transform: translate(-50%,-50%);
      animation 3s spin infinite linear
      .icon-airplane
        width: 20px;
        height: 15px;
        fill: blue;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        &.bottom
          bottom: -7px;
        &.top
          top -7px
          transform: translateX(-50%) rotate(180deg);

  &.done
    opacity 0
    visibility: hidden;
  &--grey
    background #f7f7f7c7

@keyframes spin
  from
    transform translate(-50%, -50%) rotate(0deg)

  to
    transform translate(-50%, -50%) rotate(360deg)
