@import 'variables'
@import 'rupture'


#card-element
  width 100%

.spinner
  width: 100%;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  height: 100%;
  .loading
    color white
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border-top: 5px solid #53777A;
    border-bottom: 5px solid #C02942;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -80px;
    animation: loading 1.2s linear infinite;
    -webkit-animation: loading 1.2s linear infinite;

@keyframes loading
  0%
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  100%
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
.btn-payment
  padding-bottom 5px
  padding-top 28px
  cursor pointer
  .payment-img-wrap
    display: flex;
    align-items: center;
    height: 47px;
    margin-bottom: 14px;
    width 160px
    img
      width 100%
      height 47px  
  .btn-payment__title
    font-size 11px
    margin-top 0
    font-family "Roboto"
    font-weight 500
/deep/.visa-btn
  width 100%
  text-align center
  cursor pointer
  input[type="submit"]
    width 250px
    height 35px
    border none
    background blue
    color #fff
    border-radius 50px
    transition all .2s
    font-size 16px
    font-family "Roboto"
    font-weight 900
    font-style italic
    cursor pointer
    animation: glowing 1500ms infinite;
  &:hover
    input[type="submit"]
      background dark-blue
      animation: none
@keyframes glowing {
  0% { background-color: blue; box-shadow: 0 0 4px dark-blue; }
  50% { background-color: dark-blue; box-shadow: 0 0 4px dark-blue; }
  100% { background-color: blue; box-shadow: 0 0 4px dark-blue; }
}
.section--payment
  .sidebar 
    width 361px
  .sidebar-wrap__content
    width calc(100% - 361px)
    margin-right 20px
  +below(1020px)
    padding-top 24px
    padding-bottom 0
  +below(769px)
    padding-top 0
    .booking-details
      width: 100%;
      padding: 10px 20px 26px;
      box-shadow: none;
      background-color: transparent;
    .check-wrap
      margin-left 20px
    .booking-details__desc
      padding-top 24px
  +below(666px)
    .booking-details
      padding-left 10px
      padding-right 10px
    .container
      padding-left 0
      padding-right 0
    .check-wrap
      margin-left 10px
    .total-price--mobile
      margin-left 0
      margin-right 0
  +below(650px)
    .booking-details__desc
      padding-right 0
  +below(600px)
    .form-checkout__row+.form-checkout__row
      margin-top 20px
    .form-checkout__item 
      width 100%
    .form-checkout__item +.form-checkout__item 
      margin-top 20px
  +below(1165px)
    .booking-details
      padding-left 30px
      padding-right 30px
    .sidebar
      width 330px
    .sidebar-wrap__content
      width 100%
  +below(1020px)
    .sidebar-wrap__content
      margin-right 0
  +below(600px)
    .container
      padding-left 0
      padding-right 0
    .booking-details
      width 100%
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 45px;
      margin-bottom: 50px;
.btn-payment
  position relative
  overflow hidden
  .btn-paypal
    width 250px
    height 35px
    background-color #ffc439
    border-radius 50px
    cursor pointer
    transition all .2s
    display flex
    align-items center
    justify-content center
    img
      width 80px
      height auto
  &:hover
    .btn-paypal
      background-color darken(#ffc439,20%)
      box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05);

.input-card
  padding: 10px 16px 10px 16px;
  border: 1px solid #d0d4d9;
  border-radius: 2px;
  background: #fff


.booking-details
  &__security
    margin-top 20px
    +below(350px)
      display none
  &__security-ttl
    margin-bottom 5px
    text-transform uppercase
    font-size: 11px;
    letter-spacing: 0.8px;
    color green
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position relative
    display flex
    align-items center
    +below(480px)
      letter-spacing: 0.5px;
    img
      display block
      margin-right 3px
      width: 12px;
      margin-bottom: 2px;
  &__security-cards
    display flex
    img
      width 39px
      margin-bottom: -7px;
      bottom: 4px;
      position: relative;
      +below(480px)
        width 35px
  &__security-card
    overflow hidden
    border 1px solid #e5e5e5
    padding 0 5px
    & + &
      margin-left 3px
  .form-checkout__item
    width 20%
    &.w-100
      width 50%
    #card-cvc
      min-width 70px
    .icon
      height 40px
      width 50px
      padding-top 3px
      img
        height 38px
        width 38px
  .form-checkout__item+.form-checkout__item
    margin-top 29px
  +below(600px)
    .form-checkout__item
      &.w-100
        width 100%
        .input-card 
          width 223px
    .form-checkout__item+.form-checkout__item
      margin-top 0
    .form-checkout__item
      width auto
    .form-checkout__row +.form-checkout__row
      justify-content flex-start
      .form-checkout__item
        &:first-child
          .input-card
            width 98px
        &:last-child
          margin-left 5px
            
    #card-cvc
      flex-grow 1
    &__header
      flex-direction column
    .booking-details__title
      margin-bottom 10px
    .booking-details__security
      margin-top: 0;
      margin-bottom: 20px;
      display: flex !important;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    .booking-details__security-ttl
      font-size: 11px;
      margin-bottom: 0;
      
        
      
  .form-checkout__row+.form-checkout__row
    margin-top 29px
  +below(600px)
    .form-checkout__row+.form-checkout__row
      margin-top 20px
      flex-direction row
