<app-overlay-spinner *ngIf="verifyPayment" [loaderText]="'Сhecking payment'"></app-overlay-spinner>
<app-overlay-spinner *ngIf="inPay" [loaderText]="'Perform payment'"></app-overlay-spinner>
<div class="review_order payment-method section section--payment">
  <div class="container">
    <div class="sidebar-wrap sidebar-wrap--reverse flex ">
      <div class="sidebar">
        <div class="dropdown-basket visible-block">
          <div *ngFor="let item of basketItems" class="dropdown-basket__item">
            <a class="dropdown-basket__link" routerLink="{{ routeHelper.buildActivityRoute(item.activity) }}">
              <img class="dropdown-basket__img" [src]="item.activity.avatar_small">
            </a>
            <div class="dropdown-basket__content">
              <div class="dropdown-basket__block flex justify-content-between">
                <a class="dropdown-basket__title" routerLink="{{ routeHelper.buildActivityRoute(item.activity) }}">{{ item.activity.name }}</a>
              </div>
              <div class="dropdown-basket__block flex justify-content-between">
                <div class="dropdown-basket__adult">
                  <div *ngFor="let ticketName of item.getTicketData().ticketNames">
                    <span  class="dropdown-basket__data">{{ formatDate(item) }} </span>{{ ticketName }}
                  </div>
                </div>
                <div class="dropdown-basket__price">{{ item.getTicketData().total | currency:'EUR':'symbol':'1.2-2' }}</div>
              </div>
            </div>
          </div>
          <div class="total-price total-price--sm">
            <div class="flex align-items-center justify-content-between">
              <div class="total-price__title">Precio total</div>
              <div class="total-price__value">{{ getTotal() | currency:'EUR':'symbol':'1.2-2' }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-wrap__content">
        <div *ngIf="!this.order || !this.order.code" class="booking-details">
          Debes completer el <a routerLink="/checkout/details">paso 2</a> para efectuar el pago de la actividad
        </div>
        <div *ngIf="this.order && this.order.isVerified" class="booking-details">
          <!-- <h1 class="booking-details__title">Selecciona método de pago</h1>
          <div class="flex justify-content-between">
            <a class="btn-payment active flex flex-column align-items-center" (click)="submitRedsys()">
              <div class="payment-img-wrap">
                <div class="mastercard">
                  <img src="assets/images/mastercard-svg.svg">
                </div>
                <div class="visa">
                  <img src="assets/images/visa-svg.svg">
                </div>
              </div>
              <div #redsysButton class="visa-btn"></div>
              <span class="btn-payment__title">Trajeta de crédito o débito</span>
              <span class="btn-payment__recommended">recomendado</span>
            </a>

            <a id="paypal-button" class="btn-payment flex flex-column align-items-center" (click)="submitPaypal()">
              <div class="payment-img-wrap">
                <img src="assets/images/pay-svg.svg">
              </div>
              <div class="btn-paypal"><img src="assets/images/pay-svg.svg"></div>
              <span class="btn-payment__title">The safer, easier way to pay</span>
              <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </a>
          </div> -->
          <div class="booking-details__header flex justify-content-between align-items-start">
            <h1 class="booking-details__title">Garantiza Tu Reserva</h1>
            <div class="booking-details__security">
              <div class="booking-details__security-ttl"><img src="assets/images/icon-lock.svg" alt=""> CONEXIÓN SEGURA</div>
              <div class="booking-details__security-cards">
                  <div class="booking-details__security-card">
                    <img src="assets/images/icon-checkout-visa.svg" alt="">
                  </div>
                  <div class="booking-details__security-card">
                    <img src="assets/images/icon-checkout-mastercard.svg" alt="">
                  </div>
                  <div class="booking-details__security-card">
                    <img src="assets/images/icon-checkout-ae.svg" alt="">
                  </div>
              </div>
            </div>
          </div>
          <div class="flex justify-content-between">
            <div class="form-checkout__row">
              <div class="w-100">
                <div class="form-checkout__row">
                  <div class="form-checkout__item flex flex-column w-100">
                    <label>introduce los datos de la tarjeta</label>
                    <div class="input-card" id="card-number">
                      <!-- A Stripe Element will be inserted here. -->
                    </div>
                  </div>  
                </div>
                <div class="form-checkout__row flex-column">
                  <div class="form-checkout__item flex flex-column">
                    <div class="input-card" id="card-expiry">
                      <!-- A Stripe Element will be inserted here. -->
                    </div>
                  </div>
                  <div class="form-checkout__item flex ">
                    <div class="input-card" id="card-cvc">
                      <!-- A Stripe Element will be inserted here. -->
                    </div>
                    <div class="icon">
                      <img src="assets/images/cvv.svg" alt="cvv">
                    </div>
                  </div>
                  
                </div>  
                <div role="alert" class="error">{{ stripeError }}</div>
              </div>
            </div>
          </div>
          <div class="mt-20">
            <button type="button" class="btn btn--full" (click)="payStripe()">Confirmar Reserva</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
