<button class="modal__close flex align-items-center justify-content-center" (click)="activeModal.dismiss('Cross click')">
  <svg class="icon icon-close" viewBox="0 0 11 11">
    <g ><path  d="M.95.55l9.192 9.193-.707.707L.243 1.257z"></path><path  d="M10.142 1.257L.95 10.45l-.707-.707L9.435.55z"></path></g>
  </svg>
</button>
<div class="form-checkout">
  <h2>Create new report</h2>
  <form #reportForm="ngForm" (ngSubmit)="submitData(reportForm)">
  <div class="form-checkout__item flex flex-column">
    <label>Report name</label>
    <input [(ngModel)]="form.name" name="name" required #name="ngModel">
    <div *ngIf="name.invalid && (name.dirty || name.touched || tryToSubmit)" class="error">Please enter name</div>
  </div>
  <div class="form-checkout__item flex flex-column">
    <label>Report type</label>
    <select [(ngModel)]="form.report_type" name="report_type" required #report_type="ngModel">
      <option *ngFor="let type of reportTypes" [value]="type.id">{{ type.name }}</option>
    </select>
    <div *ngIf="report_type.invalid && (report_type.dirty || report_type.touched || tryToSubmit)" class="error">Please select report type</div>
  </div>
  <button [disabled]="inCreate" type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
