.form-checkout
  margin 20px
  &__item
    margin-bottom 10px
    margin-right 15px
    select
      padding 10px 16px 10px 16px
      border 1px solid #d0d4d9
      border-radius 2px
      font-family 'Roboto', sans-serif
      font-weight 400
      font-size 14px
      color #000
      line-height 20px
      -moz-appearance none
      -webkit-appearance none

.btn
  width 200px!important