@import 'variables'
@import 'rupture'

header
  position absolute
  top 0
  left 0
  width 100%
  z-index 100
  .icon-content
    align-items center
    padding-right 100px
    &__title
      margin-right 0
      flex-basis auto
      color #ffffff
      font-size 11px
      line-height 17px
      font-family font-family-md
      letter-spacing 0.5px
    .icon 
      stroke #fff
      stroke-opacity 1
      margin-right 12px
      height 20px
      width 18px
      flex-shrink 0
      fill transparent
.head-top
  background-color transparent
  color #fff
  border-bottom 1px solid rgba(255,255,255,.5)
  &--blue
    background-color blue
    position relative
.head-top--scroll
    position fixed
    top 0
    left 0
    background-color blue
    z-index 99
    &.head-top
      border-bottom-color #fff
.logo
  padding 18px 152px 18px 68px
  font-size 30px
  line-height 35px
  color #ffffff
  font-family font-family-md
  text-transform uppercase
  border-right 1px solid rgba(255,255,255,.5)
  +below(1690px)
    font-size 20px
    padding 17px 50px 17px 50px 
    line-height 22px
  +below(1030px)
    font-size 30px
    padding-right 38px
  +below(900px)
    padding-left 26px
    padding-right 42px
  +below(769px)
    padding-left 38px
    padding-right 44px
    padding-top 19px
    padding-bottom 19px
  +below(720px)
    font-size 18px
    border-right 0
    padding-left 8px
    padding-right 20px
    padding-bottom 13px
    padding-top 13px
  &:hover
    color #fff