<header class="head-top flex justify-content-between head-top head-top--scroll">
  <a class="logo flex align-items-center" routerLink="/" title="CIVITOURS" (click)="fireEvent()">civitours</a>
  <div class="icon-content flex hidden-md">
    <svg class="icon icon-lock-header" viewBox="0 0 20 22">
      <svg id="icon-lock-header" viewBox="0 0 20 22" width="100%" height="100%"><path d="M3 10h14a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2zM5 10V6a5 5 0 1 1 10 0v4" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
    </svg>
    <div class="icon-content__title"> PAGO SEGURO
    </div>
  </div>
</header>
