@import 'variables'
@import 'rupture'

.btn-back
  position absolute
  z-index 10
  right 20px
  top 100px
  
.back
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition all .2s
  cursor pointer
  margin-top 25px
  .icon
    transform: rotate(180deg);
    width: 16px;
    height: 21px;
    fill: blue;
    margin-right: 10px
  &__title
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  &:hover
    .back__title
      color blue
.container
	+below(1020px)
		padding-left 40px
		padding-right 40px
	+below(650px)
		padding-right 8px
		padding-left 8px