<div *ngIf="isLoading" class="preloader preloader--small">
  <div class="loader-main">
    <svg [class.hidden]="isLoaded" class="icon icon-circle" viewBox="0 0 78 78" width="100%" height="100%"><path d="M76.823 33.826c.143 1.109.24 2.232.288 3.368l-.5.021a39.375 39.375 0 0 1 0 3.34l.5.021a39.41 39.41 0 0 1-.288 3.368l-.496-.064a38.557 38.557 0 0 1-.568 3.286l.488.107a38.842 38.842 0 0 1-.862 3.266l-.478-.149a38.274 38.274 0 0 1-1.129 3.14l.463.189a38.875 38.875 0 0 1-1.416 3.068l-.445-.229a38.434 38.434 0 0 1-1.655 2.896l.423.267a38.986 38.986 0 0 1-1.925 2.777l-.398-.302a38.508 38.508 0 0 1-2.13 2.566l.37.336a38.998 38.998 0 0 1-2.375 2.404l-.34-.367a38.338 38.338 0 0 1-2.541 2.16l.307.395a38.69 38.69 0 0 1-2.755 1.956l-.272-.42a37.994 37.994 0 0 1-2.878 1.686l.234.442a38.27 38.27 0 0 1-3.055 1.444l-.194-.46a37.595 37.595 0 0 1-3.129 1.152l.152.477c-1.068.34-2.155.635-3.261.882l-.109-.488a37.68 37.68 0 0 1-3.283.582l.065.496a38.505 38.505 0 0 1-3.367.295l-.021-.5a38.373 38.373 0 0 1-3.339 0l-.022.5a38.505 38.505 0 0 1-3.367-.295l.066-.496a37.68 37.68 0 0 1-3.283-.582l-.11.488a37.998 37.998 0 0 1-3.26-.882l.152-.477a37.595 37.595 0 0 1-3.13-1.153l-.193.461a38.254 38.254 0 0 1-3.055-1.444l.233-.442a37.955 37.955 0 0 1-2.877-1.686l-.272.42a38.666 38.666 0 0 1-2.755-1.956l.307-.394a38.34 38.34 0 0 1-2.541-2.16l-.34.366a38.998 38.998 0 0 1-2.375-2.404l.37-.336a38.505 38.505 0 0 1-2.13-2.566l-.398.302a39.004 39.004 0 0 1-1.925-2.777l.423-.267a38.41 38.41 0 0 1-1.655-2.896l-.445.23a38.832 38.832 0 0 1-1.416-3.07l.463-.189a38.296 38.296 0 0 1-1.13-3.139l-.477.149A38.844 38.844 0 0 1 .9 47.273l.488-.107A38.538 38.538 0 0 1 .82 43.88l-.496.064a39.428 39.428 0 0 1-.287-3.368l.5-.021a39.38 39.38 0 0 1 0-3.34l-.5-.021c.048-1.136.145-2.26.287-3.368l.496.064c.144-1.11.334-2.207.57-3.286l-.49-.107c.242-1.107.53-2.196.863-3.266l.478.149c.332-1.067.709-2.114 1.129-3.14l-.463-.189c.429-1.046.902-2.07 1.416-3.068l.445.229a38.41 38.41 0 0 1 1.655-2.896l-.423-.267a38.984 38.984 0 0 1 1.925-2.777l.398.303a38.533 38.533 0 0 1 2.13-2.567l-.37-.336a38.97 38.97 0 0 1 2.375-2.404l.34.367a38.369 38.369 0 0 1 2.541-2.16l-.307-.395a38.66 38.66 0 0 1 2.755-1.956l.272.42a37.941 37.941 0 0 1 2.878-1.686l-.234-.442a38.236 38.236 0 0 1 3.055-1.444l.194.46A37.588 37.588 0 0 1 27.08 2.28l-.152-.476a38.043 38.043 0 0 1 3.26-.883l.11.488A37.652 37.652 0 0 1 33.58.827l-.066-.496a38.498 38.498 0 0 1 3.367-.294l.022.5a38.423 38.423 0 0 1 3.339 0l.021-.5c1.136.05 2.26.148 3.367.294l-.065.496c1.11.147 2.205.341 3.283.582l.109-.488c1.106.247 2.193.542 3.26.883l-.151.476c1.064.34 2.108.724 3.13 1.153l.193-.461c1.042.437 2.061.92 3.055 1.444l-.234.442a37.98 37.98 0 0 1 2.878 1.686l.272-.42a38.685 38.685 0 0 1 2.755 1.956l-.307.394a38.367 38.367 0 0 1 2.541 2.16l.34-.366a38.942 38.942 0 0 1 2.375 2.404l-.37.336c.746.823 1.456 1.68 2.13 2.567l.398-.303c.68.896 1.323 1.823 1.925 2.777l-.423.267a38.434 38.434 0 0 1 1.655 2.896l.445-.23c.514 1 .987 2.023 1.416 3.07l-.463.189c.42 1.025.797 2.072 1.13 3.139l.477-.149c.332 1.07.62 2.16.862 3.266l-.488.107c.235 1.079.425 2.175.568 3.286l.496-.064z" transform="rotate(-4.599 39.185 34.588) skewX(.118)" stroke="#0086e6" stroke-dasharray="3.5 3.5"></path></svg>
    <div class="loader-main__wrap">
      <svg class="icon icon-airplane bottom" viewBox="0 0 16 15" width="100%" height="100%"><path d="M11.349 15H9.806L5.949 8.778H1.706c-.307 0-.6-.123-.818-.342a1.172 1.172 0 0 1 0-1.65c.217-.219.511-.342.818-.342H5.95L9.806.222h1.543L9.42 6.444h4.243L14.82 4.89h1.157l-.771 2.722.771 2.722H14.82l-1.157-1.555H9.42L11.35 15z"></path></svg>
      <svg class="icon icon-airplane top" viewBox="0 0 16 15" width="100%" height="100%"><path d="M11.349 15H9.806L5.949 8.778H1.706c-.307 0-.6-.123-.818-.342a1.172 1.172 0 0 1 0-1.65c.217-.219.511-.342.818-.342H5.95L9.806.222h1.543L9.42 6.444h4.243L14.82 4.89h1.157l-.771 2.722.771 2.722H14.82l-1.157-1.555H9.42L11.35 15z"></path></svg>
    </div>
  </div>
</div>

<div *ngIf="!isLoading" class="history-wrap">
    <div class="activities activities--city">
        <app-order-card  *ngFor="let orderInfo of orders" [orderInfo]="orderInfo" [passed]="true"></app-order-card>
    </div>
</div>

