@import 'variables'
@import 'rupture'

.hero-search
  min-height: 560px;
  background-size: cover !important; 
  background-position: center center !important;
  width: 100%;
  display: flex;
  background-position relative
  &:after
    content ''
    width 100%
    height 100%
    display block
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
    position absolute
    top 0
    left 0 
    bottom 0
    right 0
  &__title
    font-family font-family-md
    font-size 24px
    line-height 34px
    color #fff
    text-transform uppercase
    margin-bottom 0
    text-align left
  .container
    padding-top: 150px;
    padding-left: 68px;
    padding-right: 68px;
  .search-container
    margin-top 24px
  input
    padding-left 40px
  +below(1020px)
    .container
      padding-left 40px
      padding-right 40px
    .search-container
      margin-left 0
      margin-right 0
      width 100%
  +below(769px)
    min-height 450px
    .container
      padding-top 193px
    .search-container
      margin-top 44px
      .btn__ttl
        margin-right: 18px;
  +below(650px)
    .container
      padding-left 8px
      padding-right 8px
  +below(600px)
    .icon.search
      padding-left 0
      width 20px
      height 20px
  +below(500px)
    min-height 240px
    .container
      padding-top 49px
    .hero-search__title
      font-size 18px
    .search-container
      margin-top 22px
    input 
      padding-left 14px
      padding-right 14px
  &--md-title
    +below(430px)
      .container
        padding-top 42px
        .hero-search__title
          line-height 24px
        .search-container
          margin-top 15px
  &--big-title
    .container
      padding-top 157px
    .hero-search__title
      font-size 30px
      line-height 38px
    .hero-search__subtitle
      font-family font-family-reg
      font-size 24px
      color #fff
      line-height 38px
    input
      font-family 'Roboto'
      line-height 20px
      font-size 18px
      font-weight 400
      &::-webkit-input-placeholder 
        font-family 'Roboto'
        line-height 20px
        font-size 18px
        color: #B3B3B3;
        font-weight 400
      &::-moz-placeholder
        font-family 'Roboto'
        line-height 20px
        font-size 18px
        color: #B3B3B3;
        font-weight 400
      &:-ms-input-placeholder
        font-family 'Roboto'
        line-height 20px
        font-size 18px
        color: #B3B3B3;
        font-weight 400
      &:-moz-placeholder
        font-family 'Roboto'
        line-height 20px
        font-size 18px
        color: #B3B3B3;
        font-weight 400
    +below(769px)
      .container
        padding-top 195px
      .hero-search__title
        font-size 24px
        line-height 34px
      .hero-search__subtitle
        font-size 18px
        line-height 25px
        margin-bottom 0
      .search-container
        margin-top 15px
    +below(500px)
      .container
        padding-top 21px
      .hero-search__title
        font-size 18px
        line-height 25px
      .hero-search__subtitle
        font-size 16px
        line-height 23px
/deep/.error-block
  .destination
    margin-top 0
    .destination__header
      color #000
  +below(1030px)
    & .destination__header
      display block 
    .block-slider .block-slider__btn
      top 50%
      margin-top -30px
  +below(769px)
    & .destination__header
      margin-bottom 40px
  +below(720px)
    .block-slider .block-slider__btn
      top 50%
      margin-top -15px
  +below(500px)
    & .destination__header
      margin-bottom 56px
      font-size 18px
      line-height 25px

      