<section class="hero-search hero-search--big-title header-fixed-pt" style="background: url(../../assets/images/404-bg.png);">
    <div class="container">
        <h1 class="hero-search__title">¿Cómo has llegado hasta aquí?</h1>
        <h3 class="hero-search__subtitle">¡Oops! La página que buscabas no existe</h3>
        <app-search-input [destinations]="mainDestinationList | async" ></app-search-input>
    </div>
</section>
<section class="error-block section section--error section--grey">
    <div class="destination">
        <app-destination-carousel [destinations]="mainDestinationList | async"></app-destination-carousel>
    </div>
</section>
