<section class="footer">
    <div class="container">
        <div class="footer__wrapper flex justify-content-between flex-wrap">
            <div class="item-footer" (click)="open1menu = !open1menu" [class.active]="open1menu">
                <div class="item-footer__header">civitours
                    <div class="item-footer__dropdown">
                        <svg class="icon icon-dropdown-footer" viewBox="0 0 13 7" width="100%" height="100%"><path d="M6.5 7L12.13.25H.87L6.5 7z" fill-opacity=".2"></path></svg>
                    </div>
                </div>
                <ul class="list-footer">
                    <li class="list-footer__item-footer"><a (click)="fireEvent('CIVITOURS', 'Quiénes somos')">Quiénes somos</a>
                    </li>
                    <li class="list-footer__item-footer"><a href="/destinations" (click)="fireEvent('CIVITOURS', 'Destinos')">Destinos</a>
                    </li>
                    <li class="list-footer__item-footer" style="display: none"><a (click)="fireEvent('CIVITOURS', 'Guías de Viajes')">Guías de Viajes</a>
                    </li>
                    <li class="list-footer__item-footer" style="display: none"><a (click)="fireEvent('CIVITOURS', 'Magazine')">Magazine</a>
                    </li>
                </ul>
            </div>
            <div class="item-footer" (click)="open2menu = !open2menu" [class.active]="open2menu">
                <div class="item-footer__header">Servicio al Cliente
                    <div class="item-footer__dropdown">
                        <svg class="icon icon-dropdown-footer" viewBox="0 0 13 7" width="100%" height="100%"><path d="M6.5 7L12.13.25H.87L6.5 7z" fill-opacity=".2"></path></svg>
                    </div>
                </div>
                <ul class="list-footer">
                    <li class="list-footer__item-footer"><a routerLink="/faq" (click)="fireEvent('Servicio al Cliente', 'Preguntas frecuentes')">Preguntas frecuentes</a></li>
                    <li class="list-footer__item-footer"><a routerLink="/contacts" (click)="fireEvent('Servicio al Cliente', 'Contacto')">Contacto</a></li>
                </ul>
            </div>
            <div class="item-footer" (click)="open3menu = !open3menu" [class.active]="open3menu">
                <div class="item-footer__header">Políticas de uso
                    <div class="item-footer__dropdown">
                        <svg class="icon icon-dropdown-footer" viewBox="0 0 13 7" width="100%" height="100%"><path d="M6.5 7L12.13.25H.87L6.5 7z" fill-opacity=".2"></path></svg>
                    </div>
                </div>
                <ul class="list-footer">
                    <li class="list-footer__item-footer"><a routerLink="/policy/general" (click)="fireEvent('Políticas de uso', 'Condiciones generales')">Condiciones generales</a>
                    </li>
                    <li class="list-footer__item-footer"><a routerLink="/policy/legal"  (click)="fireEvent('Políticas de uso', 'Aviso legal')">Aviso legal</a>
                    </li>
                    <li class="list-footer__item-footer"><a routerLink="/policy/privacy" (click)="fireEvent('Políticas de uso', 'Política de privacidad')">Política de privacidad</a>
                    </li>
                    <li class="list-footer__item-footer"><a routerLink="/policy/cookies" (click)="fireEvent('Políticas de uso', 'Cookies')">Cookies</a>
                    </li>
                </ul>
            </div>
            <div class="item-footer" (click)="open4menu = !open4menu" [class.active]="open4menu">
                <div class="item-footer__header">Trabaja con nosotros
                    <div class="item-footer__dropdown">
                        <svg class="icon icon-dropdown-footer" viewBox="0 0 13 7" width="100%" height="100%"><path d="M6.5 7L12.13.25H.87L6.5 7z" fill-opacity=".2"></path></svg>
                    </div>
                </div>
                <ul class="list-footer">
                    <li class="list-footer__item-footer"><a (click)="fireEvent('Trabaja con nosotros', 'Proveedores')">Proveedores</a>
                    </li>
                    <li class="list-footer__item-footer"><a (click)="fireEvent('Trabaja con nosotros', 'Afiliados')">Afiliados</a>
                    </li>
                    <li class="list-footer__item-footer"><a (click)="fireEvent('Trabaja con nosotros', 'Agencias de Viajes')">Agencias de Viajes</a>
                    </li>
                </ul>
            </div>
            <div class="newsletter">
                <div class="newsletter__header">Newsletter</div>
                <div class="newsletter__block">
                    <div class="newsletter__left" [class.active]="openNewsletter">
                        <div class="newsletter__img-block" (click)="fireEvent('Newsletter', null); openNewsletter = true;">
                            <svg class="icon icon-newsletter" viewBox="0 0 99 55">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M49.5 32.784l-9.384-6.102L2.24 54H96.76L58.884 26.682 49.5 32.784zm10.283-6.687L98 53.662V1.247l-38.217 24.85zM99 55H0V0h99v55zM96.545 1H2.455L49.5 31.591 96.545 1zM1 1.247l38.217 24.85L1 53.662V1.247z"/>
                            </svg>
                        </div>
                        <form class="newsletter__form" action="#" method="POST" >
                            <input class="newsletter__input" type="text" placeholder="Correo electrónico" (blur)="openNewsletter = false;"/>
                            <button class="newsletter__btn" type="submit" title="send">
                                <svg class="icon icon-arrow" viewBox="0 0 17 16" width="100%" height="100%"><path d="M1 7a1 1 0 1 0 0 2V7zm15.707 1.707a1 1 0 0 0 0-1.414L10.343.929A1 1 0 0 0 8.93 2.343L14.586 8l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM1 9h15V7H1v2z"></path></svg>
                            </button>
                        </form>
                    </div>
                    <div class="newsletter__right">
                        <ul class="icon">
                            <li class="icon__item"><a (click)="fireEvent('Social media', 'Linkedin')">
                                <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="icon__item"><a (click)="fireEvent('Social media', 'Instagram')">
                                <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="icon__item"><a (click)="fireEvent('Social media', 'Facebook')">
                                <i class="fa fa-facebook-official"></i>
                                </a>
                            </li>
                            <li class="icon__item"><a (click)="fireEvent('Social media', 'Twitter')">
                                <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-bottom">
    <div class="container flex justify-content-between align-items-center flex-wrap">
        <div class="copyright">&copy; Copyright 2018 Civitours
        </div>
        <ul class="icon-bottom">
            <li class="icon-bottom__item">
                <div class="icon-bottom__lock">PAGO SEGURO
                    <svg class="icon icon-lock lock" viewBox="0 0 20 22">
                        <g opacity=".3"><path d="M3 10h14a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2zM5 10V6a5 5 0 1 1 10 0v4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"/></g>
                    </svg>
                </div>
            </li>
            <li class="icon-bottom__item"><img src="assets/images/mastercard-logo.png" alt="mastercard"/>
            </li>
            <li class="icon-bottom__item"><img src="assets/images/visa-logo.png" alt="visa"/>
            </li>
            <li class="icon-bottom__item"><img src="assets/images/trustwave-logo.png" alt="trustwave"/>
            </li>
        </ul>
    </div>
    <div class="additional">
        Actividades Civitours SL - B39859194
    </div>
</section>