@import 'variables'
@import 'rupture'

.additional
  margin-top 10px
  opacity 0.3
  color #fff
  text-align center
  width 100%
  
.footer
  background #242424
  line-height 0
  &__wrapper
    padding 45px 0 39px 0
    +below(767px)
      padding 0
  .item__footer
    flex-basis 25%  
    &.last
      padding-left 96px
      +below(1030px)
        padding-left 17px
  .container
    +below(767px)
      padding 0
  +below(767px)
    padding-top 4px
  
.item-footer
  width 25%
  .icon-dropdown-footer
    display none
  &:nth-child(2)
    padding-left 4px
  
  &:nth-child(3)
    padding-left 9px
  
  &:nth-child(4)
    padding-left 95px
    +below(767px)
      .item-footer__header
        padding-top 20px
  +below(1030px)
    &:nth-child(1)
      padding-left 20px
    &:nth-child(2)
      padding-left 8px
    &:nth-child(3)
      padding-left 5px
    &:nth-child(4)
      padding-left 35px
      
  +below(767px)
    width 100%
    .list-footer
      display none
      padding-left 8px
      padding-top 11px
      padding-bottom 22px
      border-bottom 1px solid rgba(255,255,255,.3)
      background-color #212121
    &:nth-child(1)
      padding-left 0
    &:nth-child(2)
      padding-left 0
    &:nth-child(3)
      padding-left 0
    &:nth-child(4)
      padding-left 0
    .icon-dropdown-footer
      fill #fff
      width 13px
      height 9px
      position absolute
      right 28px  
      top 50% 
      margin-top -4px
      display inline-block
    &.active
      .list-footer
        display block
      .icon-dropdown-footer
        transform rotate(180deg)
  .item-footer__header
    font-size 12px
    text-transform uppercase
    color #fff
    font-family font-family-md
    line-height 17px
    margin-bottom 33px
    margin-top 6px
    +below(767px)
      border-bottom 1px solid rgba(255,255,255,.3)
      padding-left 8px
      padding-top 24px
      padding-bottom 22px
      margin 0
      position relative
      cursor pointer    
  .list-footer
    margin-left 0
    padding-bottom 17px
    &__item-footer
      +below(767px)
        a 
          display flex
      a
        font-family font-family-reg
        font-size 16px
        line-height 24px
        color rgba(255,255,255,0.6)
        &:hover
          color blue
    &__item-footer+&__item-footer
      margin-top 13px
.newsletter
  width 100%
  margin-top 28px
  &__left.active
    .newsletter__img-block
      display none
    .newsletter__form
      display block
  +below(1030px)
    padding-top 34px
    padding-left 21px
  +below(769px)
    padding-top 34px
    .icon-arrow
      margin-top 0
  +below(767px)
    margin-top 0
    padding-top 10px
    padding-left 8px
    padding-right 8px
  .icon-newsletter
    width 99px
    height 60px
    stroke #fff
  &__block
    display flex
    align-items center
    justify-content space-between
    +below(769px)
      .icon
        margin-top -11px
    +below(767px)
      flex-wrap wrap
      .newsletter__left
        width 100%
        margin-bottom 24px
      .newsletter__right
        width 100%
        display flex
        margin-bottom 22px
        .icon
          justify-content space-around
          width 100%
    +below(425px)
      .newsletter__left
        margin-bottom 32px
      .newsletter__right
        margin-bottom 29px
        
  &__header
    text-transform uppercase
    color #fff
    font-size 12px
    line-height 17px
    margin-bottom 19px
    font-family font-family-md
    flex-basis 100%
    +below(769px)
      margin-bottom 20px
    +below(425px)
      margin-bottom 24px
  &__img
    width 99px
    height 60px
    &-block
      cursor pointer
      +below(769px)
        display none
    
  &__form
    position relative
    display none
    +below(769px)
      display block
  &__input
    padding 10px 48px 10px 29px
    width 367px
    height 60px !important
    font-size 16px
    line-height 20px 
    font-family: Roboto;
    border none
    +below(767px)
      width 100%
      padding-top 16px
      padding-bottom 19px
    &::-webkit-input-placeholder
      color #B3B3B3
      font-size 16px
      font-weight 300
      font-family 'Roboto'
      height 100%
      line-height: 1.5em
    &::-moz-placeholder
      color #B3B3B3
      font-size 16px
      font-weight 300
      font-family 'Roboto'
      height 100%
      line-height 40px
    &:-ms-input-placeholder
      color #B3B3B3
      font-size 16px
      font-weight 300
      font-family 'Roboto'
      height 100%
      line-height: normal;
    &:-moz-placeholder
      color #B3B3B3
      font-size 16px
      font-weight 300
      font-family 'Roboto'
      height 100%
      line-height: normal;

  &__btn
    position absolute
    right 0
    top 0
    width 48px
    height 100%
    border none
    outline none
    background-color transparent
    display flex
    align-items center
    cursor pointer
    transition all 0.3s
    &:hover
      transform translateX(3px)
    &:focus
      outline none
    .icon-arrow
      fill blue
      width 15px
      height 100%
      margin-top 0
    +below(767px)
      width 38px
      .icon
        display flex
        justify-content flex-end
        margin 0
        &__item
          margin 0
          padding-right 64px
          &:last-child
            padding-right 0
          +below(1030px)
            &:last-child
              padding-right 23px
          +below(767px)
            &:last-child
              padding-right 0
          a
            color #fff
            .fa
              font-size 22px
              color #fff
              transition all .2s
              &:hover
                color blue
          +below(425px)
            padding-right 24px
.footer-bottom
  background #212121
  padding 10px 0 28px 0
  +below(769px)
    padding-top 8px
  +below(767px)
    background-color #242424
  .icon
    fill none
    width 18px
    height 20px 
  &--sm
    padding-top 13px
    +below(769px)
      padding-top 25px
    .icon-bottom
      justify-content flex-end
      .icon-bottom__item
        padding-left 42px
      +below(1130px)
        justify-content space-between
        .icon-bottom__item
          padding-left 0
    +below(500px)
      padding-top 18px
.copyright
    opacity .3
    font-size 16px
    color #fff
    line-height 19px
    font-family font-family-reg
    +below(1130px)
      order 2
      flex-basis 100%
      padding-top 40px
      text-align center
    +below(769px)
      padding-top 44px
    
.icon-bottom
  display flex
  align-items center
  margin 0
  padding-left 125px
  flex-grow 1
  justify-content space-around
  &__item
    padding-left 38px
    +below(900px)
      padding-left 0
  +below(1130px)
    width 100%
    justify-content space-between
    padding-left 21px
    padding-right 23px
  +below(769px)
    .icon-bottom__item:nth-child(2)
      padding-left 30px
  +below(767px)
    .icon-bottom__item:nth-child(2)
      padding-left 0
  +below(767px)
    flex-wrap wrap
    padding-right 20px
    padding-left 23px
    &__item
      padding-left 0
      &:first-child
        flex-basis 100%
        display flex
        justify-content center
        padding-bottom 18px
        +below(425px)
          padding-bottom 17px
      &:nth-child(2)
        flex-basis 33.3%
        margin-bottom 11px
        text-align center
        padding-left 0
        padding-right 0
          
      &:nth-child(4)
        flex-basis 33.3%
        margin-bottom 11px
        text-align center
        padding-right 0
          
        
      &:nth-child(3)
        flex-basis 33.3%
        margin-bottom 11px
        text-align center
  +below(425px)
    &__item
      &:nth-child(2)
        margin-bottom 17px
        flex-basis 100%
      &:nth-child(4)
        flex-basis 50%
        margin-bottom 0
      &:nth-child(3)
        flex-basis 50%
        margin-bottom 0
  &__lock
    font-size 12px
    text-transform uppercase
    line-height 17px
    color #fff
    opacity .3
    padding-left 32px
    position relative
    font-family font-family-md
    &:hover
      color #fff
    .icon-lock
      position absolute
      left 2px
      top -4px
      stroke #fff
      
    +below(769px)
      padding-left 27px
    +below(425px)
      padding-left 23px
      .icon-lock
        left -8px
.icon-bottom__item
  margin 0
.hidden__img
  display none
.visible
  display block