<section class="section section--faq-content section--grey">
  <div class="container">
    <div class="sidebar-wrap flex">
      <div class="sidebar">
        <div class="tab-container">
          <div class="tab-wrap">
            <div class="tab"
               *ngFor="let tab of information; let i = index"
               (click)="selectedTab = i"
               [class.active]="i == selectedTab"
            >{{ tab.header }}</div>
          </div>
        </div>
      </div>
      <div class="sidebar-wrap__content">
        <div class="tab-container"
           *ngFor="let tab of information; let i = index"
        >
          <div class="accordion-title-mobile" [class.active]="i == selectedTab" >
            <div class="accordion-title-mobile__main" (click)="selectedTab = i">{{ tab.header }}
              <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
              </svg>
            </div>
          </div>
          <div class="tabContent">
            <div class="accordion-main">
              <div class="accordion-main__item"
                   *ngFor="let block of tab.blocks"
                   [class.active] = "block.opened"
              >
                <div class="accordion-main__title" (click)="block.opened = !block.opened">{{ block.header }}
                  <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                  </svg>
                </div>
                <div class="accordion-main__content">
                  <div class="accordion-black">
                    <div class="accordion-black__item"
                         *ngFor="let question of block.questions"
                         [class.active]="question.o"
                    >
                      <div class="accordion-black__title" (click)="question.o = !question.o">{{ question.q }}
                        <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                        </svg>
                      </div>
                      <div class="accordion-black__content">
                        <p>{{ question.a }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn--hover-dark btn--submit" routerLink="/faq/request">Presentar una solicitud</a>
      </div>
    </div>
  </div>
</section>
