@import 'variables'
@import 'rupture'

.accordion-main
  .icon
    width 12px
    height 7.5px
    fill: #000;
    fill-opacity: 0.3;
    position: absolute;
    right: 51px;
    top: 35px
    transition all .3s
  &__item + &__item
    margin-top 18px
  &__item
    .accordion-main__content
      margin-top: 31px;
      margin-bottom: 54px;
      background-color: transparent;
      display: none;
      width: 100%;
    .accordion-main__title
      background-color: #fff;
      font-family: Roboto;
      font-weight: 400;
      font-size: 24px;
      line-height: 37px;
      letter-spacing: 1px;
      color: #000;
      padding: 20px 74px 20px 50px;
      cursor: pointer;
      margin-top: 0;
      position: relative;
      transition: all .2s;
      box-sizing: border-box;
    &.active
      .accordion-main__title
        color blue
        .icon
          fill blue
          fill-opacity 1
          transform rotate(180deg)
      .accordion-main__content
        display block
    &:hover
      .accordion-main__title
        color blue
.accordion-black
  &__btn-more
    font-family 'Roboto'
    font-size 14px
    line-height 20px
    letter-spacing 0.05em
    color blue
    margin-top 19px
    margin-left 50px
    cursor pointer
  &__content
    display none
    margin-top: 24px;
    padding-right: 50px;
    padding-left: 50px;
    p 
      font-family: Roboto;
      font-size: 14px;
      letter-spacing: .05em;
      color: #000;
      font-weight: 400;
      line-height: 20px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
  &__item
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    &:first-child
      padding-top 0
    .accordion-black__title
      position: relative;
      font-family: Roboto;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: .9px;
      color: #000;
      font-weight: 400;
      padding-left: 50px;
      padding-bottom: 0;
      padding-right: 74px;
      cursor: pointer;
      transition: all .2s;
      .icon
        top 9px
      &:hover
        color blue
    &.active
      .accordion-black__title
        color blue
        .icon
          fill: blue;
          fill-opacity: 1;
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
      .accordion-black__content
        display block
.section--faq-content
  .sidebar-wrap__content
    width calc(100% - 361px)
    margin-left 20px
  .sidebar 
    margin-right 0
  .btn
    margin-top 40px
    letter-spacing 0.06em
  +below(1170px)
    .tab-container
      .tab-wrap
        padding-left 30px
        padding-right 30px
  +below(1020px)
    &.section
      .container
        padding-right 40px
        padding-left 40px
    .tab-container
      width 100%
      .tab-wrap
        max-width 100%
      .tabContent
        margin-top 11px
        margin-bottom 11px
        display none
    .sidebar-wrap__content
      width 100%
      margin-left 0
    .accordion-main__title
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 37px;
      line-height: 33px;
      padding-right 60px
      background-color: transparent;
      border: 1px solid rgba(0,0,0,.1);
      .icon
        right 35px
        top 30px
    .accordion-main__item 
      &.active
        .accordion-main__title
          background-color: transparent;
          border-color: #0086e6;
          color: #0086e6;
    .accordion-main__title+.accordion-main__content
      margin-top 27px
    .accordion-black__title
      padding-left 0
      padding-right 60px
      .icon
        right 35px
        top 9px
    .accordion-black__titlee+.accordion-black__content p
      padding-left 0
      padding-bottom 0
    .accordion-black__btn-more
      margin-left 0
      margin-bottom 42px
    .btn
      margin-top 23px
    .accordion-black__item
      padding-bottom 28px
      &.active
        padding-bottom 22px
    .accordion-black__title+.accordion-black__content
      padding-left 0
    .accordion-main__title+.accordion-main__content
      margin-bottom 43px
    .tab-container+.tab-container
      margin-top 16px
  +below(700px)
    &.section
      .container
        padding-left 8px
        padding-right 8px
      .sidebar-wrap
        padding-left 0
        padding-right 0
    .accordion-black__item
      padding-bottom 27px
      &.active
        padding-bottom 19px
  +below(500px)
    &.section
      .container
        padding-left 0
        padding-right 0
    .tab-container
      .tabContent
        margin-top 0
        margin-bottom 40px  
    .accordion-main__content
      padding-left 8px
      padding-right 8px
    .accordion-title-mobile
      margin-top 0
      .accordion-title-mobile__main
        padding-left 13px
        padding-right 36px
        .icon
          right 20px
    .accordion-main__title
      margin-top 0
      font-size 18px
      padding-left: 7px;
      padding-top: 24px;
      padding-right: 36px;
      border 0
      border-bottom 2px solid rgba(0,0,0,.1);
      &.active
        border 0
        border-bottom 2px solid blue
      .icon
        right 21px
        top 35px
    .accordion-black__title
      padding-right 27px
      line-height 22px
      .icon
        right 12px
        top 9px
    .accordion-main__title+.accordion-main__content
      margin-top 15px
    .accordion-black__title
      font-size 16px
    .accordion-black__item
      padding-top 28px
    .accordion-black__title+.accordion-black__content
      padding-right 0
    .accordion-black__item
      padding-bottom 20px
      padding-right 8px
      padding-left 8px
    .btn
      margin-left auto
      margin-right auto
    .accordion-main__content
      padding-left 0
      padding-right 0
    .accordion-black__btn-more
      margin-left 8px
    .accordion-main__item[_ngcontent-c7] + .accordion-main__item[_ngcontent-c7]
      margin-top 0
    .accordion-main__content
      margin-top 0
    .tab-container+.tab-container
      margin-top 0
    .btn
      width 100%
.tabContent
  display none
  +below(1020px)
    display block
.active + .tabContent
  display block