@import 'variables'
@import 'rupture'

.section--faq
  .container
    max-width: 590px;
  .faq-title
    font-family: 'roboto';
    font-size: 36px;
    line-height: 46px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom 0
  .faq-form-wrapper
    margin-top: 40px;
  .form-checkout__item
    width: 100%;
    max-width: 100% !important;
  .form-checkout__item + .form-checkout__item
    margin-top: 29px;
  input
    background-color #f7f7f7
  textarea
    resize: none;
    padding: 10px 16px;
    border 1px solid #D0D4D9
    border-radius 2px
    font-family 'Roboto', sans-serif
    font-weight 400
    font-size 14px
    color #000
    line-height 20px
    -moz-appearance: none;
    -webkit-appearance: none;   
    background-color #f7f7f7
  .form-checkout__details
    font-family: 'roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0,0,0,.5);
    letter-spacing: 0.05em;
    display: block;
    margin-top: 15px;
    padding-right: 10px;
    margin-bottom 41px
  .btn
    margin-top 40px
  +below(1020px)
    .container
      max-width 1160px
      padding-left 40px
      padding-right 40px
  +below(650px)
    .container
      padding-left 8px
      padding-right 8px
  +below(500px)
    .faq-title
      font-size: 24px;
      margin-bottom: 0;
    .faq-form-wrapper
      margin-top 13px
      .form-checkout__details
        margin-bottom 21px
    .btn
      width 100%
  

.section--faq-content
  .btn
    margin-top 40px
    letter-spacing 0.06em
  +below(1170px)
    .tab-container
      .tab-wrap
        padding-left 30px
        padding-right 30px
  +below(1020px)
    &.section
      .container
        padding-right 40px
        padding-left 40px
    .tab-container
      width 100%
      .tab-wrap
        max-width 100%
      .tabContent
        display none
        margin-top 11px
    .sidebar-wrap__content
      flex-basis 100%
    .accordion__title
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 37px;
      line-height: 33px;
      padding-right 60px
      .icon
        right 35px
        top 30px
    .accordion__title+.accordion__content
      margin-top 27px
    .accordion__subtitle
      padding-left 0
      padding-right 60px
      .icon
        right 35px
        top 9px
    .accordion__subtitle+.accordion__subcontent p
      padding-left 0
      padding-bottom 0
    .accordion__btn-more
      margin-left 0
      margin-bottom 42px
    .btn
      margin-top 23px
    .accordion__sub
      padding-bottom 28px
      &.active
        padding-bottom 22px
    .accordion__subtitle+.accordion__subcontent
      padding-left 0
    .accordion__title+.accordion__content
      margin-bottom 43px
  +below(700px)
    &.section
      .container
        padding-left 8px
        padding-right 8px
      .sidebar-wrap
        padding-left 0
        padding-right 0
    .accordion__sub
      padding-bottom 27px
      &.active
        padding-bottom 19px
  +below(500px)
    &.section
      .container
        padding-left 0
        padding-right 0
    .tab-container
      .tabContent
        margin-top 0
    .accordion__content
      padding-left 8px
      padding-right 8px
    .accordion-title-mobile
      margin-top 0
      .accordion-title-mobile__main
        padding-left 13px
        padding-right 36px
        .icon
          right 20px
    .accordion__title
      margin-top 0
      font-size 18px
      padding-left: 7px;
      padding-top: 24px;
      padding-right: 36px;
      border 0
      border-bottom 2px solid rgba(0,0,0,.1);
      &.active
        border 0
        border-bottom 2px solid blue
      .icon
        right 21px
        top 35px
    .accordion__subtitle 
      padding-right 27px
      line-height 22px
      .icon
        right 12px
        top 9px
    .accordion__title+.accordion__content
      margin-top 15px
    .accordion__subtitle
      font-size 16px
    .accordion__sub
      padding-top 28px
    .accordion__subtitle+.accordion__subcontent
      padding-right 0
    .accordion__sub
      padding-bottom 20px
      padding-right 8px
      padding-left 8px
    .btn
      margin-left auto
      margin-right auto
    .accordion__content
      padding-left 0
      padding-right 0
    .accordion__btn-more
      margin-left 8px
