<section class="section section--faq section--grey">
  <div class="container">
    <h1 class="faq-title">Presentar una solicitud</h1>
    <div class="faq-form-wrapper">
      <div class="form-checkout">
        <form #faqRequest="ngForm" (ngSubmit)="submitData(faqRequest)">
          <div class="form-checkout__item flex flex-column">
            <label>e-mail</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="form.email" required email maxlength="50">
            <div *ngIf="email.invalid && (email.dirty || email.touched || tryToSubmit)" class="error">Ingresar correo electrónico</div>
          </div>
          <div class="form-checkout__item flex flex-column">
            <label>tema</label>
            <input type="text" name="subject" #subject="ngModel" [(ngModel)]="form.subject" required maxlength="50">
            <div *ngIf="subject.invalid && (subject.dirty || subject.touched || tryToSubmit)" class="error">Introduzca el tema</div>
          </div>
          <div class="form-checkout__item flex flex-column">
            <label>descripci</label>
            <textarea rows="3" name="description" #description="ngModel" [(ngModel)]="form.description" required maxlength="1024"></textarea>
            <div *ngIf="description.invalid && (description.dirty || description.touched || tryToSubmit)" class="error">Introduzca la descripción</div>
          </div>
          <span class="form-checkout__details">Ingrese los detalles de su solicitud. Un miembro de nuestro personal de soporte responderá a la brevedad.</span>
          <div class="form-checkout__item flex flex-column">
            <label>file</label>
            <app-file-uploader [(file)]="selectedFile"></app-file-uploader>
          </div>
          <button class="btn btn--dark-hover btn--width-306" type="submit">Presentar</button>
        </form>
      </div>
    </div>
  </div>
</section>