@import 'variables'

.icon-close
  width 13px
  height 13px
  fill #C4C4C4
.dropdown-basket__link
  width 74px
  height 74px 
  display inline-block
  flex-shrink 0
  overflow hidden
  position relative
  border-radius 50%
  .dropdown-basket__img
    width 100%
    height 100%
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    object-fit cover
    border-radius 0
  
