@import 'variables'
@import 'rupture'

.icon-bottom
  display flex
  align-items center
  margin 0
  padding-left 125px
  flex-grow 1
  justify-content space-around
  &__item
    padding-left 38px
    +below(900px)
      padding-left 0
  +below(1130px)
    width 100%
    justify-content space-between
    padding-left 21px
    padding-right 23px
  +below(769px)
    .icon-bottom__item:nth-child(2)
      padding-left 30px
  +below(767px)
    .icon-bottom__item:nth-child(2)
      padding-left 0
  +below(767px)
    flex-wrap wrap
    padding-right 20px
    padding-left 23px
    &__item
      padding-left 0
      &:first-child
        flex-basis 100%
        display flex
        justify-content center
        padding-bottom 18px
        +below(425px)
          padding-bottom 17px
      &:nth-child(2)
        flex-basis 33.3%
        margin-bottom 11px
        text-align center
        padding-left 0
        padding-right 0
          
      &:nth-child(4)
        flex-basis 33.3%
        margin-bottom 11px
        text-align center
        padding-right 0
          
        
      &:nth-child(3)
        flex-basis 33.3%
        margin-bottom 11px
        text-align center
  +below(425px)
    &__item
      &:nth-child(2)
        margin-bottom 17px
        flex-basis 100%
      &:nth-child(4)
        flex-basis 50%
        margin-bottom 0
      &:nth-child(3)
        flex-basis 50%
        margin-bottom 0
  &__lock
    font-size 12px
    text-transform uppercase
    line-height 17px
    color #fff
    opacity .3
    padding-left 32px
    position relative
    font-family font-family-md
    &:hover
      color #fff
    .icon-lock
      position absolute
      left 2px
      top -4px
      stroke #fff
      
    +below(769px)
      padding-left 27px
    +below(425px)
      padding-left 23px
      .icon-lock
        left -8px
.icon-bottom__item
  margin 0