<section class="footer">
  <div class="footer-bottom footer-bottom footer-bottom--sm">
    <div class="container flex justify-content-between align-items-center flex-wrap">
      <div class="copyright">© Copyright 2018 Civitours
      </div>
      <ul class="icon-bottom">
        <li class="icon-bottom__item">
          <div class="icon-bottom__lock">PAGO SEGURO
              <svg class="icon icon-lock lock" viewBox="0 0 20 22">
                  <g opacity=".3"><path d="M3 10h14a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2zM5 10V6a5 5 0 1 1 10 0v4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"/></g>
              </svg>
          </div>
        </li>
        <li class="icon-bottom__item"><img src="assets/images/mastercard-logo.png" alt="mastercard">
        </li>
        <li class="icon-bottom__item"><img src="assets/images/visa-logo.png" alt="visa">
        </li>
        <li class="icon-bottom__item"><img src="assets/images/trustwave-logo.png" alt="trustwave">
        </li>
      </ul>
    </div>
  </div>
</section>