<section class="destination-navigation" [class.fixed]="fixed">
  <div class="container">
    <div class="list list--navigation">
      <li><a [class.selected]="!selectedCategories.length" (click)="clear()"> Actividades </a></li>
      <li *ngFor="let category of (categories | async) "><a [class.selected]="selectedCategories.includes(category.id)" (click)="clickCategory(category.id)">{{ category.name }}</a></li>
    </div>
  </div>
</section>