@import 'rupture'

.destination-navigation
  padding 32px 0
  background-color #fff
  box-shadow: 0px 29px 50px rgba(0, 0, 0, 0.05)
  position relative
  z-index 1
  a
    color rgba(0,0,0,0.5);
    cursor pointer
    &:hover,&.selected
      color black
  li
    text-align center
  +below(1000px)
    li 
      flex-basis 120px
  +below(760px)
    display none