<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Name</span>
  </div>
  <input type="text" class="form-control" aria-label="Name" [(ngModel)]="form.name">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Route</span>
  </div>
  <input type="text" class="form-control" aria-label="Route" [(ngModel)]="form.route_name">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Travellers</span>
  </div>
  <input type="text" class="form-control" aria-label="Route" [(ngModel)]="form.travellers" ngbTooltip="set to 0 for using order statistics to calculate">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Avatar</span>
  </div>
  <app-uploader (imageUploaded)="onImageUploaded($event)"></app-uploader>
</div>
<div class="mb-3">
  <img *ngIf="!uploadData && !city.avatar" src="assets/images/no-img-big.png">
  <img *ngIf="uploadData || city.avatar" src="{{ uploadData ? uploadData.imageUrl : city.avatar }}" class="img-fluid mt-3" alt="Avatar">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Avatar small</span>
  </div>
  <app-uploader (imageUploaded)="onImageUploadedSmall($event)" [recomended]="uploader.CITY_AVATAR_RATE"></app-uploader>
</div>
<div>
  <img *ngIf="!uploadDataSmall && !city.avatar_small" src="assets/images/no-img-small.png">
  <img *ngIf="uploadDataSmall || city.avatar_small" src="{{ uploadDataSmall ? uploadDataSmall.imageUrl : city.avatar_small }}" class="img-fluid mt-3" alt="Small avatar">
</div>
<app-edit-locale-name *ngIf="languageList$ | async" [languages]="languageList$ | async" [(localeNames)]="form.localeNames" ></app-edit-locale-name>
<div *ngIf="saveError" class="alert alert-danger" role="alert">{{ saveError }}</div>
<button
        class="btn btn-primary mt-3"
        [attr.disabled]="isSaving ? 'disabled' : null"
        (click)="saveCity()"
>
  {{ isSaving ? 'Saving...' : 'Save' }}
</button>