<div class="flex header">
  <label class="flex-grow">Locale</label>
  <label class="flex-grow">Name</label>
  <button></button>
</div>

<div *ngFor="let localeName of localeNamesValue; let i = index;" class="input-select-wrap flex">
  <div class="input-select-wrap flex-grow">
    <input type="text" class="form-control"
           [(ngModel)]="localeName.locale"
           [ngbTypeahead]="search"
           [resultFormatter]="resultFormatter"
           [inputFormatter]="inputFormatter"
           (selectItem)="selectItem(i, $event.item)"
    >
  </div>
  <input type="text" class="form-control flex-grow" [(ngModel)]="localeName.name" (change)="onInputChange()">
  <button type="button" (click)="removeItem(i);">x</button>
</div>
<button (click)="addItem()" class="add-new">+ add new locale name</button>
