@import 'variables'

input
  border 1px solid #ced4da
  border-radius .25rem
  padding 5px

button
  border none
  width 20px
  background inherit
  cursor pointer
  &.add-new
    width 200px
    padding 5px
    text-decoration underline
    color blue
    display block

label
  font-family font-family-reg
  font-weight 400

.header
  margin-top 20px

