<li class="options__item flex justify-content-center">
    <a *ngIf="!auth.isAuthenticated()" class="options__btn sign flex align-items-center" [routerLink]='' [queryParams]="{modal: 'login'}" (click)="fireEvent('Iniciar sesión', '?modal=login')">
        <span >Iniciar sesión</span>
    </a>
    <a *ngIf="auth.isAuthenticated()" routerLink="/dashboard" class="name-author" (click)="fireEvent('Username', '/dashboard')">{{ auth.getTokenData().userName }}</a>
</li>
