@import 'variables'
@import 'rupture'

span
  cursor pointer
  &:focus
    outline none

.d-inline-block
  display inline-block!important

.dropdown
  .dropdown-menu
    position absolute
    top 100%
    left 0
    z-index 1000
    display none
    float left
    min-width 10rem
    padding .5rem 0
    margin .125rem 0 0
    font-size 1rem
    color #212529
    text-align left
    list-style none
    background-color #fff
    background-clip padding-box
    border 1px solid rgba(0,0,0,.15)
    border-radius .25rem
    &.show
      display block

  .dropdown-item
    display block
    width 100%
    padding .25rem 1.5rem
    clear both
    font-weight 400
    color #212529
    text-align inherit
    white-space nowrap
    background-color transparent
    border 0

  .dropdown-toggle
    background inherit
    font-size 20px;
    font-family 'GothamProMedium', sans-serif;
    text-transform none;
    letter-spacing 0.15em;
    border: 0;

.options
  &__item
    min-height 71px
    +below(1690px)
      min-height 56px
    +below(769px)
      min-height 60px 
    +below(720px)
      min-height 48px
  &__btn
    border-right 1px solid rgba(255,255,255,.5)
    border-left 1px solid rgba(255,255,255,.5)
    color #fff
    text-transform uppercase
    font-size 18px
    font-family font-family-md
    letter-spacing 0.15em
    +below(1650px)
      font-size 14px
    +below(1030px)
      font-size 18px
    +below(720px)
      font-size 13px
      border 0
    &:hover
      color #ffffff
      background-color blue
    &.sign
      padding: 0 42px
      +below(720px)
        padding 0 2px
    .btn
      height 100%
    span
      text-align center
      
  &:hover
    background blue
    color #fff