@import 'rupture'
@import 'variables'

/deep/h2
  margin-top 30px

/deep/.ngx-gallery-image
  &.ngx-gallery-active
    z-index 1!important

/deep/.ngx-gallery-arrow-wrapper
  z-index 2!important

agm-map
  width 100%
  height 100%


.spinner
  width: 100%;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  height: 100%;
  .loading
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border-top: 5px solid #53777A;
    border-bottom: 5px solid #C02942;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -80px;
    animation: loading 1.2s linear infinite;
    -webkit-animation: loading 1.2s linear infinite;

.loading-small
  position relative
  width 50px
  height 50px
  border-radius 30px
  border-top 5px solid #53777A
  border-bottom 5px solid #C02942
  -webkit-box-sizing border-box
  box-sizing border-box
  left 50%
  animation loading 1.2s linear infinite
  -webkit-animation loading 1.2s linear infinite

@keyframes loading
  0%
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  100%
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);


.navigation
  background-color #fff
  box-shadow: 0px 29px 50px rgba(0, 0, 0, 0.05);
  +below(825px)
    display none
.nav
  height 66px
  +below(1650px)
    height 55px
  &__item
    margin-left 13px
    margin-right 25px
    a
      display flex
      align-items center
      height 100%
      color rgba(0,0,0,.5)
      font-size 16px
      font-family font-family-md
      line-height 19px
      transition all  .3s
      padding 0 5px
      position relative
      overflow hidden
      &:after
        content ''
        display block
        width calc(100% + 6px)
        height 2px
        background-color blue
        position absolute
        bottom 0
        left -3px
        transform translateX(-100%)
        transition all  .6s
      &:hover
        color blue
        &:after
          transform translateX(0)
      &.active
        color blue
        &:after
          transform translateX(0)

section.activity-block
  background #f7f7f7
.activity-block
  padding 27px 0 139px
  background #f7f7f7
  .gallery-wrap
    width 100%
    &__content
      padding-top 21px
  .outside[_nghost-c2]
    opacity .8
  .icon-score__score
    margin-left 8px
    margin-right 0
  .sidebar__item
    .icon-content
      .icon
        margin-right 12px
    .icon-content__title
      font-weight	500
      letter-spacing 0.5px
  .prices
    margin-top 80px
    +below(769px)
      margin-top 37px
    +below(500px)
      margin-top 0
  .details-wrap
    margin-top 100px
    +below(769px)
      margin-top 80px
    +below(500px)
      margin-top 0
    /deep/.activity__header
      margin-top 0
  +below(825px)
    padding-top 0
  +below(769px)
    padding-top 0px
    padding-bottom 78px
  .top-content
    font-size 14px
    line-height 24px
    letter-spacing 1px
    font-family font-family-reg
    color #000
    +below(1020px)
      margin-top 27px
  +below(767px)
    .container
      padding-left 10px
      padding-right 10px
    .activity
      padding-right 0
      padding-left 0
  .activities
    margin-bottom 46px
  .calendar
    // margin-bottom 34px
    &~*
      display none
  .sidebar
    .sale
      max-width 304px
      align-items: center;
      margin-top 20px
      padding-left 5px 
      padding-right 5px
      +below(1650px)
        margin-top 10px
        margin-bottom 10px
      .sale__item:first-child
        margin-top 0
      .sale__item:last-child
        margin-left 10px
      .price
        display flex
        flex-direction column
        align-items flex-end
        .price__from
          letter-spacing 0.5px
        .price__now
          font-size 40px
          letter-spacing 0.3px
          margin-top 0
    .calendar__module
      max-width 304px
      padding-right 5px
      padding-left 5px
    .sidebar__item
      margin-bottom 40px
      max-width 304px
      padding-left 5px
      padding-right 5px
      .icon-content__second-line
        padding-left 4px
        margin-top 10px
    .sidebar__item + .sidebar__item
      margin-bottom 0
  +below(1020px)
    padding-top 0
  +below(500px)
    padding-bottom 0
    .mobile-accordion
      display none
    .mb-3[_ngcontent-c5]
      margin-bottom 0

  
  +below(767px)
    .table-desctop
      display none
    .table-mobile
      display block

    .sale
      margin-left -10px
      margin-right -10px
  +below(700px)
    .hide-mobile
      display none
    .width-full-mobile
      width 100%
      justify-content space-between
      align-items center
    .sale .sale__item:first-child
      margin-top 0
  +below(500px)
    .top-content
      margin-top 15px
    .gallery-wrap
      margin-top 20px
      height 212px
    /deep/ul 
      margin-left -23px
      li 
      margin-bottom 11px
    /deep/.details
      .icon-content
        margin-bottom 27px !important
    .prices
      .activity__header
        margin-top 0
        margin-bottom 0
      .mt-40
        margin-top 32px
    /deep/.description
      .activity__header
        margin-top 0
      .mt-60
        margin-top 30px
        &:first-child
          margin-top 0px
      
.slider-block
  height 504px
  background-color #000
  margin-top 41px
  margin-bottom 50px

/deep/.description
  .mt-60:first-child
    margin-top 0
  +below(769px)
    .mt-60
      margin-top 56px
  &__content
    font-size 14px
    line-height 24px
    letter-spacing 1px
    color #000
    font-family font-family-reg
    span
      color blue
  .description__content + .description__content
    margin-top 24px
  ul
    margin-top -4px
    li
      margin-bottom 18px
      position relative
      padding-left 22px
      font-size 14px
      letter-spacing 1px
      color #000
      line-height 24px
      font-family font-family-reg
      &:last-child
        margin-bottom 0
      &:before
        content ''
        display inline-block
        width 5px
        height 5px
        background-color #000
        position absolute
        top 11px
        margin-top -2px
        left 0
        border-radius 50%




/deep/.icon-content
  flex-wrap wrap
  .icon
    width 18px
    height 18px
    fill transparent
    stroke #000
    stroke-opacity 0.3
    margin-right 15px

  &__title
    font-weight 500
    color #000
    font-size 18px
    line-height 21px
    flex-basis 74px
    margin-right 20px
    font-family: 'Roboto',sans-serif;
  &__desc
    line-height 21px
    font-size 16px
    color rgba(0,0,0,.7)
    font-family: 'Roboto',sans-serif;
    font-weight 400
  &__second-line
    width 100%
    padding-left 33px
    margin-top 23px
    line-height 21px
    font-size 16px
    color rgba(0,0,0,.7)
    font-family: 'Roboto',sans-serif;
    font-weight 400
    span
      color blue
    ul
      margin-top 0 !important
      margin-bottom 0 !important
      li
        font-family: 'Roboto',sans-serif !important;
        color rgba(0,0,0,.7) !important
        line-height 21px !important
        font-size 16px !important
    ol
      margin-top 0 !important
      margin-bottom 0 !important
      padding-left 10px
      li
        font-family: 'Roboto',sans-serif !important; 
        line-height 21px !important
        color rgba(0,0,0,.7) !important
        font-size 16px !important

    


/deep/.activities-items-hidden
  +below(1150px)
    .activities-item-position:not(:nth-child(-n+2))
      display none
  +below(767px)
    .activities-item-position:not(:nth-child(-n+1))
      display none

/deep/.activity-block
  ul
    margin-bottom 18px
    margin-top 18px
    li
      margin-bottom: 18px;
      position: relative;
      padding-left: 22px;
      font-size: 14px;
      letter-spacing: 1px;
      color: #000;
      line-height: 24px;
      font-family: 'GothamProRegular', sans-serif;
      &:before
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: #000;
        position: absolute;
        top: 11px;
        margin-top: -2px;
        left: 0;
        border-radius: 50%;
      &:last-child
        margin-bottom: 0;
    li + li 
      margin-top 0
  ol
    margin-top 18px
    margin-bottom 18px
    li
      position relative
      font-family: GothamProRegular,sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1px;
      color: #000;
      position: relative;
      padding-left: 22px;
      text-indent 0
      &:before
        counter-increment: li;
        content: counters(li,".") ". ";
        position absolute
        left 0
        font-family: GothamProRegular,sans-serif;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1px;
        color: #000;
    li + li
      margin-top 18px
.activity
  padding-top 20px
  .sale
    display none
    box-shadow: 0px 29px 50px rgba(0, 0, 0, 0.05);
    .sale__item:first-child
      flex-basis auto
      margin-top 0
    .sale__item:last-child
      margin-right 10px
    .flex.width-full-mobile
      flex-grow 1
      justify-content space-between
      align-items center
    
    .btn
      margin-left 10px  
      padding-top 14px
      padding-bottom 14px
    +below(1020px)
      display flex
      padding 20px 20px
      margin 0 -20px
      background-color #fff
      flex-wrap wrap
      .price
        display flex
        margin-top 0px
        align-items center
        margin-left 10px
        &__now
          font-size 30px
          margin-left 10px
          margin-top 0
          word-break break-all
          text-align right
    +below(769px)
      margin-left -40px
      margin-right -40px
    +below(767px)
      margin-left -20px
      margin-right -20px
      .price
        display flex
        flex-direction column
        margin-top 0
        margin-left 0
        align-items flex-end
        &__now
          margin-left 0 
          line-height 35px
    +below(700px)
      padding-left 10px
      padding-right 10px
      .price
        display flex
        flex-direction row
        align-items center
        .price__now
          margin-left 10px
      .sale__item
        margin-right 0 !important
      .width-full-mobile + .sale__item
        display flex
        justify-content flex-end
        margin-top 10px
        width 100%
        margin-right 0
        .btn
          margin-left 0
    +below(570px)
      padding-top 10px
      padding-bottom 10px
      .sale__item:first-child
        flex-basis 40%
        margin-top 0px
      .price
        display flex
        flex-direction column
        margin-top 0
        margin-left 0
        align-items flex-end
        &__now
          margin-left 0 
          line-height 35px
    +below(400px)
      .sale__item:first-child
        flex-basis 126px
      .width-full-mobile + .sale__item
        justify-content center
      
  .gallery-wrap
    margin-top 42px
    margin-bottom 51px
    margin-left auto
    margin-right auto
    position relative
    +below(1110px)
      width 100%
    +below(1020px)
      width 100%
    +below(930px)
      width 687px
    +below(800px)
      ngx-gallery
        height 503px !important
    +below(769px)
      margin-top 30px
      margin-bottom 59px
      height 468px
      ngx-gallery
        height 468px !important
      /deep/ngx-gallery-image
        height 74% !important
      /deep/ngx-gallery-thumbnails
        height calc(26% - 20px) !important
    +below(767px)
      width 700px
    +below(720px)
      width 100%
      height 400px
      ngx-gallery
        height 400px !important      
      .gallery__top
        height 100%
      /deep/ngx-gallery-image
        height 400px !important
      .gallery__bottom
        display none
      /deep/ngx-gallery-thumbnails
        display none !important
    +below(500px)
      margin-bottom 14px
      margin-top 44px
      height 214px
      ngx-gallery
        height 214px !important
  +below(1020px)
    padding-top 0
  +below(769px)
    padding-right 20px
    padding-left 20px
    .mt-80
      margin-top 43px
  +below(500px)
    .mt-80
      margin-top 0px
      .activity__header
        display none
      .mt-40
        margin-top 0
  
  /deep/&__header
    font-size 30px
    color blue
    line-height 39px
    margin-bottom 11px
    font-family "Roboto",sans-serif
    font-weight 700
    letter-spacing 0.5px
    text-align left
    +below(500px)
      font-size 18px
      font-weight 500
      line-height 21px
  +below(767px)
    .table-desctop
      display none
    .table-mobile
      display block
    
    .sale
      margin-left -10px
      margin-right -10px
  +below(700px)
    .hide-mobile
      display none
    .width-full-mobile
      width 100%
      justify-content space-between
      align-items center
    .sale .sale__item:first-child
      margin-top 0
  +below(500px)
    .top-content
      margin-top 15px
    .gallery-wrap
      margin-top 44px
      height 212px
    
.slider-block
  height 504px
  background-color #000
  margin-top 41px
  margin-bottom 50px

.description
  .mt-60:first-child
    margin-top 
  ul 
    margin-top 17px
  +below(769px)
    .mt-60
      margin-top 56px
  &__content
    font-size 14px
    line-height 24px 
    letter-spacing 1px 
    color #000
    font-family font-family-reg
    span 
      color blue
  &__content + &__content
    margin-top 24px

.sale
  font-size 14px
  line-height 20px
  font-family font-family-md
  color #000
  justify-content space-between
  margin-bottom 17px
  &__item:first-child
    flex-basis 120px
    margin-top 25px
    line-height 18px
.price
  &__from
    font-size 14px
    line-height 18px
    letter-spacing 0.5
    color rgba(0,0,0,.3)
    font-family: 'Roboto',sans-serif;
    display flex
    align-items center
  &__crossed
    position relative
    display inline-block
    margin-left 5px
    overflow hidden
    &:after
      content ''
      position absolute
      width 100%
      height 1px
      top 50%
      transform translateY(-50%)
      transform rotate(-16deg)
      background-color rgba(0,0,0,.3)
      display block
  &__now
    font-family: 'Roboto',sans-serif;
    font-size 48px
    font-weight 700
    letter-spacing 0.5px
    line-height 46px
    color blue
    margin-top 20px
.table-mobile
  display none
.table-desctop
  width 100%
  +below(769px)
    &.mt-40
      margin-top 50px
  .activity__header
    margin-bottom 42px
  &__row-header
    background-color blue !important
    th
      text-align center
      font-family: 'Roboto',sans-serif;
      font-size 14px
      color #fff
      font-weight 400
      min-height 40px 
      padding 10px
  &__row
    background-color #fff
    border-bottom 1px solid rgba(0,0,0,.2)
    &:last-child
      border-bottom 0
    td
      padding 37px 0 36px 0
      text-align left
      &:first-child
        width 250px
    td + td
      text-align center
      font-family: 'Roboto',sans-serif;
      font-weight 400
      font-size 18px
      line-height 20px
      color blue
    td
      &.table-desctop__title
        padding-left 20px
        padding-right 20px
      a 
        font-family: 'Roboto',sans-serif;
        font-weight 500
        font-size 18px
        line-height 21px
        color #000
        transition all .2s
        padding-left 0
        &:hover
          color blue
    
.table
  display none
  +below(769px)
    &.mt-40
      margin-top 50px
  .activity__header
    margin-bottom 42px
  &__row
    display flex
    &--header
      background-color blue !important
      height 40px
      font-family: 'Roboto',sans-serif;
      font-size 14px
      color #fff
      font-weight 400
      display flex
      justify-content flex-end
      padding 0 !important
  &__head-item:first-child
    margin-right 11px
  &__head-item:nth-child(2)
    margin-right 11px
  &__head-item
    display flex
    align-items center
    padding 0 30px
  &__row
    background-color #fff
    border-bottom 1px solid rgba(0,0,0,.2)
    padding 37px 0 36px 0
    &:last-child
      border-bottom 0
  &__content-item
    font-family: 'Roboto',sans-serif;
    font-weight 400
    font-size 18px
    line-height 20px
    color blue
    padding 0 15px
    a 
      font-family: 'Roboto',sans-serif;
      font-weight 500
      font-size 18px
      line-height 21px
      color #000
      transition all .2s
      &:hover
        color blue
    &:first-child
      padding-left 21px
      padding-right 0px
      flex-basis 270px
    &:nth-child(2)
      margin-right 94px
    &:nth-child(3)
      margin-right 125px
.details
  margin-top 97px
  +below(769px)
    margin-top 79px
  .activity__header
    margin-bottom 52px
  .icon-content + .icon-content
    margin-top 51px 
  +below(500px)
    margin-top 0
    .activity__header
      display none
    .mobile-accordion
      padding-left 0
      padding-right 0
      .icon-content__desc
        padding-left 33px
    /deep/.icon-content:last-child
      margin-bottom 0 !important
.icon-content
  flex-wrap wrap
  .icon
    width 18px
    height 18px
    fill transparent
    stroke #000
    stroke-opacity 0.3
    margin-right 15px
    
  &__title
    font-weight 500
    color #000
    font-size 18px
    line-height 21px
    flex-basis 74px
    margin-right 20px 
    font-family: 'Roboto',sans-serif;
  &__desc
    line-height 21px 
    font-size 16px
    color rgba(0,0,0,.7)  
    font-family: 'Roboto',sans-serif;
    font-weight 400
  &__second-line
    width 100%
    padding-left 33px
    margin-top 23px
  p 
    margin 0
    line-height: 21px;
    font-size: 16px;
    color: rgba(0,0,0,.7);
    font-family: Roboto,sans-serif;
    font-weight: 400;
    span
      color blue
  p + p 
    margin-top 20px
.activity-wrap
  max-width 838px
  width 100%
.meeting
  margin-top 45px
  +below(769px)
    margin-top 84px
    padding-left 20px
    padding-right 20px
  +below(767px)
      padding-left 0  
      padding-right 0     
  &__content
    font-family: 'Roboto',sans-serif;
    font-size 16px
    line-height 21px
    color rgba(0,0,0,.7)
    font-weight 500
  .map
    margin-top 28px
    width 100%
    height 369px
    background-color grey
  +below(500px)
    margin-top 0
    padding-right 0
    padding-left 0
    .map-wrapper
      height 238px
    .mobile-accordion
      padding-right 0
      padding-left 0
      padding-bottom 10px
    .activity__header
      display none
/deep/.customer
  margin-top 57px
  position relative
  +below(769px)
    margin-top 87px
    padding-left 20px
    padding-right 20px
    text-align center
  +below(767px)
    padding-left 0  
    padding-right 0 
  &__top
    margin-bottom 34px
    +below(769px)
      margin-bottom 43px
    +below(500px)
      margin-bottom 33px
  &__middle
    font-family: 'Roboto',sans-serif;
    font-size 18px
    line-height 21px
    font-weight 500
    color #000
    margin-bottom 46px
    +below(769px)
      margin-bottom 43px
      text-align left 
  .active
    fill #f5c973 !important
  .activity__header
    margin-bottom 15px
  &__content
    font-family: 'Roboto',sans-serif;
    font-size 16px
    color rgba(0,0,0,.7)
    line-height 21px
    font-weight 500
    text-align left
  &__score
    color blue
    font-family: 'Roboto',sans-serif;
    font-weight bold
    font-size 64px
    letter-spacing 0.5px
    line-height 64px
  .reviews__star
    margin-top 8px
    margin-right 3px
  .reviews__desc
    color rgba(0,0,0,.3)
    margin-right 3px
  .card-comment + .card-comment
    margin-top 10px
  +below(700px)
    .activity__header
      display none
    .customer__top
      flex-direction column
    .customer__item
      width 100%
      display flex
      justify-content space-between
      align-items center
    .icon-score__star span:not(:nth-child(2))
      display none
  +below(500px)
    margin-top 0
    padding-left 0
    padding-right 0
    .mobile-accordion 
      padding-left 0
      padding-right 0
      padding-top 21px
    .customer__item + .customer__item
      margin-top 33px
    .customer__content
      text-align left
    
    .reviews__desc
      text-align left
    .customer__top
      padding-right 10px
      .icon-star
        width 18px
        height 18px
      .icon-star + .icon-star
        margin-left 2px
    .btn
      width 100%
      margin-top 26px
.activity-offers
  margin-top 86px
  +below(769px)
    margin-top 58px
  h2 
    margin-bottom 61px
    +below(769px)
      margin-bottom 68px
  +below(500px)
    display none
.map-wrapper
  width 100%
  height 369px
  #map 
    width 100%
    height 100%
.mobile-header-accordion
  display none
  margin-left -10px
  margin-right -10px
  background-color #fff
  color #000
  font-family: 'Roboto',sans-serif;
  letter-spacing 0.5px
  font-size 18px
  line-height 23px
  text-align left
  padding 27px 25px 27px 25px
  box-shadow: 0px 29px 50px rgba(0, 0, 0, 0.05)
  font-weight 500
  position relative
  cursor pointer
  transition all .3s
  margin-bottom 0 
  margin-top 0
  .icon
    width 8px
    height 5px
    position absolute
    right 25px
    top 50%
    margin-top -2px
    transition all .3s
  &.active
    color blue
    .icon
      fill blue
      transform rotate(180deg)
    & + .mobile-accordion
      display block
  +below(500px)
    display block
.mobile-accordion
  +below(500px)
    padding-left 0
    padding-right 0
    padding-top 25px
    padding-bottom 30px
    .icon-content
      flex-wrap wrap
      margin-bottom 0
    .icon-content__desc
      flex-basis 100%
    .icon-content + .icon-content
      margin-top 27px 
    .icon-content__second-line
      padding-left 32px
      ul
        margin-top -6px
        margin-left -14px 
        li + li 
          margin-top 10px
    
.table-mobile
  &__header
    font-family: 'Roboto',sans-serif;
    font-weight 500 
    color #000
    font-size 18px
    line-height 21px
    margin-bottom 31px
    display block
    transition all 0.3
    &:hover
      color blue
  &__item-name
    color #000
    font-family: 'Roboto',sans-serif;
    font-weight 400
    font-size 16px
    line-height 20px
  &__item-price
    font-family: 'Roboto',sans-serif;
    font-weight 400
    color blue
    line-height 20px
    font-size 18px
  &__row + .table-mobile__row
    margin-top 28px
  &__column + .table-mobile__column
    margin-top 64px
.activity
  padding-right 55px
  +below(1076px)
    padding-right 20px
  +below(1020px)
    padding-right 0
  +below(769px)
    padding-right 20px
  +below(767px)
    padding-right 0
.sidebar-wrap__content
  margin-right 20px
  padding-right 20px
  +below(1200px)
    width calc(100% - 324px)
    padding-right 20px
  +below(1020px)
    width 100%
    margin-right 0
    padding-right 0
.sidebar.fixed
  right calc((100% - 1120px)/2)
  +below(1200px)
    right 20px
#cancel
  /deep/.details
    margin-top 51px
    +below(500px)
      margin-top 0
#review
  margin-top 51px
  +below(500px)
    margin-top 0
  /deep/.activity__header
    margin-top 0
/deep/.customer 
  padding 0 !important
  margin-bottom 0 !important

.sidebar
  .close-sidebar
    display none
.sidebar.active
  +below(1020px)
    width 361px
    background: #f7f7f7;
    transform translateX(0)
    ng-scrollbar
      display block
    .close-sidebar
      width: 100%;
      height: 24px;
      padding-right 10px
      margin-top 10px
      margin-bottom 10px
      display flex
      align-items center
      justify-content flex-end
      cursor pointer
      .icon 
        width: 24px;
        height: 24px;
        fill: #000;
    /deep/.card-comment--sm
      box-shadow: 0px 10px 10px rgba(0,0,0,0.1)
    .sale
      margin-left 0
      margin-right 0
      max-width 100% !important
      width 100%
      box-sizing border-box
      padding-left 10px !important
      padding-right 10px !important
      .price__now
        font-size 40px
    .calendar__module
      padding-left 10px !important
      padding-right 10px !important
      max-width 100% !important
      display block  
    .sidebar__item
      max-width 100% !important
      width 100% !important
      height auto
      box-sizing border-box
      padding-left 10px !important
      padding-right 10px !important
      padding-bottom 0
    &.fixed
      padding-top 0
      padding-bottom 0
      z-index 100
      top 0
      height 100vh
      min-height 100vh
    &.absolute
      position fixed
      max-height auto
      top 0
      left 0
  +below(700px)
    /deep/.card-comment
      margin-left 0
      margin-right 0
  +below(480px)
    width 100%
    height 100% !important
    transform none
    padding-bottom 0
    .calendar
      height auto
      width 100%
      &~*
        display none
    /deep/.ng-scrollbar-view 
      transform none
      -webkit-overflow-scrolling: auto;
      padding-bottom: 65px;
      display: flex; 
      flex-direction: column; 
      box-sizing: border-box; 
      .close-sidebar
        flex-shrink 0
      .sale 
        flex-shrink 0
        margin-top 0 !important
      .calendar
        overflow hidden
        height 100%
        flex 1
        display block
        margin-bottom 0 
    /deep/.calendar__module
      width: 100%;
      height 100%
      .scroll
        overflow scroll !important
        height 100% 
        width 100%
        -webkit-overflow-scrolling: touch !important;
    .sidebar__item
      position relative
      padding-top 0
      margin-bottom 0 !important
    .sidebar__item:last-child
      margin-bottom 65px !important
    
  +below(425px)
    /deep/.card-comment
      padding-right: 3px !important; 
      padding-left: 8px !important;
      padding-top 20px !important
      padding-bottom 30px !important