<app-overlay-spinner *ngIf="isLoading && !forAdmin"></app-overlay-spinner>
<div *ngIf="isLoading && forAdmin" class="loading-small"></div>
<div [class.hidden]="isLoading">
    <app-hero [activity]="activityInfo"></app-hero>
    <app-navigation [class.fixed]="fixed" (onMenuChanged)="navigateToFragment($event)" (onBookClick)="scrollToCalendar()"></app-navigation>
    <section class="activity-block" *ngIf="activityInfo">
        <div class="container">
            <div class="sidebar-wrap sidebar-wrap--reverse flex align-items-start" id="js-scroll-wrapper">
                <div class="sidebar sidebar--sm" [class.active]="openSidebar" [class.absolute]="absolute" [class.fixed]="fixed" #sideBar id="js-sidebar">
                    <ng-scrollbar>
                        <div class="close-sidebar" (click)="closeSideBar();">
                            <svg class="icon icon-close" height="100%" viewBox="0 0 11 11" width="100%"><g ><path d="M.95.55l9.192 9.193-.707.707L.243 1.257z"></path><path d="M10.142 1.257L.95 10.45l-.707-.707L9.435.55z"></path></g></svg>
                        </div>
                        <div class="sale flex">
                            <div class="sale__item">Precio mínimo garantizado</div>
                            <div class="sale__item">
                                <div class="price">
                                    <div class="price__from" style="display: none;">desde
                                        <div class="price__crossed">{{ activityInfo.min_price | currency:'EUR':'symbol':'1.2-2' }}</div>
                                    </div>
                                    <div class="price__now">{{ activityInfo.min_price | currency:'EUR':'symbol':'1.2-2' }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="calendar js-calendar calendar calendar--activity" id="calendar">
                            <app-booking-calendar
                                    class="calendar__module"
                                    [types]="activityInfo.types"
                                    [schedule]="activityInfo.schedule"
                                    [book_limit]="activityInfo.book_limit"
                                    [disableBook]="forAdmin"
                                    (onBooked)="book($event)"
                            ></app-booking-calendar>
                        </div>
                        <div class="sidebar__item" *ngIf="activityInfo.blocks.cancelationDescription">
                            <div class="icon-content flex">
                                <svg class="icon icon-exclamatory" viewBox="0 0 16 16">
                                    <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7.36v.644a7 7 0 1 1-4.151-6.398"></path><path d="M15 2.404L8 9.411l-2.1-2.1"></path></g>
                                </svg>
                                <div class="icon-content__title">Cancelaciones</div>
                                <div class="icon-content__second-line">{{ activityInfo.cancelation_descriprion }}</div>
                            </div>
                        </div>
                        <div class="sidebar__item" [hidden]="!reviews.length">
                            <div class="icon-content flex">
                                <svg class="icon icon-exclamatory" viewBox="0 0 16 18">
                                    <path d="M15 11.889V3a2 2 0 0 0-2-2H3a2 2 0 0 0-2 2v6.889a2 2 0 0 0 2 2h7.333v4.667L15 11.889z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                <div class="icon-content__title">Opiniones</div>
                            </div>
                        </div>
                        <div *ngFor="let review of reviews" class="sidebar__item">
                            <app-review-card [review]="review"></app-review-card>
                        </div>
                    </ng-scrollbar>
                </div>
                <div class="sidebar-wrap__content">
                    <div class="activity">
                        <div class="sale flex">
                            <div class="flex width-full-mobile">
                                <div class="sale__item">Precio mínimo garantizado</div>
                                <div class="sale__item">
                                    <div class="price">
                                        <div class="price__from" style="display: none">desde
                                            <div class="price__crossed">{{ activityInfo.min_price | currency:'EUR':'symbol':'1.2-2' }}</div>
                                        </div>
                                        <div class="price__now">{{ activityInfo.min_price | currency:'EUR':'symbol':'1.2-2' }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sale__item">
                                <div class="btn" open-sidebar (click)="openSideBar();">reservar</div>
                            </div>
                        </div>
                        <div id="desc">
                            <div class="top-content" [innerHtml]="activityInfo.short_description | keepHtml"></div>
                            <div class="gallery-wrap" [hidden]="!galleryImages.length">
                                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                            </div>
                            <h2 class="mobile-header-accordion" [class.active]="open1status" (click)="open1status = !open1status"> Descripción
                                <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                                </svg>
                            </h2>
                            <div class="mobile-accordion">
                                <div class="description" [innerHtml]="activityInfo.description | keepHtml"></div>
                            </div>
                        </div>
                        
                        
                        <div id="prices" class="prices">
                            <div *ngIf="!activityInfo.types.length">
                                <h2 class="activity__header">Los precios no están disponibles en este momento</h2>
                            </div>
                            <div *ngIf="activityInfo.types.length">
                                <h2 class="mobile-header-accordion"  [class.active]="open2status" (click)="open2status = !open2status">Precio
                                    <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                                    </svg>
                                </h2>
                                <div class="mobile-accordion">
                                    <h2 class="activity__header">Precio</h2>
                                    <div class="table-mobile mt-40">
                                        <div *ngFor="let type of activityInfo.types" class="table-mobile__column"><a class="table-mobile__header" href="#"> {{ type.name }}</a>
                                            <div *ngFor="let ticket of type.tickets" class="table-mobile__row flex align-items-center justify-content-between">
                                                <div class="table-mobile__item-name">{{ ticket.name }}</div>
                                                <div class="table-mobile__item-price">{{ ticket.price != 0 ? (ticket.price | currency:'EUR':'symbol':'1.2-2') : 'gratis' }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table-desctop mt-40">
                                        <tbody>
                                        <tr class="table-desctop__row-header">
                                            <th></th>
                                            <th *ngFor="let header of activityInfo.types[0].tickets">{{ header.name }}</th>
                                        </tr>
                                        <tr *ngFor="let type of activityInfo.types" class="table-desctop__row">
                                            <td class="table-desctop__title"><a href="#">{{ type.name }}</a></td>
                                            <td *ngFor="let ticket of type.tickets">{{ ticket.price != 0 ? (ticket.price | currency:'EUR':'symbol':'1.2-2') : 'gratis' }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="details" class="details-wrap">
                            <h2 class="mobile-header-accordion"  [class.active]="open3status" (click)="open3status = !open3status"> Detalles
                                <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                                </svg>
                            </h2>
                            <div class="mobile-accordion">
                                <app-details [activityInfo]="activityInfo"></app-details>
                            </div>
                        </div>
                    </div>
                    <div id="meeting" class="mb-3" *ngIf="activityInfo.blocks.meetingPoint">
                        <div class="meeting activity-wrap">
                            <h2 class="mobile-header-accordion"  [class.active]="open4status" (click)="open4status = !open4status">
                                Punto de encuentro
                                <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                                </svg>
                            </h2>
                            <div class="mobile-accordion">
                                <h2 class="activity__header">Punto de encuentro</h2>
                                <div class="meeting__content">{{ activityInfo.meeting_point_text }}</div>
                                <div class="map-wrapper mt-30">
                                    <agm-map [zoom]="15" [latitude]="activityInfo.meeting_point_latitude" [longitude]="activityInfo.meeting_point_longitude">
                                        <agm-marker [latitude]="activityInfo.meeting_point_latitude" [longitude]="activityInfo.meeting_point_longitude">
                                            <agm-info-window>{{ activityInfo.meeting_point_text }}</agm-info-window>
                                        </agm-marker>
                                    </agm-map>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="cancel" *ngIf="activityInfo.blocks.cancelationHours || activityInfo.blocks.cancelationDescription">
                        <div class="details">
                            <h2 class="mobile-header-accordion"  [class.active]="open5status" (click)="open5status = !open5status">
                                Cancelaciones
                                <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                                </svg>
                            </h2>
                            <div class="mobile-accordion">
                                <div class="icon-content flex" *ngIf="activityInfo.blocks.cancelationHours">
                                    <svg class="icon icon-exclamatory" viewBox="0 0 16 16">
                                        <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7.36v.644a7 7 0 1 1-4.151-6.398"></path><path d="M15 2.404L8 9.411l-2.1-2.1"></path></g>
                                    </svg>
                                    <div class="icon-content__title flex-grow">Cancelaciones</div>
                                    <div class="icon-content__second-line"> {{activityInfo.cancelation_hours_before}} hours before</div>
                                </div>
                                <div class="icon-content flex" *ngIf="activityInfo.blocks.cancelationDescription">
                                    <svg class="icon icon-exclamatory" viewBox="0 0 16 16">
                                        <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7.36v.644a7 7 0 1 1-4.151-6.398"></path><path d="M15 2.404L8 9.411l-2.1-2.1"></path></g>
                                    </svg>
                                    <div class="icon-content__title flex-grow">Cancelaciones</div>
                                    <div class="icon-content__second-line" [innerHtml]="activityInfo.cancelation_descriprion | keepHtml"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="review">
                        <h2 class="mobile-header-accordion"  [class.active]="open6status" (click)="open6status = !open6status"> Reviews
                            <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                            </svg>
                        </h2>
                        <div class="mobile-accordion">
                            <app-reviews [reviews]="reviewsFull"></app-reviews>
                        </div>
                    </div>
                </div>
            </div>
            <div class="activity-offers">
                <h2>También te puede interesar</h2>
                <div class="activities activities-items-hidden flex justify-content-center">
                    <app-activity-card
                            class="activities-item-position"
                            *ngFor="let activity of relatedActivities"
                            (click)="fireEvent(activity.name)"
                            [activity]="activity"
                            (onClicked)="onFeatureClicked($event)"
                            style="width: 100%"
                    ></app-activity-card>
                </div>
                <a routerLink="{{ routeHelper.buildCityRouteFromActivity(activityInfo) }}" class="btn btn--360 btn--center">Ver todas las actividades en {{ activityInfo.city_name }}</a>
            </div>
        </div>
    </section>
    <app-banner></app-banner>
    <app-calendar-slider></app-calendar-slider>
</div>
