@import 'rupture'
@import 'variables'

.banner
  background-image url("../../../../../assets/images/banner-bg.jpg")
  background-size cover
  background-position 50% 50%
  min-height 676px
  padding 78px 0
  display flex
  align-items flex-start
  &--big
    .offers
      width 645px
      padding-right 75px
      .btn
        margin-top 30px
  .btn
    margin-top 12px
  +below(1030px)
    min-height 634px
  +below(769px)
    padding-top 86px
    padding-bottom 67px
  +below(767px)
    padding-bottom 0
    align-items flex-end
    position relative
    min-height 0
    display inline-block
    width 100%
    padding-top 0
    &:before
      position relative
      top 0
      content ''
      display block
      width 100%
      height 168px
      background-image url("../../../../../assets/images/banner-bg.jpg")
      background-size cover
      background-position center
  +below(425px)
    position relative
    min-height 0
    display inline-block
    width 100%
    padding-top 0
    &:before
      position relative
      top 0
      content ''
      display block
      width 100%
      height 168px
      background-image url("../../../../../assets/images/banner-bg.jpg")
      background-size auto 100%
      background-position calc(50% - 20px) center
  .container

    +below(1030px)
      margin-top -10px
    +below(769px)
      margin-top -13px
    +below(767px)
      margin-top 0
      padding 0
      .btn
        width 100%
    +below(500px)
      .btn
        margin-top 24px
  &--destination
    +below(767px)
      align-items flex-end
      padding-bottom 0
    +below(430px)
      .offers
        padding-top 44px
      .offers__banner--destination
        margin-bottom 30px
  &--city
		.list--price
    margin-bottom 33px

.offers
  width 515px
  background-color #fff
  box-shadow 0px 4px 50px rgba(0, 0, 0, 0.15)
  padding: 58px 27px 52px 74px;
  margin-bottom 36px
  +below(1030px)
    margin-left 20px
  +below(800px)
    .btn
      margin-top 14px
  +below(769px)
    padding-top 47px
  +below(767px)
    margin-bottom 0
    width 100%
    margin-left 0
    padding-left 9px
    padding-right 9px
  +below(500px)
    padding-top 46px
    padding-bottom 60px
  &__banner
    font-size 24px
    line-height 34px
    font-family font-family-md
    color #000
    padding-right 57px
    margin-bottom 30px
    +below(800px)
      margin-bottom 26px
    +below(500px)
      line-height 22px
      margin-bottom 19px
    &--destination
      text-transform uppercase
      .offers__banner--destination-subtitle
        text-transform lowercase
    +below(767px)
      font-size 18px
