<section class="banner banner--big" style="display:none">
  <div class="container flex">
    <div class="offers">
      <h3 class="offers__banner">SERVICO DE TRASLADOS:<br> Seguro, organizado y sin esperas
      </h3>
      <div class="activity-directions">
        <div class="activity-directions__row">
          <div class="activity-directions__wrap flex align-items-center">
            <div class="activity-directions__from">LaGuardia Airport
            </div>
            <div class="activity-directions__icons">
              <svg class="icon icon-arrow-right" viewBox="0 0 18 16">
                <path d="M1 7a1 1 0 1 0 0 2V7zm16.707 1.707a1 1 0 0 0 0-1.414L11.343.929A1 1 0 1 0 9.93 2.343L15.586 8l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM1 9h16V7H1v2z"></path>
              </svg>
            </div>
            <div class="activity-directions__to">LaGuardia Airport
            </div>
          </div>
          <div class="activity-directions__price">€25
          </div>
        </div>
        <div class="activity-directions__row">
          <div class="activity-directions__wrap flex align-items-center">
            <div class="activity-directions__from">LaGuardia Airport</div>
            <div class="activity-directions__icons">
              <svg class="icon icon-arrow-right" viewBox="0 0 18 16">
                <path d="M1 7a1 1 0 1 0 0 2V7zm16.707 1.707a1 1 0 0 0 0-1.414L11.343.929A1 1 0 1 0 9.93 2.343L15.586 8l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM1 9h16V7H1v2z"></path>
              </svg>
            </div>
            <div class="activity-directions__to">LaGuardia Airport</div>
          </div>
          <div class="activity-directions__price">€25
          </div>
        </div>
        <div class="activity-directions__row">
          <div class="activity-directions__wrap flex align-items-center">
            <div class="activity-directions__from">LaGuardia Airport</div>
            <div class="activity-directions__icons">
              <svg class="icon icon-arrow-right" viewBox="0 0 18 16">
                <path d="M1 7a1 1 0 1 0 0 2V7zm16.707 1.707a1 1 0 0 0 0-1.414L11.343.929A1 1 0 1 0 9.93 2.343L15.586 8l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM1 9h16V7H1v2z"></path>
              </svg>
            </div>
            <div class="activity-directions__to">LaGuardia Airport
            </div>
          </div>
          <div class="activity-directions__price">€25
          </div>
        </div>
      </div>
      <a class="btn btn--destination" href="#">Reserva un traslado</a>
    </div>
  </div>
</section>