<div *ngIf="isLoading" class="loading-small"></div>
<div *ngIf="!isLoading" class="container">
  <input class="form-control" placeholder="Buscar..." [(ngModel)]="search" (input)="updateReviews()">
  <a class="btn btn-next create" routerLink="/admin/reviews/create/{{activityId}}">+ Create</a>
  <table  class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Header</th>
      <th scope="col">Author</th>
      <th scope="col">Rate</th>
      <th scope="col">Text</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="!reviews.length">
      <td colspan="6" class="no-items">Reviews not found</td>
    </tr>
    <tr *ngFor="let review of reviews; let i=index;">
      <td>{{ review.id }}</td>
      <td>{{ review.header }}</td>
      <td>{{ review.user_name }}</td>
      <td>{{ review.rate | number:'1.1-1' }}</td>
      <td class="text-review">{{ review.text }}</td>
      <td>{{ review.is_approved ? 'Approved' : 'Draft' }}</td>
      <td>
        <div *ngIf="deletingReviews.includes(review.id) || savingReviews.includes(review.id)" class="loader"></div>
        <button
                *ngIf="!review.is_approved"
                class="btn btn-primary btn-sm"
                (click)="approve(review.id, true)"
                [attr.disabled]="savingReviews.includes(review.id) ? 'disabled' : null"
        >Approve</button>
        <button
                *ngIf="review.is_approved"
                class="btn btn-primary btn-sm"
                (click)="approve(review.id, false)"
                [attr.disabled]="savingReviews.includes(review.id) ? 'disabled' : null"
        >To Draft</button>
        <a class="btn btn-primary btn-sm" routerLink="/admin/reviews/{{review.id}}/edit">Edit</a>
        <a class="btn btn-primary btn-sm" (click)="deleteReview(review.id, i)">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination *ngIf="reviews.length" [collectionSize]="filteredReviews.length" [(page)]="page" [maxSize]="10" (pageChange)="updateReviews()" [pageSize]="pageSize" [boundaryLinks]="true"></ngb-pagination>
</div>