<section class="section section--rate section--grey">
  <div class="container">
    <h1 class="section__title">{{ activity?.name }}</h1>
    <div class="sidebar-wrap flex">
      <div class="sidebar">
        <div class="img-bottom-content">
          <a class="img-bottom-content__img" routerLink="{{ activity ? routeHelper.buildActivityRoute(activity) : '' }}" [ngStyle]="{'background': 'url(' +  activity?.avatar_small + ')' }"></a>
          <div class="img-bottom-content__desc">
            {{ activity?.name }}
          </div>
        </div>
      </div>
      <div class="sidebar-wrap__content">
        <div class="rate-content" data-tab="rate">
          <form class="rate" (ngSubmit)="submit()">
            <h2 class="rate-content__title">
              Escribe un comentario
            </h2>
            <h3 class="rate-content__subtitle">
              Con quién has viajado?
            </h3>
            <div class="icon-content-wrap flex flex-wrap">
              <div class="rate-icon flex flex-wrap">
                <div class="rate-icon__item flex align-items-center rate-icon__item--alone" [class.active]="form.traveller_type==1" (click)="form.traveller_type=1">
                  <div class="rate-icon__svg-wrap">
                    <svg class="icon icon-alone" viewBox="0 0 10 20">
                      <ellipse cx="2.02" cy="2.029" rx="2.02" ry="2.029" transform="matrix(1 0 0 -1 3.145 4.058)"></ellipse><path d="M8.331 11.17c.722-.24 1.163-.56 1.163-.912 0-2.49-1.605-5.62-4.33-5.62-2.724 0-4.328 3.13-4.328 5.62 0 .352.441.673 1.163.911.446 3.676 1.426 8.686 3.166 8.686s2.72-5.01 3.166-8.686z"></path>
                    </svg>
                  </div>
                  <div class="rate-icon__title">
                    He viajado solo
                  </div>
                </div>
                <div class="rate-icon__item flex align-items-center rate-icon__item--couple" [class.active]="form.traveller_type==2" (click)="form.traveller_type=2">
                  <div class="rate-icon__svg-wrap">
                    <svg class="icon icon-couple icon" viewBox="0 0 22 20">
                      <ellipse cx="2.071" cy="2.044" rx="2.071" ry="2.044" transform="matrix(1 0 0 -1 2.531 4.087)"></ellipse><path d="M7.848 11.251c.74-.24 1.192-.563 1.192-.917 0-2.51-1.645-5.662-4.438-5.662-2.793 0-4.438 3.152-4.438 5.662 0 .354.453.677 1.192.917.457 3.703 1.463 8.75 3.246 8.75s2.789-5.047 3.246-8.75z"></path><ellipse cx="2.02" cy="2.029" rx="2.02" ry="2.029" transform="matrix(1 0 0 -1 14.973 4.058)"></ellipse><path d="M16.993 4.638c1.275 0 2.309 1.32 2.309 2.95 0 .31-.023.955-.07 1.795 1.499 1.465 2.09 4.116 2.09 4.644 0 .554-1.095 1.03-2.655 1.231C18.3 17.812 17.756 20 16.993 20c-.763 0-1.307-2.188-1.674-4.742-1.56-.201-2.655-.677-2.655-1.231 0-.528.591-3.18 2.09-4.644-.047-.84-.07-1.485-.07-1.796 0-1.629 1.034-2.95 2.31-2.95z"></path>
                    </svg>
                  </div>
                  <div class="rate-icon__title">
                    He viajado en pareja
                  </div>
                </div>
                <div class="rate-icon__item flex align-items-center rate-icon__item--family-small" [class.active]="form.traveller_type==3" (click)="form.traveller_type=3">
                  <div class="rate-icon__svg-wrap">
                    <svg class="icon icon-family-small icon" viewBox="0 0 25 20">
                      <ellipse cx="2.02" cy="2.029" rx="2.02" ry="2.029" transform="matrix(1 0 0 -1 2.809 4.058)"></ellipse><path d="M7.995 11.17c.722-.239 1.163-.559 1.163-.911 0-2.491-1.605-5.62-4.329-5.62C2.104 4.638.5 7.767.5 10.258c0 .352.441.672 1.163.91.446 3.677 1.426 8.686 3.166 8.686s2.72-5.01 3.166-8.685z"></path><ellipse cx="1.616" cy="1.629" rx="1.616" ry="1.629" transform="matrix(1 0 0 -1 10.79 12.244)"></ellipse><path d="M14.54 14.145c0-.768-.904-1.391-2.02-1.391s-2.02.623-2.02 1.391S11.039 20 12.52 20c1.482 0 2.02-5.087 2.02-5.855z"></path><ellipse cx="2.02" cy="2.029" rx="2.02" ry="2.029" transform="matrix(1 0 0 -1 18.645 4.058)"></ellipse><path d="M20.665 4.638c1.275 0 2.309 1.32 2.309 2.95 0 .31-.023.955-.07 1.795 1.499 1.465 2.09 4.116 2.09 4.644 0 .554-1.095 1.03-2.655 1.231-.368 2.554-.911 4.742-1.674 4.742-.763 0-1.307-2.188-1.674-4.742-1.56-.201-2.655-.677-2.655-1.231 0-.528.591-3.18 2.09-4.644-.047-.84-.07-1.485-.07-1.796 0-1.629 1.034-2.95 2.309-2.95z"></path>
                    </svg>
                  </div>
                  <div class="rate-icon__title">
                    Familia con hijos pequeños
                  </div>
                </div>
                <div class="rate-icon__item flex align-items-center rate-icon__item--family-adolescent" [class.active]="form.traveller_type==4" (click)="form.traveller_type=4">
                  <div class="rate-icon__svg-wrap">
                    <svg class="icon icon-family-adolescent icon" viewBox="0 0 27 21">
                       <ellipse cx="2.02" cy="2.029" rx="2.02" ry="2.029" transform="matrix(1 0 0 -1 2.973 4.058)"></ellipse><path d="M8.16 11.17c.72-.24 1.162-.56 1.162-.912 0-2.49-1.604-5.62-4.329-5.62-2.724 0-4.329 3.13-4.329 5.62 0 .352.441.673 1.163.911.446 3.676 1.427 8.686 3.166 8.686 1.74 0 2.72-5.01 3.166-8.686z"></path><ellipse cx="2.02" cy="2.029" rx="2.02" ry="2.029" transform="matrix(1 0 0 -1 20.473 4.058)"></ellipse><path d="M22.493 4.638c1.275 0 2.309 1.32 2.309 2.95 0 .31-.023.955-.07 1.795 1.499 1.465 2.09 4.116 2.09 4.644 0 .554-1.095 1.03-2.655 1.231C23.8 17.812 23.256 20 22.493 20c-.763 0-1.307-2.188-1.674-4.742-1.56-.201-2.655-.677-2.655-1.231 0-.528.591-3.18 2.09-4.644-.047-.84-.07-1.485-.07-1.796 0-1.629 1.034-2.95 2.31-2.95z"></path><ellipse cx="1.616" cy="1.629" rx="1.616" ry="1.629" transform="matrix(1 0 0 -1 12.512 7.425)"></ellipse><path d="M16.66 13.135c.577-.192.93-.449.93-.731 0-2-1.283-4.513-3.463-4.513s-3.463 2.512-3.463 4.513c0 .282.353.54.93.731.357 2.952 1.142 6.974 2.533 6.974 1.392 0 2.176-4.022 2.533-6.974z"></path>
                    </svg>
                  </div>
                  <div class="rate-icon__title">
                    Familia con hijos adolescentes
                  </div>
                </div>
                <div class="rate-icon__item flex align-items-center rate-icon__item--friends" [class.active]="form.traveller_type==5" (click)="form.traveller_type=5">
                  <div class="rate-icon__svg-wrap">
                    <svg class="icon icon-friends icon" viewBox="0 0 36 24">
                      <ellipse cx="2.485" cy="2.453" rx="2.485" ry="2.453" transform="matrix(1 0 0 -1 15.514 4.905)"></ellipse><path d="M21.894 13.502c.888-.289 1.43-.676 1.43-1.102 0-3.01-1.973-6.794-5.325-6.794-3.351 0-5.325 3.783-5.325 6.794 0 .426.543.813 1.43 1.101.549 4.444 1.755 10.5 3.895 10.5s3.347-6.056 3.895-10.5z"></path><ellipse cx="2.485" cy="2.453" rx="2.485" ry="2.453" transform="matrix(1 0 0 -1 2.84 4.905)"></ellipse><path d="M9.22 13.502c.888-.289 1.43-.676 1.43-1.101 0-3.012-1.973-6.795-5.325-6.795C1.974 5.606 0 9.39 0 12.401c0 .425.543.812 1.43 1.1.549 4.444 1.756 10.5 3.895 10.5 2.14 0 3.347-6.056 3.895-10.5z"></path><ellipse cx="2.485" cy="2.453" rx="2.485" ry="2.453" transform="matrix(1 0 0 -1 28.19 4.905)"></ellipse><path d="M34.57 13.502c.888-.289 1.43-.676 1.43-1.101 0-3.012-1.973-6.795-5.325-6.795-3.352 0-5.325 3.783-5.325 6.795 0 .425.543.812 1.43 1.1.549 4.444 1.755 10.5 3.895 10.5s3.346-6.056 3.895-10.5z"></path>
                    </svg>
                  </div>
                  <div class="rate-icon__title">
                    He viajado con amigos
                  </div>
                </div>
              </div>
              <div *ngIf="form.traveller_type == 0 && tryToSubmit" class="error">Por favor ingrese el tipo de viaje</div>
            </div>
            <h3 class="rate-content__subtitle">
              Valora esta actividad
            </h3>
            <div class="icon-star-wrap">
              <div class="big-star flex align-items-center">
                <ngb-rating [(rate)]="rate" [max]="5" [starTemplate]="t"></ngb-rating>
                <ng-template #t let-fill="fill">
                  <svg class="icon icon-star active" [class.active]="fill === 100" viewBox="0 0 12 12">
                    <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
                  </svg>
                </ng-template>
              </div>
              <div *ngIf="rate == 0 && tryToSubmit" class="error">Ingrese una puntuación</div>
            </div>
            <div [class.hidden]="!forAdmin">
                <div class="rate__subtitle rate__subtitle--supplier">Nombre de usuario</div>
                <div class="rate__textarea-wrap">
                    <input
                            name="name"
                            #name="ngModel"
                            [(ngModel)]="form.user_name"
                            class="rate__input"
                            required
                            maxlength="255"
                    >
                    <div *ngIf="forAdmin && !form.user_name.length && tryToSubmit" class="error">Ingresar nombre</div>
                </div>
                <div class="rate__subtitle rate__subtitle--supplier">País del usuario</div>
                <div class="rate__textarea-wrap input-select-wrap">
                    <input
                            [ngbTypeahead]="searchCountry"
                            [resultFormatter]="countryFormatter"
                            [editable]="false"
                            [inputFormatter]="countryFormatter"
                            (selectItem)="onSelectCountry($event)"
                            class="rate__input"
                            [value]="review?.country"
                    >
                    <div *ngIf="forAdmin && !form.country_id && tryToSubmit" class="error">Seleccione un país del listado</div>
                </div>
                <div class="rate__subtitle rate__subtitle--supplier">Ciudad del usuario</div>
                <div class="rate__textarea-wrap input-select-wrap">
                    <input
                            [ngbTypeahead]="searchCity"
                            [resultFormatter]="cityFormatter"
                            [editable]="false"
                            [inputFormatter]="cityFormatter"
                            (selectItem)="onSelectCity($event)"
                            class="rate__input"
                            [value]="review?.city"
                    >
                    <div *ngIf="forAdmin && !form.city_id && tryToSubmit" class="error">Seleccione una ciudad del listado</div>
                </div>
                <div class="rate__subtitle rate__subtitle--supplier">Fecha de creación</div>
                <div class="rate__textarea-wrap input-select-wrap">
                    <div class="flex">
                        <input
                                ngbDatepicker
                                name="date"
                                #d="ngbDatepicker"
                                readonly="readonly"
                                class="rate__input"
                                (click)="d.toggle()"
                                (dateSelect)="updateFormTimestamp()"
                                [(ngModel)]="selectedDate"
                        >
                        <ngb-timepicker [(ngModel)]="selectedTime" (ngModelChange)="onTimeChange()" name="time"></ngb-timepicker>
                    </div>
                    <div *ngIf="forAdmin && !form.created_at && tryToSubmit" class="error">Seleccionar fecha y hora</div>
                </div>
            </div>
            <h3 class="rate-content__subtitle">Encabezado</h3>
            <div class="rate__textarea-wrap rate__textarea-wrap--input ">
              <input
                name="header"
                #header="ngModel"
                [(ngModel)]="form.header"
                class="rate__input"
                required
                maxlength="255"
              >
              <div *ngIf="header.invalid && (header.dirty || header.touched || tryToSubmit)" class="error">Introducir encabezado</div>
            </div>
            <h3 class="rate-content__subtitle">Información de proveedor</h3>
            <div class="rate__textarea-wrap">
              <textarea
                [(ngModel)]="form.text"
                name="text"
                #text="ngModel"
                class="rate__textarea"
                required
                maxlength="1024"
              ></textarea>
              <div *ngIf="text.invalid && (text.dirty || text.touched || tryToSubmit)" class="error">Introducir comentario</div>
            </div>
            <div *ngIf="serverError" class="error">{{ serverError }}</div>
            <button [attr.disabled]="form.activity && !inSubmit ? null : 'disabled'" class="rate__btn btn" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>