@import 'variables'
@import 'rupture'

/deep/.input-select-wrap
  .dropdown-menu
    width calc(100% - 93px)!important

.dashboard
  &--rate
    +below(768px)
      padding 134px 20px 78px
    +below(710px)
      padding 85px 0 49px
  &__header
    &--rate
      display block
      color blue
      font-family: font-family-sec;
      font-style: normal;
      font-weight: bold;
      margin: 0 0 27px;
      line-height: 26px;
      font-size: 24px;
      letter-spacing: 0.5px;
      +below(710px)
        font-size: 18px;
        margin 0 0 31px
        line-height: 24px;
        font-size: 18px;
        letter-spacing: 0.5px;
        padding: 0 10px;

.rate
  &__title
    line-height: 34px;
    font-size: 24px;
    margin 0 0 41px
    font-weight bold
    font-family: font-family-reg;
    +below(768px)
      margin 0 0 24px
      font-size: 24px;
      letter-spacing: 0.015em;
    +below(600px)
      margin 9px 0 7px
      font-size 18px
  &__subtitle
    margin 0 0 39px
    font-family: font-family-sec;
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    font-size: 18px;
    letter-spacing: 0.5px;
    +below(710px)
      font-size 14px
      margin 0 0 23px
    &--activity
      margin 0  0 29px
      +below(710px)
        margin 0 0 19px
    &--supplier
      margin 54px 0 16px
      +below(710px)
        margin 39px 0 13px
  &__item
    display flex
    align-items: center
    cursor pointer
    width: 50%;
    margin 0 0 16px 0
    &:nth-child(even)
      +below(768px)
        width: auto;
        margin-left: 12px;
      +below(600px)
        margin-left: 0;
    +below(710px)
      width: 100%;
      margin 0 0 16px
  &__options
    margin 0 0 22px
    +below(710px)
      margin 0 0 30px
  &__text
    font-family font-family-sec
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
    width: 195px;
  &__svg-wrap
    width 60px
    height 60px
    margin 0 11px 0 0
    border 2px solid #D1D1D1
    background: #ffffff
    border-radius 50%
    display flex
    justify-content: center
    align-items: center
    cursor pointer
  .icon-alone,
  .icon-family-small,
  .icon-couple,
  .icon-family-adolescent,
  .icon-friends
    fill #D1D1D1
  .icon-alone
    width: 8.66px;
    height: 19.86px;
  .icon-family-small
    width: 24.49px;
    height: 20px;
  .icon-couple
    width: 21.16px;
    height: 20px;
  .icon-family-adolescent
    width: 26.16px;
    height: 20.11px;
  .icon-friends
    width: 30px;
    height: 20px;
  &__item
    &:hover,&.active
      .rate__svg-wrap
        border-color #000
        background: #56CCF2
      .icon
        fill #fff
  &__stars
    display flex
    margin 0 0 20px
  &__textarea-wrap
    padding: 0 93px 0 0;
    +below(710px)
      padding 0
  &__input
    width 100%
    border 1px solid #d0d4d9
    padding 10px
    +below(710px)
      margin: 0 0 10px;
  &__textarea
    width 100%
    border 1px solid #d0d4d9
    height 111px
    margin 0 0 13px
    +below(710px)
      margin: 0 0 10px;
      height: 154px;
  &__btn
    width: 236px;
    padding: 15px;
    +below(710px)
      width: 100%;
    &[disabled]
      opacity 0.5

  .icon-star
    width 24px
    height 24px
    margin-right 8px !important
    fill hsla(0,0%,77%,.3)
    +below(768px)
      width 24px
      height 24px
      margin-right 8px!important
    +below(600px)
      width 31px
      height 31px
      margin-right 11px!important
    &.active
      fill #F5C973

ngb-rating
  outline none
.rate-icon__item.rate-icon__item--alone
  &:hover,&.active 
    .rate-icon__svg-wrap
      background-color #27AE60
      border-color #27AE60
      .icon 
        fill #fff
.rate-icon__item.rate-icon__item--couple
  &:hover,&.active 
    .rate-icon__svg-wrap
      background-color #BB6BD9
      border-color #BB6BD9
      .icon 
        fill #fff
.rate-icon__item.rate-icon__item--family-small
  &:hover,&.active 
    .rate-icon__svg-wrap
      background-color #56CCF2
      border-color #56CCF2
      .icon 
        fill #fff
.rate-icon__item.rate-icon__item--family-adolescent
  &:hover,&.active 
    .rate-icon__svg-wrap
      background-color #2F80ED
      border-color #2F80ED
      .icon 
        fill #fff
.rate-icon__item.rate-icon__item--friends
  &:hover,&.active 
    .rate-icon__svg-wrap
      background-color #F2C94C
      border-color #F2C94C
      .icon 
        fill #fff
.topics__img
  background-size cover!important

/deep/ngb-datepicker
  outline none
  .ngb-dp-arrow-btn
    background-color inherit!important
    border none
    outline none
    color #f00!important
    &:hover
      color blue!important

  .ngb-dp-month
    margin-left auto
    margin-right auto

/deep/ngb-timepicker
  button
    background inherit!important
    border none!important
    color #f00!important
    padding 0px!important
    width 100px!important
.img-bottom-content
  background-color #fff
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  &__img
    width 100%
    height 214px
    background-size cover !important
    background-position center center !important
    position relative
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display block  
    &:after
      position absolute
      content ''
      display block
      top 0
      left 0
      width 100%
      height 100%
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 33.41%);
  &__desc
    padding 18px 91px 26px 24px
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    font-size: 16px;
    letter-spacing: 0.5px;
    
.section--rate
  input 
    padding: 10px 16px;
    border: 1px solid #d0d4d9;
    border-radius: 2px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    line-height: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
  textarea
    resize: none;
    padding: 10px 16px;
    border: 1px solid #d0d4d9;
    border-radius: 2px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    line-height: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin 0
  .rate__textarea-wrap--input
    margin-bottom 55px
  .sidebar 
    width 361px
  .sidebar-wrap__content
    width calc(100% - 361px)
    margin-left 20px
  .section__title
    display none
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 31px;
    font-size: 24px;
    letter-spacing: 0.5px;
    color blue
  .rate__btn
    margin-top 14px
  .rate-content
    background: #fff;
    padding-top: 62px;
    padding-left: 75px;
    padding-right: 115px;
    padding-bottom 86px
    &__title
      font-family font-family-md
      line-height: 34px;
      font-size: 24px;
      text-align: left;
      margin-bottom: 41px;
    &__subtitle
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      line-height: 23px;
      font-size: 18px;
      letter-spacing: 0.5px;
  .icon-content-wrap 
    margin-top 39px
    margin-bottom 20px
  .icon-star-wrap
    margin-top 26px
    margin-bottom 55px
  .form-checkout
    .form-checkout__item
      max-width 100% !important
      width 100%
      textarea
        height 110px
    .btn
      margin-top 17px
      width 239px
  .rate-icon
    &__item
      &:nth-child(2n)
        padding-left 47px
  +below(1165px)
    .sidebar
      width 330px
    .sidebar-wrap__content
      width calc(100% - 330px)
  +below(1020px)
    .sidebar-wrap__content
      width 100%
      margin-left 0
    .section__title
      display block
    .container
      padding-left: 40px;
      padding-right: 40px;
      .section__title
        margin-bottom: 26px;
    .rate-content
      padding-top: 43px;
      padding-left: 70px;
      padding-right: 70px;
    .rate-content__title
      margin-bottom: 23px;
    .form-checkout .btn
      margin-top 20px
  +below(730px)
    .rate-icon__item
      width 100%
      &:nth-child(2n)
        padding-left 0
  +below(650px)
    .rate__textarea-wrap--input
      margin-bottom 38px
    .container
      .section__title
        margin-bottom 15px
    .section__title
      margin-left: 8px;
      font-size: 18px;
      line-height: 23px;
      margin-right: 8px;
    .container
      padding-left 0
      padding-right 0
    .rate-content
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 25px;
      padding-bottom 35px
    .rate-content__title
      margin-bottom: 10px;
      font-size: 18px;
    .rate-content__subtitle
      font-size 14px
    .icon-content-wrap
      margin-top 23px
    .icon-star-wrap
      margin-top 23px
      margin-bottom 38px
      .big-star .icon
        width 30px
        height 30px
        margin-right 12px !important
    .form-checkout
      .btn  
        width 100%
        margin-top 14px 
      .form-checkout__item textarea
        height 153px
.big-star
  .icon
    width 25px
    height 25px
    margin-right 7px !important
.rate__textarea-wrap.input-select-wrap
  .flex
    margin-bottom 55px
  