<div class="header-fixed-pt">
  <section class="section section--contacts section--grey">
    <div class="container">
      <h1 class="title">Contacta con nosotros</h1>
      <h3 class="subtitle">Antes de contactarnos, echa un vistazo a la sección de&nbsp;<a routerLink="/service/faq">preguntas frecuentes</a></h3>
      <div class="sidebar-wrap flex">
        <div class="sidebar">
          <div class="tab-container">
            <div class="tab-wrap">
              <div class="tab" routerLink="/contacts/already-booked" routerLinkActive="active">
                <svg class="icon icon-already-booked" viewBox="0 0 20 15">
                  <path d="M1 3a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v2.05c-1.207.233-2.11 1.241-2.11 2.45s.903 2.217 2.11 2.45V12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9.95c1.207-.23 2.113-1.24 2.113-2.45 0-1.21-.906-2.22-2.113-2.45V3zM9.75 1v13"></path>
                </svg>Ya he reservado
              </div>
              <div class="tab"  routerLink="/contacts/before-booking" routerLinkActive="active">
                <svg class="icon icon-before-booking" viewBox="0 0 25 25">
                  <path d="M12 4h7l3 3-3 3h-7V4zM12 13H5l-3-3 3-3h7v6zM12.25 20.25v-9.5"></path>
                </svg>Antes de reservar
              </div>
              <div class="tab"  routerLink="/contacts/other" routerLinkActive="active">
                <svg class="icon icon-other" viewBox="0 0 20 20">
                  <path d="M10 10v4"></path><circle cx="10" cy="10" r="9.25"></circle><circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 9 8)"></circle>
                </svg>Otros temas
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-wrap__content">
          <div class="tab-container">
            <div class="accordion-title-mobile--top">
              <div class="accordion-title-mobile"  routerLink="/contacts/already-booked" routerLinkActive="active">
                <div class="accordion-title-mobile__main">
                  <div class="flex flex-start align-items-center">
                    <svg _ngcontent-c5="" class="icon icon-already-booked" viewBox="0 0 20 15">
                    <path _ngcontent-c5="" d="M1 3a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v2.05c-1.207.233-2.11 1.241-2.11 2.45s.903 2.217 2.11 2.45V12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9.95c1.207-.23 2.113-1.24 2.113-2.45 0-1.21-.906-2.22-2.113-2.45V3zM9.75 1v13"></path>
                  </svg>Ya he reservado
                  </div>
                  <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                  </svg>
                </div>
              </div>
              <div class="accordion-title-mobile"  routerLink="/contacts/before-booking" routerLinkActive="active">
                <div class="accordion-title-mobile__main">
                  <div class="flex flex-start align-items-center">
                    <svg class="icon icon-before-booking" viewBox="0 0 25 25">
                      <path d="M12 4h7l3 3-3 3h-7V4zM12 13H5l-3-3 3-3h7v6zM12.25 20.25v-9.5"></path>
                    </svg>Antes de reservar
                  </div>
                  <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                  </svg>
                </div>
              </div>
              <div class="accordion-title-mobile"  routerLink="/contacts/other" routerLinkActive="active">
                <div class="accordion-title-mobile__main">
                  <div class="flex flex-start align-items-center">
                    <svg class="icon icon-other" viewBox="0 0 20 20">
                      <path d="M10 10v4"></path><circle cx="10" cy="10" r="9.25"></circle><circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 9 8)"></circle>
                    </svg>Otros temas
                  </div>
                  <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                  </svg>
                </div>
              </div>
            </div>
            <router-outlet></router-outlet>
            <div class="accordion-title-mobile--bottom">
              <div class="accordion-title-mobile"  routerLink="/contacts/already-booked" routerLinkActive="active">
                <div class="accordion-title-mobile__main">
                  <div class="flex flex-start align-items-center">
                    <svg class="icon icon-already-booked">
                      <path d="M1 3a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v2.05c-1.207.233-2.11 1.241-2.11 2.45s.903 2.217 2.11 2.45V12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9.95c1.207-.23 2.113-1.24 2.113-2.45 0-1.21-.906-2.22-2.113-2.45V3zM9.75 1v13"></path>
                    </svg>Ya he reservado
                  </div>
                  <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                  </svg>
                </div>
              </div>
              <div class="accordion-title-mobile"  routerLink="/contacts/before-booking" routerLinkActive="active">
                <div class="accordion-title-mobile__main">
                  <div class="flex flex-start align-items-center">
                    <svg class="icon icon-before-booking" viewBox="0 0 25 25">
                      <path d="M12 4h7l3 3-3 3h-7V4zM12 13H5l-3-3 3-3h7v6zM12.25 20.25v-9.5"></path>
                    </svg>Antes de reservar
                  </div>
                  <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                  </svg>
                </div>
              </div>
              <div class="accordion-title-mobile"  routerLink="/contacts/other" routerLinkActive="active">
                <div class="accordion-title-mobile__main">
                  <div class="flex flex-start align-items-center">
                    <svg class="icon icon-other" viewBox="0 0 20 20">
                      <path d="M10 10v4"></path><circle cx="10" cy="10" r="9.25"></circle><circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 9 8)"></circle>
                    </svg>Otros temas
                  </div>
                  <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-footer">
        <h2 class="title">Otros medios de atención al cliente</h2>
        <div class="three-column">
          <div class="three-column__item bg-white-shadow">
            <div class="contact-information">
              <div class="contact-information__title">
                <div class="icon-content flex">
                  <svg class="icon icon-message" viewBox="0 0 20 20">
                    <path d="M19 9.189a7.833 7.833 0 0 1-.9 3.66 8.31 8.31 0 0 1-3.133 3.305 8.742 8.742 0 0 1-4.467 1.224 8.641 8.641 0 0 1-3.8-.867L1 18.34l1.9-5.491A7.833 7.833 0 0 1 2 9.189c0-1.52.44-3.01 1.27-4.304A8.392 8.392 0 0 1 6.7 1.867 8.64 8.64 0 0 1 10.5 1h.5a8.63 8.63 0 0 1 5.53 2.38A8.036 8.036 0 0 1 19 8.707v.482z"></path>
                  </svg>
                  <div class="icon-content__title">Chat</div>
                </div>
              </div>
              <div class="contact-information__desc">From Monday to Sunday:10:00 to 22:00 UTC/GMT +1 hour</div>
            </div>
          </div>
          <div class="three-column__item bg-white-shadow">
            <div class="contact-information">
              <div class="contact-information__title">
                <div class="icon-content flex">
                  <svg class="icon icon-main-phone" viewBox="0 0 20 20">
                    <path d="M12.128 4.44a4.3 4.3 0 0 1 3.397 3.398M12.128 1a7.74 7.74 0 0 1 6.838 6.83m-.86 6.863v2.58a1.721 1.721 0 0 1-1.876 1.72 17.021 17.021 0 0 1-7.422-2.64 16.773 16.773 0 0 1-5.16-5.161 17.02 17.02 0 0 1-2.641-7.457A1.72 1.72 0 0 1 2.719 1.86h2.58a1.72 1.72 0 0 1 1.72 1.48c.109.825.31 1.636.602 2.416a1.72 1.72 0 0 1-.387 1.815L6.142 8.663a13.762 13.762 0 0 0 5.16 5.16l1.093-1.091a1.72 1.72 0 0 1 1.814-.387c.78.29 1.591.493 2.417.602a1.72 1.72 0 0 1 1.48 1.746z" stroke="#0086E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <div class="icon-content__title">Phone</div>
                </div>
              </div>
              <div class="contact-information__desc">From Monday to Sunday:10:00 to 22:00 UTC/GMT +1 hour</div>
              <div class="name-phone">
                <div class="name-phone__row">
                  <div class="name-phone__text">Spain:</div>
                  <div class="name-phone__number" x-ms-format-detection="none"> +34 518 900 112</div>
                </div>
                <div class="name-phone__row">
                  <div class="name-phone__text">Mexico:</div>
                  <div class="name-phone__number" x-ms-format-detection="none"> +52 55 4163 9191</div>
                </div>
                <div class="name-phone__row">
                  <div class="name-phone__text">United States:</div>
                  <div class="name-phone__number" x-ms-format-detection="none"> +1 (844) 900-0503</div>
                </div>
              </div>
            </div>
          </div>
          <div class="three-column__item bg-white-shadow">
            <div class="contact-information">
              <div class="contact-information__title">
                <div class="icon-content flex">
                  <svg class="icon icon-main-whatsapp" viewBox="0 0 20 20">
                    <path d="M19 9.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.379 8.379 0 0 1-3.8-.9L1 19l1.9-5.7A8.38 8.38 0 0 1 2 9.5a8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path><path d="M14 11.24v1.055a.701.701 0 0 1-.767.702 6.974 6.974 0 0 1-3.038-1.078A6.856 6.856 0 0 1 8.083 9.81a6.943 6.943 0 0 1-1.08-3.045.701.701 0 0 1 .7-.766H8.76a.705.705 0 0 1 .704.604c.045.337.127.669.246.987a.701.701 0 0 1-.158.741l-.447.447a5.626 5.626 0 0 0 2.112 2.107l.447-.446a.704.704 0 0 1 .742-.158c.32.119.652.201.99.246a.704.704 0 0 1 .605.713z"></path>
                  </svg>
                  <div class="icon-content__title">Whatsapp</div>
                </div>
              </div>
              <div class="contact-information__desc">From Monday to Sunday:10:00 to 22:00 UTC/GMT +1 hour</div>
              <div class="contact-information__number" x-ms-format-detection="none">+34 696 95 03 23</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
