@import 'variables'
@import 'rupture'

/deep/.section--contacts
  .accordion-title-mobile
    outline none
    .accordion-title-mobile__main
      padding-left 49px
  .title
    font-family font-family-md
    font-size 36px
    line-height 51px
    color #000
    margin-bottom 9px
  .subtitle
    font-family 'Roboto'
    font-size 14px
    letter-spacing 0.05em
    color #000
    font-weight 400
    margin-bottom 47px
  /deep/.tabContent-body
    background: #fff;
    padding: 50px 75px 59px;
    &__title
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      font-size: 14px;
      letter-spacing: 0.05em;
      color #000
    .form-checkout
      margin-top 19px
      .form-checkout__item 
        width calc(50% - 10px)
        max-width 100% !important
      .form-checkout__row + .form-checkout__row
        margin-top 25px
      .w-100
        .form-checkout__item 
          min-width 100%
      .check-wrap 
        width 100%
        margin-top 33px
      .btn
        width 237px
  .contact-footer
    margin-top 55px
    .title
      font-family: Roboto;
      font-weight: 500;
      line-height: 21px;
      font-size: 16px;
      letter-spacing: 0.11em;
      text-transform: uppercase;
      text-align: left;
      color: #000;
  .contact-information
    padding-top: 24px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 35px;
    &__number
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      line-height: 20px;
      font-size: 14px;
      letter-spacing: 0.05em;
      color #000
    &__title
      margin-bottom 18px
    .icon-content
      &__title
        color: blue;
        font-family: Roboto;
        font-weight: bold;
        line-height: 23px;
        font-size: 18px;
        text-align: left;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 0;
      .icon
        stroke-opacity: 1;
        stroke-width: 1.5;
        stroke: blue;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill transparent 
    &__desc
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      font-size: 14px;
      letter-spacing: 0.05em;
      color #000
    .name-phone
      margin-top 11px
  .three-column
    margin-top 37px
  +below(1170px)
    .contact-footer
      .title
        text-align center
  +below(1020px)
    h1.title
      display none
    h3.subtitle
      display none
    .container
      padding-left 40px
      padding-right 40px
    .tabContent
      margin-top 0
    .tabContent-body
      padding-top: 22px;
      padding-left: 69px;
      padding-right: 69px;
      padding-bottom: 56px;
      .form-checkout
        margin-top 32px
        .btn
          margin-left auto
          margin-right auto
          width 304px
        .check-wrap
          margin-top 25px
          margin-bottom 28px

  +below(900px)
    .contact-footer
      .title
        text-align left 
    .three-column
      margin-top 29px
    .contact-information
      padding-right 10px
  +below(760px)
    .name-phone__number
      text-align right
    .tabContent-body 
      .form-checkout 
        .form-checkout__item
          max-width 100% !important
          width 100%
        .form-checkout__item + .form-checkout__item
          margin-top 25px
  +below(600px)
    .container
      padding-left 0
      padding-right 0
    .tabContent-body
      padding-left 8px
      padding-right 8px
      padding-top 13px
      padding-bottom 22px
    .accordion-title-mobile
      .accordion-title-mobile__main
        padding-left 10px
    .tabContent-body 
      .form-checkout
        margin-top 24px
        .form-checkout__item+.form-checkout__item
          margin-top 23px
        .form-checkout__row + .form-checkout__row
          margin-top 23px
        .drag-file
          min-height 116px
        .check-wrap 
          display none
        .btn
          margin-top 24px
          width 100%
    .contact-footer
      margin-top 30px
      .title
        padding-left 8px
        padding-right 8px
      .three-column 
        margin-top 30px
        box-shadow: none
        background-color transparent
        padding-top 26px
        .three-column__item
          box-shadow none
          margin-bottom 0
          background transparent
          .contact-information
            padding-top: 0;
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 30px;

/deep/.input--select
  height 42px

/deep/.radio
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  input
    position: absolute;
    opacity: 0;
    cursor: pointer;
  &__text
    margin 0
    padding 0 0 0 6px
    font-family: font-family-reg
    font-size 13px
    line-height: 21px
    letter-spacing: 0.05em;
  &__mark
    position: relative;
    height: 16px;
    width: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    border 1px solid blue
    flex-shrink 0
  input:checked ~ .radio__mark
    background-color: #ffffff
  &__mark
    &:after
      content: "";
      position: absolute;
      display: none;
  input:checked ~ .radio__mark
    &:after
      display block
  .radio__mark
    &:after
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 8px;
      height: 8px;
      background: #0086e6;
      border-radius: 50%;
/deep/.radio-content
  width 100%
  margin-top 10px
  &.active
    display block
/deep/.section--contacts
  .sidebar
    width 361px
    margin-right 0
  .sidebar-wrap__content
    width calc(100% - 361px)
    margin-left 20px
  +below(1020px)
    .sidebar-wrap__content
      width 100% 
      margin-left 0