<div class="activities__item" [class.activities__item--horizontal]="isHorizontal">
  <a class="activities__header-img" routerLink="{{ routeHelper.buildActivityRoute(activity) }}" [ngStyle]="{'background': 'url(' +  (activity.avatar_small ? activity.avatar_small : activity.avatar)  + ')' }">
    <div *ngIf="isHorizontal" class="city-bottom">
      <div class="city-bottom__time">
        <svg class="icon clock" viewBox="0 0 20 20">
          <g stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"><path d="M1 10a9 9 0 0 0 9 9 9 9 0 1 0-9-9z"></path><path d="M14 11h-4V6"></path></g>
        </svg>
        <div class="desc-time">
          {{ formatHelper.formatDuration(activity.duration) }}
        </div>
      </div>
      <div class="city-bottom__language">
        <svg class="icon icon-language" viewBox="0 0 20 20">
          <path d="M19 9.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.379 8.379 0 0 1-3.8-.9L1 19l1.9-5.7A8.38 8.38 0 0 1 2 9.5a8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"></path>
        </svg>{{ activity.language }}
      </div>
    </div>
  </a>
  <div *ngIf="activity.skipLine" class="activities__caption">Evita las colas</div>
  <div class="activities__content">
    <div class="activities__content-header"><a routerLink="{{ routeHelper.buildActivityRoute(activity) }}">{{ activity.name }}</a></div>
    <div *ngIf="isHorizontal && !item" class="activities__desc" [innerHtml]="activity.short_description | keepHtml"></div>
    <div *ngIf="item" class="activities__desc">
      <div class="icon-content flex">
        <svg class="icon icon-clock-checkout" viewBox="0 0 16 16">
          <g stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"></path><path d="M8 3.8V8l2.8 1.4"></path></g>
        </svg>
        <div class="icon-content__title">{{ orderDate | date:'EEEE, MMMM d, y h:mm a'}}</div>
      </div>
      <div class="icon-content flex">
        <svg class="icon icon-user-checkout" viewBox="0 0 13 14">
          <g stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M12 13v-1.333c0-.708-.29-1.386-.806-1.886a2.794 2.794 0 0 0-1.944-.78h-5.5c-.73 0-1.429.28-1.945.78A2.626 2.626 0 0 0 1 11.667V13M9.25 3.667c0 1.472-1.231 2.666-2.75 2.666S3.75 5.14 3.75 3.667C3.75 2.194 4.981 1 6.5 1s2.75 1.194 2.75 2.667z"></path></g>
        </svg>
        <div class="icon-content__title">{{ item.getTicketData().people }} personas</div>
      </div>
      <div class="icon-content flex">
        <svg class="icon icon-tiket-checkout" viewBox="0 0 17 13">
          <g stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path clip-rule="evenodd" d="M1 3a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v1.427c-1.004.197-1.758 1.05-1.758 2.073S14.996 8.376 16 8.573V10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8.574c1.004-.195 1.762-1.05 1.762-2.074 0-1.024-.758-1.878-1.762-2.073V3z"></path><path d="M8.414 1.75v9.5"></path></g>
        </svg>
        <div class="icon-content__title">{{ item.getTicketData().activityType }}</div>
      </div>
    </div>
    <div class="activities__content-star">
      <div class="activities__star-block flex align-items-center flex-wrap">
        <ngb-rating [rate]="activity.rate / 2" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
        <ng-template #t let-fill="fill">
          <svg class="icon icon-star active" [class.active]="fill === 100" viewBox="0 0 12 12">
            <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
          </svg>
        </ng-template>
        <span class="activities__score">{{ activity.rate | number:'1.1-1' }}</span>
        <span class="activities__reviews-value">{{ activity.reviews }} opiniones</span>
      </div>
      <div *ngIf="!item" class="activities__price">{{ activity.min_price | currency:'EUR':'symbol':'1.2-2' }}</div>
      <div *ngIf="item" class="activities__price">{{ item.getTicketData().total | currency:'EUR':'symbol':'1.2-2' }}</div>
    </div>
    <div *ngIf="showDelete" class="activities__close" (click)="onDeleteClicked.next(true);">
      <svg class="icon icon-close" viewBox="0 0 11 11">
        <g><path d="M.95.55l9.192 9.193-.707.707L.243 1.257z"></path><path d="M10.142 1.257L.95 10.45l-.707-.707L9.435.55z"></path></g>
      </svg>
    </div>
    <a *ngIf="!item" open-slider class="activities__btn" (click)="click()">
      <svg open-slider class="icon icon-activities-btn" viewBox="0 0 18 20" width="100%" height="100%">
        <g open-slider><path open-slider d="M2.778 2.8h12.444c.982 0 1.778.806 1.778 1.8v12.6c0 .994-.796 1.8-1.778 1.8H2.778A1.789 1.789 0 0 1 1 17.2V4.6c0-.994.796-1.8 1.778-1.8zM12.556 1v3.6M5.444 1v3.6M1 8.2h16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"></path></g>
      </svg>
    </a>
  </div>
  <a class="activities__link" routerLink="{{ routeHelper.buildActivityRoute(activity) }}"></a>
</div>



