<div class="form-checkout__row">
  <div class="form-checkout__item flex flex-column w-100 mb-20">
    <label>PREFIJO</label>
    <div class="select-wrap">
      <span class="select-phone open" (click)="openSelect = !openSelect;" [class.open]="openSelect" select-open>
        <span *ngIf="selectedCountry" class="select-phone__code " select-open>{{ selectedCountry?.name }} (+{{ selectedCountry?.calling_code }})</span>
        <svg select-open class="icon icon-dropdown-footer" height="100%" viewBox="0 0 13 7" width="100%"><path select-open d="M6.5 7L12.13.25H.87L6.5 7z" fill-opacity=".8"></path></svg>
      </span>
      <div class="dropdown-wrapper">
        <div class="search-select">
          <input select-open (keyup)="selectSearch.next($event.target.value)">
        </div>
        <div class="dropdown-phone">
          <span *ngFor="let country of (countriesDisplay)" (click)="selectCountry(country)" [class.active]="selectedCountry===country"> {{ country.name }} (+ {{ country.calling_code }})</span>
        </div>
    </div>
  </div>
</div>
<div class="form-checkout__row">
  <div class="form-checkout__item flex flex-column w-100">
    <label>TELÉFONO MÓVIL</label>
    <input type="text" [(ngModel)]="number" (ngModelChange)="updateValue()" (blur)="onTouched()">
  </div>
</div>