.w-100
  max-width 100% !important
.form-checkout__item
  position relative
.select-phone
  border: 1px solid #d0d4d9;
  height: 42px;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  position relative
  cursor pointer
  background-color #fff
  text-align left
  &+*
    display none
  .select-phone__code
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    line-height: 42px;
    
  .icon
    width 10px
    height 10px
    position absolute
    top 50%
    right 10px
    transform translateY(-50%) rotate(0)
    transition transform .4s    
    fill rgba(0,0,0,.4)
  &.open
    background-color: #79797c !important;
    border-color #79797c !important
    .icon
      transform translateY(-50%) rotate(180deg)
      fill #fff
    .select-phone__code
      color #fff
    & + .dropdown-wrapper
      display block
      position absolute
      top 100%
      left 0
      z-index 10
.dropdown-wrapper
    border: 1px solid #d0d4d9;
    width 100%
    background-color #fff
    .search-select
      padding 5px
      input
        line-height normal
        background-color: #f5f4f5;
        padding 10px 16px !important
        width 100% !important
        border: 1px solid #d0d4d9 !important;
    .dropdown-phone
      padding-top: 5px;
      padding-bottom: 5px;
      max-height 185px
      overflow-x hidden
      overflow-y auto
      -webkit-overflow-scrolling touch
      span
        display: flex;
        align-items center
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #000;
        padding-left: 16px;
        padding-right: 16px;
        min-height: 30px;
        line-height: 1.5em;
        max-height 60px
        overflow hidden
        padding-top 5px
        padding-bottom 5px
        &:hover
          background-color #efefef
        &.selected
          background-color #efefef
