@import 'variables'
@import 'rupture'

.container
  margin-left 0
  margin-right 0
  +below(1030px)
    padding 0 40px
  +below(500px)
    padding 0 10px
.ttl
  font-family font-family-md
  margin 0
  margin-bottom 34px
  +below(1030px)
    font-size 30px
    margin-bottom 0px
  +below(767px)
    font-size 24px
.video-box
  position relative
  +below(500px)
    margin-top 27px
.video--testimonials
  width 100%
  max-height 513px
  +below(500px)
    height 185px
    object-fit cover
.btn--play
  position absolute
  z-index 1
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
  width 100px
  height 100px
  border-radius 50px
  background white
  display flex
  align-items center
  justify-content center
  border-color transparent
  .icon
    width 30px
    height 30px
    fill blue
    margin-left 10px
  +below(1030px)
    width 68px
    height 68px
    .icon
      width 16px
      height 19px
      margin-left 5px
  img
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    margin-left 6px
    +below(500px)
      width 16px
      height 17px
  &.hidden
    display none
.video-wrapper
  background-color transparent
  display block
  