@import 'variables'

.btn
  height 30px
  width 120px
  padding 12px
  line-height 10px
  border 0
  &[disabled]
    opacity 0.5
  &.btn-year
    width 15px
    height 200px
    margin-top auto
    margin-bottom auto

.selector
  min-width 300px

.other-dates
  margin-left 30px
  div
    display inline-block
    +div
      margin-left 10px

strong
  font-weight 800
  +strong
    margin-left 10px

/deep/.ngb-dp-day
  &.hidden
    display block!important

/deep/ngb-datepicker
  border: none!important
  width: 100%
  outline none
  font-family Roboto
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -o-user-select none
  user-select none

  .ngb-dp-day
    cursor: pointer

    &.disabled, &.hidden
      cursor: default


    .btn-light
      text-align: center
      width: 32px
      height: 32px
      line-height: 33px
      background: transparent

    .outside
      opacity: 0.3

    &:not(.disabled)
      .btn-light
        transition: all 0.3s
        &:hover
          background-color: grey
          color: #fff

      .btn-light.bg-primary
        color: selected-text-color!important
        background-color: selected-background-color!important

      .btn-light.marked
        background-color #2aae27

/deep/ngb-timepicker
  display inline-block
  padding 5px