<div class="flex">
    <div class="selector">
        <span>Times for (first selected):<strong *ngIf="selectedDates.length">{{ dateHelper.formatDate(selectedDates[0])}}</strong></span>
        <div class="timeWrapper">
            <div *ngFor="let dayTime of dayTimes; let i = index" class="timePickerWrap">
                <ngb-timepicker [(ngModel)]="dayTimes[i]" [spinners]="false" (ngModelChange)="syncDates(selectedDates[0])"></ngb-timepicker>
                <button (click)="removeTime(i)">X</button>
            </div>
            <button [attr.disabled]="selectedDates.length ? null : 'disabled'" class="btn btn-primary" (click)="addTime()">+ Add time</button>
            <button [attr.disabled]="selectedDates.length ? null : 'disabled'" class="btn btn-primary" (click)="copyToAll()">Copy to all</button>
        </div>
    </div>
    <div class="other-dates flex-grow">
        <span>All selected dates: </span>
        <div *ngFor="let selectedDate of selectedDates"><strong>{{ dateHelper.formatDate(selectedDate) }}</strong></div>
    </div>
</div>
<div class="flex">
    <button class="btn btn-year" (click)="selectPreviousYear()" [attr.disabled]="selectedYear == self.MIN_YEAR ? 'disabled' : null"><</button>
    <ngb-datepicker
            #calendar="ngbDatepicker"
            [navigation]="'none'"
            [outsideDays]="'collapsed'"
            [displayMonths]="12"
            [firstDayOfWeek]="1"
            [startDate]="{year: 2018, month: 1}"
            [markDisabled]="isDisabled"
            [minDate]="{year: 2018, month: 1}"
            [maxDate]="{year: 2100, month: 1}"
            [dayTemplate]="dayTemplate"
    >
    </ngb-datepicker>
    <ng-template #dayTemplate let-date="date" let-disabled="disabled" let-selected="selected">
      <div class="btn-light"
            [class.bg-primary]="!disabled && selectedDates.includes(date)"
            [class.marked]="!disabled && hasSchedule(date)"
            [class.outside]="disabled"
            (mouseenter)="!disabled && hoveredDate($event, date)"
            (mouseleave)="!disabled && hoveredDate($event, date)"
            (click)="!disabled && dateClicked($event, date)"
      >
        {{ date.day }}
      </div>
    </ng-template>
    <button class="btn btn-year" (click)="selectNextYear()" [attr.disabled]="selectedYear == self.MAX_YEAR ? 'disabled' : null">></button>
</div>
