<div class="country-search" #countryHost>
  <div class="country-search__country-select" [class.hidden__img]="isCountryOpened" (click)="isCountryOpened = true">
    <div class="country-search__heading">{{ selectedCountryName }}</div>
  </div>
  <div class="selectize-control" [class.visible]="isCountryOpened">
    <div class="selectize-control__input">
      <svg class="icon selectize-search" viewBox="0 0 18 18">
        <g><path d="M8.013 14.6a6.4 6.4 0 1 1 0-12.8 6.4 6.4 0 0 1 0 12.8zM12.766 13.608l2.829 2.828" stroke-width="2" stroke-linecap="square" stroke="#0086E6"></path></g>
      </svg>
      <input type="text" placeholder="Buscar" (input)="searchCountry($event)">
    </div>
    <div class="selectize-control__dropdown">
      <div class="selectize-control__dropdown-content">
        <div *ngFor="let country of countries" class="option" [class.active]="country.route_name==selectedCountryId">
          <a (click)="selectCountry(country)">{{ country.name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="country-search" #cityHost>
  <div class="country-search__country-select" [class.hidden__img]="isCityOpened" (click)="isCityOpened = true">
    <div class="country-search__heading">{{ selectedCityName }}</div>
  </div>
  <div class="selectize-control" [class.visible]="isCityOpened">
    <div class="selectize-control__input">
      <svg class="icon selectize-search" viewBox="0 0 18 18">
        <g><path d="M8.013 14.6a6.4 6.4 0 1 1 0-12.8 6.4 6.4 0 0 1 0 12.8zM12.766 13.608l2.829 2.828" stroke-width="2" stroke-linecap="square" stroke="#0086E6"></path></g>
      </svg>
      <input type="text" placeholder="Buscar" (input)="searchCity($event)">
    </div>
    <div class="selectize-control__dropdown">
      <div class="selectize-control__dropdown-content">
        <div *ngFor="let city of cities" class="option" [class.active]="city.id==selectedCityId">
          <a (click)="selectCity(city)">{{ city.name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
