@import 'variables'
@import 'rupture'
.country-search
  margin-right 10px
  margin-left 10px
  &__country-select
    display flex
    align-items center
    height 47px
    cursor pointer
    &.hidden__img
      display none
  &__heading
    font-size 21px
    line-height 25px
    color rgba(255,255,255,.7)
    font-family font-family-md
    &:first-letter
      text-transform uppercase
  .icon-dropdown-footer
    width 8px
    height 4px
    fill #fff
.selectize-control
  display none
  width 200px
  box-shadow 0px 8px 8px rgba(0, 0, 0, 0.06)
  position relative
  z-index 2
  &__dropdown
    position absolute
    top 100%
    left 0
    width 200px
    height auto
    background-color #fff
    border-bottom-left-radius 2px
    border-bottom-right-radius 2px
    &-content
      overflow-y auto
      overflow-x hidden
      max-height 180px
      border-bottom-right-radius 2px
      border-bottom-left-radius 2px
      .option
        min-height 36px
        height auto !important
        height 36px
        display flex
        align-items center
        border-top 1px solid #D0D4D9
        box-sizing border-box
        padding-top 8px 
        padding-bottom 8px
        a
          font-size 14px
          color #000
          display block
          padding 0px 0px 0px 50px
          transition all .2s
          cursor pointer
          font-family: "Roboto";
          height: auto;
          line-height: 18px;
          font-weight: 400;
          max-height 35px
          overflow hidden
          padding-right 10px
          width 100%
          &:hover
            color #000
        &.active
          background-color rgba(0,0,0,.15)
        &:hover
          background-color rgba(0,0,0,.05)
  &__input
    position relative
    width 200px
    height 36px
    .selectize-search
      width 15px
      height 15px
      fill transparent
      position absolute
      top 50%
      left 17px
      transform translateY(-50%)
      stroke blue
    input
      width 100%
      height 100%
      padding-left 50px
      border none
      border-top-right-radius 2px
      border-top-left-radius 2px
      border-bottom-right-radius 0
      border-bottom-left-radius 0
      font-family: "roboto";
      font-size: 14px;
      font-weight: 400;
      &::-webkit-input-placeholder
        color #B3B3B3
        font-size 14px
        font-weight 300
        font-family 'Roboto'
        height 100%
        line-height normal
      &::-moz-placeholder
        color #B3B3B3
        font-size 14px
        font-weight 300
        font-family 'Roboto'
        line-height 34px
        height 100%
      &:-ms-input-placeholder
        color #B3B3B3
        font-size 14px
        font-weight 300
        font-family 'Roboto'
        height 100%
      &:-moz-placeholder
        color #B3B3B3
        font-size 14px
        font-weight 300
        font-family 'Roboto'
        height 100%
      &::-webkit-input-placeholder { /* WebKit browsers */
        line-height: 1.5em;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        line-height: normal;
      }
      &::-moz-placeholder
        line-height: 34px;
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        line-height: normal;
      }
      input::-webkit-input-placeholder
        font-weight 400
        font-size 14px
        line-height 36px
        font-family "roboto"
        color rgba(0,0,0,.4)
        line-height: 34px;
        height 100%
  &.visible
    display block
.country-search
  +below(500px)
    display none
  &__country-select
    display flex
    align-items center
    min-width 200px
    height 36px
    cursor pointer
  &__heading
    font-size 21px
    line-height 25px
    color #fff
    font-family font-family-reg
    display flex
    align-items center
    &:after
      content: '\f0d7'
      color: #ffffff
      margin: 0 0 0 2px
      font-family: 'FontAwesome'
      font-size: 14px;
      vertical-align: 10%;
      margin-left 10px
    &:first-letter
      text-transform uppercase
    +below(645px)
      font-size 16px
