<div *ngIf="isLoading" class="loading-small"></div>
<div *ngIf="!isLoading" class="container mb-3">
  <a class="btn btn-primary" routerLink="/admin/operations">Regresar</a>
  <div class="content">
    <h2>Operation information</h2>
    <div class="desc">
      <div class="row">
        <div class="item">Número de reserva</div>
        <div class="item">{{ operation.code }}</div>
      </div>
      <div class="row">
        <div class="item">Nombre completo</div>
        <div class="item">{{ operation.client }}</div>
      </div>
      <div class="row">
        <div class="item">Telefono</div>
        <div class="item">{{ operation.phone }}</div>
      </div>
      <div class="row">
        <div class="item">Email</div>
        <div class="item">{{ operation.email }}</div>
      </div>
      <div class="row">
        <div class="item">País</div>
        <div class="item">{{ operation.country }}</div>
      </div>
      <div class="row">
        <div class="item">Ciudad</div>
        <div class="item">{{ operation.city }}</div>
      </div>
      <div class="row">
        <div class="item">Nombre de la actividad</div>
        <div class="item">{{ operation.activity }}</div>
      </div>
      <div class="row">
        <div class="item">Número de adultos</div>
        <div class="item">{{ operation.adults }}</div>
      </div>
      <div class="row">
        <div class="item">Número de niños</div>
        <div class="item">{{ operation.children }}</div>
      </div>
      <div class="row">
        <div class="item">Fecha</div>
        <div class="item">{{ operation.date }}</div>
      </div>
      <div class="row">
        <div class="item">Hora de la actividad</div>
        <div class="item">{{ operation.time }}</div>
      </div>
      <div class="row">
        <div class="item">Observaciones del cliente</div>
        <div class="input"><textarea [innerHtml]="operation.comment" readonly></textarea></div>
      </div>
      <div class="row">
        <div class="item">Observaciones Internas</div>
        <div class="input">
          <div *ngIf="adminSaving" class="loading-tiny"></div>
          <textarea [(ngModel)]="operation.admin_comment" (ngModelChange)="commentSubject.next($event)"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="item">¿Necesita Factura?</div>
        <div class="item">{{ operation.need_invoice ? 'sí' : 'no hay' }}</div>
      </div>
      <div *ngIf="operation.need_invoice" class="row">
        <div class="item">Datos de la factura</div>
        <div class="item input">
          <div class="row invoice">
            <div class="item"><b>NOMBRE FISCAL</b></div>
            <div class="item">{{ operation.invoice?.tax_name}}</div>
          </div>
          <div class="row invoice">
            <div class="item"><b>IDENTIFICADOR FISCAL</b></div>
            <div class="item">{{ operation.invoice?.tax_id}}</div>
          </div>
          <div class="row invoice">
            <div class="item"><b>TIPO DE DOCUMENTO</b></div>
            <div class="item">{{ operation.invoice?.document_type}}</div>
          </div>
          <div class="row invoice">
            <div class="item"><b>DIRECCIÓN FISCAL</b></div>
            <div class="item">{{ operation.invoice?.address}}</div>
          </div>
          <div class="row invoice">
            <div class="item"><b>CIUDAD</b></div>
            <div class="item">{{ operation.invoice?.city}}</div>
          </div>
          <div class="row invoice">
            <div class="item"><b>RESIDENCIA FISCAL</b></div>
            <div class="item">{{ operation.invoice?.country}}</div>
          </div>
          <div class="row invoice">
            <div class="item"><b>CÓDIGO POSTAL</b></div>
            <div class="item">{{ operation.invoice?.postal}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="item">Precio</div>
        <div class="item">{{ operation.amount | currency:'EUR':'number':'1.2-2' }}</div>
      </div>
      <div class="row">
        <div class="item">Tipo de actividad</div>
        <div class="item">{{ operation.type}}</div>
      </div>
    </div>
  </div>
</div>