@import "variables"

.container .btn
  position absolute
  top 10px
  right 30px

.content
  margin-top 13px
  background #fff
  box-shadow 0 4px 50px rgba(0,0,0,.05)
  padding-bottom 36px
  width 100%

  h2
    font-family roboto
    font-size 24px
    font-weight 700
    line-height 31px
    letter-spacing .5px
    text-align left
    padding-left 74px
    margin-bottom 35px
    margin-top 35px

  .desc
    padding-left 75px
    padding-right 75px

    .row
      display -webkit-box
      display -ms-flexbox
      display flex
      -webkit-box-align center
      -ms-flex-align center
      align-items center
      -webkit-box-pack justify
      -ms-flex-pack justify
      justify-content space-between

      &.invoice
        width: 100%
      +.row
        margin-top 22px
      .item
        font-family font-family-reg
        line-height 21px
        font-size 14px
        letter-spacing .01em
        b
          text-transform lowercase
      .input
        width 60%
        position relative
        textarea
          width 100%
          height 100px
          overflow-y auto
          resize none

        .loading-tiny
          position absolute
          top 10px
          left 10px
