<div class="container flex">
  <div class="offers">
    <div class="offers__header">Traslados a los principales aeropuertos con tarifas fijas
    </div>
    <ul class="offers__list">
      <li class="offers__item">Seguro, organizado y sin esperas<span class="offers__circle"></span>
      </li>
      <li class="offers__item">Fixed rates, private transfers<span class="offers__circle"></span>
      </li>
      <li class="offers__item">Traslados privados personalizados<span class="offers__circle"></span>
      </li>
      <li class="offers__item">Servicio al cliente excepcional<span class="offers__circle"></span>
      </li>
    </ul>
    <A class="btn-offers" href="#">Reservar</A>
  </div>
</div>
