<section>
  <div class="container">
    <div *ngIf="block == 'registration-completed'">
      <h2>Registro completo</h2>
      <p>
        Favor revisar tu correo electrónico para completer tu registro.
      </p>
    </div>
    <div *ngIf="block == 'reset-completed'">
      <h2>Restablecer contraseña</h2>
      <p>
        Para uso de nuevas credenciales favor <a [routerLink]="" [queryParams]="{modal: 'login'}">registrarse</a>
      </p>
    </div>
    <div *ngIf="block == 'reset-requested'">
      <h2>Restablecimiento de contraseña es requerido</h2>
      <p>
        Por favor, siga las instrucciones enviadas en su correo electrónico para completar el restablecimiento de contraseña.
      </p>
    </div>
    <div *ngIf="block == 'email-verified'">
      <h2>Su correo electrónico ha sido verificado con éxito. Por favor <a [routerLink]="" [queryParams]="{modal: 'login'}">iniciar sesión</a></h2>
    </div>
    <div *ngIf="block == 'unauthorized'">
      <h2>Acceso denegado</h2>
      <p>
        No tienes permitido acceder a esta área.
      </p>
    </div>
  </div>
</section>
