<div class="header-fixed-pt">    
    <section class="search_hero">
        <div id="chartdiv" class="location-control-panel" (wheel)="onWheel($event)"></div>
        <div class="wrap-container-search">
            <div class="container">
                <app-search-input [destinations]="destinations"></app-search-input>
            </div>
        </div>
    </section>
    <section class="search_destinations section section--search-destinations section--grey">
        <div class="container">
            <h1 class="ttl">Destinos Civitours</h1>
            <div *ngFor="let country of countries" class="country-block">
                <div class="country-block__country">
                    <a class="country-block__ttl" routerLink="{{ routeHelper.buildCountryRoute(country) }}">{{ country.country }}
                        <span class="country-block__activities">{{ getActivitiesForCountry(country) }} actividades</span>
                    </a>
                </div>
                <div class="country-block__cities">
                    <a *ngFor="let city of country.cities" class="country-block__city" routerLink="{{ routeHelper.buildCityRoute(city) }}">{{ city.name }} ({{ city.excursions }})</a>
                </div>
            </div>
        </div>
    </section>
</div>
