@import 'variables'
@import 'rupture'

.search_hero
  box-shadow inset 0 0 0 0 #ccc, inset 0 -22px 28px -12px rgba(0, 0, 0, 0.12)
  +below(1000px)
    height 550px
  +below(800px)
    height 450px
  +below(700px)
    height 400px
  +below(500px)
    height 300px
#chartdiv
  height 600px
  width 100%
  -webkit-border-radius: 150px
  -moz-border-radius: 150px
  border-radius: 200px
  +below(1000px)
    height 550px
  +below(800px)
    height 450px
  +below(700px)
    height 400px
  +below(500px)
    height 324px
    border-radius 0
.wrap-container-search
  position absolute
  width 100%
  top 50% 
  transform translateY(-50%)
  z-index 20
  /deep/input
    box-shadow 0 10px 40px rgba(0,0,0,.3)
  /deep/.search-container
    margin-top 0
  +below(1240px)
    top 39%
  +below(800px)
    width: calc(100% - 100px);
    transform: translateX(-50%);
    left: 50%;
  +below(700px)
    width calc(100% - 16px)
    top 67% 
.search_destinations
  .container
    h1 + div > div:before
      display none
    h2 + div > div:before
      display none
    max-width 1010px
    +below(900px)
      padding 0 40px 0 40px
    +below(450px)
      padding 0 10px 0 10px
  background-color #F7F7F7
  padding 131px 0 161px 0
  +below(900px)
    padding 55px 0 120px 0
  +below(450px)
    padding-top 67px
  text-align center
  color black
  h1
    padding 0 0 7px 0
    font-size 36px
    +below(450px)
      font-size 24px
  h2
    padding 95px 0 7px 0
    +below(450px)
      font-size 24px
      margin 66px 0 20px 0

.country-block
  padding 30px 20px
  position relative
  transition all .5s
  +below(900px)
    padding-left 0
    padding-right 0
    margin 0
  &:before
    width 96%
    height 1px
    background-color rgba(0,0,0,.2)
    content ""
    position absolute
    top 0
    left 20px
    +below(900px)
      left 0
      width 100%
  &__country
    display flex
    align-items flex-end
  &__ttl
    color black
    font-size 30px
    font-family Roboto, sans-serif
    letter-spacing .5px
    font-weight 700
    text-align left
    +below(450px)
      font-size 20px
  &__activities
    color black
    font-size 18px
    font-family Roboto, sans-serif
    letter-spacing .5px
    opacity .3
    text-align left
    margin-left 15px
    font-weight 300
    +below(450px)
      font-size 14px
      padding-top 35px
  &__cities
    display flex
    font-size 18px
    color blue
    flex-wrap wrap
    margin-top 8px
    +below(450px)
      font-size 14px
  &__city
    white-space nowrap
    margin 5px 11px 0 21px
    +below(900px)
      margin 5px 32px 0 0
    +below(450px)
      margin 5px 25px 0 0
    &:first-child
      margin-left 0
    &:last-child
      margin-right 0
  &:hover
    background-color white
    cursor pointer
    &:before
      display none
    + div:before
      display none

/deep/.destination-country
  text-align left
  right -174px
  bottom 74px
  border 0
  outline 0
  padding 0
  &:focus
    outline 0
  cursor pointer
  display flex
  flex-direction column
  width 332px
  float right
  background-color white
  box-shadow 0px 4px 25px rgba(0, 0, 0, 0.15)
  +below(1599px)
    right 430px
  +below(900px)
    display none

  &__ttl
    font-size 24px
    letter-spacing .5px
    font-weight 700
    font-family Roboto, sans-serif
    padding 23px 0 0 33px

  &__subttl
    color blue
    font-size 18px
    margin 8px 0 20px 33px

