<div class="header-fixed-pt">
  <div class="section section--policy section--grey"> 
    <div class="container">
      <h1>POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS</h1>
      <h3 class="head">Presentación y Derecho de Información</h3>
      <p class="desc">Este sitio web es propiedad de ACTIVIDADES CIVITOURS SL (en adelante “Civitours”) con NIF B39859194 y domicilio en C/ Calderon
        de la Barca 12 Entreplanta (Santander).</p>
      <p class="desc">Civitours entiende y respeta la importancia de protección de datos. Estos son de carácter personal para que la información
        de nuestros clientes se mantenga de forma segura.</p>
      <p class="desc">Si desea ponerse en contacto con nosotros por temas de protección de datos, puede hacerlo a través del siguiente correo
        electrónico:
        <a href="mailto:civitours@civitours.com">civitours@civitours.com</a>
      </p>
      <h3 class="head">Aceptación</h3>
      <p class="desc">Al utilizar el sitio web de Civitours y sus servicios, aceptas los términos y condiciones de nuestra Política de Privacidad
        para el tratamiento de tus datos de carácter personal.</p>
      <p class="desc">Recomendamos tomar especial cuidado en los términos expuestos que se describen a continuación.</p>
      <h3 class="head">Datos Recopilados</h3>
      <p class="desc">Civitours recopilará datos personales a través del proceso de reservas del sitio web, con el objetivo de brindar un servicio
        personalizado y específico a nuestros clientes.</p>
      <p class="desc">Cierta información será necesaria para proceder con la reserva.</p>
      <p class="desc">Dicha información serán las siguientes:</p>
      <ul>
        <li><p>Datos personales como nombre, apellido, dirección de correo electrónico y número de teléfono.</p></li>
        <li><p>De ser necesario, para algunas actividades se solicitarán datos de pasaporte, DNI, edad y nacionalidad.</p></li>
        <li><p>Información general como dirección de alojamiento en caso de traslados</p></li>
        <li><p>Información de facturación en caso de solicitud de factura.</p></li>
        <li><p>País de residencia</p></li>
        <li><p>Valoraciones o comentarios sobre nuestros servicios</p></li>
      </ul>
      <h3 class="head">Uso de Datos</h3>
      <p class="desc">Los datos personales que facilites serán tratados por Civitours para poder cumplir las siguientes finalidades:</p>
      <ul>
        <li><p>Gestionar el servicio solicitado en el sitio web</p></li>
        <li><p>Gestionar pago de los servicios</p></li>
        <li><p>Solicitar comentarios y valoraciones de los servicios recibidos</p></li>
        <li><p>Gestionar dudas o consultas de nuestros clientes</p></li>
        <li><p>Desarrollo de promociones o descuentos</p></li>
        <li><p>Gestión de cuenta de usuario y permitir el acceso como usuario registrado en nuestro sitio web en todo momento que el
          cliente lo requiera.</p></li>
        <li><p>Comunicación de los datos a nuestros colaboradores para prestación de un servicio contratado.</p></li>
      </ul>
      <h3 class="head">Comunicación de Datos a Terceros</h3>
      <ul>
        <li>
          <p>Para la prestación final del servicio adquirido, Civitours, en calidad de intermediario, comunicará los datos proveídos
            por el cliente a terceras empresas (proveedores o colaboradores).</p>
          <p>Los datos enviados a nuestros proveedores serán utilizados únicamente con la finalidad de garantizar el servicio contratado.
            Dichos proveedores tienen suscrito con Civitours un contrato de confidencialidad, exigidos por la normativa actual
            que aplican garantías y salvaguardas necesarias para mantener la privacidad de datos de los clientes.</p>
          <p>En consecuencia, aceptando la Política de Privacidad antes expuesta y al ser un cliente de Civitours, aceptas que nuestro
            proveedor pueda utilizar tus datos suministrados como forma de contacto, con la finalidad de brindar el servicio
            contratado.</p>
        </li>
        <li><p>En el caso de que nuestros proveedores se encuentren ubicados en países que no disponen de normativa equivalente a la
          europea. Dichos proveedores contarán un contrato de confidencialidad de parte de Civitours, aplicando las garantías
          y salvaguardas pertinentes para mantener la privacidad del cliente.</p></li>
        <li><p>Se revelarán también información a terceros, cuando Civitours lo considere necesario, en los siguientes casos:</p>
          <ul>
            <li><p>Cumplimiento de acciones legales</p></li>
            <li><p>De acuerdo con la ley aplicable, incluidas leyes fuera del país de residencia del cliente.</p></li>
            <li><p>Dar respuesta a la solicitud de autoridades u oficiales, incluyendo autoridades oficiales fuera del país de residencia del cliente.</p></li>
            <li><p>Por respeto a nuestros términos y condiciones.</p></li>
            <li><p>Para proteger nuestros derechos, privacidad, seguridad y propiedad.</p></li>
            <li><p>Protección de los derechos, seguridad y privacidad de Civitours.</p></li>
            <li><p>Limitar el alcance de daños que Civitours pueda sufrir.</p></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>