<header class="head-top flex justify-content-between {{ classAddition }}" >
    <a routerLink="/" class="logo flex align-items-center" title="CIVITOURS" (click)="fireEvent('CIVITOURS')">civitours</a>
    <nav class="menu-main flex">
        <ul class="menu-main__list flex" id="menu">
            <li class="menu-main__item"><a routerLink="/destinations" routerLinkActive="active" (click)="fireEvent('DESTINOS')">destinos</a></li>
            <li class="menu-main__item"><a (click)="fireEvent('Conócenos')">Conócenos</a></li>
            <li class="menu-main__item"><a routerLink="/faq" routerLinkActive="active" (click)="fireEvent('Preguntas Frecuentes')">Preguntas Frecuentes</a></li>
        </ul>
        <ul class="options flex">
            <app-login-menu></app-login-menu>
            <app-basket></app-basket>
        </ul>
    </nav>
</header>