@import 'variables'
@import 'rupture'

header
  position absolute
  top 0
  left 0
  width 100%
  z-index 100
  .icon-content
    align-items center
    padding-right 100px
    &__title
      margin-right 0
      flex-basis auto
      color #ffffff
      font-size 11px
      line-height 17px
      font-family font-family-md
      letter-spacing 0.5px
    .icon 
      stroke #fff
      stroke-opacity 1
      margin-right 12px
      height 20px
.head-top
  background-color transparent
  color #fff
  border-bottom 1px solid rgba(255,255,255,.5)
  &--blue
    background-color blue
    position relative
.head-top--scroll
  position fixed
  top 0
  left 0
  background-color blue
  z-index 99
  &.head-top
    border-bottom-color rgba(255,255,255,.5)
  .logo
    border-right-color rgba(255,255,255,.5)
  .options
    &__item
      border-color #fff
      &:last-child
        border-right 1px solid rgba(255, 255, 255, 0.8)
  .menu-main__item a:hover
    color rgba(255, 255, 255, 0.5)
  .top__item--active
    color rgba(255, 255, 255, 0.5)
  .menu-main__btn
    &:hover
      color #fff
  .options__btn-sign
    &:hover
      background blue
      color #fff
  .options__link
    &:hover
      background blue
      color #fff
  .menu-main
    &__item     
      a 
        &.active
          color rgba(255, 255, 255, 0.5)
  +below(720px)
    border 0

.logo
  padding 18px 152px 18px 68px
  font-size 30px
  line-height 35px
  color #ffffff
  font-family font-family-md
  text-transform uppercase
  border-right 1px solid rgba(255,255,255,.5)
  line-height normal
  +below(1690px)
    font-size 20px
    padding 17px 50px 17px 50px
    line-height 22px
  +below(1030px)
    font-size 30px
    padding-right 38px
  +below(900px)
    padding-left 26px
    padding-right 42px
  +below(769px)
    padding-left 38px
    padding-right 44px
    padding-top 19px
    padding-bottom 19px
  +below(720px)
    font-size 18px
    border-right 0
    padding-left 8px
    padding-right 20px
    padding-bottom 13px
    padding-top 13px
  &:hover
    color #fff
  &:active
    color #fff
  &:visited
    color #fff
  &:focus 
    color #fff
.menu-main
  flex-grow 1
  justify-content flex-end
  display flex
  align-items stretch
  padding-right 72px
  +below(1030px)
    padding-right 0
  &__list
    margin 0
    padding-right 0px
    display flex
    flex-grow 1
    align-items stretch
    justify-content flex-end
    +below(1220px)
      display none
  &__item
    display flex
    align-items stretch
    margin-top 0
    a
      padding 0 35px
      display flex
      flex-grow 1
      align-items center
      justify-content center
      color #fff
      font-size 18px
      font-family font-family-md
      text-transform uppercase
      letter-spacing 0.15em
      text-align center
      +below(1650px)
        font-size 14px
        padding 0 30px
      &:hover
        color blue
    &.active
      background-color transparent
      a
        color blue
/deep/ .options
  margin 0
  &__btn-sign
    cursor pointer
    padding: 0 42px
    border-right 1px solid rgba(255,255,255,.5)
    border-left 1px solid rgba(255,255,255,.5)
    color #fff
    text-transform uppercase
    font-size 18px
    font-family font-family-md
    letter-spacing 0.15em
    +below(1650px)
      font-size 14px
    +below(1030px)
      font-size 18px
      font-family font-family-bold
    +below(600px)
      font-size 13px
      border 0
      padding 0 2px

    &:hover
      color #ffffff
      background-color blue

  &__icon
    position relative
    padding 0 10px
  &__product-value
    position absolute
    color #fff
    top -8px
    right -6px
    min-width 17px
    min-height 17px
    background-color violet
    line-height 17px
    text-align center
    font-size 12px
    font-weight bold
    border-radius 50%
    font-family 'Roboto', sans-serif
    display block
  &__name
    max-width 0
    white-space nowrap
    overflow hidden
    font-size 18px
    text-align center
    text-transform uppercase
    color #fff
    font-family font-family-md
    display inline-block
    transition max-width .8s
    +below(1650px)
      font-size 14px
    +below(1030px)
      display none
    +below(769px)
      font-size 13px
  &__link
    padding 0 15px
    cursor pointer
    transition width .8s
    &:hover
      background-color blue
      +below(600px)
        background transparent
    +below(600px)
      padding 0 10px
  &__item
    margin 0
    height 100%
    &:last-child
      position relative
      +below(720px)
        border-right 0
    &.active
      background-color blue
      position relative
      +below(600px)
        background transparent
      .options__product-value
        display inline-block
      .dropdown-basket
        visibility visible
        opacity 1
        pointer-events auto
        filter none
      .options__name
        max-width 263px
        margin-left 5px