@import 'rupture'
@import 'variables'


/deep/.tooltip
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: .875rem;
  word-wrap: break-word;
  opacity: 0;
  &.show
    opacity: .9;


  .arrow
    position: absolute;
    display: block;
    width: .8rem;
    height: .4rem;
    &:before
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid;
  .tooltip-inner
    max-width: 200px;
    padding: .25rem .5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: .25rem;

.btn
  margin-top 32px
  width 304px
  &[disabled]
    opacity 0.5

.form--signup
  max-width 100%
  padding 65px 95px 86px
  background-color #fff
 
.form-group__block 
  /deep/.input-number-wrap
    display flex
    align-items center
    justify-content space-between
    .input-select-wrap--phone
      width calc(40% - 10px)
      input
        padding-left 40px
        padding-right 13px
        background none
    input[type="number"]
      box-shadow none
      background transparent
      padding-right 20px
      padding-left 18px
      box-sizing border-box
      width calc(60% - 10px)
      flex-grow 0
      box-sizing border-box
    &.open
      .input-select-wrap--phone
        width calc(40% - 10px)
        input 
          flex-grow 0
          background-color #fff
          box-shadow: 0 0 10px rgba(0,0,0,0.1);
          width 100% !important
        .input-select-wrap__input.focused
          padding-left 40px !important
          width 100% 
      input[type="number"]
        opacity 1
        width calc(60% - 10px)
        padding-left 18px
        padding-right 20px
        background-color #fff
        flex-grow 0
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    +below(660px)
      .input-select-wrap--phone
        width 40%
        input
          padding-left 20px
      input[type="number"]
        width 60%
      &.open
        .input-select-wrap--phone
          width 40%
        input[type="number"]
            width 60%
    +below(500px)
      .input-select-wrap--phone
        input
          padding-left 10px
      &.open
        .input-select-wrap--phone
          input
            padding-left 10px
  .form-group__placeholder
    width 165px
    white-space normal
    flex-shrink 0
  input
    flex-grow 0
    width calc(100% - 165px)
    box-sizing border-box
    padding-left 40px
    padding-right 20px
  input[name="password"]
    padding-right 56px
  input[name="passwordConfirm"]
    padding-right 56px
  input[name="oldPassword"]
    padding-right 56px
  input[name="newPassword"]
    padding-right 56px
  .input-select-wrap
    width calc(100% - 165px)
    flex-grow 0
    input 
      width 100%
      padding-right 40px
      /deep/&+.dropdown-menu
        max-height: 288px;
        .dropdown-item
          padding-left 40px     