<div class="form form--signup">
  <form class="form__section additional-info" [formGroup]="accountForm" (submit)="updateAccount()">
    <div class="form__ttl">
      <svg class="icon icon-user-form" viewBox="0 0 18 20">
        <g><path d="M17 19v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2M13 5a4 4 0 1 1-8 0 4 4 0 0 1 8 0z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#0086e6"></path></g>
      </svg>
      <h3 class="h3">Your personal information</h3>
    </div>
    <div class="form-group form-group--long flex">
      <div class="form-group__block flex align-items-center" [class.error-input]="(serverErrors.name.length || name.invalid) && (name.touched || checkFields)" (click)="setFocus('name')">
        <span class="form-group__placeholder">Name</span>
        <input type="text" name="name" formControlName="name" id="name" (blur)="onBlur()">
      </div>
      <div *ngIf="name.invalid && (name.dirty || name.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
        <div *ngIf="name.errors.required" class="error">Ingresar nombre</div>
        <div *ngIf="name.errors.maxlength" class="error">El nombre no debe exceder los 150 caracteres</div>
      </div>
      <div *ngIf="serverErrors.name.length" class="error-wrap flex align-items-center justify-content-between">
        <div *ngFor="let error of serverErrors.name" class="error">{{ error }}</div>
      </div>
    </div>
    <div class="form-group form-group--long flex" [class.error-input]="(serverErrors.surname.length || surname.invalid) && (surname.touched || checkFields)" (click)="setFocus('surname')">
      <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">surname</span>
        <input type="text" name="surname" formControlName="surname" id="surname" (blur)="onBlur()">
      </div>
      <div *ngIf="surname.invalid && (surname.dirty || surname.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
        <div *ngIf="surname.errors.required" class="error">Ingresar apellido</div>
        <div *ngIf="surname.errors.maxlength" class="error">El apellido no debe exceder los 150 caracteres</div>
      </div>
      <div *ngIf="serverErrors.surname.length" class="error-wrap flex align-items-center justify-content-between">
        <div *ngFor="let error of serverErrors.surname" class="error">{{ error }}</div>
      </div>
    </div>
    <div class="form-group form-group--long flex">
      <div class="form-group__block flex align-items-center justify-content-between" [class.error-input]="countryError || serverErrors.country.length" (click)="setFocus('country')">
        <span class="form-group__placeholder">País de Residencia</span>
        <div class="input-select-wrap" >
          <input class="input-select-wrap__input input input--select" id="country"
                 ngbTooltip="Select from list"
                 placement="top"
                 [ngbTypeahead]="searchCountry"
                 [resultFormatter]="countryFormatter"
                 [editable]="false"
                 [inputFormatter]="countryFormatter"
                 (selectItem)="onSelectCountry($event)"
                 [value]="country"
                 (blur)="onBlur()"
                 #countryInput
          >
        </div>
      </div>
      <div *ngIf="serverErrors.country.length" class="error-wrap flex align-items-center justify-content-between">
        <div *ngFor="let error of serverErrors.country" class="error">{{ error }}</div>
      </div>
    </div>
    <div class="form-group form-group--long flex" [class.error-input]="cityError || serverErrors.city.length" (click)="setFocus('city')">
      <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">ciudad de residencia</span>
        <div class="input-select-wrap" >
          <input id="city" class="input-select-wrap__input input input--select"
               ngbTooltip="Select from list"
               placement="top"
               [ngbTypeahead]="searchCity"
               [editable]="false"
               [resultFormatter]="cityFormatter"
               [inputFormatter]="cityFormatter"
               (selectItem)="onSelectCity($event)"
               [value]="city"
               (blur)="onBlur()"
               #cityInput
          >
        </div>
      </div>
      <div *ngIf="serverErrors.city.length" class="error-wrap flex align-items-center justify-content-between">
        <div *ngFor="let error of serverErrors.city" class="error">{{ error }}</div>
      </div>
    </div>
    <div class="form-group form-group--long flex" [class.error-input]="(serverErrors.phone.length || phone.invalid) && (phone.touched || checkFields)" (click)="setFocus('phone')">
     <app-phone-selector-new class="singup-phone" type="text" formControlName="phone" name="phone" id="phone"></app-phone-selector-new>
      <div *ngIf="phone.invalid && (phone.dirty || phone.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
        <div *ngIf="phone.errors.required" class="error">Ingresar número de teléfono</div>
        <div *ngIf="!phone.errors.required && phone.errors.pattern" class="error">Ingresar número correcto en formato internacional</div>
      </div>
      <div *ngIf="serverErrors.phone.length" class="error-wrap flex align-items-center justify-content-between">
        <div *ngFor="let error of serverErrors.phone" class="error">{{ error }}</div>
      </div>
    </div>
    <div class="form-group form-group--long flex" [class.error-input]="(serverErrors.email.length || email.invalid) && (email.touched || checkFields)" (click)="setFocus('email')">
      <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">e-mail</span>
        <input type="email" name="email" formControlName="email" id="email" (blur)="onBlur()">
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
        <div *ngIf="email.errors.required" class="error">Ingresar correo electrónico</div>
        <div *ngIf="!email.errors.required && email.errors.email" class="error">El correo electrónico debe ser válido</div>
      </div>
      <div *ngIf="serverErrors.email.length" class="error-wrap flex align-items-center justify-content-between">
        <div *ngFor="let error of serverErrors.email" class="error">{{ error }}</div>
      </div>
    </div>
    <div class="check-wrap flex checkbox-wrap">
      <label class="check-wrap__container">
        <input type="checkbox" formControlName="news"><span></span>Receive deals and the latest travel news
      </label>
    </div>
    <div class="checkbox-wrap acceptance-block form-group error-input">
      <div *ngIf="accountUpdateError" class="form-group flex error-input">
        <div class="error-wrap flex align-items-start justify-content-between">
          <div class="error">{{ accountUpdateError }}</div>
        </div>
      </div>
    </div>
    <button class="btn btn--dark-hover" type="submit" (click)="onBlur()" [disabled]="inAccountUpdate">save</button>
  </form>


  <form class="form__section" [formGroup]="passwordChangeForm" (submit)="updatePassword()">
    <div class="form__ttl">
      <svg class="icon icon-signup-lock" viewBox="0 0 20 22">
        <g><path d="M3 10h14a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2zM5 10V6a5 5 0 1 1 10 0v4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#0086e6"></path></g>
      </svg>
      <h3 class="h3">Cambiar contraseña</h3>
    </div>
    <div class="form-group form-group--long flex" [class.error-input]="oldPassword.invalid && (oldPassword.touched || checkPasswordFields)" (click)="setFocus('oldPassword')">
      <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">Contraseña antigua</span>
        <input [type]="showOldPassword ? 'text' : 'password'" formControlName="oldPassword" name="oldPassword" id="oldPassword">
        <div class="form-group__btn-show-password flex align-items-center justify-content-center">
          <svg class="icon icon-show-password" viewBox="0 0 24 24" (mouseover)="showOldPassword = true;" (mouseout)="showOldPassword = false;">
            <g opacity=".3"><path d="M21 12c-1.8 2.5-4.527 5-9 5-4.474 0-7.65-2.5-9-5M12 21v-4M20.828 18.828L18 16M4 18.828L6.828 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#000"></path></g>
          </svg>
        </div>
      </div>
      <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
        <div *ngIf="oldPassword.errors.required" class="error">Ingresar contraseña</div>
      </div>
    </div>
    <div class="form-group form-group--long flex" [class.error-input]="newPassword.invalid && (newPassword.touched || checkPasswordFields)" (click)="setFocus('newPassword')">
      <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">contraseña</span>
        <input [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" name="newPassword" id="newPassword">
        <div class="form-group__btn-show-password flex align-items-center justify-content-center">
          <svg class="icon icon-show-password" viewBox="0 0 24 24" (mouseover)="showPassword = true;" (mouseout)="showPassword = false;">
            <g opacity=".3"><path d="M21 12c-1.8 2.5-4.527 5-9 5-4.474 0-7.65-2.5-9-5M12 21v-4M20.828 18.828L18 16M4 18.828L6.828 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#000"></path></g>
          </svg>
        </div>
      </div>
      <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
        <div *ngIf="newPassword.errors.required" class="error">Ingresar contraseña</div>
        <div *ngIf="!newPassword.errors.required && newPassword.errors.pattern" class="error">La contraseña debe tener al menos 8 caracteres y uno de ellos en mayúscula</div>
      </div>
    </div>
    <div class="form-group form-group--long flex" [class.error-input]="passwordConfirm.invalid && (passwordConfirm.touched || checkPasswordFields)" (click)="setFocus('passwordConfirm')">
      <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">Repetir contraseña</span>
        <input [type]="showPasswordRepeat ? 'text' : 'password'" formControlName="passwordConfirm" name="passwordConfirm" id="passwordConfirm">
        <div class="form-group__btn-show-password flex align-items-center justify-content-center">
          <svg class="icon icon-show-password" viewBox="0 0 24 24" (mouseover)="showPasswordRepeat = true;" (mouseout)="showPasswordRepeat = false;">
            <g opacity=".3"><path d="M21 12c-1.8 2.5-4.527 5-9 5-4.474 0-7.65-2.5-9-5M12 21v-4M20.828 18.828L18 16M4 18.828L6.828 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#000"></path></g>
          </svg>
        </div>
      </div>
      <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
        <div *ngIf="passwordConfirm.errors.required" class="error">Ingresar contraseña</div>
        <div *ngIf="passwordConfirm.errors.valueDifferent" class="error">La contraseña y la confirmación deben coincidir</div>
      </div>
    </div>
    <div class="checkbox-wrap acceptance-block form-group error-input">
      <div *ngIf="passwordChangeError" class="form-group flex error-input">
        <div class="error-wrap flex align-items-start justify-content-between">
          <div class="error">{{ passwordChangeError }}</div>
        </div>
      </div>
    </div>
    <button [disabled]="inPasswordChange" class="btn btn--dark-hover" type="submit">change</button>
  </form>
</div>