<section class="hero-search header-fixed-pt" style="background: url(/assets/images/faq-bg.png);">
    <div class="container">
      <h2 class="hero-search__title">¿Necesitas ayuda?</h2>
      <app-search-input [destinations]="mainDestinationList | async"></app-search-input>
    </div>
  </section>
<router-outlet></router-outlet>
