@import 'variables'
@import 'rupture'

.hero-search
  min-height: 560px;
  background-size: cover !important;
  background-position: center center !important;
  width: 100%;
  display: flex;
  height auto !important
  height 560px
  &:after
    content ''
    width 100%
    height 100%
    display block
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
    position absolute
    top 0
    left 0
    bottom 0
    right 0
  &__title
    font-family font-family-md
    font-size 24px
    line-height 34px
    color #fff
    text-transform uppercase
    margin-bottom 0
    text-align left
  .container
    padding-top: 150px;
    padding-left: 68px;
    padding-right: 68px;
  /deep/.search-container
    margin-top 24px
    input
      padding-left 40px
  +below(1020px)
    .container
      padding-left 40px
      padding-right 40px
    /deep/.search-container
      margin-left 0
      margin-right 0
      width 100%
  +below(769px)
    min-height 450px
    height auto !important
    height 450px
    .container
      padding-top 193px
    /deep/.search-container
      margin-top 44px
  +below(650px)
    .container
      padding-left 8px
      padding-right 8px
  +below(600px)
    /deep/.icon.search
      padding-left 0
      width 20px
      height 20px
  +below(500px)
    min-height 240px
    height auto !important
    height 240px
    .container
      padding-top 49px
    .hero-search__title
      font-size 18px
    /deep/.search-container
      margin-top 22px
      input
        padding-left 14px
        padding-right 14px