<div *ngIf="isLoading" class="loading-small"></div>
<div *ngIf="!isLoading" class="container mb-3">
    <div class="flex filter-row">
        <app-report-filter [filters]="filters" (filtersChanged)="applyFilter($event)"></app-report-filter>
        <a routerLink="/admin/reports" class="btn btn-primary">Back</a>
    </div>
    <ngx-datatable
            class="bootstrap"
            [loadingIndicator]="isLoading"
            [rows]="rows"
            [columns]="columns"
            [columnMode]="'force'"
            [limit]="10"
            [rowHeight]="'auto'"
            [footerHeight]="40"
    >
    </ngx-datatable>
</div>
