@import 'variables'
@import 'rupture'

/deep/.container-position
  width 100%
  max-width 1160px
  margin-left auto
  margin-right auto 
.container
  margin-left 0
  margin-right 0
  margin-bottom 100px
  +below(1030px)
    margin-top 84px
  +below(769px)
    margin-top 0
    margin-bottom 0
    padding 0 8px
  +below(400px)
    padding-left 0
    padding-right 0
  .form
    display flex
    width 100%
    margin-top 47px

    .input-box
      height 100%
      display flex
      width 100%
      flex-wrap wrap

      .input
        border-radius 2px 0 0 2px

      .btn
        border-radius 0 2px 2px 0

h1.h1
  text-transform uppercase
  +below(1060px)
    font-size 36px
  +below(700px)
    font-size 24px
    line-height 34px

.h3
  font-family font-family-reg
  margin-top 15px
  +below(1030px)
    padding-top 3px
    padding-bottom 30px
  +below(600px)
    display none
  
.search-container
  position: relative
  display flex
  width 100%
  margin-top 47px
  +below(1030px)
    width calc(100% - 40px)
    margin 47px 20px 0
  +below(768px)
    width 100%
    margin 37px 0 0
  .input-box
    height 100%
    display flex
    width 100%
    position relative 
    z-index 25
    box-shadow: 0 10px 40px rgba(0,0,0,.3);
    .input
      border-radius 2px 0 0 2px
    .btn
      border-radius 0 2px 2px 0