<div class="container">
  <h1 class="h1">Encuentra tu destino</h1>
  <form class="form search-container" method="POST" action="">
    <div class="input-box"><input class="input input--search" type="text" placeholder="¿Dónde viajamos?" name="search"/>
      <button class="btn btn--search" type="submit">
        <svg class="icon search" viewBox="0 0 18 18">
          <g><path d="M8.013 14.6a6.4 6.4 0 1 1 0-12.8 6.4 6.4 0 0 1 0 12.8zM12.766 13.608l2.828 2.828" stroke-width="2" stroke-linecap="square" stroke="#fff"/></g>
        </svg>
        <span class="btn__ttl">Buscar</span>
      </button>
    </div>
  </form>
</div>
