<file-drop (onFileDrop)="dropped($event)">
  <div class="drag-file">
    <svg class="icon icon-download-cloud" viewBox="0 0 24 20">
      <g opacity=".2" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M8.008 14.012l4-4 4 4M12.008 19.012v-9"></path></g><path opacity=".2" d="M20.889 16.102a5 5 0 0 0-2.88-9.09h-1.26a8 8 0 1 0-13.74 7.29" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    <div class="drag-file__attach"><a (click)="openFileDialog()">
      Conectar
    </a> o apriete su archivo aquí</div>
    <input type="file" id="file-upload" style="display: none" (change)="handleFileInput($event.target.files)">
  </div>
</file-drop>
<div *ngIf="file">File attached:  {{ file.name }}</div>
