@import 'variables'
@import 'rupture'

.form-control
  display inline-block
  &.type-name
    width 250px
  &.price-header
    width 150px
  &.price-value
    width 100px


.btn
  height 30px
  width 100px
  padding 12px
  line-height 10px
  border 0

  &.col
    display: block;
    margin-left: auto;

.table-wrap
  overflow-x auto

.table-desctop
  margin-top 10px
  width 100%
  +below(769px)
    &.mt-40
      margin-top 50px
  .activity__header
    margin-bottom 42px
  &__row-header
    background-color blue !important
    height 40px
    th
      text-align center
      font-family: 'Roboto',sans-serif;
      font-size 14px
      color #fff
      font-weight 400
  &__row
    background-color #fff
    border-bottom 1px solid rgba(0,0,0,.2)
    &:last-child
      border-bottom 0
    td
      padding 37px 0 36px 0
      &:first-child
        width 292px
    td + td
      text-align center
      font-family: 'Roboto',sans-serif;
      font-weight 400
      font-size 18px
      line-height 20px
      color blue
    td
      a
        font-family: 'Roboto',sans-serif;
        font-weight 500
        font-size 18px
        line-height 21px
        color #000
        transition all .2s
        padding-left 20px
        &:hover
          color blue